// App | Background images

body {

// -> Main
$blur-main: blur(calc(var(--backgroundBlur-app) / 100 * 1px));
$brightness-main: brightness(calc((var(--backgroundBrightness-app) / 100)));

:is(
  ._960e4207cea8323e-bg, // main
  ._01ae244280823725-container, // floating threat/forum
  .c6bf1b7af480dfda-header, // role settings header
  .b8880176888cc928-typing:has(._5ad890d06f24286d-dots), // chat input typing indicator bar
  .e4491282b6a5364a-outerContainer ._8a031a135bfcb9ba-container.e4491282b6a5364a-modal // user settings (suboptimal class)
)::before {
  content: "" ;
  position: absolute ;
  inset: 0px ;
  background: var(--background-app);
  background-position: center ;
  background-size: cover ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  filter: $blur-main $brightness-main ;
}
// <- Main

// -> Server
$blur-server: blur(calc(var(--backgroundBlur-server) / 100 * 1px));
$brightness-server: brightness(calc((var(--backgroundBrightness-server) / 100)));

._5e434347c823b592-guilds::before {
  content: "" ;
    position: absolute ;
    display: block ;
    inset: 0px ;
    background: var(--background-server);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
    filter: $blur-server $brightness-server ;
}
// <- Server
}
