// App | Sidebar

#app-mount {

// -> Sidebar
.sidebar__5e434 {

  &::after { display: none }

  // separator to page line for resize bar
  .sidebarResizeHandle__5e434 {
    transform: none ; // idk
    width: 5px ;
    background: none ;

      &::after {
      content: "" ;
      position: absolute ;
      top: 0 ;
      left: 2px ;
      bottom: 0 ;
      background: var(--background-modifier-accent);
      width: 1px ;
    }

    &:hover, &:active {
      background: var(--background-mod-strong);

      &::after {
        background: none ;
      }
    }
  }
}

// Sidebar inner
.sidebarList__5e434 {
  flex: 1 1 auto ;
  border: none ;

  // inner container
  // :is(.container__2637a, .privateChannels_e6b769) {
  .container__2637a, .privateChannels_e6b769 {
    margin-right: 6px ;
    padding: 0 ;
  }

  .scrollerBase_d125d2 {
    margin: 0 ;

    @include scrollerFadeOut();

    @container not style(--show-sidebarScrollbar: 1 ) {
      @include scrollbar(none);
    }
  }
}
// <- Sidebar

// -> Panels
.panels__5e434 {
  display: contents ; // only works with hsb

  // -> Profile
  .container__37e49 {
    order: -1 ;
    height: 48px ;
    container-type: inline-size ;
    gap: 0 ; // helps with GameActivityToggle

    @container (width < 195px) {

      .nameTag__37e49 { display: none }

      .accountPopoutButtonWrapper__37e49 {
        flex: unset ;
        margin: 0 auto ;
        padding: 5px 0 ;
      }

      .buttons__37e49 {
        margin: 0 auto ;
      }
    }

    // nameplate
    .container__4bbc6 {
      left: -3px ;
      border-radius: 0 ;
      transform: scale(-1, 1);
    }

    // image & name container
    .avatarWrapper__37e49 {
      background: none ;
      flex: 0 1 auto ;
      margin-right: 4px ;
    }

    // name & status container
    .nameTag__37e49 {
      z-index: 1 ;
    }

    // remove btn bg with nameplate
    .plated__67645 {
      background: none !important ;
      backdrop-filter: none ;
    }

    // -> Buttons
    .buttons__37e49 {
      gap: 5px ;
    }

    // right click for dummies
    .buttonChevron__5e764 { display: none }
    // <- Buttons
  }
  // <- Profile

  // -> Activity
  .activityPanel__5e434 {
    margin-right: 3px ; // adjust to resize line offset (2+1)
    padding: 10px 7px 10px 10px ;
    border-color: var(--background-modifier-accent);
    border: none ;

    &:not(:empty, :first-child) {
      @include divider(top);
    }

    .gameIconWrapper__8c6c2 {
      height: 28px ;
    }

    // Image
    .gameIcon__8c6c2 {
      height: 28px ;
      width: 28px ;
    }

    // Text
    .title_b6c092 {
      font-size: 14px ;
    }
  }
  // <- Activity

  // -> Voice connection
  .wrapper_e131a9 {
    margin-right: 3px ; // adjust to resize line offset (2+1)

    .container_e131a9 {
      padding: 7px 7px 7px 10px ;
    }

    &:not(:empty, :first-child) {
      @include divider(top);
    }

    // connection icon
    .ping__06d62 {
      background: none ;
      box-shadow: none ;
      margin-right: 3px ;
    }

    // Connected text
    .text-md\/medium_cf4812 {
      font-size: 14px ;
    }

    // Channel name
    .text-sm\/medium_cf4812 {
      font-size: 12px ;
    }

    // -> action btns
    // btns container
    .actionButtons_e131a9 {
      gap: 0 ;
    }

    // btn class for just the action btns
    .button_e131a9 {
      padding: 0 ;
    }

    .buttonIcon_e131a9 {
      height: 18px !important ;
      width: 18px !important ;
    }
    // <- action btns
  }
  // <- Voice connection

  // -> Quest reminder
  > .mask__0d616 {
    display: contents ;

    // main container
    .wrapper__0d616 {
      margin-right: 4px ;
      // z-index: 2 ;
      order: 200 ;
    }

    .postEnrollmentBackground__24e2c {
      background: var(--background-floating) !important;
      border: none ;
      border-radius: 0 ;
    }

    // glow on image
    .inner__146e2 {
      box-shadow: none !important;
    }
  }

  // <- Quest reminder
}
// <- Panels

}
