// App | Discovery & Quests

// #app-mount {

  ._5e434347c823b592-page {
    overflow: hidden ; // mostly for scroll behavior
  }

// -> Sidebar region
._551b0894962ff66f-container {

  // list
  ._551b0894962ff66f-nav {
    gap: 8px ;
  }

  // items
  ._551b0894962ff66f-navItem {
    border-radius: 0 ;
    border-left: 3px solid transparent;

    &:hover {
      border-left: 3px solid var(--interactive-hover);
    }

    &._551b0894962ff66f-selected {
      background-color: transparent ;
      border-left: 3px solid var(--interactive-hover);
    }
  }
}
// <- Sidebar region


// -> Content region
.a592e1970a0ce22c-container {
  border: none ;

  // -> Header bar
  ._8a7fc664acf53af6-headerBar {
    height: 48px ;
    justify-content: end ;

    // border bottom
    &::after { display: none }

    // Category icon, background for scrolling down overflow
    :is(._8a7fc664acf53af6-icon, ._8a7fc664acf53af6-backdrop) { display: none }

    // -> nav bar
    // tabs container
    ._65d410cfafd026bc-container {
      height: 48px ;
    }

    ._8a7fc664acf53af6-floatingSearchTabsMask {
      mask-image: none ;
    }

    // inner container
    ._65d410cfafd026bc-tabs {
      align-items: center ;
      gap: 10px ;
      border: none ;
    }

    // <- nav bar

    // -> Search
    // icon (closed)
    ._1ac1c54c56e5807c-searchIcon {
      justify-content: unset ;
    }

    // searchbar (open)
    ._1ac1c54c56e5807c-searchFloating {
      position: relative ;
      right: 0px ;
    }
    // <- Search
  }

  // Quest header
  // ._955a392354a35c6e-container ._8a7fc664acf53af6-headerBar { display: none }
  ._955a392354a35c6e-container ._1a9cebfbd0c9d0f6-headerBar {
    // position: relative ;

   }
  // <- Header bar

  // -> Scroller
  ._23746ba3de9452d8-scroller {

    @include scrollerFadeOut(5px, 2px);

    .e9ef783a74d3f83a-container { display: none }
  }

  // Servers/Apps scroller
  ._8a7fc664acf53af6-headerBar + ._23746ba3de9452d8-scroller {
    margin-top: 60px ;
  }

  // Quest scroller
  ._955a392354a35c6e-container ._23746ba3de9452d8-scroller {
    overflow: hidden !important ;
    padding-right: 0 ;

    .b6bcee13c278a88d-contentSection {
      overflow: hidden scroll ;

      @include scrollbar();
      @include scrollerFadeOut();
    }
  }
  // <- Scroller

  // -> Items
  .b6bcee13c278a88d-contentSection {

    // Guild/Apps item
    ._84e3e626b96552ad-card {
      background: var(--background-modifier-active);
      border: none ;
      transition: none ;

      &:hover {
        background: var(--background-modifier-selected);
        border-color: var(--interactive-normal);

        @include shadowEffect("card_1");
      }
    }

    // Quest item
    ._60f82152ef4c5e63-questTile {
      background: var(--background-modifier-active);

      // bottom container
      ._956c67492d3b967a-container {
        background: none ;
      }
    }
  }
  // <- Items
}
// <- Content region

// }
