@use '../mixins/_mixins' as * ;

// -- App

// Background images
@import 'appBackgrounds' ;

// Discovery
@import 'appDiscovery' ;

// Sidebar
@import 'appSidebar' ;

// Title & Header bar
@import 'appTopBar' ;

// Transparency
@import 'appTransparency' ;


// text rendering thing
html, span:not([class*='spinner']) { backface-visibility: hidden }

// -> Unread mentions badge
@scope (.app_a3002d) to (.guilds_c48ade) {
  .numberBadge__2b1f5 {
    background-color: transparent !important ;
    border-radius: 0 !important ;
    color: var(--text-normal);
    box-shadow: none ;

    &[style^="background-color: var(--status-danger)"] {
      border-bottom: 2px solid var(--red);
    }
  }
}
// <- Unread mentions badge

#app-mount {

// Layer transitions
.layer__960e4 { transform: none !important }

// Tab focus thing
.focus-rings-ring {
  box-shadow: none ;
  border-bottom: 3px solid var(--interactive-hover);
  border-radius: 0 ;
}

// -> Icon btns
// "When in doubt, ..."
path[fill="currentColor"] {
  fill: currentColor !important ;
}

// lotties normal ( hover usually via btn container)
.lottieIcon__5eb9b  {
  --__lottieIconColor: #{$BtnIconNormal} !important ;
}
// not ideal
:is(
  .button__201d5, .button__9db96, .button__71c22,
  .button__06eda, .button_f7ecac, .button__24af7
) {
  background: none ;
  border: none ;
  color: $BtnIconNormal ;

  &.colorWhite__201d5 {
    color: $BtnIconActive ;
  }

  &.dangerous_f7ecac {
    color: $BtnIconDanger ;
    --__lottieIconColor: #{$BtnIconDanger} !important ;
  }

  // Voice channel view, disconnect btn
  &.disconnect_f1ceac .controlIcon_f1ceac {
    color: #{$BtnIconDanger} !important ;
    --__lottieIconColor: #{$BtnIconDanger} !important ;
  }

  &:hover {
    color: $BtnIconHover ;

    .lottieIcon__5eb9b {
      --__lottieIconColor: #{$BtnIconHover} !important ;
    }
  }

  :is(
    .closeIcon__45690,
    .controlIcon_f1ceac,
    .addButtonIcon__29444
  ) {
    color: currentColor ;
  }
}

// basic
:is(
  .searchClearHistory__56fec, // search popout clear
  .searchLearnMore__56fec, // search popout help link btn
  .closeIcon__972a0, // remove dms
  .embedSuppressButton__623de, // remove embed from msg
  .closeIcon__6e2b9 // close discord notice bar
) {
  color: $BtnIconNormal ;
  
  &:hover {
    color: $BtnIconHover ;
  }
}
// <- Icon btns


// -> Text btns (not voice panel btns)
.button__201d5:not(.button_e131a9) {

  &.lookFilled__201d5 {
    color: $BtnTextNormal ;
    background: $BtnBackgroundNormal ;
    border-radius: 3px ;

    &:hover {
      color: $BtnTextHover ;
      background: $BtnBackgroundHover ;
    }
  }

  // Nitro
  &.shinyButton__6a443 {
    color: $BtnIconActive !important ;

    .subButtonText_c880e8 {
      color: $BtnIconActive ;
    }
  }

  &.colorRed__201d5  {
    color: $BtnTextDanger ;
    border-radius: 3px ;

    &:hover {
      color: $BtnTextDangerHover ;
      background: $BtnBackgroundDanger ;
    }
  }
  // &.lookOutlined__201d5  &.lookLink__201d5
}
// <- Text btns

// "Bot"/"server" Tag Indicator
.botTag__82f07 {
  color: var(--text-normal);
  background-color: var(--background-secondary);
}

// border from .theme-midnight
:is(
  .content_f75fb0, // chat
  .tabBody__133bf, // home
  .subtitleContainer_f75fb0 // titlebar
) {
  border-left: none ;
}

.app_a3002d {

  // General searchbar
  .container_a45028 { 
    @include searchbar(".inner_a45028");
  }

  // -> Scrollbars
  :is(
    .scrollerBase_d125d2,
    .scrollerBase_c8b5c7,
    .auto__99f8c,
    .scrollerBase__99f8c
  ) { 
    @include scrollbar();
  }
  // <- Scrollbars
}
}
