// App | Sidebar

#app-mount {

// -> Sidebar
._5e434347c823b592-sidebar {

  // separator to page line for resize bar
  &::after {
    content: "";
    position: absolute ;
    top: 0 ;
    right: 2px ;
    bottom: 0 ;
    left: unset;
    background: var(--background-modifier-accent);
    width: 1px ;
    height: 100% ;
  }

  ._5e434347c823b592-sidebarResizeHandle {
    transform: none ; // idk
  }
}

// Sidebar inner
._5e434347c823b592-sidebarList {
  flex: 1 1 auto ;
  border: none ;

  // inner container
  :is(._2637a2609f343032-container, .e6b7699ce8339e1c-privateChannels) {
    margin-right: 6px ;
    padding: 0 ;
  }

  .d125d22cdfd32cfe-scrollerBase {
    margin: 0 ;

    @include scrollerFadeOut();

    @container not style(--show-sidebarScrollbar: 1 ) {
      @include scrollbar(none);
    }
  }
}
// <- Sidebar

// -> Panels
._5e434347c823b592-panels {
  display: contents ; // only works with hsb

  // -> Profile
  ._37e49614b9f110a9-container {
    order: -1 ;
    height: 48px ;
    container-type: inline-size ;
    gap: 0 ; // helps with GameActivityToggle

    @container (width < 195px) {
      ._37e49614b9f110a9-nameTag { display: none }

      ._37e49614b9f110a9-avatarWrapper, ._37e49614b9f110a9-buttons {
        margin: 0 auto ;
      }
    }

    // nameplate
    ._4bbc6dc06e75ad52-container {
      left: -3px ;
      border-radius: 0 ;
      transform: scale(-1, 1);
    }

    // image & name container
    ._37e49614b9f110a9-avatarWrapper {
      background: none ;
      flex: 0 1 auto ;
      margin-right: 4px ;
    }

    // name & status container
    ._37e49614b9f110a9-nameTag {
      z-index: 1 ;
    }

    // remove btn bg with nameplate
    ._67645e1530f1195d-plated {
      background: none !important ;
    }

    // -> Buttons
    ._37e49614b9f110a9-buttons {
      gap: 5px ;
    }

    // right click for dummies
    ._37e49614b9f110a9-buttonChevron { display: none }
    // <- Buttons
  }
  // <- Profile

  // -> Activity
  ._5e434347c823b592-activityPanel {
    margin-right: 3px ; // adjust to resize line offset (2+1)
    padding: 10px 7px 10px 10px ;
    border-color: var(--background-modifier-accent);
    border: none ;

    &:not(:empty, :first-child) {
      @include divider(top);
    }

    ._8c6c22ea0d0f0ea2-gameIconWrapper {
      height: 28px ;
    }

    // Image
    ._8c6c22ea0d0f0ea2-gameIcon {
      height: 28px ;
      width: 28px ;
    }

    // Text
    .b6c092614b8d59f3-title {
      font-size: 14px ;
    }
  }
  // <- Activity

  // -> Voice connection
  .e131a99484292a19-wrapper {
    margin-right: 3px ; // adjust to resize line offset (2+1)

    .e131a99484292a19-container {
      padding: 7px 7px 7px 10px ;
    }

    &:not(:empty, :first-child) {
      @include divider(top);
    }

    // connection icon
    ._06d6249a1f2584ac-ping {
      background: none ;
      box-shadow: none ;
      margin-right: 3px ;
    }

    // Connected text
    .cf48127484dbde85-text-md\/medium {
      font-size: 14px ;
    }

    // Channel name
    .text-sm\/medium_cf4812 {
      font-size: 12px ;
    }

    // -> action btns
    // btns container
    .e131a99484292a19-actionButtons {
      gap: 0 ;
    }

    // btn class for just the action btns
    .e131a99484292a19-button {
      padding: 0 ;
    }

    .e131a99484292a19-buttonIcon {
      height: 18px !important ;
      width: 18px !important ;
    }
    // <- action btns
  }
  // <- Voice connection

  // -> Quest reminder
  > ._0d6162a4e6a4b802-mask {
    display: contents ;

    // main container
    ._0d6162a4e6a4b802-wrapper {
      margin-right: 4px ;
      // z-index: 2 ;
      order: 200 ;
    }

    ._24e2c2ebe64fd7d3-postEnrollmentBackground {
      background: var(--background-floating) !important;
      border: none ;
      border-radius: 0 ;
    }

    // glow on image
    ._146e2f3dfd5ca841-inner {
      box-shadow: none !important;
    }
  }

  // <- Quest reminder
}
// <- Panels

}
