// App | Transparency

@use "sass:string";


$Classes:
  // -> App
  "._960e4207cea8323e-bg",
  "._160d8e55254637e5-app",
  "._960e4207cea8323e-layer",
  ".c791b281f2fedc32-page",
  // most scroller containers
  // ".a3002d7de5be5280-app :is(._99f8cc7ad4790ce9-scrollerBase,.d125d22cdfd32cfe-scrollerBase)",
  ".a3002d7de5be5280-app .d125d22cdfd32cfe-scrollerBase",
  // Title bar
  "!._9293f6b2fc12398a-container",
  // Discovery
  "._551b0894962ff66f-container",
  // Server bar
  "._5e434347c823b592-guilds",
  // <- App

  // -> Text chat
  "!.f75fb00fb7356cbe-chat",
  ".f75fb00fb7356cbe-chatContent",
  "._740174f3d6a2c8fe-themedBackground", // txt input (more?)
  // search results sidebar
  ".a98f3b020416ad54-searchResultsWrap",
  // search results msg
  "._80bf8435713f6adb-searchResult",
  // Forum channel
  ".f369dba7416c67f0-container",
  "._41ed70e52483df6d-pageBody",
  "._5a2c624eb18affaa-container",
  ".ca49a1898ddc29e3-container",
  // Chat box text input
  ".f75fb00fb7356cbe-channelTextArea",
  ".b77158512e0ab116-channelAttachmentArea",
  "._01ae244280823725-chatLayerWrapper ._740174f3d6a2c8fe-channelTextArea", // threads
  // chat box replaced channel action
  "._44df51b030bd5ece-wrapper",
  // reply bar ui
  "._740174f3d6a2c8fe-stackedBars",
  // loading messages placeholder
  "._6c79861fd96f56b1-wrapper",
  ".fc817765600a960a-wrapper",
  ".d852db00c0588eb9-wrapper",
  // Threads meta bar
  "._34c2c51cfce1632e-container",
  ".a5700d36f7c29ded-chatHeaderBar",
  // Dms user sidebar
  ".f75fb00fb7356cbe-content .c0bea05627c5dc35-outer",
  // <- Text chat

  // -> Voice chat
  ".cb9592ad77576717-callContainer",
  ".cb9592ad77576717-callContainer .bfe55a0aaaf62375-root",
  ".cb9592ad77576717-wrapper",
  // Stage view
  "._722ffae0e1be2672-container",
  "._722ffae0e1be2672-callContainer",
  "._56ccd9a4ea869e7b-scroller",
  "._1e702474dc791be1-rowContainer",
  "._664ffc673b75c994-container",
  // <- Voice chat

  // -> Sidebar
  "._5e434347c823b592-sidebar",
  // DMs Sidebar
  ".e6b7699ce8339e1c-privateChannels",
  // Sidebar Panels
  "._5e434347c823b592-panels",
  // Server panel
  ".f37cb1984c371ee5-container",
  ".f37cb1984c371ee5-header",
  // User profile container, Voice channel, Activity
  "._37e49614b9f110a9-container",
  ".e131a99484292a19-container",
  "._5e434347c823b592-activityPanel",
  // Server channels container
  "._2637a2609f343032-container",
  // <- Sidebar

  // -> Server
  // "Channels & Roles"
  "!._0b56311ebc6682e2-container",
  "._5d7c9a81ac5dd074-prompt",
  ".e4503acec53c64dd-channelRow",
  "._5d7c9a81ac5dd074-emptyPage",
  // Member Safety Page
  ".c791b281f2fedc32-container",
  "._09a38002c6c2466d-mainTableContainer",
  // Server shop
  ".adb50a654b4cd212-container",
  // Server Boosts
  "._8946359d8adb1488-container",
  "._8946359d8adb1488-contentContainer",
  "._8946359d8adb1488-sidebarContainer",
  // Members list
  ".c8ffbb79449f399c-container",
  ".c8ffbb79449f399c-member",
  // Server Boost page
  "._6fd0e42f91edfda6-scroller",
  "._6fd0e42f91edfda6-header",
  // Threads members
  "._7641b507c6cdbb10-container",
  ".c8ffbb79449f399c-members",
  // <- Server

  // -> Home & Friends list
  "._133bf5eea8e33a34-container",
  "._133bf5eea8e33a34-tabBody",
  // Nitro store
  ".f07d62e29a48ceee-applicationStore",
  "._0920e02cc8fc7b7b-homeWrapperNormal",
  // Profile decorations shop (Home)
  "._6db1d32c47b6ad72-shop",
  "._084152b107f71237-shop",
  ".shopScroll__6db1d",
  ".pageWrapper__6db1d",
  "._1feb0fca744244ab-page",
  "._1187745e085c713e-filterBar",
  // Friends Activity Sidebar
  "._133bf5eea8e33a34-nowPlayingColumn",
  "._133bf5eea8e33a34-nowPlayingColumn :is(._7d20cf18f8a2784c-container, ._7e549558f336cddb-emptyCard)",
  // <- Home & Friends list

  // -> Settings old
  "._23e6b439306f125a-standardSidebarView",
  "._23e6b439306f125a-sidebarRegionScroller",
  "._23e6b439306f125a-contentRegion",
  "._23e6b439306f125a-contentRegionScroller",
  // Roles Settings
  "._91dc3971e82843c1-page .e29cd7b93c4f1266-titleContainer",
  ".d8f25bf4f76423e6-container",
  // <- Settings old

  // -> Settings
  ".e9e3ed8b8badfe05-content", // content region
  ".e9e3ed8b8badfe05-contentHeader"
  // <- Settings
;

body, #app-mount { background: none !important }

@each $class in $Classes {

  @if string.slice($class, 1, 1) == "!" {
    #app-mount #{string.slice($class, 2, -1)} {
      background: none !important
    }
  }
  @else {
    #app-mount #{$class} { background: none }
  }
}
