// App | Background images

body {

// -> Main
$blur-main: blur(calc(var(--backgroundBlur-app) / 100 * 1px));
$brightness-main: brightness(calc((var(--backgroundBrightness-app) / 100)));

:is(
  .bg__960e4, // main
  .container__01ae2, // floating threat/forum
  .header_c6bf1b, // role settings header
  .typing_b88801:has(.dots__5ad89) // chat input typing indicator bar
)::before {
  content: "" ;
  position: absolute ;
  inset: 0px ;
  background: var(--background-app);
  background-position: center ;
  background-size: cover ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  filter: $blur-main $brightness-main ;
}
// <- Main

// -> Server
$blur-server: blur(calc(var(--backgroundBlur-server) / 100 * 1px));
$brightness-server: brightness(calc((var(--backgroundBrightness-server) / 100)));

.guilds__5e434::before {
  content: "" ;
    position: absolute ;
    display: block ;
    inset: 0px ;
    background: var(--background-server);
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat ;
    filter: $blur-server $brightness-server ;
}
// <- Server
}
