@use '../mixins/new_mixins' as * ;

// -- App

// Background images
@import 'new_appBackgrounds' ;

// Discovery
@import 'new_appDiscovery' ;

// Sidebar
@import 'new_appSidebar' ;

// Title & Header bar
@import 'new_appTopBar' ;

// Transparency
@import 'new_appTransparency' ;


// text rendering thing
html, span:not([class*='spinner']) { backface-visibility: hidden }

// -> Unread mentions badge
@scope (.a3002d7de5be5280-app) to (._5e434347c823b592-guilds) {
  ._2b1f52e43a8f1c02-numberBadge {
    background-color: transparent !important ;
    border-radius: 0 !important ;
    color: var(--text-normal);
    box-shadow: none ;

    &[style^="background-color: var(--status-danger)"] {
      border-bottom: 2px solid var(--red);
    }
  }
}
// <- Unread mentions badge

#app-mount {

// Layer transitions
// ._960e4207cea8323e-layer { transform: none !important }

// Tab focus thing
.focus-rings-ring {
  box-shadow: none ;
  border-bottom: 3px solid var(--interactive-hover);
  border-radius: 0 ;
}

// -> Icon btns (don't like this)
// "When in doubt, ..."
path[fill="currentColor"] {
  fill: currentColor !important ;
}

// lotties normal ( hover usually via btn container)
._5eb9b3cc7c2b1ce8-lottieIcon  {
  --__lottieIconColor: #{$BtnIconNormal} !important ;
}
// not ideal
:is(
  ._201d5e8a3c09670a-button, ._9db96f7a92c2b507-button, ._71c22426f1aad6f4-button,
  .button__06eda, .f7ecaca5c80dbf3a-button, ._24af7f4d0326ba4f-button, .e6e74fd4d1221f53-button
) {
  background: none ;
  border: none ;
  color: $BtnIconNormal ;

  &._201d5e8a3c09670a-colorWhite {
    color: $BtnIconActive ;
  }

  &.f7ecaca5c80dbf3a-dangerous {
    color: $BtnIconDanger ;
    --__lottieIconColor: #{$BtnIconDanger} !important ;
  }

  // text
  &._201d5e8a3c09670a-colorRed {
    color: $BtnIconDanger ;
  }

  // Voice channel view, disconnect btn
  &.f1ceaca61b18918e-disconnect .f1ceaca61b18918e-controlIcon {
    color: #{$BtnIconDanger} !important ;
    --__lottieIconColor: #{$BtnIconDanger} !important ;
  }

  &:hover {
    color: $BtnIconHover ;

    ._5eb9b3cc7c2b1ce8-lottieIcon {
      --__lottieIconColor: #{$BtnIconHover} !important ;
    }
  }

  :is(
    .closeIcon_e8b59c,
    .f1ceaca61b18918e-controlIcon,
    ._29444ba32c7fbeab-addButtonIcon
  ) {
    color: currentColor ;
  }
}

// basic
:is(
  ._56fec8e8b8048fe0-searchClearHistory, // search popout clear
  ._56fec8e8b8048fe0-searchLearnMore, // search popout help link btn
  ._972a0d22c8afa7f0-closeIcon, // remove dms
  ._623de82e76ad7f82-embedSuppressButton, // remove embed from msg
  ._6e2b9359c6f84cfd-closeIcon // close discord notice bar
) {
  color: $BtnIconNormal ;

  &:hover {
    color: $BtnIconHover ;
  }
}
// <- Icon btns


// -> Text btns
.a22cb0c66246f5d3-button:not(.a22cb0c66246f5d3-icon-only) {
  border: none ;
  border-radius: 3px ;
  color: $BtnTextNormal ;
  background: $BtnBackgroundNormal ;

  &:hover {
    color: $BtnTextHover ;
    background: $BtnBackgroundHover ;
  }

  &.a22cb0c66246f5d3-secondary {
    background: none ;
    color: $BtnTextSecondary ;

    &:hover {
      color: $BtnTextHoverSecondary ;
    }
  }

  // Nitro
  &.shinyButton_a22cb0 {
    color: $BtnIconActive !important ;

    .ac86f68ab746d5ff-subButtonText {
      color: $BtnIconActive ;
    }
  }

  // Danger
  &:is(.a22cb0c66246f5d3-critical-secondary, .a22cb0c66246f5d3-critical-primary) {
    color: $BtnTextDanger ;

    &:hover {
      color: $BtnTextDangerHover ;
      background: $BtnBackgroundDanger ;
    }
  }
  // &._201d5e8a3c09670a-lookOutlined  &._201d5e8a3c09670a-lookLink
}
// <- Text btns

// "Bot"/"server" Tag Indicator
._82f0793afa59e5dc-botTag {
  color: var(--text-normal);
  background-color: var(--background-secondary);
}

// border from .theme-midnight
:is(
  .f75fb00fb7356cbe-content, // chat
  ._133bf5eea8e33a34-tabBody, // home
  .f75fb00fb7356cbe-subtitleContainer // titlebar
) {
  border-left: none ;
}

// -> Selectable items (settings sidebar, various nav/tab bars, ...)
.aa8da23faa27393c-item {
  background: none !important ;
  border: none ;
  color: var(--interactive-normal);

  // border below tab (selected indicator) (.tab version)
  &::after {
    background: transparent ;
  }

  &:hover {
    color: var(--interactive-hover);
  }

  &.aa8da23faa27393c-selected {
    color: var(--interactive-active);

    &::after {
      background: var(--interactive-hover);
    }
  }
}
// <- Selectable items

.a3002d7de5be5280-app {

  // -> search bars
  // settings / friends list
  ._72c3859781ebce8f-container {
    @include searchbar("._0f0849b61557225e-container") {
      // min-height: 30px ;
      // padding-left: 0 ;
    }
  }

  .container_a45028 {
    @include searchbar(".inner_a45028");
  }
  // <- search bars

  // -> Scrollbars
  :is(
    .d125d22cdfd32cfe-scrollerBase,
    .c8b5c7128a90b79f-scrollerBase
    // ._99f8cc7ad4790ce9-auto,
    // ._99f8cc7ad4790ce9-scrollerBase
  ) {
    @include scrollbar();
  }
  // <- Scrollbars
}
}
