// Server bar | App adjustments for server bar

// some stuff was done bc. of the collapsable sidebar bar before that was removed

// -> App container
// fullscreen/Hidden e.g.: fullscreen screenshare
#app-mount { // remove soon

  .base__5e434[data-fullscreen="false"] {
    display: flex ;
    margin-bottom: $sb_height ;

    // sidebar + page container
    .content__5e434 {
      display: flex ;
    }

    // main page container
    .page__5e434 {
      margin-left: calc(var(--custom-guild-list-width) * -1);
    }
  }

  // Sidebar
  .sidebar__5e434:not(.hidden__5e434) {
    display: flex ;
    left: calc(var(--custom-guild-list-width) * -1);
    padding-left: var(--custom-guild-list-width);
    box-sizing: border-box ;

    &[data-collapsed=true] {
      width: 0px !important ;
    }

    // needs to counter: display none on collapse
    // channels
    .container__2637a {
      display: flex !important ;
    }

    // dms, discovery
    .privateChannels_e6b769, .container__551b0 {
      display: flex !important ;
    }
  }
}
// <- App container

// -> Server options btn
.sidebarList__5e434 {
  overflow: visible ;
  backdrop-filter: unset ;
  -webkit-backdrop-filter: unset ;

  // channels list spacer for banner image
  /// (content not unique), needs [style="height: 130px;"]
  .content_d125d2 > [style="height: 84px;"]:not([class]) {
    margin-top: -84px ; // helps remove the space from bottom of the list
    visibility: hidden ;
  }

  .animatedBannerHoverLayer_f37cb1 { display: none }

  .container__2637a {
    mask: none ;
  }

  // button
  .container_f37cb1 {
    position: fixed ;
    bottom: 0 ;
    right: 0 ;
    width: 120px ;
    height: $sb_height ;
    display: block !important;

    // some containers between main and text
    :is(.headerContent_f37cb1, .header_f37cb1, .guildBadgeAndName_f37cb1) {
      display: contents !important ;
    }

    // click container
    .guildDropdown_f37cb1 {
      padding: 0 ;
      height: 100% ;
      width: 100% ;
      justify-content: center ;
      border-radius: 0 ;

      &:hover, &[aria-expanded="true"] { background-color: rgba(0, 0, 0, 0.2) !important }
    }

    // server name
    .name_f37cb1 {
      margin: 5px ;
      white-space: normal ;
      max-height: 32px ;
      line-height: 16px ;
      font-weight: 400 ;
      color: var(--text-normal);
      text-align: center ;
      // display: block !important; // ?

      @include shadowEffect("text_1");
    }

    // Icons, Chevron, star icon in favorites tab, banner image
    :is(
      .guildIconV2Container__85d16,
      .guildIconContainer__85d16,
      .headerChildren_f37cb1,
      .favoritesIcon_f37cb1,
      .animatedContainer_f37cb1,
      .headerEllipseBackdrop_f37cb1,
      .headerEllipseForeground_f37cb1,
      .headerGlass_f37cb1,
      .inviteButton_f37cb1
    ) { display: none }
  }
}
// <- Server options btn

// -> Quick Switcher (home)
.privateChannels_e6b769 .searchBar_e6b769  {
  position: fixed ;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  padding: 0 ;
  z-index: 0 ;

  &:hover { background-color: rgba(0, 0, 0, 0.2) }

  .button_a22cb0 {
    height: 100% ;
    max-height: unset ;
    border-radius: 0px !important ;
  }

  .buttonChildrenWrapper_a22cb0 {
    padding: 0px 10px ;
  }

  // text
  .overflow_b0dfc2 {
    white-space: wrap ;
    color: var(--text-normal);
    text-align: center ;

    @include shadowEffect("text_1");
  }
}
// <- Quick Switcher (home)

// -> Discovery Text
.container__551b0 .header__551b0 {
  position: fixed ;
  display: flex !important ;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  margin: 0 ;
  padding: 0 ;
  justify-content: center ;

  .text-lg\/semibold_cf4812 {
    display: block !important ;
    font-weight: 400 ;
    font-size: 16px ;
    color: var(--text-normal);
    overflow: hidden ;

    @include shadowEffect("text_1");
  }
}
// <- Discovery Text

// Tooltips (shouldn't need them anyway)
.clickTrapContainer__59d0d > .layer__59d0d:has(.tooltip__4e35b) {
  pointer-events: none ;
}