$v: 2 ;

// pseudo for BG darkening
@mixin BG-dark-before($height) {
  &::before {
    content: "" ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: $height ;
    width: 100vw ;
    background: black ;
    opacity: calc(var(--brightness) / 100 ) ;
  }
}

// Info / disclaimer
@mixin disclaimer ($text, $type) {
  
  // Header/Text
  [class*="layers-"] > [class*="layer-"]:first-child {
    
    &::before {
      content: "" ;
      position: fixed ;
      height: 100vh ;
      width: 100vw ;
      background: black ;
      opacity: .6 ;
      z-index: 3000 ;
    }
    
    > [class*="flex-"]::before {
      content: $text ;
      position: absolute ;
      top: calc(50vh - 50px) ;
      left: calc(50vw - 250px) ;
      height: 100px ;
      width: 500px ;
      background: #d8d8d8 ;
      z-index: 3001 ;
      border-radius: 15px ;
      box-sizing: border-box ;
      padding-top: 25px ;
      text-align: center ;
      color: black ;
      font-weight: 500 ;
    }
    
    // Body/Content
    @if $type == "Settings" {
        
      [class*="channels-"] > [class*="container-"]:nth-last-of-type(1) {

        > [class*="flex-"] > button {
          position: fixed ;
          top: calc(50vh) ;
          left: calc(50vw - 25px ) ;
          height: 40px ;
          width: 40px ;
          z-index: 3002 ;
          margin: 5px ;

          > [class*="contents-"] { margin-top: 0 }

          svg {
            height: 30px ;
            width: 30px ;

            path { fill: black }
          }
          &::before {
            content: 'Settings';
            position: absolute ;
            right: 50px ;
            line-height: 40px ;
            color: black ;
            font-weight: 500 ;
            font-size: 15px ;
            pointer-events: none ;
          }
        }
      }
    }
  }
}

// general Stuff
body { 
  // Background main
  background: var(--Background_Main) ;
	background: {
		size: cover ;
		attachment: fixed ;
		position: center ;
		repeat: no-repeat ;
	}
  
  // if Minimal Mode is active
  &.bd-minimal { @include disclaimer ('PLs turn off "Minimal Mode" in order to use the Theme', "Settings") }
  
  // popup in case the theme file itself needs an update
  &::before {
    // somewhy "ä" would cause the hole theme to crash LuL
    content: "updated theme file available, check : github.com/Eight-P/BetterDiscord-Stuff -PS : Oli laesst heut Abend hart vergleichen <3" ;
    position: absolute;
    height: 22px ;
    width: 100vw ;
    background: var(--Color_3) ;
    z-index: 3000 ;
    opacity: calc( #{$v} - var(--F_V,0)) ;
    color: var(--Color_1) ;
    padding-left: 100px ;
    line-height: 22px ;
    font-size: 14px ;
    letter-spacing: .4px ;
  }
  #app-mount {
    @include BG-dark-before(100vh) ;
    // if dark-theme is not used (LuL)
    > [class*="app-"] > [class*="app-"]:not([class*="theme-dark"]) {
      @include disclaimer ('PLs use dark-mode in order to use the Theme', "Settings")
    }
  }
  // removing transition effect, also fixed flickering somehow
  [class*="layers-"] > [class*="layer-"] {
    transform: scale(1) translateZ(0px) !important ;

    &:first-child { opacity: 0 !important }
    &:last-child { opacity: 1 !important }
  }
  // pluginNotice-bar
  #pluginNotice, [class*="app-"] > [class*="notice-"]{
    position: absolute ;
    width: 100vw ;

    [class*="dismiss-"] { right: 36px }
  }
}

// Window-bar
#app-mount > [class*="titleBar-"] {
  &::after {
    content: "" ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 22px ;
    width: 100vw ;
    box-shadow: 0 1px 0 var(--Color_2);
    opacity: .6 ;
    pointer-events: none ;
  }
}

//Titel-bar
[class*="channels-"] {
  ~ [class*="chat-"] > [class*="title-"],
  ~ [class*="activityFeed-"] > [class*="container-"],
  ~ [class*="gameLibrary-"] [class*="libraryHeader-"],
  ~ [class*="applicationStore-"] [class*="headerBar-"],
  ~ [class*="container-"] > [class*="container-"] {
    [class*="toolbar-"] {
      //Icons
      > [class*="iconWrapper-"], > [class*="anchor-"] {
        margin: 0 8px ;

        > div { margin: 0 }

        svg {
          width: 20px ;
          color: var(--Color_1) ;
          opacity: .7 ;
        }

        &:hover svg { opacity: 1 }
      }
    }
  }
}

//Titel-bar Server-view
[class*="channels-"] ~ [class*="chat-"] [class*="title-"]{
  box-shadow: none ;
  
  //Channel info
  [class*="children-"] {
    
    // #
    [class*="iconWrapper-"] svg {
      width: 20px ;  
      color: var(--Color_2) ;
    }
    
    // Channel Name
    [class*="title-"] { color: var(--Color_1) }
    
     // Channel Topic
    [class*="topic-"] {
      color: var(--Color_1) ;
      opacity: .7 ;
    }
  }
  
  //Search
  [class*="toolbar-"] > [class*="search-"] {
    pointer-events: none ;
    margin: 0 8px ;

    //Search Bar
    > [class*="search-"] {

      [class*="searchBar-"] {
        width: 20px ;
        background: transparent ;

        .DraftEditor-root {
          position: absolute ;
          width: 20px ;
          cursor: pointer ;
          pointer-events: auto ;

          .public-DraftEditor-content .public-DraftStyleDefault-block span { display: none }
          .public-DraftEditorPlaceholder-root { display: none }
        }

        [class*="icon-"] svg {
          color: var(--Color_1) ;
          transition: none ;

          &:first-child { opacity: .7 }
        }

        &:hover [class*="icon-"] svg:first-child { opacity: 1 }
      }

      //Search Bar opend
      &[class*="open-"] {
        border-bottom: 1px solid var(--Color_1) ;

        [class*="searchBar-"] {
          width: 244px ;
          transition: .3s ;

          .DraftEditor-root { 
            position: relative ;

            .public-DraftEditor-content .public-DraftStyleDefault-block span { display: block }
          }

          [class*="icon-"] svg {

            &:first-child { opacity: 0 }
            &:last-child { opacity: .7 }
          }
        }
      }
    }
  }
}

// Server-channels
[class*="channels-"] > [class*="flex-"] {
  top: 48px ;
  margin-bottom: 48px;

  [class*="positionedContainer-"] [class*="unread-"] { padding: 0 8px }

  [class*="scroller-"] {
    
    > div:first-of-type:not([class*="container-"]),
    > div:last-of-type:not([class*="container-"]){
      //
    }

    &::-webkit-scrollbar { display: none }
    // Channel container
    [class*="containerDefault-"] {

      // default 
      [class*="content-"] {
        background: transparent;

        [class*="name-"] { color: var(--Color_2) }

        [class*="icon-"] {
          width: 15px ;
          color: var(--Color_2);
          opacity: .9 ;
        }
        // channel-options
        [class*="children-"] [class*="iconItem-"] {
          display: none ;
          color: var(--Color_2);
          opacity: .8 ;

          &:hover {
            color: var(--Color_1);
            opacity: 1 ;
          }
        }
        &:hover [class*="children-"] [class*="iconItem-"] { display: block }

        // connection-limit
        [class*="children-"] [class*="userLimit-"] [class*="wrapper-"]{
          color: var(--Color_2) ;
          
          [class*="users-"], [class*="total-"] { background: transparent }
          
          [class*="total-"]::after {
            border: none ;
            content: "|" ;
            left: -5px ;
            top: -1px ;
          }
        }
        // mentions indicator
        [class*="iconSpacing-"] [class*="wrapper-"] {
          background-color: transparent ;
          border-bottom: 2px solid rgba(240, 71, 71, 0.7) ;
          border-radius: 0 ;
          box-shadow: none ;
          color: var(--Color_1) ;
        }
      }

      [class*="contentSelectedText-"], [class*="contentConnectedVoice-"] {

        [class*="name-"] { color: var(--Color_1) }

        [class*="icon-"] { 
          color: var(--Color_1);
          opacity: 1 ;
        }
      }
    }
  }
}

// Profile-, connection container
[class*="channels-"] > [class*="container-"] {

  &:nth-last-of-type(1) {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    box-sizing: border-box ;

    [class*="avatar-"] [class*="status-"] {
      border: none ;
      bottom: -1px ;
      right: -1px ;
    }
    // moving/fixing tooltips
    > [class*="flex-"] {
      margin-top: 20px ;

      > div { height: 22px }

      [class*="iconButtonDefault-"] { margin-top: -10px }
      button [class*="contents-"] { margin-top: -20px }
    }
  }
  &:nth-of-type(2) { border: none }
}

// Chat
[class*="chat-"] [class*="spacer-"] {
  //Server-messages
  [class*="messagesWrapper-"] {

    [class*="scroller-"] {

      &::-webkit-scrollbar-thumb {
        background-color: var(--Color_3) ;
        border-color: transparent  ;
      }

      &::-webkit-scrollbar { width: 12px }
      
      &:hover::-webkit-scrollbar-thumb { background-color: var(--Color_2) }
    }
  }
  // Text-Input
  > form {
    margin: 5px 0 0 0 ;

    [class*="channelTextArea-"] {
      margin: 0 ;
      padding: 0 ;

      [class*="inner-"] { background: transparent }
    }
    [class*="channelTextAreaDisabled-"] [class*="innerDisabled-"]::after {
      content: " " ;
      background: url("https://i.imgur.com/za6Yq9g.png") ;
      position: absolute;
      right: 0 ;
      bottom: 0 ;
      height: 36px ;
      width: 36px ;
      background-size: cover ;
      background-repeat: no-repeat ;
    }
    [class*="typing-"] {
      background: transparent ;
      position: absolute ;
      top: -15px ;
      height: 15px ;
      box-sizing: border-box ;
      padding: 0 15px ;

      [class*="text-"] { line-height: 15px }

      [class*="spinner-"] { margin: 0 }

      [class*="cooldownWrapper-"] {
        font-size: 0 ;

        [class*="slowModeIcon-"] {
          margin: 0 ;
          height: 15px ;

          path { fill: var(--Color_2) }
        }
      }
    }
  }
}

// Member-list
[class*="membersWrap-"] [class*="scroller-"] {

  &::-webkit-scrollbar { display: none }

  [class*="member-"] {
    border-radius: 0 ;
    height: 37px ;
    margin: 4px 0 4px 14px ;
    color: var(--Color_1) ;
    
    &:hover {
      border-right: 3px solid var(--Color_1) ;
      background: rgba(255, 255, 255, 0.05) ;
    }
    
    &.popout-open { border-right: 3px solid var(--Color_1) }

    &[class*="memberOffline-"] {
      color: var(--Color_2) ;
    }
    
    [class*="content-"] { 
      background: transparent !important ;
      padding: 8px 4px ;
    }
    [class*="status-"] {
      border: none ;
      bottom: -2px ;
      right: -2px ;
    }
  }
}

// Server-bar
[class*="layers-"] > [class*="layer-"] > [class*="flex-"] > [class*="wrapper-"] {
  //Server-Background 
  &::before {
    content: "";
    position: absolute ;
    height: 54px ;
    width: 100vw ;
    background: var(--Background_Server) !important ;
    background-repeat: no-repeat !important ;
    background-position: center !important ;
    transform: rotate(90deg) translateX(-54px) ;
    transform-origin: bottom left ;
  }
  //Server-Brightness
  [class*="scrollerWrap-"] { 
    @include BG-dark-before(100vw);
    &::before { 
      opacity: calc(var(--brightness_Server) / 100 ) ;
      width: 54px ;
    }
  }
  //Server-bar
  [class*="scroller-"] {

    &::after, &::before { background: var(--Color_2) }
    
    // Server Icon Obj
    [class*="listItem-"] {
      filter: drop-shadow( -2px 2px 3px rgba(0, 0, 0, var(--Server_shadow, 0)) );
      
      // unread messages, Server selected
      [class*="pill-"] [class*="item-"] { background-color: var(--Color_1) }
      
      foreignObject [class*="wrapper-"] {
        
        //Text Color
        div { color: var(--Color_1) }
      }
      
      // guild seperator, Discovereeeeee
      &:nth-last-of-type(2), &:last-child {
        [class*="circleIconButton-"] {
          color: var(--Color_1) ;
          opacity: .75 ;
        }
        
        &:hover [class*="circleIconButton-"] { opacity: 1 }
      }
    }
  }
}

// Server-Name/Options
[class*="channels-"] > [class*="flex-"] > [class*="flexChild-"] {
  [class*="header-"] [class*="name-"] { color: var(--Color_1) }
}

// DM's
[class*="channels-"] > [class*="privateChannels-"] {
  top: 48px ;
  margin-bottom: 48px;

  // Bottom Right Search-bar
  > [class*="searchBar-"] {

    &::after { 
      color: var(--Color_1) ;
      opacity: .7 ;
    }
    &:hover::after { opacity: 1; }
  }

  // Friends-channel
  [class*="scroller-"] {
    padding-top: 0 !important ;

    &::-webkit-scrollbar {display: none }

    [class*="channel-"] {

      a { background: transparent }
      [class*="wrapper-"] > [class*="status-"] { border-color: transparent }
      [class*="close-"] { background-size: 22px 22px }
      [class*="name-"] { color: var(--Color_2) }

      &:hover [class*="name-"] { color: var(--Color_1) }

      &[class*="selected-"] [class*="name-"] { color: var(--Color_1) }
    }
  }
}

// Friends-list
[class*="channels-"] ~ [class*="container-"] {

  > [class*="headerBar-"] {

  }

  > [class*="friendsTable-"] {

    [class*="friendsTableHeader-"] { display: none }

    [class*="scroller-"] {
      &::-webkit-scrollbar { display: none }
//      display: block ;
      margin-left: 20px ;

      [class*="friendsRow-"] {
        position: relative ;
        display: inline-block ;
        border: none ;
        margin: 20px ;
        background: black ;
        width: 350px ;
        height: 80px !important ;
        box-shadow: 0 10px 60px black ;
        border-bottom-right-radius: 10px ;

        &:hover { 
          padding: 0 ;
          border-radius: 0 ;
          border-bottom-right-radius: 10px ;
        }

        [class*="friendsColumn-"] {
          display: block ;

          // Avatar, Name
          &[class*="friendsColumnName-"] {
            position: absolute ;
            pointer-events: none ;
            z-index: 1 ;

            [class*="avatarSmall-"] {
              height: 80px ;
              width: 80px ;
              margin: 0 0 0 5px ;

              [class*="inner-"] { border-radius: 0 }
            }

            [class*="nameTag-"] {
              position: absolute ;
              display: block ;
              top: 10px ;
              left: 95px ;
              width: 255px ;
              font-size: 20px ;
              color: var(--Color_1) ;

              .username {
                display: inline-block ;
                height: 35px ;
              }

              .discriminator {
                float: right ;
                margin-right: 5px ;
                color: var(--Color_1) ;
                visibility: visible ;
              }
            }
          }
          // Status
          &[class*="friendsColumnStatus-"] {
            position: absolute ;
            width: 100% ;
            margin: 0 ;
            pointer-events: none ;

            [class*="status-"] {
              height: 80px ;
              width: 350px ;
              border-radius: 0 ;
              opacity: .8 ;
            }

            [class*="statusText-"] {
              position: absolute ;
              width: 240px ;
              height: 45px ;
              bottom: 0 ;
              right: 5px ;

              [class*="friendActivityText-"] {

                strong {
                  position: absolute ;
                  left: 0 ;
                  top: 20px ;
                  max-width: 240px ;
                  overflow: hidden ;
                  text-overflow: ellipsis ;
                }
              }
            }
          }
          // same Guilds
          &[class*="friendsColumnGuilds-"] { display: none !important }
          // Profile Options
          &[class*="friendsColumnActions-"] {
            margin-left: 100px ;
            text-align: center ;
            margin-top: 40px ;
            padding: 0 ;

            [class*="friendsAction-"] {
              display: inline-block ;
              margin: 0 20px ;
              background-color: transparent ;
              opacity: .6 ;

              &:hover { opacity: .9 }
            }
          }
        }
        &:hover [class*="friendsColumnStatus-"] [class*="statusText-"] { display: none }
      }
    }
  }
}

// Popouts
[class*="popouts-"] {
  // Server-Options -hopefully-
  .popoutInvert-3UdKhn.noArrow-3BYQ0Z.popout-3sVMXz.popoutTop-3uu9vG.arrowAlignmentTop-iGQczz.popouttop:not([class*="popoutBottom-"]):not([class*="popoutTopLeft-"]):not([class*="popoutBottomRight-"]):not([class*="popoutBottomLeft-"]) [class*="menu-"] { 
    background: var(--Color_3) ;

    [class*="separator-"] {
      display: none ;
    }
    [class*="item-"] {
      color: var(--Color_2) ;
      padding: 5px 14px ;
      margin: 5px 0 ;

      &:hover {
        color: var(--Color_1) ;
        background: transparent ;
        border-left: 2px solid var(--Color_1) ;
      }
    }
  }
  // Profile Popout
  [class*="userPopout-"] {
    box-shadow: 2px 2px 10px black ;

    [class*="header-"] {

      &[class*="headerNormal-"] {
        background-color: var(--Color_3) ;
      }
      &[class*="headerSpotify-"] {

        [class*="timeBarUserPopout-"] ~ [class*="flex-"] {
          display: none ;
        }
      }
      &[class*="headerPlaying-"] {
        background-color: var(--Color_3) ;
      }
//        &[class*="headerStreaming-"] {
//          
//        }
    }
    > [class*="body-"] {
      background-color: var(--Color_4) ;
    }
    [class*="footer-"] {

      [class*="protip-"] { display: none }
    }
  }
  
  // Search-Popout
  .noArrow-3BYQ0Z.noShadow-321ZPm.popout-3sVMXz.popoutBottom-1YbShG.arrowAlignmentTop-iGQczz.popoutbottom {
    [class*="container-"] {
      background: var(--Color_3) ;
      box-shadow: 2px 2px 10px black ;
      
      [class*="resultsGroup-"] {
        
        [class*="option-"] {
          
          &:after { display: none }
        }
      }
    }
  }
}

// User Profile (modal)
[class*="modal-"] {

  // header
  [class*="topSection"] {
    background-color: var(--Color_3) ;
    
    [class*="header-"] {

      > [class*="wrapper-"] {
        border-radius: 5px ;
        overflow: hidden ;
        filter: drop-shadow( 2px 2px 3px black );

        [class*="image-"][class*="profile-"] {
          -webkit-mask: none ;
          border-radius: 0 ;
        }
        [class*="status-"] {
          right: -1px ;
          bottom: -1px ;
          box-shadow: none ;
        }
      }
      // Colored Profile-Badges
      [class*="profileBadgeWrapper-"] {
        // Bravery
        [class*="profileBadgeHypeSquadOnlineHouse1-"] {background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg)}
        // Brilliance
        [class*="profileBadgeHypeSquadOnlineHouse2-"] {background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg)}
        // Balance
        [class*="profileBadgeHypeSquadOnlineHouse3-"] {background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg)}
        // EarlySupporter
        [class*="profileBadgeEarlySupporter-"] {background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg)}
        // Nitro
        [class*="profileBadgePremium-"] {background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg)}
        // Partenr
        [class*="profileBadgePartner-"] {background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg)}
      }
      [class*="actionButton-"] {
        background-color: var(--Color_1) ;
        
        [class*="contents-"] { color: var(--Color_3) }
      }
    }
  }

//  [class*="topSectionNormal-"] {
//    
//  }
//
//  [class*="topSectionPlaying-"] {
//    
//  }
//
//  [class*="topSectionSpotify-"] {
//
//  }
//    
//  [class*="topSectionStreaming-"] {
//
//  }

   // body
  [class*="flex-"] > [class*="body-"] {
    background-color: var(--Color_4) ;
    
    [class*="userInfoSection-"]:last-child { border-color: var(--Color_3) }
    
    [class*="connectedAccounts-"] > [class*="flex-"]{
      border: none ;
      
      [class*="connectedAccountName-"] {
        color:  var(--Color_2) ;
      }
    }
  }
}

// Discoveree
[class*="flex-"] > [class*="flex-"] > [class*="pageWrapper-"] {
  
  background: transparent ;
  
  > img { display: none }
  
  [class*="scroller-"] {
    
    &::-webkit-scrollbar-track { background: transparent }
    &::-webkit-scrollbar-thumb { background-color: var(--Color_2) }
    
    [class*="body-"] {
      
      [class*="search-"] [class*="searchBox-"] {
        border-radius: 0 ;
        background: transparent ;
        box-shadow: 0 2px 0px 0 var(--Color_2) ;
      }
    }
  }
}

// Tooltips
[class*="layerContainer-"] [class*="tooltip-"] {
  background-color: var(--Color_3) ;
  z-index: 3002 ;

  [class*="tooltipPointer-"] {
    border-top-color: var(--Color_3) ;
  }
}

