// * T1.app v0.1.1

// Layer transitions
.layers-OrUESM > .layer-86YKbF { 
  transform: none !important ;
}

.base-2jDfDU { 
  height: 100% !important ;
}

// "Bot"/"server" Tag Indicator
.botTag-7aX5WZ { 
  color: var(--text-normal) ;
  background-color: var(--background-secondary) ;
}

// Default scrollbar design (needs some rework)
.app-3xd6d0 .scrollerBase-1Pkza4 { @include scrollbar() }

// Tab focus thing
.focus-rings-ring, .focusRing-2_fyOA {
  box-shadow: none ;
  border-bottom: 3px solid var(--interactive-hover);
  border-radius: 0 ;
}

// -> Sidebar Panels (Profile, Activity,..)
.sidebar-1tnWFu .panels-3wFtMD {
  
  // Profile Container
  .container-1CH86i {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;

    // Pfp, name container
    .avatarWrapper-12uuu4 {
      margin: 6px 8px 6px 0 ;
      background: none ;
    }

    // Buttons
    .button-ejjZWC {
      background: none ;
    }
  }
  
  // Activity Container
  .activityPanel-9icbyU {
    height: 32px ;
    padding: 6px 10px ;
    
    // Image
    .gameIconWrapper-3LXRx6 { 
      height: 32px;
    }
    
    // Text
    .title-338goq { 
      line-height: 32px;
    }
    
    button { background: none }
  }
  
  // Voice Connection
  .container-2NLBJg {
    display: grid ;
    padding: 0 ;
    border: none ;
    grid-template-columns: 100% ;
    contain: paint ;
    
    // Voice channel info container
    .connection-3wznVd {
      order: 2 ;
      margin-left: 32px ;
      padding: 6px 0 ;
      align-items: unset ;
      
      // Ping / "Connected"
      .rtcConnectionStatus-c5A6Av {
        padding: 1px 0 2px 0 ;
      }
      
      // Buttons container
      .button-12Fmur {
        background: none ;
        
        // Noise Suppression Btn
        &:first-child { display: none }
      }
    }
    
    // Connected users container (right click channel name for context option)
    .voiceUsers-g1MlmH {
      height: 30px ;
      padding: 3px 8px ;
      margin: 0 ;
      box-sizing: border-box ;
      order: 3 ;
      
      &::-webkit-scrollbar { display: none }
      
      ~ .actionButtons-1DmM2g:after {
        bottom: 42px ;
      }
    }
    
    // Voice channel button container
    .actionButtons-1DmM2g {
      display: inline-flex ;
      height: 0 ;
      padding: 0 ;
      justify-content: space-evenly ;
      overflow: hidden ;
      transition: .1s linear;
      align-items: center ;
      
      // Caret icon
      &:after {
        content: "<" ;
        position: absolute ;
        display: flex ;
        width: 200px;
        height: 32px ;
        left: 0 ;
        bottom: 12px ;
        justify-content: center ;
        align-items: center ;
        color: var(--interactive-normal);
        font-size: 18px ;
        font-weight: 700 ;
        transform: rotate(90deg) translate(6px, 100px - 16px);
      }
      
      &:hover {
        height: 44px ;
        
        &:after {
          content: ">" ;
          color: var(--interactive-hover);
        }
      }
      
      // Buttons container
      .button-2gNyE9 {
        width: max-content ;
        padding: 0 12px ;
        background: none ;
        color: var(--interactive-normal);
        z-index: 1 ;
        
        &:not(.fauxDisabled-8w0hCZ):hover {
          color: var(--interactive-hover);
        }
      }
    }
  }
}