// * T1.background v0.2.21
// Background image + Transparency

// Main background image
.bg-1QIAus {
  background: var(--Main_Background) ;
  background-size: cover !important ;
  background-attachment: fixed !important ;
  background-position: center !important ;
  filter: var(--BGM_Blur) var(--BGM_Brightness) ;
}


$Classes: (
  // #app-mount
  "",
  // App containers
  ".app-2CXKsg", ".layer-86YKbF",
  // App containers canary
  ".app-2CXKsg", ".layer-86YKbF",
  // Voice-chat view
  ".stageSection-3mAD8V",
  // Text chat
  ".chat-2ZfjoI",
  // Text chat canary
  ".chat-2ZfjoI",
  // Sidebar
  ".sidebar-1tnWFu",
  // Sidebar container for Discord info stuff
  ".container-3O_wAf",
  // Server channels container
  // ".sidebar-1tnWFu > .container-1NXEtd",
  ".container-1NXEtd",
  // Members list
  ".container-2o3qEW",
  // Sidebar Panels 
  // ".sidebar-1tnWFu > .panels-3wFtMD",
  ".panels-3wFtMD",
  // DMs Sidebar
  // ".sidebar-1tnWFu > .privateChannels-oVe7HL",
  ".privateChannels-oVe7HL",
  // Home Friends list
  ".sidebar-1tnWFu ~ .container-2cd8Mz",
  // Nitro store
  ".applicationStore-2nk7Lo",
  // Discovery
  ".pageWrapper-2PwDoS",
  // Friends Activity Sidebar
  ".nowPlayingColumn-1eCBCN", ".nowPlayingColumn-1eCBCN > .container-1oAagU", ".nowPlayingColumn-1eCBCN > .emptyCard-KDifrB",
  ".nowPlayingSidebar-2OFn0o", ".nowPlayingSidebar-2OFn0o > .container-1oAagU", ".nowPlayingSidebar-2OFn0o > .emptyCard-KDifrB",
  // Pretty much every scroller
  ".app-3xd6d0 .scrollerBase-_bVAAt",
  // Members list
  ".container-2Oqvgx", ".members-3WRCEx", ".members-3WRCEx .content-2a4AW9",
  // Serverbar
//  ".guilds-2JjMmN",
  // Settings
  ".layer-86YKbF .standardSidebarView-E9Pc3j", ".layer-86YKbF .standardSidebarView-E9Pc3j > .contentRegion-3HkfJJ",
  // Roles Settings
  ".page-15bX59 .titleContainer-3fPic2",
  // Channel Settings (Permissions)
  ".card-2EUiNF", ".settingCard-xZSDjS", ".cardFolder-3H4uH4",
  // Voice-chat view
  ".wrapper-1gVUIN",
  // Title bar
  ".container-ZMc96U",
  // GM store
  "#gm-settings-inject",
);


@each $class in $Classes { #app-mount #{$class} { background: none } }

body { background: none }


