// * T1.compatibility v0.1.6
// Compatibility with plugins


// - Hide Channels by Farcrada (v2.2.10) (to be checked)
// - FriendNotifications by DevilBro (v1.9.9)
// - ReadAllNotificationsButton by DevilBro (v1.7.5)
// - SpotifyControls by DevilBro (v1.3.8)
// - CollapsibleUI by programmer2514 (v7.4.2)
// - PermissionsViewer by Zerebos (v0.2.9)
// - ServerDetails by DevilBro (v1.1.8)
// - CharCounter by DevilBro (v1.6.2)


// -> Hide Channels by Farcrada
// Show/Hide btn
#toggleChannels {
  filter: brightness(.6);
  margin-right: 6px ;
  
  &.channelsHidden { filter: brightness(.8) }
  
  &:hover { filter: brightness(1) }
}

// Server channel sidebar
.sidebar_ded4b5 {
  transition: none !important ;
  
  // Sidebar hidden
  // Chat
  &.hideChannelElement + div .title_b7d661 {
    margin-left: 240px ;
    width: auto ;

    // Channel name
    .title__9e2b0 { 
      display: flex ;
    } 
  }

  // friendslist
  &.hideChannelElement + main .container__11d72 {
    margin-left: 240px ;
    width: auto ;

    // Channel name
    .title__9e2b0 { 
      display: flex ;
    } 
  }
}

// <- Hide Channels by Farcrada


// -> FriendNotifications by DevilBro
// Online friend counter
.guilds__2b93a .friendsOnlineWrap_0gZ63m {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg);
  top: 60px ;
  left: -19px ;
  z-index: 1 ;

  .label_2wRs_g {
    color: var(--text-normal);
    font-size: 10px ;

    @include shadow_effect("text_1");
  }
}
// <- FriendNotifications by DevilBro


// -> ReadAllNotificationsButton by DevilBro
// "Read all" btn
.guilds__2b93a .frame_oXWS21 {
  display: flex !important ;
  position: absolute ;
  top: 0 ;
  left: -16px ;
  z-index: 1 ;

  &, * { height: 20px ; width: 20px  }

  .childWrapper__01b9c {
    color: transparent ;
    background: none ;
    transform: rotate(90deg);
    text-align: center ;

    // "R" Icon
    &:before {
      content: "R" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      height: 20px ;
      width: 20px ;
      line-height: 20px ;
      color: var(--header-secondary);
      font-size: 18px ;
      font-weight: 700 ;

      @include shadow_effect("text_2");
    }

    // Tooltip on hover
    &:hover::after {
      content: "read all" ;
      position: absolute ;
      top: -10px ;
      left: 25px ;
      padding: 8px 12px ;
      font-size: 16px ;
      font-weight: 600 ;
      line-height: 10px ;
      background: var(--background-tertiary);
      color: var(--text-normal);
      border-radius: 5px ;
      white-space: nowrap ;

      @include shadow_effect("box_2");
    }
  }
}
// <- ReadAllNotificationsButton by DevilBro


// -> SpotifyControls by DevilBro
// Sidebar control panel
#app-mount .panels__58331 .container_6sXIoE { 
  margin: 0px ;
  min-height: 44px ;

  .button__4f306 { background: none }
}
// <- SpotifyControls by DevilBro


// -> CollapsibleUI by programmer2514
// Serverbar hidden
.guilds__2b93a {
  
  &[style*="transition: width"] {
    transition: width 0s !important ;
  }
  
  &[style*="width: 0px;"] {
    height: 0px ;
    
    // Home search, Server options btn
    + .base__3e6af {
      .searchBar_e4ea2a, .container__7c79d {
        display: none ;
      }
    }
  }
}

// Channel list sidebar hidden
.sidebar_ded4b5[style*="width: 0px;"] {

  // show channel name when channel list is hidden
  ~ .container__5c7e7 .container__11d72, ~ .chat__52833 .title_b7d661 {
    margin-left: 240px ;
    width: auto ;

    // Channel name
    .title__9e2b0 { 
      display: flex ;
    } 
  }
}

// User area hidden
// Sidebar container
.privateChannels__93473:has(~ .panels__58331[style*="max-height: 0px"]) {
  top: 5px ;
  margin-bottom: unset ;
}

// user panel, voice panel, ...
.panels__58331[style*="max-height: 0px"] {
  display: none ;
}
// <- CollapsibleUI by programmer2514


// -> PermissionsViewer by Zerebos
// Inspect modal
#permissions-modal-wrapper {
  z-index: 10000 ;
}
// <- PermissionsViewer by Zerebos


// -> ServerDetails by DevilBro
// make tooltip center
.detailsTooltip_G9hSSa {
  transform: translate(-195px, -50px);
}
// <- ServerDetails by DevilBro


// -> CharCounter by DevilBro
.charCounterAdded_zz9O4t {

  .charCounter_7fw40k {
    position: absolute ;
    top: 0px ;
    left: 58px ;
    height: 15px ;
    width: fit-content ;
    line-height: 15px ;
    color: var(--channel-text-area-placeholder);
  }

  .placeholder_e68c63, .editor__66464 {
    padding: 14px 10px 8px 0 ;
  }

  // typing/slowmode container
  + .typing__6fd1d {
    margin: 0 !important ;
  }
}
// <- CharCounter by DevilBro
