// * T1.chat v0.1.10
// Text chat, Voice chat

// Header/Chat sperator line
.content__1a4fe::before { display: none }

// -> Inline Mentions
.mention.wrapper__2d9b1 {
  color: var(--Blurple) !important;
  background-color: transparent !important;
  text-decoration: none !important;
  white-space: nowrap ;

  &:hover {
    background-color: var(--Blurple-light) !important;
    text-decoration: underline ;
  }
  
  .channelIcon-3I2O7O {
    height: 100% ;
    box-sizing: border-box ;
    padding: .15em 0 ;
  }
}
// <- Inline Mentions

// -> Chat container
.chatContent__5dca8 {
  z-index: 101 ; // for "Mark As Read" 
  width: -webkit-fill-available ; // for search results 

  // Move up scroller container when user typing indicator
  &:has(.typing__6fd1d circle) .messagesWrapper_ea2b0b {
    margin-bottom: 14px ;
  }

  // Move up scroller when "Jump To Present" bar
  .messagesWrapper_ea2b0b:has(.jumpToPresentBar__0ff7f) .scroller__1f96e {
    margin-bottom: 28px ;
  }
  
  // "#" Icon at the channels very top
  .container_b03b4b {
     .emptyChannelIcon__1a1ba, .iconWrapper__85630 { display: none }
  }
  
  // "Mark As Read", "Jump To Present", "View Summaries", "New Summaries"
  .barBase__4e0ba {
    right: 5px ;
    left: 5px ;
    height: 28px ;
    padding: 0 ;
    background: var(--background-secondary-alt);
    opacity: 1 ;
    border-radius: 5px ;
    cursor: auto ;
    
    // @include shadow_effect("box_2");
    
    .barButtonBase__8fa46 {
      color: var(--interactive-hover);

      &:hover {
        color: var(--interactive-active);
      }

      &.barButtonMain__0f5c6 {
        flex: 0 1 auto ;
        margin-right: auto ;
      }
    }
    
    // "Mark As Read"
    &.newMessagesBar__8b6d7 {
      top: -4px ;

      @include shadow_effect("box_2");
    }

    // "Jump To Present"
    &.jumpToPresentBar__0ff7f {
      bottom: 1px ;
    }

    // "New Summaries"
    // &.newTopicsBarContainer__59609 {
    // &.topicsPillContainer__5c589 {

    //   .newTopicsBarTopicSection_c231a2, .barButtonBase__8fa46 {
    //     cursor: pointer ;
    //   }

    //   .newTopicsBarText_e9b8fc, .newTopicsBarIcon_f89723 {
    //     color: var(--interactive-hover);

    //     &:hover {
    //       color: var(--interactive-active);
    //     }
    //   }
    // }

    // Summaries caret btns
    .topicsPillCaret__2c8a1 {
      background: none ;
    }

    // Summaries dropdown popout menu
    .topicsDropdown_ed7440 {

      .topicsDropdownHeading_db330d {
        background: var(--background-secondary-alt);
      }

      .topicsScroller_e438ad {
        background: var(--background-tertiary) !important;
      }
    }
  }

  // "This channel is not on your channel list" bar
  .chatHeaderBar__28ee6 {
    padding: 0 8px ;
    margin: 0 4px ;
    height: 28px ;
    background: var(--background-secondary-alt);
    border-radius: 5px ;

    @include shadow_effect("box_2");

    .chatHeaderBarText_ac67c3 {
      color: var(--header-secondary) !important;
      font-weight: 600 ;
    }

    .button_afdfd9 {
      @include Btn();
    }
  }

  // Messages scroller (no fade out with forum bar)
  .scroller__1f96e:not(:has(.container__8ee50)) {
    @include scrollerFadeOut();
  }
  
  // Messages seperator
  .divider__8cf56 {
    align-items: unset ;
    border: none ;
    margin: 20px 0 !important;
    
    // date 
    .content_d67847 { 
      height: fit-content ;
      transform: translateY(-50%);
      background: none ;
    }
    
    // seperator lines
    &::before, &::after {
      content: "" ;
      height: 1px ;
      width: 100% ;
      background: var(--background-modifier-accent);
    }
    
    // new messages seperator
    &.isUnread__6f880 {
      &::before, &::after {
        background: var(--red);
        opacity: .7 ;
      }
      
      .unreadPill__715fc {
        top: 0 ;
        padding: 0 4px ;
        border-radius: 0 0 4px 4px ;

        path { display: none }
      }
    }
  }
   
  // preload dummys
  .wrapper__3d460 {
    background: none !important ;
    
    // messages
    > .wrapper__5c5cd { 
      background: none !important ;
    }
  }

  // server guide box on top of form (next steps/ "come say hi")
  .container__0ec1a {
    .banner_f13f1e {
      background: var(--background-modifier-selected);
    }

    .iconCircle_de71da {
      background: none ;
    }
  }
}
// <- Chat container

// -> Text input
.form__13a2c {
  margin: 0 ;
  padding: 0 ;
  border-top: 1px solid var(--background-modifier-accent);

  &::before { display: none }

  // Text input container
  .channelTextArea__56a36 {
    background: none ;
    margin: 0 ;
    padding: 0 ;
    
    // container 2
    .scrollableContainer__33e06 { background: none }

    // Text input
    .textArea__74543 { 
      margin-left: 10px ;
      width: -webkit-fill-available ;
    }

    // Input on denied writing permission
    &.channelTextAreaDisabled_c43b1c .innerDisabled__37f59::after {
      content: " " ;
      background: url("https://i.imgur.com/5wEolmc.png"); // https://i.imgur.com/za6Yq9g.png
      position: absolute;
      right: 0px ;
      bottom: 0px ;
      height: 36px ;
      width: 36px ;
      background-size: cover ;
      background-repeat: no-repeat ;
    }
    
    // Reply popout
    .attachedBars_da3c74 {
      background: none ;
      border-bottom: 1px solid var(--background-modifier-accent);
      
      .replyBar_b64d74 {
        background: none ;
        margin-right: 10px ;
      }
    }
  }
  
  // Inner container
  .inner__9fd0b {
    overflow: hidden ; // for btns
  }

  // "Attach file" Button 
  .attachWrapper__6354f {
    width: 40px ;

    // Seperator line between button and text input
    &::after {
      content: "" ;
      position: absolute ; 
      top: 5px ;
      bottom: 5px ;
      right: 0px ;
      width: 1px ;
      background-color: var(--background-modifier-accent);
    }
  }

  // Typing indicator
  .typing__6fd1d {
    background: transparent ;
    position: absolute ;
    top: -14px ;
    left: -10px ;
    height: 15px ;
    padding: 0 5px ;
    overflow: visible ;
    pointer-events: none ;
    line-height: 15px ;
  }

  // Slowmode icon
  .cooldownWrapper_de448f {
    position: absolute ;
    right: -20px ;
    bottom: -14px ;
    height: 16px ;
    width: 16px ;
    color: transparent !important;
    pointer-events: auto ;

    .slowModeIcon__987e1 {
      position: absolute ;
      margin: 0 ;

      path { 
        fill: var(--interactive-normal);
      }
    }
  }
  
  // Buttons conatiner
  .buttons_ce5b56 { 
    
    // btn content
    .button__55e53 {
      
      svg {
        opacity: .6 ;
        filter: brightness(1.5);
      }
      
      &:hover svg { 
        opacity: .8 ;
      }
    }

    // Nitro btn
    > [aria-label][type] {
      width: calc(40px * var(--show-nitro-btn));
      margin-top: calc(-100px * (1 - var(--show-nitro-btn)));

      display: var(--chatBtn_nitro);

      // Gifs picker
      + .buttonContainer__8b164 {
        width: calc(40px * var(--show-gif-btn));
        margin-top: calc(-100px * (1 - var(--show-gif-btn)));

        display: var(--chatBtn_gif);

        // Stickers picker
        + .buttonContainer__8b164 {
          width: calc(36px * var(--show-sticker-btn));
          margin-top: calc(-100px * (1 - var(--show-sticker-btn)));

          display: var(--chatBtn_sticker);

          .stickerIcon_ff97e4 { height: 24px !important }

          // Emoji picker
          + .buttonContainer__8b164 {
            width: calc(38px * var(--show-emoji-btn));
            margin-top: calc(-100px * (1 - var(--show-emoji-btn)));

            display: var(--chatBtn_emoji);
          }
        }
      }
    }
    
    // Send btn
    .separator__8424b .buttonChild__7b90d {
      color: var(--interactive-normal);
      transition: none ;
      
      &.activeButtonChild__6e162 {
        color: var(--interactive-hover);
        
        &:hover {
          color: var(--interactive-active);
        }
      }
    }
  }

  // Emoji button
  .emojiButton__30ec7 {
    opacity: .6 ;

    &.emojiButtonHovered__4c6c4 { 
      opacity: 1 ;
    }
  }

  // Chat input replacmnet box (follow channel, complete server setup,..)
  .wrapper_fbbb73 {
    background: none ;
    margin: 0 ;

    .image__04423, 
    .animation__19784 // ?
    {
      display: none ;
    }

    .title__77790 {
      color: var(--header-secondary);
    }

    .button__2b3a3 {
      @include Btn("background");
    }
  }
  
  // Tips info for text input ??
  .applicationCommandEducation-1stoia {
    bottom: unset ;
    top: -20px ;
    left: 5px ;
    
    &::-webkit-scrollbar { display: none }
    
    // Arrow icon
    .applicationCommandEducationArrow-2xKDmq { display: none }
    
    // Text container
    .applicationCommandEducationPrompt-23S3d- {
      display: flex ;
      flex-direction: row-reverse ;
      overflow: visible ;
    }
    
    // Dismiss btn
    .anchor-1MIwyf {
      margin-right: 10px ;
    }
  }
  
  // file/upload attachment
  .channelAttachmentArea__740bf {
    
    &:before {
      content: "";
      position: absolute ;
      top: 0 ;
      left: 0 ;
      right: 0 ;
      height: 100% ;
      background: var(--background-modifier-hover);
      z-index: -1 ;
    }
    
    // Attachment item
    .upload_c98ecb {
      background: none ;
      
      // Btns container
      .actionBarContainer__7301a {
        position: static ;
        
        &:hover:after {
          content: "";
          position: absolute ;
          top: 0 ;
          left: 0 ;
          right: 0 ;
          bottom: 0 ;
          background: var(--background-modifier-hover);
          z-index: -1 ;
        }
      }
      
      // Btns container inner
      .actionBar__3cdab {
        top: 0 ;
        right: 0 ;
        transform: none ;
      }
      
      // Buttons
      .wrapper_c727b6 {
        background: none ;
        box-shadow: none ;
      }
    }
  }
}
// <- Text input

// -> Messages (cozy only for now)

$BG_Embed: var(--background-modifier-selected); // Code blocks, ..
$BG_Embed-alt: var(--background-secondary-alt); // Inline embeds (Text Spoiler, ..)

.chatContent__5dca8 .message__80c10.cozy_f5c119 {
  background: none ;
  padding: 2px 32px 0px 4.125rem !important ;
  
  &:hover { 
    background: none ;
  }
  
  // Highlight border-left (Mention, Clyde, ..)
  &:before { display: none }
  
  // Preview of replied msg
  .repliedMessage_e2bf4a { 
    height: 20px ;
  }
  
  // Message container
  .contents_f41bb2 { 
    padding: 0 0 2px 6px ;
    
    // Profile image
    .avatar__08316 { 
      width: 2.5rem ;
      height: 2.5rem ;
      left: 0.8125rem ;
      margin-top: .125rem ;
    }
    
    // Msg Header (Name, Date, ..)
    .header__39b23 { 
      padding: 2px 0 ;
      margin-left: 0 ;
    }
  }
  
  // File
  .attachment_f3cf2c {
    background: $BG_Embed ;
    border: none ;
  }
  
  // Code Syntax
  code {
    
    // Comments
    .hljs-comment {
      color: var(--interactive-normal);
    }
  }
  
  // Discord embeds (Server invite, Server Event, ...)
  .wrapper_efe67f {
    background: $BG_Embed ;
    
    .button__8ec71, .button__7411d {

      @include Btn(var(--background-modifier-accent), white);
    }
  }
  
  // Code block
  code:not(.codeView__8b1ff, .inline) {
    background: $BG_Embed ;
    border: none ;
  }

  // Build override
  .wrapper__35f8f {
    background: $BG_Embed ;
  }

  // Audio file 
  .wrapperAudio__555ce {
    background: $BG_Embed ;
    border: none ;

    .audioControls__9fbe9 {
      background: $BG_Embed-alt ;
    }
  }

  // Gift code
  .tile_ebc93b {
    background: $BG_Embed ;

    .button_afdfd9 {
      @include Btn(var(--background-modifier-accent), white);
    }
  }
  
  // File embed
  .embedWrapper_c143d9 {
    
    // File content, embed options
    .textContainer__709ff, .footer__06f4b {
      background: $BG_Embed ;
      border: none ;
    }

    .textContainer__709ff code {
      background: none ;
    }

    .footer__06f4b {
      border-top: 1px solid $BG_Embed ;
    }
    
    // File name
    .attachmentName_b33bf1 {
      color: var(--header-secondary);
    }
    
    // File size
    .formattedSize__07da1 {
      color: var(--interactive-normal);
    }
    
    // Chnage code language btn
    .codeIcon__14a76 {
      color: var(--interactive-normal);
      cursor: pointer;
      
      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
  
  // Full embed
  .embedFull__8dc21 {
    background: $BG_Embed ;
  }
  
  // Inline Code, Text Spoilers
  code.inline, .spoilerText-27bIiA {
    background: $BG_Embed-alt ;
  }

  // Image
  .mediaAttachmentsContainer_edba75, .mediaAttachmentsContainer_edba75 * {
    border-radius: 4px ;
  }

  // Image Spoiler
  .spoilerContainer-3wsC0k {
    box-shadow: none ;
    
    &.hidden-3B-Rum {
      background: $BG_Embed ;
      border-radius: 4px ;
    }
    
    .hiddenSpoilers-19m4Pg {
      visibility: hidden ;
    }
  }

  // Edit message
  .channelTextArea__56a36 {

    .scrollableContainer__33e06 {
      background: $BG_Embed ;
    }
  }
  
  // Mention
  &.mentioned__58017 .contents_f41bb2 {
    border-left: solid 2px var(--border-mentioned);
    background: var(--background-mentioned);
  }
  
  // Clyde (client-side info/error messages)
  &.ephemeral_c26b64 .contents_f41bb2 {
    border-left: solid 2px var(--Blurple);
    background: var(--Blurple-light);
  }
  
  // Selected for reply
  &.replying_d7b6ad .contents_f41bb2 {
    border-left: solid 2px var(--header-secondary);
    background: var(--background-modifier-hover);
  }
  
  // Reply | &.hasReply_febd50 { }
  // System Message (msg pinned, user joined server, ..) | 
  &.isSystemMessage__2ef37 {
    
    // "Wave to say hi!" btn
    .welcomeCTA__927ef .button_afdfd9 {
      @include Btn("background");
    }
  }
  
  // Thread
  &.hasThread__58ee2 {
    
    .container__767d1 {
      background: none ;
    }
  }
  
  
  // -> Message Buttons 
  // Main container / Msg highlight hover effect
  .buttonContainer_dd4b62 {
    position: static ;
    
    &:hover:after {
      content: "";
      position: absolute ;
      top: 2px ;
      left: 5px ;
      bottom: 0px ;
      right: 2px ;
      pointer-events: none ;
      background: rgba(255, 255, 255, 0.05); // black or white ? idk
    }
  }
  
  &.mentioned__58017, &.ephemeral_c26b64 { 
    .buttonContainer_dd4b62:hover:after {
      right: 32px ; // why did i do this ?
    }
  }
  // <- Message Buttons 
  
  // Btn container
  .buttons__3766a { 
    top: 3px ;
    padding: 0 1px 0 0 ;
    
    // Btn container grid
    .wrapper_c727b6 {
      height: 24px ;
      background: none ;
      box-shadow: none ;

      // Button
      .button_d553e5 {
        padding: 0 4px ;
        background: none ;
      }
    }
  }
  
  // Btn container on reply Msg
  &.hasReply_febd50 .buttons__3766a { 
    top: 27px ;
  }
  
  // Message Buttons - Concatenating Msg / System Message
  &:not(.groupStart__56db5), &.isSystemMessage__2ef37 {
    
    // Buttons container
    .wrapper_c727b6 {
      height: 32px ;
      
      // Button
      .button_d553e5 {
        display: none ;
        padding: 4px ;

        &:last-child {
          display: flex ;
        }
      }
      
      &:hover {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        
        .button_d553e5 {
          display: flex ;
          background-color: var(--background-tertiary);
        }
      }
    }
  }
}

// Reactions
.message__80c10 .reaction_fef95b {
  // background-color: var(--background-modifier-accent);
  background-color: var(--background-modifier-hover);
  border: none;
  border-radius:4px;

  &:hover { 
    // background-color: var(--background-accent);
    background-color: var(--background-modifier-selected);
  }

  // Active reaction 
  &.reactionMe__98f57 {
    background-color: var(--Blurple-light);

    &:hover { 
      background-color: var(--Blurple-light-hover);
    }

    // number 
    .reactionCount_b49901 { 
      color: var(--Blurple);
      font-size: 0.875rem ;
    }
  }
}
// <- Messages (cozy only for now)

// -> Forum channel
.container_b181b6 {

  // -> Search/Create Posts
  .header_c01fde {
    background: var(--background-modifier-accent);

    &.headerWithMatchingPosts_da85d4 {
      background: var(--background-modifier-selected);
      border-radius: 0 ;
    }

    // Create new post
    .submitButton__6a7c5 {
      @include Btn(var(--background-modifier-accent), white);
    }
  }

  .matchingPostsRow__510be {
    background: var(--background-modifier-selected);
  }
  // <- Search/Create Posts

  // -> Post Guidelines
  .container__1b27a {
    background: var(--background-modifier-hover);

    .descriptionContainer__3814d {
      background: none ;
    }
  }
  // <- Post Guidelines

  // -> Tags filter
  .tagsContainer_e0ece5 {

    // Button, Tags
    .button_afdfd9, .tag__40098 {
      background: var(--background-modifier-accent);

      &:hover {
        background: var(--background-modifier-selected);

        // Sort, Tags, All tags btn text
        .sortDropdownText_e8ca8d, .defaultColor__77578, .contents_fb6220 {
          color: var(--interactive-active) !important ;
        }
      }
    }

    // Sort, Tags, All tags btn text
    .sortDropdownText_e8ca8d, .defaultColor__77578, .contents_fb6220 {
      color: var(--text-normal) !important ;
    }
  }
  // <- Tags filter

  // -> Post item card (list, grid)
  .container__99b06, .container_c24cbd {
    border: none ;
    transform: none ;
    box-shadow: none ;
    transition: none ;
    background: var(--background-modifier-hover);

    &:hover {
      background: var(--background-modifier-selected);
    }

    // Tags
    .pill_f055c3 {
      background: var(--background-modifier-accent);
    }

    // Badge that says "new" (grid, list)
    .newBadge_a2adb2, .newBadge__359f1 {
      background-color: var(--Blurple-light) !important ;
      color: var(--Blurple) !important ;
    }

    // Footer (list, grid) (reactions, timestamp, msg count, ..)
    .footer__7cd26, .footer_f4547d {

      // Reactions
      .reaction_b90ab0 {
        border: none ;
        background-color: var(--background-modifier-accent);
        border-radius:4px ;

        &:hover { 
          background-color: var(--background-accent);
        }

        // Active reaction 
        &.reactionMe_bf6909 {
          background-color: var(--Blurple-light);
      
          &:hover { 
            background-color: var(--Blurple-light-hover);
          }
      
          // number 
          .reactionCount__60448 { 
            color: var(--Blurple);
          }
        }
      }
    }
  }

  // Grid 
  .container_c24cbd {

    // weird gradient
    .textContentFooter__5a630 {
      background: none ;
    }

    .tagPill_d9a5cc {
      background: var(--background-tertiary);
    }

    .contentPreview_b317ee {
      background: none ;
      border: none ;
      margin: 0 ;
    }
  }
  // <- Post item card
}

// -> Forum Chat (Overlay/Full view)
// Reactions, Follow, copy link btns
.chatContent__5dca8 {

  .container__8ee50 {
    margin: 12px 4px 8px 8px ;
    padding: 0 10px ;
    background: var(--background-modifier-accent);
    border: none ;
    border-radius: 5px ;

    @include shadow_effect("box_3");

    .reaction_fef95b, .buttonInner__2771e, .addReactButton__59750 {
      background: none ;
      border: none ;
    }
  }
}

// Post to messages sperator
.divider_ffec75 { display: none }

// <- Forum Chat
// <- Forum channel

// -> Spilt/Overlay view ( Threads / Voice chat / Forum chat )
.chatLayerWrapper__29dd6 {
  width: 100% ;

  // shadow effect on left side of chat
  .chatTarget__0ea5e { display: none }
}

// Main wrapper
.container_def45c {
  background: none ;
  border-radius: 0 ;

  // reverse from regular chat (Line:28)
  .chatContent__5dca8 {
    z-index: auto ;
  }

  // Forum, Thread Icon
  .iconWrapper__3e4a9, .iconWrapper__85630 {
    display: none ;
  }

  // Forum tags
  .tags__3a78e {
    .pill_f055c3 {
      background: var(--background-modifier-accent);
    }
  }

  // weid engagement thing
  .box_dd6d91 {
    display: none ;
  }
  
  // Header content seperator line
  .chat__1d65d:before, .chat_f9a759:before { 
    box-shadow: none ;
    background: var(--background-modifier-accent);
  }
  
  // ?
  .threadCreatorName_a692b0:hover {
    text-decoration: none ;
  }

  // Messages scroller
  .scroller__1f96e { 
    @include scrollerFadeOut();
  }

  // Text input - slowmode icon
  .cooldownWrapper_de448f {
    right: -16px ;
  }
  
  // Create thread
  .container__116d0 {
    
    // Text inputs
    .channelTextArea_c27a51, .input_d266e7 {
      border-radius: 0 ;
      background: none ;
      border: 1px solid var(--background-modifier-accent) !important ;
    }
    
    .channelTextAreaInner_c7593c {
      background: none ;
      border: none ;
    }
    
    // Send btn
    .separator__8424b .buttonChild__7b90d {
      color: var(--interactive-normal);
      transition: none ;
      
      &.activeButtonChild__6e162 {
        color: var(--interactive-hover);
        
        &:hover {
          color: var(--interactive-active);
        }
      }
    }
  }
  
  // Chat in split view with overlapping (Threads + Voice text)
  &.floating_f021e2 {
    margin-top: 1px ;
    z-index: 1002 ;
    border: none ;
    min-width: 400px ;
    // max-width: 100% ;
    max-width: calc(100vw - 240px); // not ideal
    resize: horizontal ;
    direction: rtl;

    @include shadow_effect("box_1");
  
    > * {
      direction: ltr;
    }
    
    // Background image
    &:before {
      content: "";
      position: absolute ;
      height: 100% ;
      width: 100% ;
      background: var(--background_app) rgba(0, 0, 0, .1);
      background-blend-mode: overlay ;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      
      --blur: blur(calc(var(--backgroundBlur_app, 0) / 100 * 1px));
      --brightness: brightness(calc((var(--backgroundBrightness_app, 80) / 100)));

      filter: var(--blur) var(--brightness);
    }
  }
}

// Threads "unarchive" bar
.chatHeaderBar_c1df53 {
  margin: 0 5px ;
  background: var(--background-secondary);
  border-radius: 5px ;
  padding: 6px 10px ;

  @include shadow_effect("box_2");

  .chatHeaderBarButton__161bb {
    background: none !important;
    color: var(--interactive-normal) !important;
    font-weight: 600 ;
    font-size: 15px ;

    &:hover {
      color: var(--interactive-hover) !important;
    }
  }
}

// Resizer for voice text and threads in side by side mode
.chatTarget__0ea5e.notFloating__80043 + .resizeHandle_f1a098 {
  position: relative ;
  width: 7px ;
  background: none ;

  &::after {
    content: "";
    display: block ;
    position: absolute ;
    top: 0 ;
    left: 3px ;
    width: 1px ;
    height: 100% ;
    background-color: var(--background-modifier-accent);
  }
}
// <- Threads / Voice chat / Forum chat (spilt view / overlay)

// -> Voicecall view
.callContainer_cbde45 {
  --aswc: var(--voiceControlOverlay);

  .root__3eef0 {
    margin: calc(var(--aswc) * 48px) 0 calc(var(--aswc) * 56px) 0 ;
    height: calc(100% - (var(--aswc) * (48px + 56px)));
  }

  // player popped out
  .root__25af7 {
    background: none ;
  }
  
  // -> Buttons
  // always show controls/btns 
  .idle_d696d0 {
    .controlSection_daa0d5, .chatButton_c6f407 {
      opacity: var(--aswc) !important ;
    }
  }
  
  // Buttons container
  .videoControls__40f61 { 
    inset: calc(var(--aswc) * -48px) 0 calc(var(--aswc) * -56px) 0 ;
    padding: 0 16px 0 16px ;
    
    // Top and bottom section
    .controlSection_daa0d5 {
      transform: translateZ(0);
      
      .streamQualityIndicator__23259 { display: none }
    }
  }
  
  // Open voice chat btn 
  .chatButton_c6f407 {
    transform: translateZ(0) !important ;
    top: calc(12px + var(--aswc) * -48px);
    
    .controlIcon__25700 {
      color: var(--interactive-normal);
      
      &:hover {
        color: var(--interactive-hover);
      }
    }
  }

  // Control buttons (top & bottom)
  .controlSection_daa0d5 {
    // Icons
    .controlIcon__25700 { 
      color: var(--interactive-normal);
    }
    
    // Icons hover
    .button_afdfd9:hover .controlIcon__25700 { 
      color: var(--interactive-hover);
    }

    // Disconnect
    .button_afdfd9.red_a51ba8 .controlIcon__25700 {
      color: var(--red);
    }
  }
  
  // Bottom controls
  .bottomControls__8bd89 {
    
    // Group container
    .flex_f5fbb7 {
      margin: 0 ;
    }
    
    // Centerd row btns
    .centerButton__3205b {
      padding: 8px 5px ;
      margin: 8px 5px ;
      background: none ;
      
      &.controlButton_ab2899 { 
        margin: 8px 16px ;
      }
    }
    
    // Btn dropdownmenu
    .contextMenuNub__7c02f {
      color: white ;
      background-color: var(--background-secondary);
    }


    // btn for context menu
    .contextMenuNub__7c02f { 
      bottom: 5px ;
    }
  }
  
  // Gradient effect on hover
  .gradientContainer__9a5a6 { display: none }
  // <- Buttons

  @mixin TileOverlay() {
    // Non video tile card
    .overlayContainer__83159:not(.videoWrapper_b42a4f ~ .overlayContainer__83159) {

      .overlayTitle_a9f7c6, .status__42e87 {
        opacity: 1 ;
        background: none ;
      }
    }

    // video
    .videoWrapper_b42a4f ~ .overlayContainer__83159 {
      opacity: 0 ;

      &:hover {
        opacity: 1 ;
      }
    }
  }

  // -> Itemcard / Tile
  .tile_f5f57f {

    @include shadow_effect("box_2");

    // stream quality / live indicator
    .indicators_a77a0b { display: none }

    // Avatar
    .avatarWrapper__76c62 {
      
      foreignObject {
        mask: none ;
        overflow: visible ;
      }
      
      svg {
        overflow: visible ;
      }
      
      // Profile image
      .avatar-b5OQ1N {
        border-radius: 7.5% ;
        
        &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
      }
    }
  }
  // <- Itemcard / Tile

  // "invite people" empty card
  .tile_a411a4 {
    background: none ;
  }

  // -> Focus view
  .root_a48873 {
    padding: 0 8px ;
    box-sizing: border-box ;

    // Main frame top
    .videoFrame_b3cb57 {

      // hide members btn
      .participantsButton__56586 {
        background: var(--background-accent);
      }
    }

    // Secondary Tiles
    .participantsWrapperAnimated_d4f0cf {
      overflow: visible ;
    }
  }
  // <- Focus view

  // Grid view
  .videoGridWrapper__65071 {

    .videoGrid__8b6fc::-webkit-scrollbar { display: none }

    // Cards main container
    .tile_e7f911 {
      padding: 4px ;
      box-sizing: border-box ;
    }
  }
}
// <- Voicecall view

// -> Stage view
.callContainer_e8faeb {
  
  // black gradiant effect
  .gradientContainer__9a5a6 {
    background: none ;
  }
  
  .auto__7597f {
    @include scrollbar();
  }
  
  // Speaker
  .rowContainer__3f2d1 {
    
    .background__3b30f {
      background: none !important ;
    }
  }
  
  // Audience
  .participants__5d231 {
    background: none ;
    
    // User
    .tileContainer__88d69 {
      background: none ;
      
      &:hover {
        background: var(--background-modifier-hover);
      }
      
      .avatar__50f54 {
        background: none ;
      }
    }
  }
}

// Stage view talk requests sidebar
.container__7b94f {
  background: none ;
  
  .headerContainer_bff52d {
    box-shadow: none ;
  }
}
// <- Stage view
