// - T1.home v0.1.12
// DMs Sidebar / Friendslist / Live Stages / Nitro store

// -- Live Stages (used to be a thing)
//#stage-discovery-tab {
//  
//  // no Stages / end of Stages container
//  .container-3u4ndt, .container-1WCE6w {
//    
//    // Wumpus
//    > img {
//      filter: grayscale(100%);
//      opacity: .8 ;
//    }
//    
//    // Text h1
//    > .header-3YnDzJ, .title-2TmeU7 {
//      color: var(--text-normal) ;
//      margin: 20px 0 5px 0 ;
//      font-weight: 600 ;
//    }
//    
//    // Text h2
//    > .subheader-2RpfyZ, .colorHeaderSecondary-3Sp3Ft { 
//      color: var(--text-muted) ;
//      font-weight: 400 ;
//    }
//    
//    // Refresh button
//    > .button-38aScr { @include button_normal() }
//  }
//  
//  // Friends activity list
//  ~ .nowPlayingSidebar-2OFn0o {
//    
//    .scroller-2ZPeAD { border: none }
//    
//    .itemCard-v9viV7 {
//      background: none ;
//      border: none ;
//      padding: 4px 16px 4px 4px ;
//      margin-top: 20px ; 
//      
//      &:hover {
//        background: var(--background-modifier-hover) ;
//      }
//      
//      // Activity (like games,..)
//      .headerFull-1dyyvV {
//        grid-template-columns: 36px minmax(20px,auto) 24px;
//        
//        .headerAvatar-2MDZJn {
//          height: 36px !important ;
//        }
//      }
//      
//      // Additional info on activity (like gamemode,..)
//      .body-1ld4H7 {
//        background: none ;
//        margin: 18px 0 0 12px ;
//        
//        // Sections within body
//        > .section-2gLsgF {
//          background: none ;
//          border-radius: 0 ;
//          border-left: 1px solid var(--text-normal) ;
//          padding: 6px 12px ;
//        }
//        
//        // Section seperator line
//        > .separator-XqIyoz { display: none }
//        
//        // "live" icon
//        .live-vBWnV6 { 
//          background: none !important ;
//          color: var(--red) ;
//        }
//      }
//    }
//  }
//}


// -- Friendslist
.tabBody-3YRQ8W {
  
  // Seperator line top
  &::before { display: none }
  
  // Main container / Scroller
  .peopleList-3c4jOR {
    margin: 0 0 0 20px ;
    padding: 0 ;
    -webkit-mask-image: linear-gradient(to top, transparent, #000 1%, #000 99%, transparent);
    
    // "Friends online" Count
    .title-30qZAO { display: none }
    
    // Sub container (Grid)
    > div:first-child {
      margin: 4% 5px ;
      display: grid ;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: space-evenly ;
      row-gap: 35px ;
      grid-column-gap: 10px ;
    }
    
    // idk, this weird tab selection indicator ring thing
    > .ring-13rgEW { display: none }
  }
  
  // Friend cards
  .peopleListItem-2nzedh {
    height: 62px !important ;
    width: 300px ;
    margin: 0 ; 
    padding: 0 ;
    opacity: 1 !important ;
    border: none ;
    background: var(--background-floating) ;
    border-radius: 10px ;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px ;
    transition: .1s ;
    
    @include shadow_effect("box_2");
    
    &:hover {
      border-radius: 5px ;
      border-top-left-radius: 2px ;
      border-top-right-radius: 2px ;
      
      @include shadow_effect("box_1");
      
      // # Identifier
      .discriminator-22Okc1 {
        visibility: visible ;
        width: auto ;
      }
    }
    
    // Container (Avatar, Name, Activity)
    .userInfo-2zN2z8 {
      margin: 0 12.5px ;
      width: -webkit-fill-available ;
      overflow: visible ;
    }
    
    // Container (Name, Activity)
    .text-37NqbO {
      width: 100% ;
    }
    
    // Username
    .username-31C1TQ {
      margin-right: 5px ;
    }
    
    // # Identifier
    .discriminator-22Okc1 {
      width: 0 ;
    }
    
    // Activity (hiding the "playing" behind background) 
    .activity-2myFBH .text-3MU_QQ {
      width: 100% ;
      position: relative ;

      strong {
        position: absolute ;
        left: 0 ;
        width: 100% ;
        background: var(--background-floating) ;
      }
    }
    
    // Idk
    .textRuler-wO-qHe { display: none }
    
    // Activity icon
    .icon-15YQ1T { display: none }
    
    // Avatar pfp
    .avatar-3W3CeO {
      margin-top: 2.5px ;
      
      // SVG Mask container
      foreignObject, svg {
        mask: none ;
        overflow: visible ;
      }
      
      // Image
      .avatar-VxgULZ {
        border-radius: 5px ;
        
        @include shadow_effect("box_2");
      }
      
      // Status icon
      rect {
        x: -12.5px ;
        y: -15px ;
        mask: none ;
        width: 300px ;
        height: 2px ;
        opacity: .8 ;
      }
    }
    
    // Profile action btns
    .actions-1SQwjn {
      display: none ;
    }
    
    // User - Blocked, Pending
    .listItemContents-BUaJR_, .listItemContents-2w6nwE {
      width: -webkit-fill-available ;
      
      // Container (Avatar, Name, Activity)
      .userInfo-2zN2z8 {
        overflow: hidden ;
        flex: 1 1 auto ;
      }
      
      // Unblock btn
      .actionButton-uPB8Fs {
        display: none ;
        margin: 0 10px 0 0 ;
        background: none ;
      }
      
      // "Blocked" text
      .subtext-24R4-w {
        overflow: hidden ;
        white-space: nowrap ;
        text-overflow: ellipsis ;
      }
      
      &:hover .actionButton-uPB8Fs {
        display: flex ;
      }
    }
  }
  
  // Friends activity sidebar (can be viewed in Stage tab)
  > .nowPlayingColumn-2sl4cE { display: none }
}

// -- Add Friend
.tabBody-3YRQ8W {
  
  .addFriendInputWrapper-3PjsbB {
    margin-top: 32px ;
    border: none ;
    background: none ;
    border-radius: 0 ;
    
    .addFriendInput-4bcerK {
      padding: 8px 10px ;
      border-bottom: 1px solid transparent ;
      border-radius: 5px ;
      background: var(--background-modifier-selected) ;
    }
    
    .addFriendHint-3Y70FX {
      padding: 8px 10px ;
    }
    
    
    &:focus-within .addFriendInput-4bcerK {
      border-color: var(--interactive-normal) ;
      background: none ;
      border-radius: 0px ;
      box-shadow: none ;
    }
    
    .button-38aScr {
      @include Btn("background");
    }
  }
}

// -- Nitro store
.applicationStore-1pNvnv {
  
  .headerBar-1YYOfi { display: none }
  
  .scroller-9moviB { @include scrollbar() }
}


// -- DMs Sidebar
.privateChannels-1nO12o {
  top: 48px ;
  margin-bottom: 48px ;
  
  // Scroller container
  .scroller-1JbKMe { 
    padding: 0 10px 0 0 !important ;
    
    &::-webkit-scrollbar { display: none }
  }
  
  // "Direct Messages" text
  .headerText-2F0828 { color: var(--channels-default) }
  
  // Create Group DM Button (not necessary, there is one at the top right)
  .privateChannelRecipientsInviteButtonIcon-3A3uTc { display: none }
    
  // Sidebar item container
  .channel-2QD9_O {
    height: 38px ;
    margin: 6px 0 ;
    padding: 0 ;
    
    // Home tabs (friends, nitro-store, libary)
    &:not([aria-label]) {
      height: calc(var(--show-home-tabs, 1) * 38px);
      margin: calc(var(--show-home-tabs, 1) * 6px) 0;
      overflow: hidden ;
    }

    // Second container
    .layout-2DM8Md {
      height: 38px ;
      margin-left: 10px ;
      border-radius: 0 ;
    }

    .closeButton-2GCmT5 { background-size: 22px 22px }

    &.selected-aXhQR6 > .layout-2DM8Md {
      border-left: 3px solid var(--interactive-hover) ;
      background: transparent ;
    }

    &:hover > .layout-2DM8Md { 
      border-left: 3px solid var(--interactive-hover);
      background: var(--background-modifier-hover) ;
    }
  }
}