// * T1.popouts v0.1.271
// Text chat / Server options / Context menus / Toolbar menus / User status / Tooltips

// Popouts container
.layerContainer-yqaFcK {
  overflow: hidden ;
}


// Autocomplete popout
.chatContent-a9vAAp .form-2fGMdU .autocomplete-1vrmpx {
  background-color: var(--background-tertiary) !important ;
      
  .selectable-3dP3y- {
    border-radius: 0 ;
    background: none ;

    &:hover {
      background: var(--background-modifier-selected) ;
      border-left: 3px solid var(--interactive-hover) ;

      .colorInteractiveNormal-PB7JN3 { color: var(--interactive-hover) }
    }
  }
}


// Gif, Sticker, Emoji, BD emotes Picker
.layerContainer-yqaFcK {
  
  // Main container
  .contentWrapper-SvZHNd { 
    background-color: var(--background-tertiary);
  }

  // Christmas shit
  .contentWrapperWithSnowsgivingNotice-1AvSpB {
    grid-template-rows: 24px auto;
    padding-top: 16px;

    .anchor-3Z-8Bb { display: none }
  }
  
  // Navbar
  .navButtonActive-1MkytQ { 
    background: none ;
  }
  
  // Popout content (Emoji, Sticker, GIFs)
  .wrapper-1rqM3x, .wrapper-2iFQJ9, .container-3ISnnM {
    
    input { 
      border-bottom: 1px solid var(--interactive-muted);
     }

    > div { 
      background-color: var(--background-tertiary);
     }

    .scroller-3gAZLs::-webkit-scrollbar { display: none } 

    // - Sidebar left (Sticker/Emoji)
    .wrapper-2Gsate {
      border-right: 1px solid var(--background-modifier-accent) ;

      // Category Icons
      .guildIcon-3h-1IH { 
        background: none ;
       }
    }

    // - Right side content (Sticker/Emoji)
    // Category header
    .wrapper-1-Fsb8 { 
      position: relative ;
      background: none ;
    }

    .inspector-S2gM3e { display: none }

    // emojis
    .emojiItem-14v6tW {

      // Icon for addding emojis to server
      &:not([data-name]) { display: none }
    }
  }
}

// BD Emotes menu popout
.bd-emote-menu {
  
  // Emotes category header
  .bd-emote-header { 
    position: relative ;
    background: none ;
  }
  
  // Emote
  .bd-emote-item { cursor: pointer }
}


// Context menus
.layer-v9HyYc .menu-3sdvDG {
  background: var(--background-tertiary) ;
  
  .scroller-3BxosC {
    padding: 6px !important;
    
    &::-webkit-scrollbar { display: none }
  }
  
  // Options
  .item-1tOPte {
    background: none ;
    
    // Critical option (like: bann, kick, ..)
    &.colorDanger-2qLCe1.focused-3afm-j { background: var(--red) }
    
    // Options with checkbox
    &[role="menuitemcheckbox"] {
      
      // Checkbox icon
      .checkbox-3s5GYZ { color: transparent }

      // Checkbox checked ("x" icon for "uncheck")
      &.focused-3afm-j[aria-checked="true"] path {
        color: var(--red) ;
        d: path("M 18.4 4 L 12 10.4 L 5.6 4 L 4 5.6 L 10.4 12 L 4 18.4 L 5.6 20 L 12 13.6 L 18.4 20 L 20 18.4 L 13.6 12 L 20 5.6 L 18.4 4 Z");
      }
    }
    
    // Sliderbar (like: User Volume, ..)
    .slider-1PF9SW {
      top: 0 ;

      > .bar-2Qqk5Z {
        background: var(--background-primary) ;
        top: 7px ;
        
        > .barFill-23-gu- { background: var(--interactive-normal) }
      }
      
      > .track-11EASc > .grabber-3mFHz2 { top: 0 }
      
      &:hover .barFill-23-gu- { background: var(--header-secondary) }
    }
  }
  
  // Secondary popout
  .submenu-2-ysNh {
    background: var(--background-tertiary) ;
    
    .scroller-3BxosC {
      padding: 6px ;

      &::-webkit-scrollbar { display: none }
    }
  }
}


// Searchbar options popout
.layer-v9HyYc > #search-results {
  background: var(--background-secondary-alt) ;
  
  @include shadow_effect("box_1");
  
  // Search options
  .option-96V44q {
    
    // weird gradiant to the right, idk
    &::after { display: none }
    
    // hover
    &.selected-rZcOL-  { background: var(--background-modifier-hover) }
    
    // unnecessary icon
    .plusIcon-v0BTrL { display: none }
  }
}

// Searchbar results popout
.searchResultsWrap-3-pOjs {
  background: var(--background-tertiary) ;
  width: -webkit-fill-available ;
  min-width: 350px ;
  max-width: 600px ;
  
  flex: 1 1 auto ;
  -webkit-box-flex: 1 ;
  
  // Header
  > .searchHeader-2XoQg7 {
    background: var(--background-secondary-alt) ;
    
    // n of search results
    .colorHeaderPrimary-26Jzh- {
      color: var(--text-normal) ;
    }
    
    // Options btn
    .tab-2j5AEF {
      background: none ;
      
      &:hover {
        color: var(--interactive-hover) ;
      }
    }
  }
  
  // Content scroller
  > .scroller-3GIiMh {
    padding: 8px 0 0 0 !important ;
    
    &::-webkit-scrollbar { display: none }
      
    // Header - channel name
    .channelName-1JRO3C {
      background: var(--background-secondary-alt) ;
      color: var(--interactive-normal) ;
      justify-content: center ;
      margin-bottom: 4px ;

      &:hover {
        text-decoration: none ;
        background: var(--background-secondary) ;
      }
    }
    
    // Message container
    .container-2j2llN:hover {
      background: var(--background-modifier-hover);
    }

    // Message content container
    .searchResult-9tQ1uo {
      background: none ;

      // Message
      .wrapper-2a6GCs.cozy-3raOZG {
        padding-left: 60px ;
      }
      
      // pfp
      .avatar-1BDn8e {
        left: 8px ;
      }
    }
  }
  
  // switch pages btns
  .container-NdaZbY {
    
    .pageButton-2ruNwd {
      color: var(--interactive-normal) ;
      
      &:hover {
        color: var(--interactive-hover) ;
      }
      
      &:disabled {
        color: var(--interactive-muted) ;
        pointer-events: none ;
      }
      
      &.activeButton-rvKcqq {
        background: none ;
        color: var(--interactive-active) ;
        cursor: default ;
      }
    }
  }
}


// Pins
.messagesPopoutWrap-1MQ1bW:not(.recentMentionsPopout-3rCiI6) {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary) ;
  
  @include shadow_effect("box_2");
  
  // Header
  .header-ykumBX {
    background: var(--background-secondary-alt) ;
    box-shadow: none ;
    
    // "Pinned Messages"
    .base-1x0h_U {
      color: var(--interactive-hover) ;
    }
  }
  
  // Messages container
  .messagesPopout-24nkyi {
    padding-left: 0 ;
    
    &::-webkit-scrollbar { display: none }
    
    // Messages Placeholder
    .emptyPlaceholder-1zh-Eu {
      margin: 8px 0 30px 0 ;
      
      // Text
      .body-bvcIjN{
        color: var(--text-muted) ;
      }
    }
    
    // Pinned message
    .messageGroupWrapper-o-Zw7G {
      border: none ;
      background: none ;
      
      // Inner container
      .messageGroupCozy-2iY6cT {
        margin: 0 ;
      }
      
      .jumpButton-3DTcS_ {
        background: none ;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500 ;
      }
    }
  }
  
  // Footer "Protip"
  .footer-1kmXd4 { display: none }
}


// Inbox
.recentMentionsPopout-3rCiI6 {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary) ;
  
  @include shadow_effect("box_2");
  
  .header-2-Imhb {
    background: var(--background-secondary-alt) ;
    
    .tab-ck0077, .button-1-5Aqk {
      background: none !important ;
    }
  }
  
  // Mentions
  &.messagesPopoutWrap-1MQ1bW {
    
    // Scroller
    .scrollerBase-289Jih {
      
      @include scrollbar();
      
      &::-webkit-scrollbar { 
        background: var(--background-secondary-alt) ;
      }
      
      // Inner container
      > div {
        padding: 3px 0 3px 0 ;
      }
      
      // Messages container
      .container-3iAQ-0 {
        padding: 0 ;
        margin-bottom: 24px ;
        
        // Channel name header
        .channelHeader-3Gd2xq {
          position: relative ;
          padding: 12px 12px 12px 8px ;
          background: var(--background-secondary-alt) ;
          
          // Channel name, Server name
          .channelName-_v0rI4, .subtext-qy79y1 {
            width: fit-content ;
          }
          
          // Close btn
          .closeButton-1152MI {
            background: none ;
          }
        }
        
        // Message
        .messageContainer-gbhlwo {
          background: none ;
        }
      }
      
      // Footer
      .scrollingFooterWrap-3FDlMn {
        display: none ;
      }
    }
  }
  
  // Unreads
  &.container-enaOkj {
    
    // Scroller
    .scrollerBase-289Jih {
      margin: 3px 0 0 0 ;
      padding: 0 !important ;

      &::-webkit-scrollbar { display: none }
    }
    
    // Channel container
    .channel-3pEHab {
      padding: 0 0 3px 0 ;
    }
    
    // Channel header container
    .channelHeader-3Gd2xq {
      padding: 12px 12px 12px 8px ;
      background: var(--background-secondary-alt) ;
      
      // Channel name, Server name
      .channelName-_v0rI4, .guildName-GKOCI8 {
        width: fit-content ;
      }
      
      @include Mentions_icon(".badge-2l0o8g");
      
      // Buttons
      .button-1-5Aqk {
        background: none ;
      }
      
      // Collapse btn
      .collapseButton-2ZsEjz {
        position: static ;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        height: 32px ;
        width: 32px ;
        margin-left: 12px ;
        padding: 0 ;
        color: var(--interactive-normal) ;
        border-radius: 50% ;
        
        &:hover {
          color: var(--interactive-hover) ;
        }
      }
    }
    
    // Messages container
    .messages-3G3erD {
      background: none ;
      padding: 16px 6px 16px 0 ;
      
      // Msg seperator with date
      > .divider-JfaTT5 {
        border: none ;

        // Date 
        .content-1o0f9g { background: none }

        // Seperator lines
        &::before, &::after {
          content: "" ;
          height: 1px ;
          width: 100% ;
          background: var(--background-modifier-accent) ;
        }
      }
      
      // Messages item
      > .messageContainer-1ei2zM {
        
        // "jump" to msg btn
        > .jumpButton-2dvRSC {
          right: 16px ;
          
          > .text-3KVtey {
            color: var(--interactive-normal) ;

            &:hover {
              color: var(--interactive-hover) ;
            }
          }
        }
      }
    }
  }
}


// Threads popout
.browser-2NpbWS.container-7uh5fX {
  background: var(--background-tertiary) ;
  
  // Header
  .header-1VS4tm {
    background: var(--background-secondary-alt) ;
    
    // "#" Icon, "Threads" title, divider
    .threadIcon-3XJhLD, .title-wn-Ecb, .divider-mDc_D8 { display: none }
    
    // Active/Archived Buttons
    .tab-PQvTH4 {
      background: none !important ;
    }
    
    // Create new thread button
    .createButton-nlV8qH {
      @include Btn();
    }
  }
  
  // Thread item
  .container-2I9Hud {
    background: none ;
    border: none ;
    
    &:hover {
      background: var(--background-modifier-accent) ;
    }
    
    // Name/test container
    .left-3P8WCO {
      row-gap: 5px ;
    }
    
    // Name 
    .threadNameLine-3p4RWQ {
      align-self: center ;
    }
  }
  
  // Public/Private Buttons
  .tab-17bjMB {
    background: none !important ;
  }
  
  .container-1KFiob .button-38aScr {
    @include Btn("background");
  }
}


// Invite to Server / Add friends to Dm / New Group Dm
.focusLock-Ns3yie > .root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
  background: var(--background-tertiary);

  // - Header
  .header-1TKi98 {
    background: var(--background-tertiary);
    
    // Title
    h2 {
      color: var(--text-normal);
    }
    
    // Search container
    .container-2XeR5Z {
      border-radius: 0 ;
      padding-bottom: 3px ;
      border-bottom: 1px solid var(--interactive-muted) ;
      
      // Added friend tag
      .tag-2gHSR7 {
        margin-right: 5px ;
      }
      
      // Text input
      .input-1Rv96N {
        padding: 0 ;
        margin: 0 ;      
      }
    }
    
    // Invite to Server > Close btn
    .closeButton-31ta9E {
      top: 8px ;
      right: 8px ;
    }
    
    // Add friends to Dm > "Add" btn
    .addButton-tsPCpZ .button-38aScr {
      @include Btn("background");
    }
  }
  
  // - Content / Scroller
  // Add friends to Dm / New Group Dm
  .scroller-hUf6zQ {
    max-height: 40vh ;
    padding-right: 8px !important ;
    -webkit-mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 96%, transparent);
    
    &::-webkit-scrollbar { display: none }
    
    .friendWrapper-2SrUFF {

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover) ;
      }

      .friendSelected-1sa4bG {
        background: none ;
      }

      &:hover {
        background: var(--background-modifier-hover) ;
      }

      .checkboxWrapper-SkhIWG {
        cursor: pointer ;
      }
    }
  }
  
  // Invite to Server
  .scroller-2hZ97C {
    max-height: 40vh ;
    padding: 16px 8px 8px 8px !important;
    -webkit-mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 96%, transparent);

    &::-webkit-scrollbar { display: none }

    // User item
    .inviteRow-2L02ae {
      background: none ;
      padding: 7px 8px ; 
      margin-right: 0 ;

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover) ;
      }
    }

    // Invite btn
    .inviteRowButton-3opYo2 {
      padding: 2px 0 ;
      width: auto ;
      min-width: unset ;

      @include Btn();
    }
  }
  
  // Footer
  .footer-2gL1pp, .footer-1eyGBa {
    background: var(--background-tertiary);
    
    .content-3CCvMx:before { display: none }
    
    // Info txt
    .title-3sZWYQ { display: none }
    
    // Invite link text filed
    .input-cIJ7To {
      border: none ;
      background: var(--background-tertiary);
    }
    
    .button-38aScr.lookFilled-1Gx00P {
      @include Btn("background");
    }
    
    .colorStandard-2KCXvj.size12-3cLvbJ {
      text-align: center ;
    }
  }
}

// User status shorthand popout
#status-picker {
  background: var(--background-tertiary) ;
  
  // Separator line
  .separator-2I32lJ { display: none }
  
  .item-1tOPte {
    &#status-picker-online.focused-3afm-j { background: var(--status-online) }
      
    &#status-picker-idle.focused-3afm-j { background: var(--status-idle) }

    &#status-picker-dnd.focused-3afm-j { background: var(--status-DnD) }

    &#status-picker-invisible.focused-3afm-j { background: var(--status-invisible) }
    
    &#status-picker-custom-status.focused-3afm-j { background: var(--background-modifier-selected) }
  }
}
 

// Tooltips
.layerContainer-yqaFcK .tooltip-2QfLtc {
  background: var(--background-tertiary) ;
  font-size: 14px ;
  font-weight: 600 ;
  
  .tooltipPointer-3ZfirK {
    border-top-color: var(--background-tertiary) ;
  }
}


// Notifications popout on receiving voice call
.bg-h5JY_x ~ .wrapper-3lJCnD { z-index: 1000 }


// "try new feature" Notification popout
.layerContainer-yqaFcK .layer-v9HyYc[style*="left: -"][style*="top: 8px;"] {
  transform: translate( calc(50% + 25px), 25px);
  
  .subscribeTooltipWrapper-1JoUuw {
    background-color: var(--background-tertiary);
    
    &:after {
      visibility: hidden ;
    }
  }
  
  .button-38aScr {
    @include Btn("background");
  }
}

// Server boost screen
.root-3R2ngo .perksModal-12XaFK {
  background: var(--Main_Background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  filter: var(--BGM_Blur) var(--BGM_Brightness) ;
  
  @include scrollbar();
}

// "All Active Threads" (from Channel list btn)
.root-1gCeng .container-2QXVMm {
  background: var(--background-tertiary);
  
  .header-2Lx45W {
    background: var(--background-secondary);
  }
  
  .activeThreadsList-3f7l7U {
    
    .container-2I9Hud {
      border: none ;
      background: none ;
      
      &:hover {
        background: var(--background-modifier-accent);
      }
    }
  }
}


// Events modal and some other (needs some more testing)
//.off 
.layer-2KE1M9 .root-1gCeng {
  background: var(--background-tertiary);
  
  // Header
  .header-1TKi98 {
    background: var(--background-secondary-alt);
    
    .fontDisplay-1dagSA {
      color: var(--interactive-hover);
    }
    
    .button-38aScr {
      @include Btn();
    }
  }
  
  // Content body
  .content-1SXGsJ {
    padding: 0 !important ;
    
    &::-webkit-scrollbar { display: none } 
  }
  
  // Progressbars
  .selectedProgressBar-1Z4WVU {
    background: var(--interactive-active) ;
  }
  
  .colorBrand-2tjs5J {
    color: var(--text-normal) ;
  }
  
  .input-cIJ7To {
    border: none ;
    
    &:focus {
      background: var(--background-modifier-selected) ;
    }
  }
  
  // Checkbox item list option
  .item-26Dhrx {
    background: var(--background-modifier-accent) ;
    
    &[aria-checked="true"] {
      background: var(--background-modifier-selected) ;
    }
    
    &[aria-checked="false"]:hover {
      background: var(--background-modifier-hover) ;
    }
  }
  
  // Events (item card)
  .card-2X8BSG {
    background: var(--background-tertiary);
    border-width: 0 ;
    margin-top: 0px ;
    border-radius: 0 ;
    
    &:not(:first-child) {
      border-top-width: 1px ;
    }
    
    &:hover {
      background: var(--background-modifier-active);
    }
    
    // Event name
    .eventName-2Zb-UG {
      color: var(--interactive-hover);
    }
    
    // In card- content footer divider
    .divider-12kAYT {
      background: none ;
    }
    
    .button-38aScr {
      @include Btn();
    }
  }
  
  // Footer
  .footer-2gL1pp {
    background: var(--background-secondary-alt);
    
    .inline-3uJr8Q, .container-YB6rZD {
      .button-38aScr{
        @include Btn();
      }
    }
  }
  
  // Event info modal (maybe more)
  &.root-3KobW4 {
    
    // Header
    .container-1dt-Qg {
      background: var(--background-secondary-alt);
      border: none ;
      
      // Nav bar item
      .tabBarItem-1nATS- {
        border: none ;  
      }
    }
    
    // Content
    .contentContainer-1f7Gvv {
      background: var(--background-tertiary);
    }
  }
}

// Quick switch navigation/search
.quickswitcher-3JagVE {
  background: var(--background-tertiary);
  
  .input-2VB9rf {
    background: var(--background-modifier-accent);
  }
  
  // Scroller 
  .scroller-zPkAnE {
    background: var(--background-tertiary);
    margin: 0 ;
    padding: 0 ;
    -webkit-mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 96%, transparent);
    
    &::-webkit-scrollbar { display: none }
  }
  
  // Item
  .result-oB0z-- {
    
    // :hover
    &[aria-selected=true] {
      background: var(--background-modifier-hover);
    }
    
    // Unread channel
    .contentUnread-3gTHvA {
      color: var(--interactive-normal);
    }
    
    @include Mentions_icon(".badge-36LyGI");
  }
  
  // Protip footer, Tutorial arrows idk
  .protip-1b9XPC, .tutorial-3igfYb {  display: none }
}