// - T1.server-view v0.1.121
// Channels, Panels / Members / Server discovery

// -- Servers Text and Voice channels
.sidebar-2K8pFh > .container-3w7J-x {
  top: 48px ;
  margin-bottom: 48px;
  
  // unread msg indicator
  .unread-15xhX5.container-35XQWE { display: none }

  // scrollbar on scroller
  .scroller-RmtA4e.scrollerBase-289Jih::-webkit-scrollbar { display: none }
  
  // Text and Voice Channels
  .iconVisibility-sTNpHs {
    
    // Icon ("#", speaker, ..)
    .icon-1DeIlz {
      width: 15px ;
      color: var(--channels-default);
      opacity: .8 ;
    }
    
    // Channel name
    .name-23GUGE { color: var(--channels-default) }
    
    // Channel options and infos
    .children-3rEycc {
      
      // Settings and invite buttons
      .iconItem-F7GRxr { display: none }
      
      // Mentions indicator
      .numberBadge-2s8kKX {
        background-color: transparent !important ;
        border-bottom: 2px solid var(--red) ;
        border-radius: 0 ;
        color: var(--text-normal) ;
      }
      
      // Connection limit (voice)
      .userLimit-3aerPX {
        
        span { background: transparent }
        
        .total-i6us2n::after {
          border: none ;
          content: "|" ;
          left: -5px ;
          top: -1px ;
        }
      }
    }
    
    // container for hover
    > .content-1x5b-n {
      background: transparent;
      
      &:hover {
        .name-23GUGE { color: var(--interactive-hover) }
        .iconItem-F7GRxr { display: block }
      }
    }
    
    // Channel selected / connected
    &.modeSelected-346R90, &.modeConnected-3IsKId {
      // Channel name
      .name-23GUGE { color: var(--interactive-active) }
      // Channel icon (left)
      .icon-1DeIlz { color: var(--interactive-active) }
    }
    
    // Channel muted
    &.modeMuted-onO3r- {
      // Channel icon (left)
      .icon-1DeIlz { color: var(--interactive-muted) }
    }
    
    // Channel unread
    &.modeUnread-1qO3K1 {
      // pill
      .unread-2lAfLh { background-color: var(--interactive-hover) }
    }
  }
  
  // - User in Voice channel
  .voiceUser-1K6Xox {

    // "live" indicator
    .live-vBWnV6 { 
      background: none !important ;
      color: var(--red) ;
    }
  }
  
  // sidebar info thing
  > .container-3O_wAf {
    
    .icon-1SdhiF {
      background: none ;
    }
    
    .button-38aScr {
      @include Btn("background");
    }
    
    .close-20Ww5T .size12-3cLvbJ {
      color: var(--interactive-normal);
      
      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
}


// -- Sidebar Panels (Profile, Activity,..)
.sidebar-2K8pFh > .panels-j1Uci_ {
  
  // Profile Container
  > .container-3baos1 {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;
    align-items: unset ;
    
    > .avatarWrapper-2yR4wp {
      height: 32px ;
      margin-top: 8px ;
    }
    
    > .nameTag-3uD-yy {
      height: 30px ;
      margin-top: 9px ;
    }
    
    .usernameContainer-1fp4nu { align-items: unset }
    
    // moving profile buttons for better tooltip position
    > .flex-1xMQg5 {
      height: 32px ;
      margin-top: 18px ;
      
      > button {
        background-color: transparent ;

        > .contents-18-Yxp { margin-top: -20px }
      }
    }
  }
  
  // Activity Container
  > .activityPanel-28dQGo {
    height: 32px ;
    padding: 6px 10px ;
    
    // Image
    .gameIconWrapper-1YByCI { height: 32px }
    
    // Text
    .title-eS5yk3 { line-height: 32px }
    
    button { background: none }
  }
  
  // Voice Connection
  .container-1giJp5 {
    display: grid ;
    padding: 0 ;
    border: none ;
    grid-template-columns: 100% ;
    
    // Voice channel info container
    .connection-3KRENF {
      order: 2 ;
      margin-left: 32px ;
      padding: 6px 0 ;
      align-items: unset ;
      
      // Ping / "Connected"
      .rtcConnectionStatus-2-jIsi {
        padding: 1px 0 2px 0 ;
      }
      
      // Buttons container
      .button-14-BFJ {
        background: none ;
        
        // Noise Suppression Btn
        &:first-child { display: none }
      }
    }
    
    // Connected users container
    .voiceUsers-YsH5Db {
      height: 30px ;
      padding: 3px 8px ;
      margin: 0 ;
      box-sizing: border-box ;
      order: 3 ;
      
      &::-webkit-scrollbar { display: none }
      
      ~ .actionButtons-14eAc_:after {
        bottom: 42px ;
      }
    }
    
    // Voice channel button container
    .actionButtons-14eAc_ {
      height: 0 ;
      padding: 0 ;
      overflow: hidden ;
      transition: .1s linear;
      
      // Caret icon
      &:after {
        content: "<" ;
        position: absolute ;
        display: flex ;
        width: 44px ;
        height: 32px ;
        left: 0 ;
        bottom: 12px ;
        justify-content: center ;
        align-items: center ;
        color: var(--interactive-normal);
        font-size: 18px ;
        font-weight: 700 ;
        transform: rotate(90deg) translate(6px, 6px);
        transform-origin: center ;
      }
      
      &:hover {
        height: 44px ;
        
        &:after {
          content: ">" ;
          color: var(--interactive-hover);
        }
      }
      
      // Buttons container
      .button-1YfofB {
        padding: 0 ;
        margin: 8px 16px ;
        background: none ;
        color: var(--interactive-normal);
        
        &:not(.fauxDisabled-2ik0Vw):hover {
          color: var(--interactive-hover);
        }
      }
    }
  }
}


// -- Members list 
.members-1998pB {
  &::-webkit-scrollbar { display: none }
  
  // Role header
  .membersGroup-v9BXpm { margin-bottom: 4px }
  
  // Member
  .member-3-YXUe {
    margin: 0 0 0 11px ;
    
    // Inner container 
    > .layout-2DM8Md {
      border-radius: 0 ;
      background: none ;
      border-right: 3px solid transparent ;
      
      &:hover { 
        border-color: var(--interactive-hover) ;
        background-color: var(--background-modifier-hover) ;
      }
    }
    
    // User popout open
    &.selected-aXhQR6 > .layout-2DM8Md {
       border-right: 3px solid var(--interactive-hover);
    }
    
    // Offline Member
    &.offline-3nJYBR:not(:hover) img.avatar-VxgULZ {
      filter: grayscale(100%);
      border-radius: 50% ;
    }
    
    // Nitro icon 
    .name-uJV0GL + div { pointer-events: none }
  }

  // Preload Dummys
  .placeholder-3KRNN9, .memberGroupsPlaceholder-3mwPub {
    animation: none ;
  }
  .placeholderAvatar-damqh6, .placeholderUsername-2B_OA9, .memberGroupsPlaceholder-3mwPub {
    background: var(--text-normal);
    opacity: 0.1;
  }
}


// -- Discovery Sidebar
.discoverHeader-Ijkm_M {
  
  ~ .categoryItem-1QIroW > .itemInner-gPkiWb {
    border-radius: 0 ;
    padding: 0 4px ;
    margin: 5px 4px ;
  }
  
  ~ .categoryItem-1QIroW {
    
    > .itemInner-gPkiWb {
      border-radius: 0 ;
      padding: 0 4px ;
      margin: 5px 4px ;
    }
    
    &:hover .itemInner-gPkiWb { border-left: 3px solid var(--interactive-hover) }
    
    &.selected-aXhQR6 > .itemInner-gPkiWb {
      background-color: transparent ;
      border-left: 3px solid var(--interactive-hover) ;
    }
  }
}


// -- Discovery Content
.sidebar-2K8pFh ~ .pageWrapper-1PgVDX > .scroller-1d5FgU { @include scrollbar() } 