// * T1.serverbar v0.1.251
// Horizontal serverbar + Additions

// Serverbar -->
// - Base container -->
// App layer adjustments 
.layer-86YKbF.baseLayer-W6S8cY > .container-1eFtFS { flex-direction: column-reverse }

// - Serverbar container / scroller
.guilds-2JjMmN {
  height: 54px ;
  width: 100vw ;
  margin: 0 ;
  padding: 0 ;
  
  // Background image
  --blur: blur(calc((var(--Server_Background_blur, 0) / 100) * 1px)) ;
  --brightness: brightness(calc((var(--Server_Brightness, 100) / 100)));
  
  background: var(--Server_Background) ;
  background-size: cover ;
  background-position: center ;
  background-repeat: no-repeat ;
  filter: var(--blur) var(--brightness) ;
  
  // when in voice call view
  &.hidden-10MsGQ {
    height: 0 ;
  }
  
  // Child container (ul)
  .tree-3agP2X {
    display: grid ;
    height: 100vw ;
    width: 54px ;
    transform: rotate(-90deg) translateX(-54px) ;
    transform-origin: top left ;
    outline: none ;
  }
  
  // Scroller ( 10-48-6-20-6-20-10 )
  .scroller-3X7KbA {
    display: grid ;
    grid-template-columns: 54px ;
    grid-template-rows: 48px 29px 35px auto ;
    grid-auto-rows: min-content ;
    grid-template-areas: 
      "Home" 
      "GuildsAd"
      "Discovery"
      "Servers"
    ;
    margin: 0 0 120px 0 ;
    padding: 10px 0 2px 0 ;
    align-items: center;
    
    &::-webkit-scrollbar { display: none }
    
    // Server container seperator
    &::before { top: 120px }
    &::after, &::before {
      content: "" ;
      position: absolute ;
      bottom: 0px ;
      width: 32px ;
      height: 2px ;
      margin: 0 11px ;
      background-color: var(--interactive-normal) ;
    }
  }
  
  // Unread mentions indicators
  .unreadMentionsIndicatorTop-2bTgUU,
  .unreadMentionsIndicatorBottom-3RJMnQ { display: none }
}

// Margin on Mac
.platform-osx .wrapper-1_HaEi {
  margin: 0 ;
}

// Base container <--

// - Static options -->
// - Home / GuildsAd / Discovery / GuildsError
.guilds-2JjMmN .scroller-3X7KbA {
  
  // GuildSeparator / Discovery preview listItem 
  > .listItem-3SmSlK { display: none }
  
  // general item container
  .listItem-3SmSlK { 
    width: 54px ; 
    margin: 0 ; 
  }
  
  // Home / BDPSL
  @mixin Home_Icon () {
    grid-area: Home ;
    
    // Pill
    .pill-L_aLMQ { display: none }
    
    // Notification badge
    .lowerBadge-3WTshO {
      left: 4px ;
      bottom: 4px ;
      @include shadow_effect("drop_2") ;
    }
    
    // SVG 1 conatiner
    .wrapper-28eC3z { 
      transform: rotate(90deg);
    }
    
    // SVG 2 conatiner
    .childWrapper-1j_1ub {
      background: none ;
      color: var(--text-normal) ;
      opacity: .75 ;
    }
    
    // Hover
    .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub { opacity: 1 }
    
    // SVG 2
   .homeIcon-r0w4ny { 
     @include shadow_effect("drop_1") ;
     
     // Icon path
     path {
       d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z")
     }
   }
  }
  
  // GuildsAd / Discovery
  @mixin Icons () {
    display: flex ;
    width: 54px ;
    
    .pill-1NRFie { display: none }
    
    // SVG 1 container, SVG 1
    .wrapper-28eC3z, .svg-2zuE5p {
      height: 20px ; 
      width: 20px ;
    }
    
    // SVG 2 container
    .circleIconButton-1VxDrg {
      transform: rotate(90deg) ;
      background: none ;
      color: var(--text-normal) ;
      opacity: .75 ;
      
      &.selected-2r1Hvo { opacity: 1 }
      
      @include shadow_effect("drop_1");
      
      // SVG 2 
      // > svg {
      .circleIcon-3489FI {
        height: 100% ;
        width: 100% ;
      }
    }
  }
  
  // GuildsAd
  @mixin GuildsAdd_Icon () {
    @include Icons();
    
    grid-area: GuildsAd ;
    margin: 6px 0 3px 0;
  }
  
  // Discovery
  @mixin Discovery_Icon () {
    @include Icons();
    
    grid-area: Discovery ;
    margin: 0 ;
    margin: 3px 0 10px 0;
    
    .circleIconButton-1VxDrg .circleIcon-3489FI {
      height: 90% ;
      width: 90% ;
    }
  }
  
  //  GuildsError
  @mixin GuildsError_Icon () {
    grid-area: unset ;
    position: absolute ;
    top: 0 ;
    left: 5px ;
    height: 20px ;
    width: 20px ;
    
    a.anchor-1MIwyf {
      transform: rotate(90deg) ;
      background: none ;
      border: none ;
      color: var(--red) ;
      height: 20px ;
      width: 20px ;
    } 
  }
  
  // Home
  .tutorialContainer-1pL9QS { @include Home_Icon() }
  
  // GuildsAdd
  .tutorialContainer-2jwoiB { @include GuildsAdd_Icon() }
  
  // In case there are is no Servers.
  > .tutorialContainer-2jwoiB + .listItem-3SmSlK { @include Discovery_Icon() }
  > .listItem-3SmSlK:nth-last-child(2) { @include Discovery_Icon() }
  > .listItem-3SmSlK:nth-last-child(3) { @include GuildsAdd_Icon() }
  
  // In case there are Servers.
  > div[aria-label]:not([class]) {
    
    // Discovery
    ~ .listItem-3SmSlK { @include Discovery_Icon() }
    
    // GuildsAdd in Discovery preview 
    + .listItem-3SmSlK { @include GuildsAdd_Icon() }
    
    // GuildsError (i think)
    + .tutorialContainer-2jwoiB + .listItem-3SmSlK + .listItem-3SmSlK { @include GuildsError_Icon() }
    + .listItem-3SmSlK + .listItem-3SmSlK + .listItem-3SmSlK { @include GuildsError_Icon() }
  }
}

// - BD public server list
#bd-pub-li {
  position: absolute ;
  top: -10px ;
  right: 3px ;
  height: 20px ;
  width: 20px ;
  overflow: visible ;
  z-index: 1 ;
  transform: rotate(90deg);
  
  #bd-pub-button {
    height: 20px ;
    width: 20px ;
    color: transparent ;
    background: none ;
    
    // "P" icon
    &:before {
      content: "P" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      height: 20px ;
      width: 20px ;
      line-height: 20px ;
      color: var(--BD-Blue) ;
      font-size: 18px ;
      font-weight: 700 ;
      
      @include shadow_effect("text_2");
    }
    
    // Tooltip on hover
    &:hover::after {
      content: "Public Servers" ;
      position: absolute ;
      top: 0 ;
      left: 25px ;
      padding: 8px 12px ;
      font-size: 16px ;
      font-weight: 600 ;
      line-height: 10px ;
      background: var(--background-tertiary) ;
      color: var(--text-normal) ;
      border-radius: 5px ;
      white-space: nowrap ;
      
      @include shadow_effect("box_2");
    }
  }
}

// Static options <--

// - Servers / DMs -->
// Icon Mixin
@mixin ServerIcon() {
  width: 54px ; 
  height: 48px !important ;
  margin: 12px 0 ;
  
  // bc drag and drop (server, dms)
  //  > div:not([class]), .listItemWrapper-3d87LP {
  .pill-2RsI5Q + div, .listItemWrapper-3d87LP {
    transform: rotate(90deg) ;
  }
  
  // Placeholder when dragging
  .placeholderMask-2FHNZU {
    height: 40px;
    width: 40px;
    margin: 4px;
    
    .dragInner-1CUBf_ {
      background: rgba(0, 0, 0, 0.5) ;
    }
  }
  
  .wrapper-28eC3z {
  //  transform: rotate(90deg) ;

    @include shadow_effect("server_1");
    
    // Streaming badge (maybe more)
    .upperBadge-1V6Iyi { display: none }
  }
  
  // Unreads badge
  .lowerBadge-3WTshO {
    left: 4px ;
    bottom: 4px ;

    .numberBadge-37OJ3S { 
      background-color: var(--red) !important ;
    }
  }

  // SVG
  .svg-2zuE5p {
    height: 40px ; 
    width: 40px ;
    margin: 4px ;

    mask, g { display: none }

    &:hover .icon-3AqZ2e { border-radius: 25% }
  }

  // Image
  .icon-3AqZ2e {
    border-radius: 50% ;
    transition: .2s ;
  }
  
  // Text
  .acronym-2zrAHN {
    background: none ;
    
    @include shadow_effect("server_1");
  }
  
  // Pill
  .item-2LIpTv {
    display: none ;
    margin-left: -5px ;
    
    // Server selected
    &[style="opacity: 1; height: 40px; transform: none;"] {
      display: block ;
      height: 35px !important ;
      border-radius: 0 8px 8px 0 ;
    }
    
    // Unread indicator
    &[style="opacity: 1; height: 8px; transform: none;"] { display: block }
  }
  
  // Pill with bd classes as an optional improvment
  &.bd-unread:not(.bd-selected) .item-2LIpTv {
    display: block ;
    height: 8px !important ;
  }
}

// DMs
.guilds-2JjMmN .scroller-3X7KbA > [style="opacity: 1; height: 56px; transform: scale(1);"] {
  @include ServerIcon();

  &::before {
    content: "" ;
    top: -12px ;
    position: absolute ; 
    height: 2px ;
    width: 32px ;
    margin: 0 11px ;
    background-color: var(--interactive-normal) ;
  }

  // Subsequent Dms (not first)
  ~ [style="opacity: 1; height: 56px; transform: scale(1);"] {
    margin: 0 0 12px 0 ;

    &::before { content: none }
  }

  .pill-22lZHo { display: none }
}

// Server container
.scroller-3X7KbA > [aria-label]:not([class]) {
  grid-area: Servers ;
  width: 54px ;
  max-height: 100% ;
  overflow-y: scroll ;

  &::-webkit-scrollbar { display: none }

  // Server items
  > .listItem-3SmSlK { @include ServerIcon() }
}

// Server folder
.guilds-2JjMmN .wrapper-38slSD {
  width: 54px ;
  margin: 6px 0 ;

  // Background when open
  .expandedFolderBackground-1kSAf6 { display: none }

  // Folder Icon / preview 
  > .listItem-3SmSlK {
    
    .pill-2RsI5Q { 
      display: none ;
      
      // Icon container (for drag)
      + div { transform: rotate(90deg) }
    }

    // Icon container

    // Placeholder when dragging
    .placeholderMask-2FHNZU {
      height: 40px;
      width: 40px;
      margin: 4px;

      .dragInner-1CUBf_ {
        background: rgba(0, 0, 0, 0.5) ;
      }
    }
    
    // Unreads badge
    .lowerBadge-3WTshO {
      left: 4px ;
      bottom: 4px ;

      .numberBadge-37OJ3S { background-color: var(--red) !important }
    }

    // SVG 1
    .svg-2zuE5p {

      @include shadow_effect("drop_1");

      mask, g { display: none }
    }

    .folder-241Joy { background: none }

    // Icon container 2
    .folderIconWrapper-1oRIZr {
      position: absolute ;
      height: 40px ; 
      width: 40px ;
      margin: 4px ;

      // Icon container open and closed
      .closedFolderIconWrapper-3tRb2d,
      .expandedFolderIconWrapper-3RwQpD {
        height: 40px ; 
        width: 40px ;
        padding: 0 ;
      }

      // Folder Icon when open
      svg {
        height: 30px ; 
        width: 30px ;
      }
    }
  }
  
  // Server container
  ul {
    height: auto !important;
    margin-bottom: 24px ;
    
    // Server items in open folders
    .listItem-3SmSlK { @include ServerIcon() }
    
    &::after {
      content: "" ;
      position: absolute ;
      bottom: -12px ;
      width: 32px ;
      height: 2px ;
      margin: 0 11px ;
      background-color: var(--interactive-normal) ;
    }
  }
}
// Servers / DMs <--
// Serverbar <--

// Additions -->
// Channels list spacer for Server banner image
.content-2a4AW9 > div[style="height: 84px;"]:not([class]) { display: none }

// - Server options button
.sidebar-1tnWFu .container-1-ERn5 {
  position: fixed;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  
  &:hover { background-color: rgba(0, 0, 0, 0.2) }
  
  // Options popout open
  &.selected-1GtAC5 { background-color: rgba(0, 0, 0, 0.2) }
  
  // container
  .header-3OsQeK {
    padding: 0 5px ;
    height: 54px ;
  }
  
  // Server name container
  .headerContent-2SNbie {
    height: -webkit-fill-available;
  }
  
  // Server name
  .name-3Uvkvr {
    text-align: center ;
    line-height: 16px ;
    white-space: normal ;
    max-height: 32px ;
    font-weight: 400 ;
  
    @include shadow_effect("text_1");
  }
  
  // Server icon (partnerd,..)
  .guildIconContainer-3QvE6w { display: none }
  
  // Chevron icon
  .button-2BMPJJ { display: none }
  
  // Server banner image
  .animatedContainer-2laTjx { display: none }
  
  + .animatedBannerHoverLayer-129r1v { display: none }
}

// - Search button (home)
.privateChannels-oVe7HL .searchBar-3TnChZ {
  position: fixed;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  padding: 0 ;
  
  &:hover { background-color: rgba(0, 0, 0, 0.2) }
  
  // Text
  .searchBarComponent-3N7dCG {
    height: 54px ;
    background: transparent ;
    color: var(--text-normal);
    text-align: center ;
    line-height: 1.3 ;
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: normal ;
    
    @include shadow_effect("text_1");
  }
}

// - Discovery Text (button)
.sidebar-1tnWFu .discoverHeader-1vsvZ0 {
  position: fixed ;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  margin: 0 ;
  text-align: center ;
  line-height: 54px ;
  font-weight: 400 ;
  font-size: 16px ;
  color: var(--text-normal);
  overflow: hidden ;
  text-overflow: ellipsis ;
  white-space: nowrap ;
  
  & + .categoryItem-Kc_HK_ {
     margin-top: 64px ;
  }
}

// - Tooltips container
.tooltip-14MtrL.tooltipPrimary-3qLMbS.tooltipDisablePointerEvents-1huO19:not(.reactionTooltip-34qbn9, .tooltipTop-1wv5UJ) {
  max-width: 240px ;
  
  .tooltipContent-Nejnvh {
    white-space: nowrap;
    text-overflow: ellipsis ;
    overflow: hidden ;
    padding: 6px 10px ;

    .rowGuildName-21wur6 {

     .guildNameText-jBFbNC {
       display: block ;
       text-overflow: ellipsis ;
      }

      > .flowerStarContainer-1QeD-L { display: none }

      ~ * { display: none }
    }
  }
}
// Additions <--