// * T1.settings v0.1.7.1
// Client / Guilds / Channels

// -> Theme version info
// Settings sidebar bottom
.layer__2efaa:not(.baseLayer__8fda3) .socialLinks_c1fc99 + .info__755e1:before {
  content: "T1 - Theme: \a v#{$T1_version} by Eight_P" !important;
  display: block !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: rgb(114, 118, 125) !important;
  white-space: break-spaces !important;
  margin-bottom: 16px !important;
  text-transform: none !important;
}

// BD addon card
.bd-addon-card#T1-card {

  .bd-version {

    &::before {
      content: " F";
      display: inline ;
    }

    &::after {
      content: " | Tv#{$T1_version} ";
    }
  }
}
// <- Theme version info

// -> General Settings
.layer__2efaa:not(.baseLayer__13b6b) {
  
  // -> Sidebar
  .sidebarRegionScroller__1fa7e {

    &::-webkit-scrollbar { display: none }
    
    // category headers
    .header-2Kx1US {
      color: var(--header-primary);
      opacity: .8 ;
    }
    
    // Tabs
    .item__48dda {
      color: var(--interactive-normal);
      background: none !important ;
      border-radius: 0  ;
      padding: 0 10px ;
      margin: 6px 0 ;
      
      &:hover { color: var(--interactive-hover) }
      
      &.selected__5711d {
        border-left: 2px solid var(--interactive-active);
        color: var(--interactive-active)  ;
      }

      // Nitro
      &.premiumTab__57bdc svg { display: none }
      // Nitro background
      .background__584e7 { display: none }

      // Log Out/ Delete Channel
      .tabBarItemContainer_d74773:has(svg:not(.icon__11372)) {
        color: var(--red);
        padding: 4px ;
        border-radius: 3px ;

        &:hover { 
          color: var(--interactive-hover);
          background: var(--red) !important ;
        }
      }
    }

    // Nitro upsell "offer", "free month"
    .offerBadge-1KDtMz, .premiumTrialBadge-pEqntF { display: none }
  }
  // <- Sidebar
  
  // -> Content region
  .contentRegionScroller__86c79 {
    
    @include scrollbar();
  }

  // Checkbox item list option
  .item_b7fb7e {
    background: var(--background-modifier-accent);
    color: var(--interactive-hover);
    
    &[aria-checked="true"] {
      background: var(--background-modifier-selected);
      color: var(--interactive-active);
    }
    
    &[aria-checked="false"]:hover {
      background: var(--background-modifier-hover);
      color: var(--interactive-active);
    }
  }

  // Dropdown menu
  .select__0eb48 {
    border: none ;

    @at-root .layerContainer_d5a653 .popout_a6e77f {
      background: var(--background-tertiary);
      border: none ;

      &::-webkit-scrollbar-thumb {
        background-color: var(--interactive-normal);
      }

      .option_be8b2e[aria-selected="true"] {
        background: var(--background-modifier-selected);
      }

      .selectedIcon__4b0ba {
        circle {
          fill: none ;
        }

        g path {
          fill: var(--interactive-normal);
        }
      }
    }
  }

  // Search 
  .container__7712a {
    background: none ;

    .input__74754 {
      border-radius: 0 ;
      border-bottom: 1px solid var(--interactive-normal);
    }
  }


  // Nitro upsell in Profile settings
  #profile-customization-tab {
    .upsellOverlayContainer__08979, .tryItOutSection__0f9fb {
      display: none ;
    }

    .profileCustomizationSection__88eff .userPopoutOuter_d739b2 {
      --background-secondary-alt: var(--primary-660);
    }
  }

  // Nitro locked features
  .premiumFeatureBorder__9bbb3, .premiumBackground__4ce97 {
    background: none ;
    border: none ;
  }

  // Client Themes 
  .presets__14d08:not(.basicThemeSelectors_f6c054) {
    position: relative ;
    margin-top: 40px ;
    
    &:after {
      content: "Not compatible with T1 Theme.";
      position: absolute ;
      display: block ;
      inset: -30px 0 0 0 ;
      color: var(--red);
      font-weight: 600 ;
    }
  }

  // <- Content region
}
// <- General Settings

// -> Server settings
// Roles
.layer__2efaa:not(.baseLayer__13b6b) {
  
  // Default permission button
  .container_d5f6d0 { background: none }

  // Roles list
  .content__23cab {
    .roleRow_c357d5 {

      // role btns
      .secondary_c96c46 {
        background: none ;
      }
    }
  }

  // -> Edit Roles
  .contentColumn_dc7d36 > .page__9db5c {
    
    // Sidebar container main
    .sidebar_bdf6b7 {
      height: fit-content ;
    }
    
    // Roles list Sidebar
    .list__41249::-webkit-scrollbar { display: none }
    
    // Left side main content container (why did i do this ?)
    .contentContainer__23092 {
      // border-right: 12px solid var(--scrollbar-auto-track);
      
      .scrollerBase_dc3aa9, // old
      .scrollerBase__2b744 {// new
        // margin-right: -12px ;
      }
    }
    
    // Header container "Manage Members"
    .headerContainer__947de {
      right: 0 ;
    }
    
    // Header 
    .header__63c59 {
      padding: 0 0 24px 0 ;
      margin: 0 ;
      box-shadow: none ;
      
      &:before {
        content: "";
        position: absolute ;
        height: 100% ;
        width: 100% ;
        background: var(--background_app);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        
        --blur: blur(calc(var(--backgroundBlur_app, 0) / 100 * 1px));
        --brightness: brightness(calc((var(--backgroundBrightness_app, 80) / 100)));

        filter: var(--blur) var(--brightness);
      }
      
      // Nav bar buttons
      .tabBarItem__0ff10 {
        border: none ;
      }

      // Add member btn
      .addButton__9d050 { @include Btn("background") }

      // search
      .searchContainer__519fb .input__74754 {
        border-bottom: 1px solid var(--interactive-muted);
      }
    }

    // Content scroller "Permissions"
    .permissionsWrapper_bfb3d4 {
      margin-top: 16px ;
    }

    // linked roles config container
    .container_a80597 {
      background: none ;
    }
    
    // Info on Bot roles
    .warning__9db16 {
      position: absolute ;
      top: 49px ;
      left: 0px ;
      width: auto ;
      background: none ;
      border: none ;
      padding: 0 ;
      z-index: 100 ;

      .text__9e6e9 {
        display: none ;
      }

      &:hover .text__9e6e9 {
        display: block ;
        background: var(--background-tertiary);
        border: 1px solid var(--info-warning-foreground);
        padding: 10px ;
      }

      ~ .tabBar_a013ee {
        margin-left: 40px ;
      }
    }
  }
  // <- Edit Roles
}
// <- Server settings

// -> App Directory
.layerContainer_d5a653 .directoryModal-YJsOMv {
  &::before {
    content: "";
    display: block ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
    background: var(--background_app);
    background-size: cover !important ;
    background-attachment: fixed !important ;
    background-position: center !important ;
    
    --blur: blur(calc(var(--backgroundBlur_app, 0) / 100 * 1px));
    --brightness: brightness(calc((var(--backgroundBrightness_app, 80) / 100)));

    filter: var(--blur) var(--brightness);
  }

  // -> Home main items
  .card__834d4, .container_dabadb {
    background: var(--background-modifier-selected);
  }

  // clickable
  .category_ba5745,  .container__7b33c {
    background: var(--background-modifier-accent);

    &:hover {
      background: var(--background-modifier-selected);
    }
  }
  // <- Home main categories

  // -> Search
  .search__24107 {
    background: var(--background-modifier-selected) !important;
    box-shadow: none ;
    border: none ;
    border-bottom: 1px solid transparent ;
    
    &:focus, &:focus-within {
      background: var(--background-modifier-hover) !important ;
      border-bottom-color: var(--header-secondary);
      border-radius: 0 ;
    }
  }
  // <- Search

  // -> App view
  // Commands
  .commandList__1eb85 {
    background: none ;

    .commandName__72789 {
      background: var(--background-modifier-selected);
      border: none ;
    }
  }

  // App category
  .category__60494 {
    @include Btn("background");
  }

  // App support server
  .card__2ebbc {
    background: var(--background-modifier-accent);

    &:hover {
      background: var(--background-modifier-selected);
    }
  }
  // <- App view
}
// <- App Directory