// * T1.user v0.1.25
// User popout (needs rework) / Modal

// User popout -->
// User popout container
.layer-2aCOJ3 > .translate-PeW1wK { 
  transform: translate3d(0,0,0) !important;
  
  // Popouts not from memberslist
  &.animatorRight-xAUgTY {
    pointer-events: none ;
    
    > * { pointer-events: auto }
    
    > .userPopout-2j1gM4 { transform: translateX(-240px) !important }
  }
}

// User popout
.userPopout-2j1gM4 {
  width: 512px !important ;
  background-color: var(--background-tertiary) ;
  border-radius: 5px ;
  
  @include shadow_effect("box_1");
  
  // Banner image / right side background
  .headerNormal-3Zn_yu { 
    position: absolute ;
    height: 100% ;
    
    // Background for right side 
    .popoutBanner-3cqRD9:not(.bannerPremium-kkSkPv) {
      width: 200px ;
      height: 100% ;
      background-color: var(--background-secondary) !important ;
      margin-left: 312px ;
      border-radius: 0 5px 5px 0 ;
    }
    
    // Custom image banner
    .popoutBannerPremium-3i5EEI {
      width: 512px ;
      max-width: 512px ;
      height: 100% ;
      filter: brightness(0.5) ;
      border-radius: 5px ;
    }
    
    // Edit profile from popout btn
    .pencilContainer-18TrEJ { display: none }
  }
  
  // Profile img container
  .avatarWrapper-eenWra {
    position: absolute ;
    top: 20px ;
    left: 20px ;
    
    .svg-2azL_l { overflow: visible }
    
    foreignObject { 
      mask: none ;
      overflow: visible ;
    }
    
    .wrapper-1VLyxH {
      border: none ;
      background: none ;

      // Image
      .avatar-b5OQ1N { 
        border-radius: 7.5% ;

        // Shadow effect but not on gifs
        &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
      }
    }
    
    .avatarHint-k7pYop {
      top: 0 ;
      left: 0 ;
      border-radius: 7.5% ;
    }
  }
  
  // Text shadow when there is a bg image 
  .avatarPositionPremium-1zPBq9 {
    
    ~ .headerTop-3GPUSF {
      @include shadow_effect("text_1");
    }
    
    ~ .body-2wLx-E {
      
      .userInfoSection-3her-v, .customStatus-3XAoF9 {
        @include shadow_effect("text_2");
      }
    }
  }
  
  // Username, Badges
  .headerTop-3GPUSF {
    position: absolute ;
    padding: 0 ;
    left: 120px ;
    top: 20px ;
    height: 80px ;
    width: 172px ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    z-index: 1 ;
    
    // "set Nickname" option with own profile card
    .setIdentityLink-hOFsMl { display: none }
    
    // Badges container
    .profileBadges-2pItdR {
      display: inline-flex ;
      position: relative ;
      margin: 4px 0 0 0 ;
      top: unset ; left: unset ; right: unset ; bottom: unset ;
      max-width: 172px ;
      justify-content: flex-start ;
      flex-wrap: nowrap ;
      overflow: hidden ;      
      
      // Badges
      > div { margin: 0 5px 0 0 }
      
      // Badge imgs
      .profileBadge22-3GAYRy {
        height: 18px ;
        width: 20px ;
      }
    }
    
    // Nickname (h1)
    .nickname-t08Mck {
      color: var(--header-primary);
      font-size: 17px ;
      font-weight: 500 ;
      line-height: 19px ;
      max-height: 36px ;
      overflow: hidden ;
    }
    
    // Name - without Nickname (h1)
    .headerTagNoNickname-3tGHj6 {

      // Name
      .username-3JLfHz {
        color: var(--header-primary);
        font-size: 17px ;
        font-weight: 500 ;
        line-height: 22px ;
      }

      // Discriminator
      .discrimBase-1VOoau {
        margin-left: 2px ;
        color: var(--header-secondary);
        font-size: 15px ;
        font-weight: 500 ;
        line-height: 22px ;
      }
    }
    
    // Name - with Nickname (h2)
    .headerTagWithNickname-1U8zZH {
      display: flex ;
      height: 18px ;
      margin-top: 4px ;
      
      // Name
      .username-3JLfHz {
        color: var(--header-secondary);
        font-size: 14px ;
        font-weight: 500 ;
        line-height: 18px ;
        white-space: nowrap ;
        overflow: hidden ;
        text-overflow: ellipsis ;
      }

      // Discriminator
      .discrimBase-1VOoau {
        margin-left: 2px ;
        color: var(--header-secondary);
        font-size: 13px ;
        font-weight: 500 ;
        line-height: 17px ;
        vertical-align: bottom ;
      }
    }
    
    // Bot Indicator
    .botTag-7aX5WZ { 
      position: fixed ;
      top: 3px ;
      left: 156px ;
      margin: 0 !important ;
      transform: translateX(-50%) ;
      background-color: var(--background-tertiary) ;
    }
  }
  
  // Add bot to server btn
  .applicationInstallButton-taCWKH { display: none }
  
  // Main user info container (About Me, Status, Activity, Roles, Note)
  .body-2wLx-E {
    padding: 0 ;
    box-shadow: none ;
    overflow: hidden !important ;
    
    &::-webkit-scrollbar { display: none }
    
    .divider-1wtgZ3 { display: none }
    
    // Line height: 18 + 1 for spacing
    $header-height: 120px ;
    $about-me-rows: 2 ;
    $about-me-height: $about-me-rows * 19px ;
    $custom-status-rows: 1 ;
    $custom-status-height: $custom-status-rows * 19px ;
    $info-padding: 15px ;
    
    // Custom status, About me (.aboutMeSection-PUghFQ)
    .customStatus-3XAoF9, .userInfoSection-3her-v {
      position: absolute ;
      top: $header-height ;
      left: 20px ;
      width: 272px ;
      padding: 0 ;
      margin: 0 ;
      text-align: center ;
      white-space: nowrap ;
      overflow: hidden ;
      text-overflow: ellipsis ;
      
      img {
        width: 20px ;
        height: 20px ;
      }
      
      // Main body grid height
      ~ .bodyInnerWrapper-2bQs1k {
        $info-section: if($about-me-height > $custom-status-height, $about-me-height, $custom-status-height);
        $this-height: $header-height + $info-section + $info-padding;
         min-height: $this-height;
        
        .activity-1gTu-L { 
          margin-top: $this-height ;
        }
      }
    }
    
    // About me
    .userInfoSection-3her-v {
      display: flex;
      height: $about-me-height ;
      align-items: center;
      justify-content: center;
      
      // "about me" Title
      .userInfoTitle-39qq0Y { display: none }
      
      // Text
      .userInfoBody-1zgAd0 {
        overflow: hidden ;
        max-height: $about-me-height ;
      }
    }
    
    // When about me and custom status is present
    .customStatus-3XAoF9 ~ .userInfoSection-3her-v {
      top: $header-height + $custom-status-height + $info-padding ;
      
      ~ .bodyInnerWrapper-2bQs1k {
         $this-height: $header-height + $about-me-height + $custom-status-height + 2 * $info-padding ;
         
         min-height: $this-height ;
        
        .activity-1gTu-L { 
          margin-top: $this-height ;
        }
      }
    }
  }
  
  // Inner Container (Activity, Roles, Note)
  .bodyInnerWrapper-2bQs1k {
    padding: 0 ;
    display: grid ;
    grid-template-columns: 312px 200px ;
    grid-template-rows: 32px auto 24px auto ;
    background: none ;
    min-height: 120px ;

    // Activity container
    .activity-1gTu-L {
      margin-top: 120px ;
      padding: 4px 16px 10px 16px;
      grid-row: span 4 ;
      grid-column: 1 ;
      
      .buttonsWrapper-2ARRp1 { 
        flex-direction: row ;
      }
      
      button {
        margin: 0 ;
        flex-grow: 1 ;
        background: none !important ;
        color: var(--interactive-normal) ;

        &:hover {
          color: var(--interactive-hover) ;
        }
      }
      
      .spotifyIcon-2J9kSv {
        display: none ;
      }
    }

    // Roles header
    .bodyTitle-2Az3VQ {
      grid-row: 1 ;
      grid-column: 2 ;
      margin: 0 ;
      height: 16px ;
      padding: 16px 8px 0 10px;
    }

    // Roles container
    .rolesList-3uZoaa {
      padding: 12px 8px 12px 12px ;
      margin: 0 ;
      grid-row: 2 ;
      grid-column: 2 ;
      align-content: flex-start;
      
      // Role item
      .role-2TIOKu {
        background: rgba(32, 34, 37, 0.5) ;
      }

      // Role name
      .roleName-2ZJJYR {
        max-width: 150px ;
      }

      // Remove role btn
      .roleRemoveIcon-387wKV { 
        cursor: pointer ;
      }

      // Add role button
      .addButton-1_dZYu {
        color: var(--interactive-normal) ;
        stroke: var(--interactive-normal) ;

        &:hover {
          color: var(--interactive-active) ;
          stroke: var(--interactive-active) ;
        }
      }
    }

    // Note header
    .rolesList-3uZoaa + .bodyTitle-2Az3VQ { 
      grid-row: 3 ;
      grid-column: 2 ;
      padding: 8px 8px 0 10px;
    }

    // Note container
    .note-Go5ZP2 { 
      grid-row: 2 / 4 ;
      grid-column: 2 ;
      margin: 0 ;
      padding: 0 0 8px 12px ;

      // Inner textarea
      .textarea-_59yqs {
        padding: 8px 8px 0 0 !important ;
        background: none ;
        max-height: unset ;
      }
    }
    
    .rolesList-3uZoaa ~ .note-Go5ZP2 { grid-row: 4 }
  }
  
  // - Quick DM
  .footer-3naVBw {
    position: relative !important ;
    width: 512px !important ;
    padding: 0 ;
    background-color: var(--background-secondary-alt);
    
    // Container
    .quickMessage-3jDbBs { margin: 0 }
    
    // Text input 
    .inputDefault-3FGxgL {
      border-color: transparent ;
      border-radius: 0 ;
      color: var(--text-normal) ;
    }
    
    // "New user" info
    .wumpusWrapper-3ReSr0 { display: none }
  }
  
  // "pro tip" (idk if that's still a thing or not)
  // [class|="protip"] { display: none }
  
  // Clyde
  &[aria-label="Clyde"] {
    min-height: 120px ;
  }
}
// User popout <--


// -- User modal
.root-8LYsGj {
  
  header { 
    height: 240px ;
  }

  // - header
  .topSection-13QKHs {
    background-color: var(--background-tertiary) ;
    border-bottom: 1px solid var(--background-modifier-accent);
    
    // Profile banner normal
    .profileBanner-1owKI5 { display: none }
    
    // Profile banner custom image
    .profileBannerPremium-KD60EB {
      position: absolute ;
      // height: 208px ;
      width: 100% ;
      filter: brightness(0.5) ;
      
      // shadows for better readability
      ~ .nameTag-2Nlmsy { 
        @include shadow_effect("text_1");
      }
      ~ .customStatusActivity-WKWGD- { 
        @include shadow_effect("text_2"); 
      }
    }
    
    .premiumIconWrapper-32h0Ri, .pencilContainer-18TrEJ { display: none }

    // Top conatiner (avatar, badges, options, ..)
    .header-S26rhB { 
      height: 152px ;
      
      .actionButton-iarQTd {
        
        &.colorGreen-3y-Z79 {
          background-color: rgb(59, 165, 93, .7) ;
          
          &:hover { background-color: rgb(59, 165, 93) }
        }
      }
      
      
      .additionalActionsIcon-3Cy8UU {
        color: var(--interactive-hover) ;
        
        @include shadow_effect("drop_2");
        
        &:hover { color: var(--interactive-active) }
      }
    }

    // Avatar container
    .avatar-3QF_VA {
      top: 16px ;
      background: none ;
      border: none ;
      
      .svg-2azL_l { 
        overflow: visible ;
        
        // Status (works 95% of the time)
        rect {
          x: 0px ;
          y: 154px ;
          height: 20px ;
          width: 20px ;
          
          &[mask="url(#svg-mask-status-online-mobile)"] {
            x: 6px ;
            height: 20px ;
            width: 14px ;
          }
        }
        
        // The weird status (when status changes while modal is open)
        .cursorDefault--wfhy5 { display: none }
      }
      
      // Profile img container
      foreignObject { 
        overflow: visible ;
        mask: none ;
      }

      // Profile img
      .avatar-b5OQ1N { 
        border-radius: 7.5% ;
        
        // Shadow effect but not on gifs
        &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
      }
    }

    // Username container
    .nameTag-2Nlmsy { 
      margin: 16px 48px ;
    }

    // Username
    .username-3JLfHz {
      color: var(--header-primary);
      font-weight: 500 ;
      z-index: 1 ;
    }

    // Discriminator
    .discriminator-1bqsd3 {
      margin-left: 2px ;
      color: var(--header-secondary);
      font-size: 17px ;
      font-weight: 500 ;
      z-index: 1 ;
    }

    // Custom status
    .customStatusActivity-WKWGD- {
      position: absolute ;
      top: 92px ;
      left: 180px ;
    }
    
    // nav bar
    .tabBar-2hXqzU {
      
      // nav bar tab
      .tabBarItem-30Te4- {
        
        &:not(.selected-g-kMVV):hover {
          border-color: transparent ;
        }
      }
    }
  }
  
  // - body
  .body-1Ukv50 {
    background-color: var(--background-tertiary) ;

    .scrollerBase-_bVAAt {
      @include scrollbar();
    }
    
    // Body sections
    .userInfoSection-2u2hir { 

      &:nth-last-child(2) {
        margin-bottom: 50px ;
      }
    }
    
    // About Me / Note section
    .userInfoSection-2u2hir:first-child { 
      display: grid ;
      grid-template-columns: 50% 50% ;
      grid-template-areas:
        "Header_1 Header_2"
        "Body_1 Body_2";
      
      > * {
        &:nth-child(1) { grid-area: Header_1 }
        &:nth-child(2) { grid-area: Body_1 }
        &:nth-child(3) { grid-area: Header_2 }
        &:nth-child(4) { grid-area: Body_2 }
      }
    }
    
    // Connected account
    .connectedAccount-1xKpli { 
      color:  var(--channels-default) ;
      border: none ;
    }
    
    // Mutual Servers / Mutual Friends container
    .listScroller-entkMk {
      display: grid ;
      grid-template-columns: 50% 50% ;
      grid-auto-rows: max-content ;
      grid-gap: 5px ;
      padding: 10px 0 ;
      
      // No items in scroller
      .empty-2zcusz {
        position: absolute ;
        left: 50% ;
        transform: translateX(-50%);
      }
      
      // Activities
      .activityProfile-1712BN {
        grid-column: span 2 ;
      }
    }
  }
}