// * T1.user v0.2.01-b
// User popout / (Modal)


// -> User Popout
.userPopout-3fydSP {
  border-radius: 12px ;

  @include shadow_effect("box_2");

  // Secondary container
  .userPopoutInner-PA9zkU { 
    position: relative ;

    &::before { display: none }
  }

  .betaTag-2bWvGF { display: none }

  // -> Profile picture/Avatar
  .avatarWrapper-3y0KZ1 {
    top: 14px ;
    left: 14px ;

    // Outer wrapper
    .avatar-2OC07D {
      border-color: transparent ;
      background: none ;
    }
    
    .svg-2azL_l { overflow: visible }

    foreignObject { 
      mask: none ;
      overflow: visible ;
    }

    // Img
    .avatar-b5OQ1N {
      border-radius: 7.5% ;

      &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
    }

    // Hover overlay
    .avatarHint-2g3Mcd {
      border-radius: 7.5% ;
    }

    // Status icon
    rect {
      position: absolute ;
      x: -8px ;
      y: 116px ;
      pointer-events: none ;

      &[mask="url(#svg-mask-status-online-mobile)"] {
        y: 114px ;
        height: 18px ;
        width: 14px ;
      }
    }
  }

  // Avatar on custom banner
  .avatarPositionPremiumBanner-2nq2Fy {
    // top: 14px ;
  }
  // <- Profile picture/Avatar

  // -> Banner
  .banner-2boKnS {
    border-radius: 0 ;
    height: 120px ;

    filter: brightness(0.85);

    // Edit own profile btn
    .pencilContainer-11Kuga {
      top: 80px ;
    }

    .premiumIconWrapper-yyGDql { display: none }
  }

  // Custom image banner
  .bannerPremium-86naOf {
    filter: brightness(0.75);
  }
  // <- Banner

  // -> Badges
  .profileBadges-31rDHI {
    position: absolute ;
    top: 14px ;
    right: 14px ;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1 ;

    // not empty
    &.containerWithContent-2_V0PM {
      padding: 2px ;
    }

    // bd dev badge
    .bd-profile-badge {
      width: 22px ;
      text-align: center ;
    }
  }
  // <- Badges

  // -> Main user info 
  .overlayBackground-arbZMT {
    margin: 0 ;
    border-radius: 0 ;

    // Info sections
    .section-3FmfOT {
      padding: 12px 12px 0 12px ;
    }

    // -> Username/Nickname
    // -> With Nickname
    // Nickname
    .nickname-2rimyL {
      margin-left: 24px ;
      font-size: 18px ;
      color: var(--header-primary);
    }

    // Discriminator
    .userTagWithNickname-3-znkC .discrimBase-KriZSj {
      margin-left: 2px ;
      font-size: 12px ;
      line-height: normal ;
      vertical-align: baseline ;
    }
    // <- With Nickname

    // -> Without Nickname
    // Username
    .userTagUsernameNoNickname-2e_xaO {
      margin-left: 24px ;
      color: var(--header-primary);
    }

    // Discriminator
    .userTagDiscriminatorNoNickname-2HLaIE {
      margin-left: 4px ;
      color: var(--header-secondary);
      font-size: 17px ;
      font-weight: 500 ;
      line-height: normal ;
      vertical-align: baseline ;
    }
    // <- Without Nickname
    // <- Username/Nickname

    .scroller-1jBQYo::-webkit-scrollbar { display: none }

    // Quick Dm
    .messageInputContainer-2rGDH8 {
      padding: 4px 12px 6px 12px ;
      margin: 0 -12px 0 -12px ;
      border: none ;
      border-radius: 0 ;
    }
  }
  // <- Main user info

  // -> Popout no custom colors
  .userPopoutInnerWithoutTheme-23vLID {
    
    .overlayBackground-arbZMT {
      background: var(--background-tertiary);
    }

    .scroller-1jBQYo {
      padding-top: 6px ;
    }

    // Quick Dm
    .messageInputContainer-2rGDH8 {
      background: var(--background-secondary);
    }
  }
  // <- Popout no custom colors

  // -> Popout with custom colors
  &.userPopoutThemed-3BZ4by {
    padding: 0 ;
    background: linear-gradient(transparent 120px,var(--profile-gradient-primary-color) 0,var(--profile-gradient-secondary-color));

    .userPopoutInner-PA9zkU {
      background: var(--profile-gradient-overlay-color);
    }
  }

  .userPopoutInnerWithTheme-71l1ON {

    // Quick Dm
    .messageInputContainer-2rGDH8 {
      border-top: 1px solid var(--profile-message-input-border-color);
    }
  }
  // <- Popout with custom colors
}
// <- User Popout


// -> User Modal
// ..
// <- User Modal