/* V_0.3.6 */ 

// for testing 
//#app-mount::before {
//  content: " " ;
//  position: absolute ;
//  height: 100vh ;
//  width: 100vw ;
//  background: #126da5 ;
//  z-index: -1 ;
//}

 @mixin Scrollbar () {
  background: none ;
   
  &::-webkit-scrollbar-track-piece {
    background-color: transparent ;
    border: none ;
  }
  &::-webkit-scrollbar-track { background: transparent }
  &::-webkit-scrollbar-thumb { border-color: transparent }
}

body {
  background: none ;
  
  #app-mount {
     background: none ;
    
    > [class*="app-"] > [class*="app-"] { 
      background: none ;
      
      [class*="bg-"] { background: none }
    }
  }
}


[class*="layers-"] [class*="layer-"] {
  background: none ;

  // serverbar
  [class*="guilds-"] { 
    background: none ;
    
    [class*="scroller-"] { background: none }
  }

  // server-channels
  [class*="sidebar-"] {
    background: none ;
    
    > [class*="container-"] { background: none }
    > [class*="panels-"] { background: none }
    [class*="privateChannels-"] [class*="scroller-"]{ background: none }
  }

  // server-chat
  [class*="chat-"] {
    background: none ;

    // titlebar
    [class*="title-"] { background: none }

    // messages
    [class*="content-"] [class*="scroller-"] {
      @include Scrollbar ;
      background: none ;

      // text-input
      form [class*="channelTextArea-"] [class*="inner-"] { background: none }
    }

    // memberlist
    [class*="membersWrap-"] [class*="scroller-"] { background: none }
  }

  // PMs
  [class*="privateChannels-"] { background: none }

  // activity
  [class*="activityFeed-"] { 
    background: none;

    [class*="container-"] { background: none }
  }

  // libary
  [class*="gameLibrary-"] { 
    background: none;

    [class*="libraryHeader-"] { background: none }
    [class*="scroller-"] { @include Scrollbar }
  }
  
  // Gift Inventory
  [class*="sidebar-"] ~ [class*="root-"]{ 
    background: none;

    [class*="libraryHeader-"] { background: none }
    [class*="scroller-"] { @include Scrollbar }
  }

  // nitro
  [class*="applicationStore-"] { 
    background: none;

    [class*="headerBar-"] { background: none }
    [class*="scroller-"] { @include Scrollbar }
  }

  // friends
  [class*="sidebar-"] ~ [class*="container-"] { 
    background: none;

    [class*="container-"] { background: none }
    [class*="scroller-"] { @include Scrollbar }
  }

  // Discovereeeee
  [class*="guilds-"] ~ [class*="base-"] [class*="pageWrapper-"] { background: none }
}

// settings tab
[aria-label="USER_SETTINGS"], [aria-label="GUILD_SETTINGS"] {
  background: none;

  [class*="standardSidebarView-"] {
     background: none;

    > [class*="sidebarRegion-"] { 
      background: none ;
      
      [class*="scroller-"] { background: none }
    }
    
    > [class*="contentRegion-"] {
      background: none;

      [class*="scroller-"] { @include Scrollbar }
    }
  }
}