// -> hide all but last message btn
@container style(--reduce-messageBtns: 1 ) {
  .buttonsInner__5126c > { // can't do :is with pseudo class
    .button_f7ecac, // for btns added by plugins
    // all items but last two
    .separator_f84418,
    :nth-last-child(n+3) .button_f7ecac {
      display: none ;
    }
  }
}
// <- hide all but last message btn

// -> hide emojis
@container style(--hide-messageBtnEmojis: 1 ) OR style(--hide-messageBtnEmojis: 2 ) {
  // separator unless there are plugin btns
  .separator_f84418:not(.button_f7ecac ~ .separator_f84418),
  .button_f7ecac:has(.emoji) {
    display: none ;
  }

  // to not shift positions (e.g. of plugin btns) when hover (best solution?)
  .buttonsInner__5126c > span:has(.emoji__040f0) {
    order: -1 ;
  }
}

.buttons__5126c {
  // opacity: 1 ; // debug

  // hover or expanded
  &:has([d^="M18 17h-1.24a3 3 0 1 1 .26 4.25 1 1 0 1 0-1.33 1.5A4.98 4.98 0 0 0 24 19a5 "]),
  &:hover {

    // Unhide all
    @container style(--hide-messageBtnEmojis: 1 ) {
      :is(.button_f7ecac, .separator_f84418) {
        display: flex !important ;
      }
    }

    // Unhide all but emojis
    @container style(--hide-messageBtnEmojis: 2 ) {
      :is(
        .button_f7ecac:not(:has(.emoji)),
        .separator_f84418
      ) {
        display: flex ;
      }
    }
  }
}
// <- hide emojis

// -> hide bg highlight
// highlight on btn hover/expanded
@container style(--hide-messageHover: 1 ) {
  .message__5126c:hover:not(
    :has(.buttons__5126c:hover),
    :has([d^="M18 17h-1.24a3 3 0 1 1 .26 4.25 1 1 0 1 0-1.33 1.5A4.98 4.98 0 0 0 24 19a5 "])
  ){
    background: none !important ;

    &.mentioned__5126c {
      background: var(--message-mentioned-background-default) !important ;
    }
    &.replying__5126c {
      background: var(--message-highlight-background-default) !important ;
    }
    &.ephemeral__5126c {
      background: var(--brand-05a) !important ;
    }
  }
}

// never highlight
@container style(--hide-messageHover: 2 ) {
  .message__5126c {
    background: none !important ;
  }
  .message__5126c {
    &.mentioned__5126c {
      background: var(--message-mentioned-background-default) !important ;
    }
    &.replying__5126c {
      background: var(--message-highlight-background-default) !important ;
    }
    &.ephemeral__5126c {
      background: var(--brand-05a) !important ;
    }
  }
}
// <- hide bg highlight
