$v: 4 ; // required theme file version
$current_version: "0.3.94" ;


// Version
#user-settings #bd-settings-sidebar > span:after {
  content: "T1-Theme v#{$current_version} by Eight_P";
  display: block;
  font-size: 12px ;
  font-weight: 600 ;
  color: rgb(114, 118, 125);
  padding: 2px 10px;
}

// Disclaimer mixin
@mixin disclaimer ($text, $op) {
  
  &::before {
    content: $text ;
    position: absolute;
    height: 22px ;
    width: 100vw ;
    background: var(--activity-card-background) ;
    opacity: $op ;
    color: var(--text-normal) ;
    text-align: center ;
    line-height: 22px ;
    font-size: 12px ;
    font-weight: 600 ;
    letter-spacing: .5px ;
    z-index: 1 ;
  }
  
  &::after {
    content: url(/assets/4757a3d415435a57d4db6fca022872e3.svg);
    position: absolute;
    padding: 1px ;
    height: 19px ;
    width: 19px ;
    opacity: $op ;
    z-index: 1 ;
  }
  
  #app-mount [class*="titleBar-"] [class*="wordmarkWindows-"] { opacity: calc(1 - #{$op}) }
}

// Scrollbar mixin
@mixin scrollbar () {
  [class*="scroller-"] {

    &::-webkit-scrollbar-thumb {
      background-color: var(--background-secondary);
    }
    
    &::-webkit-scrollbar-track { background: transparent }

    &::-webkit-scrollbar { width: 12px }

    &:hover::-webkit-scrollbar-thumb { background-color: var(--interactive-hover) }
  }
}

body {
  
  // Main Background
  background: var(--Background_Main) !important {
    size: cover !important ;
    attachment: fixed !important ;
    position: center !important ;
    repeat: no-repeat !important ;
  }
    
  // Background darkening
  #app-mount { background: rgba(0, 0, 0, calc(var(--brightness) / 100 )) !important }
  
  // if the Theme file needs an update
  @include disclaimer (
    'A new Theme version requires a local file update!  Pls check : " github.com/Eight-P/BetterDiscord-Stuff " and replace your "T1.theme.css" file ', 
    calc( #{$v} - var(--F_V,0))
  );

  // if Minimal Mode is active
  &.bd-minimal { @include disclaimer ('Pls turn off "Minimal Mode" for the Theme to work properly ("ctrl" + "," : to open settings)', 1) }
  
  // removing transition effect 
  [class*="layers-"] > [class*="layer-"] { transform: scale(1) translateZ(0px) !important }

  // pluginNotice-bar
  #pluginNotice, [class*="app-"] > [class*="notice-"]{
    position: absolute ;
    width: 100vw ;

    [class*="dismiss-"] { right: 36px }
  }
}

// Window-bar
#app-mount > [class*="app-"]::before {
  content: "" ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  height: 1px ;
  width: 100vw ;
  box-shadow: 0 -1px 0 var(--header-secondary);
  opacity: .5 ;
  pointer-events: none ;
}

//Titel-bar in general
[class*="sidebar-"] {
  ~ [class*="chat-"] > [class*="title-"],
  ~ [class*="activityFeed-"] > [class*="container-"],
  ~ [class*="gameLibrary-"] [class*="libraryHeader-"],
  ~ [class*="root-"] [class*="libraryHeader-"],
  ~ [class*="applicationStore-"] [class*="headerBar-"],
  ~ [class*="container-"] > [class*="container-"] {
    
    [class*="children-"] {
      [class*="iconWrapper-"], [class*="title-"], [class*="divider-"] { display: none }
     
      &::after { display: none }
    }
    
    [class*="toolbar-"] {
      //Icons
      > [class*="iconWrapper-"], > [class*="anchor-"] {
        margin: 0 9px ;

        > div { margin: 0 }

        svg {
          width: 20px ;
          color: var(--interactive-normal) ;
        }

        &:hover svg { color: var(--interactive-hover) }
      }
    }
  }
}

// Titel-bar Server/DMs
[class*="sidebar-"] ~ [class*="chat-"] [class*="title-"]{
  
  //Channel info
  [class*="children-"] {
    
    [class*="status-"], [class*="akaBadge-"] { display: none }
    
     // Channel Topic
    [class*="topic-"] {
      margin: 0 8px ;
      text-align: center ;
      
      &:hover { color: var(--interactive-hover) }
    }
    
    // Channel Follow Button as spacer for the other follow button shit
    button[class*="followButton-"] { 
      visibility: hidden ;
      pointer-events: none ;
      padding: 4px 16px ;
    }
    
    [class*="nicknames-"] { margin-left: 224px }
  }
  
  //Search
  [class*="toolbar-"] > [class*="search-"] {
    pointer-events: none ;
    margin: 0 8px ;

    //Search Bar
    > [class*="search-"] {

      [class*="searchBar-"] {
        width: 20px ;
        background: transparent ;

        // Input Container
        .DraftEditor-root {
          position: absolute ;
          width: 20px ;
          cursor: pointer ;
          pointer-events: auto ;
          
          .public-DraftEditor-content {
            
            //search text
            .public-DraftStyleDefault-block > span { display: none }
          }

          //placeholder text
          .public-DraftEditorPlaceholder-root { display: none }
        }

        [class*="icon-"] svg {
          color: var(--interactive-normal) ;
          transition: none ;
        }
      }
      
      &:not([class*="open-"]):hover [class*="icon-"] svg { color: var(--interactive-hover) }

      //Search Bar opend
      &[class*="open-"] {
        border-bottom: 1px solid var(--header-secondary) ;

        [class*="searchBar-"] {
          width: 244px ;
          transition: .3s ;

          .DraftEditor-root { 
            position: relative ;

            .public-DraftEditor-content .public-DraftStyleDefault-block > span { display: inline-block }
          }

          [class*="icon-"] svg {

            &:first-child { visibility: hidden }
            &:last-child { opacity: 1 }
          }
        }
      }
    }
  }
}

// Server-channels
[class*="sidebar-"] > [class*="container-"]:nth-of-type(1) {
  top: 48px ;
  margin-bottom: 48px;

  [class*="positionedContainer-"] [class*="unread-"] { padding: 0 8px }

  [class*="scroller-"] {
    
    &::-webkit-scrollbar { display: none }
    
    // Channel container
    [class*="containerDefault-"] {

      // default 
      [class*="content-"] {
        background: transparent;

        [class*="icon-"] {
          width: 15px ;
          color: var(--channels-default);
          opacity: .8 ;
        }
        
        // channel-options
        [class*="children-"] [class*="iconItem-"] { display: none }
        
        // connection-limit
        [class*="children-"] [class*="userLimit-"] [class*="wrapper-"]{
          
          [class*="users-"], [class*="total-"] { background: transparent }
          
          [class*="total-"]::after {
            border: none ;
            content: "|" ;
            left: -5px ;
            top: -1px ;
          }
        }
        
        // mentions indicator
        [class*="numberBadge-"] {
          background-color: transparent !important ;
          border-bottom: 2px solid var(--red) ;
          border-radius: 0 ;
          color: var(--text-normal) ;
        }
        
        // icon on hover
        &:hover [class*="children-"] [class*="iconItem-"] { display: block } 
      }
      
      // muted
      [class*="modeMuted-"] {
        
        [class*="name-"] { color: var(--channels-default) }
        [class*="icon-"] { color: var(--interactive-muted) }
      }
      
      // unread
      [class*="modeUnread-"] {
        
        [class*="unread-"] { background-color: var(--interactive-hover) }
        [class*="name-"] { color: var(--channels-default) }
      }
      
      // selected, connected
      [class*="modeSelected-"], [class*="modeConnected-"] {

        [class*="icon-"] { color: var(--interactive-active) }
      }
    }
  }
}

// Profile-, connection container
[class*="sidebar-"] > [class*="panels-"] {
  contain: initial ;
  position: initial;

  // Profile Container
  [class*="container-"]:last-of-type  {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;

    // Avatar/Icon
    [class*="avatar-"] [class*="status-"] {
      border: none ;
      bottom: -1px ;
      right: -1px ;
    }
    
    // Custom Status Icon
    [class*="nameTag-"] [class*="customStatusWrapper-"] { display: none }
    
    // moving/fixing tooltips
    > [class*="flex-"] {
      margin-top: 20px ;

      > div { height: 22px }

      [class*="iconButtonDefault-"] { 
        margin-top: -10px ;
        background-color: transparent ;
      }
      button {
        background-color: transparent ;
        
        [class*="contents-"] { margin-top: -20px }
      }
    }
  }
  
  // connection Container
  [class*="container-"]:nth-last-of-type(2) { 
    border: none ;
    padding: 6px 8px ;
    
    button { background: none }
  }
  
  // activityPanel
  [class*="activityPanel-"] { 
    padding: 4px 8px ;
    
    button { background: none }
  }
}

// Chat
[class*="chat-"]  {
  
  > [class*="content-"]::before { display: none }
  
  [class*="chatContent-"] {
    
    //Server-messages
    [class*="messagesWrapper-"] {
      z-index: 101 ;
      
      @include scrollbar() ;
      
      // Mark as Read
      [class*="newMessagesBar-"] {
        position: absolute ;
        top: -38px ;
        left: 5px ;
        right: 5px ;
        background: var(--activity-card-background);
        opacity: 1 ;
        padding: 5px ;
      }
      
      // Seperator (Date)
      [class*="divider-"] {
        border: none ;
        margin: 26px 14px 10px 14px ;
        
        &::before, &::after {
          content: "" ;
          height: 1px ;
          width: 100% ;
          background: var(--background-modifier-accent) ;
        }
        
        span { background: none }
      }
      
      //Buttons
      [class*="message-"] {
        
        [class*="buttonContainer-"] {
          
          [class*="buttons-"] { top: -20px }
          [class*="buttons-"][class*="isHeader-"] { top: 0px }

          [class*="wrapper-"] {
            background: none ;
            box-shadow: none ;
            
            [class*="emojiButton-"], [class*="emojiSeparator-"] {
              display: none ;
            }
          }
        }
        
        &[class*="mentioned-"]::before { display: none }
      }
    }

    // Text-Input
    > form {
      position: initial ;
      margin: 5px 0 0 0 ;
      padding: 0 ;
      border-top: 1px solid var(--background-modifier-accent);
      
      &::before { display: none }

      [class*="channelTextArea-"] {
        margin: 0 ;
        padding: 0 ;

        [class*="scrollableContainer-"] { 
          background: transparent ;
          
          [class*="attachWrapper-"]::after {
            content: "" ;
            position: absolute ; 
            top: 5px ;
            right: -1px ;
            height: 34px ;
            width: 1px ;
            background-color: var(--background-primary) ;
          }

          [class*="buttons-"] {
            
            // gift menu
            [aria-label*="Send a gift"] { display: none }

            // emoji meniu
            [class*="emojiButton-"] {
              opacity: .6 ;

              &[class*="emojiButtonHovered-"] { opacity: 1 }
            }
          }
        }
      }
      // no permission to write
      [class*="channelTextAreaDisabled-"] [class*="innerDisabled-"]::after {
        content: " " ;
        background: url("https://i.imgur.com/za6Yq9g.png") ;
        position: absolute;
        right: 0 ;
        bottom: 0 ;
        height: 36px ;
        width: 36px ;
        background-size: cover ;
        background-repeat: no-repeat ;
      }

      // typing indicator
      [class*="typing-"] {
        background: transparent ;
        position: absolute ;
        bottom: 42px ;
        left: -10px ;
        height: 15px ;
        box-sizing: border-box ;
        padding: 0 5px ;
        overflow: hidden ;

        [class*="text-"] { line-height: 15px }

        [class*="spinner-"] { margin: 0 }

        [class*="cooldownWrapper-"] {
          color: transparent !important;
          width: 15px ;

          [class*="slowModeIcon-"] {
            position: absolute ;
            height: 15px ;

            path { fill: var(--interactive-normal) }
          }
        }
      }
      // Follow thing idk
      > [class*="wrapper-"] { 
        position: absolute ;
        width: 100px ;
        top: -35px ;
        left: 0 ;
        padding: 0 ;
        margin: 0 ;
        background: none ;
        z-index: 100 ;
        
        [class*="content-"] {
          display: none ;
        }
        
        button {
          &:first-child { display: none }
          &:last-child { display: flex }
        }
      }
      
      // crap
      > [class*="activityInviteEducation-"] { display: none }
    }
  }
}

// Member-list
[class*="membersWrap-"] [class*="scroller-"] {

  &::-webkit-scrollbar { display: none }

  // default Member card
  [class*="member-"] {
    border-radius: 0 ;
    height: 37px ;
    margin: 5px 0 5px 14px ;
    
    [class*="layout-"] { height: 37px }
    
    &[class*="selected-"] { 
      border-right: 3px solid var(--interactive-hover);
      
      [class*="layout-"] { background: none }
    }
    
    &:hover { border-right: 3px solid var(--interactive-hover) }

    &[class*="offline-"] { 
      
      &:not(:hover) [class*="avatar-"] img {
        filter: grayscale(100%);
        border-radius: 50% ;
      }
    }
  }
}

// Server-bar
[class*="wrapper-"][class*="guilds-"] {
  //Server-Background 
  &::before {
    content: "";
    position: absolute ;
    height: 54px ;
    width: 100vw ;
    transform: rotate(90deg) translateX(-54px) ;
    transform-origin: bottom left ;
    background: var(--Background_Server), rgba(0, 0, 0, calc(var(--brightness_Server) / 100 )) {
      position: center ;
      repeat: no-repeat ;
      blend-mode: overlay ;
    }
  }
}

// Home
[class*="sidebar-"] {
  
  // DMs (left sidebar)
  > [class*="privateChannels-"] {
    top: 48px ;
    margin-bottom: 48px ;

    [class*="scroller-"] {
      padding: 0 10px 0 0 !important ;

      &::-webkit-scrollbar {display: none }

      [class*="channel-"] {
        height: 38px !important ;
        margin: 6px 0 ;
        padding: 0 ;
        
        [class*="layout-"] {
          height: 38px ;
          margin-left: 10px ;
          border-radius: 0 ;
          
          [class*="close-"] { background-size: 22px 22px }
        }
        
        &[class*="selected-"] [class*="layout-"] { 
          border-left: 3px solid var(--interactive-hover) ;
          background: transparent 
        }
        
        &:hover [class*="layout-"] {
          border-left: 3px solid var(--interactive-hover) ;
        }
      }
    }
  }
  
  // Friends
  ~ [class*="container-"] {

    // Friends Header
    > [class*="container-"] [class*="tabBar-"] {
      display: block ;
      width: 100% ;
      text-align: center ;
      
      [class*="item-"] {
        background: none !important ;
        display: inline ;
        
        // add friend
        &:last-of-type {
          float: right ;
          margin-right: 15px ;
          color: var(--interactive-normal) !important ;
          
          &:hover {
            color: var(--interactive-hover) !important ;
          }
          
          &[style*="; color: rgb(67, 181, 129)"] {
            color: white !important ;
          }
        }
      }
    }
    
    // Friends body
    [class*="tabBody-"] {
      margin-top: 10px ;
      
      &::before { display: none }

      //Friends - online list
      [class*="peopleColumn-"] { 
        @include scrollbar();
        
        header[class*="title-"] { display: none }
        
        // User Item
        [class*="peopleListItem-"] {
          border: none ;
        
          [class*="actions-"] [class*="actionButton-"] { background: none }
        }
      }
      
      // Friends active list
      [class*="nowPlayingColumn-"] { display: none }
    }
  }
  
    // Nitro (applicationStore)
  ~ [class*="applicationStore-"] {
    
//    [class*="homeWrapperNormal-"] { @include searchbar() }
    
    [class*="scroller-"]::-webkit-scrollbar { display: none }
  }
}

// Settings Tab
#user-settings {
  
  // Side bar
  [class*="sidebarRegion-"] [class*="scroller-"]{
    &::-webkit-scrollbar { display: none }
    
    [class*="sidebar-"] [class*="side-"] {
      
      // Header
      [class*="header-"], .ui-tab-bar-header { 
        color: var(--header-primary) !important ;
        opacity: .8 ;
      }
      
      // categorie name
      [class*="item-"], .ui-tab-bar-item {
        color: var(--interactive-normal) ;
        background: none !important ;
        border-radius: 0 ;
        padding: 0 10px ;
        margin: 6px 0 ;
        box-sizing: border-box ;
        
        &:hover { color: var(--interactive-hover) }
      }
      
      .ui-tab-bar-item { margin: 12px 0 }
      
      [class*="item-"][class*="selected-"], .ui-tab-bar-item.selected {
        border-left: 2px solid var(--interactive-active) ;
        color: var(--interactive-active) ;
      }
    }
  }
  
  // Content
  [class*="contentRegion-"] { @include scrollbar() }
}

// BD's Public Server List
#pubslayerroot {
  // - sidebar
  .sidebar-region-scroller {
    padding: 20px 0 ;
    
    &::-webkit-scrollbar { display: none }
  }
  
  // - content region
  [class*="content-region"] { background: none }
  
  // scroller 
  .content-region [class*="scrollerWrap"] { @include scrollbar() }
  
  // content container
  .content-column { padding: 20px 40px 80px }
}

// User Popout
[class*="layerContainer-"], [class*="popouts-"] {
  
  [class*="userPopout-"] {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

    [class*="header-"] {

      &[class*="headerNormal-"] { background-color: var(--background-tertiary) }
      &[class*="headerSpotify-"] {
        background-color: var(--background-tertiary) ;

        [class*="timeBarUserPopout-"] ~ [class*="flex-"] { display: none }
      }
      &[class*="headerPlaying-"] { background-color: var(--background-tertiary) }
      &[class*="headerStreaming-"] { background-color: #593695 }

      [class*="avatarWrapper-"] {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

        foreignObject img, [class*="avatarHintInner-"] {
          filter: opacity(100%);
          border-radius: 7.5% ;
        }
      }
    }
    // weird note thing
    [class*="footer-"] { [class*="protip-"] { display: none } }
  }
}

// Popouts shit
[class*="layerContainer-"] {
  
  // Server-Options -hopefully-
  [class*="animatorTop-"] [class*="menu-"]{ 
    background: var(--activity-card-background) ;
    padding: 6px 0 ;

    [class*="item-"] {
      height: 22px ;
      min-height: inherit ;
      border-radius: 0 ;
      padding: 0 17px ;
      margin: 12px 0 ;

      &:hover {
        color: var(--interactive-hover) ;
        background: var(--background-modifier-selected) ;
        border-left: 3px solid var(--interactive-hover) ;
      }
    }
  }
}

// Popouts (old container)
[class*="popouts-"] {
  
  // searchbar options popout
  [class*="noArrow-"][class*="noShadow-"][class*="popout-"][class*="popoutBottom-"][class*="arrowAlignmentTop-"] {
    [class*="container-"] {
      background: var(--activity-card-background) ;
      box-shadow: 2px 2px 10px black ;

      [class*="resultsGroup-"] [class*="option-"]::after { display: none }
    }
  }
}

// User Profile (modal)
[class*="modal-"] {

  // header
  [class*="topSection"] {
    background-color: var(--background-tertiary) ;
    
    [class*="header-"] {

      > [class*="avatar-"] {
        filter: drop-shadow( 2px 2px 3px black );

        img {
          filter: opacity(100%);
          border-radius: 7.5% ;
        }
      }
      
      // Colored Profile-Badges
      [class*="profileBadgeWrapper-"] {
        // Bravery
        [class*="profileBadgeHypeSquadOnlineHouse1-"] {background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg)}
        // Brilliance
        [class*="profileBadgeHypeSquadOnlineHouse2-"] {background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg)}
        // Balance
        [class*="profileBadgeHypeSquadOnlineHouse3-"] {background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg)}
        // EarlySupporter
        [class*="profileBadgeEarlySupporter-"] {background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg)}
        // Nitro
        [class*="profileBadgePremium-"] {background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg)}
        // Partenr
        [class*="profileBadgePartner-"] {background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg)}
        // Guild-Sub-1
        [class*="profileGuildSubscriberlvl1-"] {background-image: url(https://discordapp.com/assets/7dc50a46914f03a1c6698133199ad39c.svg)}
        // Guild-Sub-4
        [class*="profileGuildSubscriberlvl4-"] {background-image: url(https://discordapp.com/assets/ac20c019c11f36fb22b4ce13725a1aff.svg)}
      }
    }
  }

   // body
  [class*="flex-"] > [class*="body-"] {
    
    [class*="userInfoSection-"]:last-child { border-color: var(--background-tertiary) }
    
    [class*="connectedAccounts-"] > [class*="flex-"]{
      border: none ;
      
      [class*="connectedAccountName-"] { color:  var(--channels-default) }
    }
  }
}

// Discoveree
[class*="guilds-"] ~ [class*="base-"] [class*="pageWrapper-"] {
  background: transparent ;
  
  > img { display: none }
  
  @include scrollbar();
    
  [class*="body-"] [class*="search-"] {
    [class*="searchBox-"], [class*="languageSelector-"] [class*="container"] { background: var(--background-primary) }
  }
}

// Tooltips
[class*="layerContainer-"] [class*="tooltip-"] {
  background-color: var(--activity-card-background) ;
  z-index: 3002 ;

  [class*="tooltipPointer-"] { border-top-color: var(--activity-card-background) !important ; }
}



// - Plugin support

// DetailedServerTooltips (by Metalloriff)
[class*="layerContainer-"] .dst-tooltip {
  transform: translateY(calc(-100% + 40px));
  left: -20px !important ;
  background-color: var(--activity-card-background) !important ;
}
