@use '../mixins/new_mixins' as * ;

// -- Guild/Server view

// Text & Voice Channels sidebar
@import 'new_serverChannels' ;

// Members list
@import 'new_serverMembers.scss' ;

// Server home, Channels&Roles, Member safety, Server shop
@import 'new_serverSpecials.scss' ;


// Server boost screen
._5c9fcec194debbe7-root._5c9fcec194debbe7-enterDone {

  ._6fd0e42f91edfda6-scroller {
    @include scrollbar();
    @include scrollerFadeOut();
  }

  // weird wave design things
  ._1dfaec293e55bc43-bodyWave, ._1dfaec293e55bc43-headerWave { display: none }
}
