// Server view | Server guide/home, Channels&Roles, Member safety, Server shop


// -> Server guide/home
.homeContent__7449f {

  .row_d13feb, .card__73069 {
    background: var(--background-modifier-accent);
    border: none ;
  }
}
// <- Server guide/home


// -> Channels & Roles
.container__0b563 {

  // -> Header nav bar
  .tabBar__0b563 {
    margin: 16px 32px 0 32px ;

    // item
    .tabBarItem__0b563 {

      &::after { display: none }
    }
  }
  // <- Header nav bar

  // -> Customize page
  .pageBody__5d7c9 {

    // Category containers
    .prompt__5d7c9 {
      border: none ;
    }

    // option items
    .optionButtonWrapper__270d7 {
      background: var(--background-modifier-accent);
      border: none ;

      &:hover {
        background: var(--background-modifier-hover) !important ;
      }

      &.selected__270d7 {
        background: var(--background-modifier-selected);
      }

      .text-md\/medium_cf4812 {
        margin-right: 10px ;
      }

      .checkIcon__270d7 {
        top: 4px ;
        right: 4px ;
      }
    }
  }

  // Profile preview
  .profile__5d7c9 {

    .profileCard__5d7c9 {
      background: var(--background-modifier-accent);
    }

    .bio__5d7c9 {
      color: var(--header-secondary) !important;
    }
  }
  // <- Customize page

  // -> Channels list
  .pageBody__41ed7 {

    // -> Category header
    .categoryRow_e4503a {
      justify-content: start ;
      gap: 20px ;
      margin-top: 20px ;

      @include divider(top);

      &.uncategorized_e4503a {
        padding: var(--space-md) 0 var(--space-xs);
      }
    }

    .categoryText_e4503a {
      color: var(--header-secondary) !important ;
    }

    // follow bnt & txt
    .categoryRow_e4503a .container__5a838 {
      display: flex ;

      // follow category text
      .labelContainer__5a838 {
        display: none ;
      }
    }

    // search
    .header__41ed7 {
      margin-bottom: 1px ;
    }
    // <- Category header

    // -> Row item
    .channelRow_e4503a {
      border: none ;

      &:hover {
        background: var(--background-modifier-hover) !important;
      }
    }

    .channelSubtitles_e4503a {
      margin-left: 20px + 3px + 8px ;

      .defaultColor__4bd52 {
        color: var(--header-secondary);
      }
    }

    .iconContainer__2ea32 {
      margin-right: 3px ;
    }

    .viewChannelButtonWrapper_e4503a {
      display: block ;
    }

    .checkboxIndicator__714a9 {
      background: none !important ;
    }
    .checkboxOption__714a9[data-selected] .checkboxIndicator__714a9 {
      border: none ;
    }
    .checkboxOption__714a9[data-selected]:hover {

      .checkStroke__714a9 {
        color: var(--red) !important ;

        path {
          d: path("M 18.4 4 L 12 10.4 L 5.6 4 L 4 5.6 L 10.4 12 L 4 18.4 L 5.6 20 L 12 13.6 L 18.4 20 L 20 18.4 L 13.6 12 L 20 5.6 L 18.4 4 Z");
        }
      }
    }
    // <- Row item
  }
  // <- Channels list

}
// <- Channels & Roles


// -> Member Safety Page
#app-mount .container_c791b2 {
  padding: 0 ;
}

.container_c791b2 {

  .mainTableContainer__09a38 {
    border: none ;
  }

  .horizatonalScroller__09a38 {

    &::-webkit-scrollbar {
      height: 14px ;
    }
  }

  .table_b4ec0b {
    padding: 0 ;
    margin-top: 10px ;
    border: none ;
  }

  .tableHeaderRow__9dd6b {
    &::after { display: none }
  }
}
// <- Member Safety Page


// -> Server shop
.container__49668 {

  .container_adb50a {
    border: none ;
  }

  .tabContainer__49668 {
    border: none ;
  }

  // item card
  .card__8833c {

    .cardContent__8833c {
      background: var(--background-modifier-hover);
      transform: scale(1);
      outline: none ;
      box-shadow: none ;

      &:hover {
        cursor: pointer;
        background: var(--background-modifier-selected);
      }

      > div {
        padding-bottom: 12px ;
      }
    }

    .opaqueBackground__79d38 {
      background: none ;
    }
  }
}
// <- Server shop
