// Server view | Server guide/home, Channels&Roles, Member safety, Server shop


// -> Server guide/home
._7449fa59699cedd9-homeContent {

  :is(.d13feb942bc5e7c6-row, ._730694f5672c9601-card) {
    background: var(--background-modifier-accent);
    border: none ;
  }
}
// <- Server guide/home


// -> Channels & Roles
._0b56311ebc6682e2-container {

  // -> Header nav bar
  ._0b56311ebc6682e2-tabBar {
    margin: 16px 32px 0 32px ;

    // item
    ._0b56311ebc6682e2-tabBarItem {

      &::after { display: none }
    }
  }
  // <- Header nav bar

  // -> Customize page
  ._5d7c9a81ac5dd074-pageBody {

    // Category containers
    ._5d7c9a81ac5dd074-prompt {
      border: none ;
    }

    // option items
    ._270d7a28db32b312-optionButtonWrapper {
      background: var(--background-modifier-accent);
      border-color: transparent ;

      &:hover {
        background: var(--background-modifier-hover);
      }

      &._270d7a28db32b312-selected {
        border-color: var(--interactive-muted);
      }

      .cf48127484dbde85-text-md\/medium {
        margin-right: 10px ;
      }

      ._270d7a28db32b312-checkIcon {
        top: 4px ;
        right: 4px ;
      }
    }
  }

  // Profile preview
  ._5d7c9a81ac5dd074-profile {

    ._5d7c9a81ac5dd074-profileCard {
      background: var(--background-modifier-accent);
    }

    ._5d7c9a81ac5dd074-bio {
      color: var(--header-secondary) !important;
    }
  }
  // <- Customize page

  // -> Channels list
  ._41ed70e52483df6d-pageBody {

    // -> Category header
    .e4503acec53c64dd-categoryRow {
      justify-content: space-around ;
      justify-content: center ;
      gap: 20px ;

      @include divider(top);
    }

    .e4503acec53c64dd-categoryText {
      color: var(--header-secondary) !important ;
      font-size: 14px ;
    }

    .selectAll_e4503a {
      background: var(--background-modifier-hover);
      padding: 2px 6px ;

      .checkbox_f525d3 {
        border-color: transparent ;
      }

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
    // <- Category header

    // -> Row item
    .e4503acec53c64dd-channelRow {
      border: none ;

      &:hover {
        background: var(--background-modifier-hover) !important;
      }
    }

    ._2ea32c412048f708-iconContainer {
      margin-right: 6px ;
    }

    .viewChannelButton_e4503a {
      display: block ;
    }
    // <- Row item

    .checkbox_f525d3 {
      background: none ;
      border-color: var(--interactive-normal) ;
    }
  }
  // <- Channels list

}
// <- Channels & Roles


// -> Member Safety Page
#app-mount .c791b281f2fedc32-container {
  padding: 0 ;
}

.c791b281f2fedc32-container {

  ._09a38002c6c2466d-mainTableContainer {
    border: none ;
  }

  ._09a38002c6c2466d-horizatonalScroller {

    &::-webkit-scrollbar {
      height: 14px ;
    }
  }

  .b4ec0b0549a3448a-table {
    padding: 0 ;
    margin-top: 10px ;
    border: none ;
  }

  ._9dd6b3d6691beb26-tableHeaderRow {
    &::after { display: none }
  }
}
// <- Member Safety Page


// -> Server shop
._496688f04cb26d28-container {

  .adb50a654b4cd212-container {
    border: none ;
  }

  ._496688f04cb26d28-tabContainer {
    border: none ;
  }

  // item card
  ._8833c76cfb7aa93d-card {

    ._8833c76cfb7aa93d-cardContent {
      background: var(--background-modifier-hover);
      transform: scale(1);
      outline: none ;
      box-shadow: none ;

      &:hover {
        cursor: pointer;
        background: var(--background-modifier-selected);
      }

      > div {
        padding-bottom: 12px ;
      }
    }

    ._79d38fa75120d990-opaqueBackground {
      background: none ;
    }
  }
}
// <- Server shop


// -> Server Boosts
._5e434347c823b592-page ._8946359d8adb1488-container {
  container-type: inline-size ;
}

._8946359d8adb1488-contentContainer {
  @container (width < 950px) {
    flex-direction: column-reverse ;

    ._8946359d8adb1488-sidebarContainer {
      flex-direction: row ;
      width: auto ;
      border: none ;
      max-height: 33% ;

      ._2281b3e0ebb5c565-header { display: none }

      // "become a server booster"
      ._6c25357d6a3f0021-container {
        margin: 0 var(--space-16) ;
        background: none ;
        border: none ;

        ._6c25357d6a3f0021-image { display: none }

        // boost this server btn
        ._6a443ac3b8a8970b-shinyButton {
          color: var(--button-filled-brand-text) !important ;
          border: 1px solid var(--button-filled-brand-border) !important ;

          &:hover {
            color: var(--guild-boosting-pink) !important ;
          }
        }

        ._6c25357d6a3f0021-exampleMessage {
          order: 5 ;
        }
      }

      // boots history
      ._2281b3e0ebb5c565-container {
        padding: 16px ;
        max-height: 100% ;
        flex: 1 1 100% ;
      }
    }
  }
}
// <- Server Boosts