// Server bar | App adjustments for server bar

// some stuff was done bc. of the collapsable sidebar bar before that was removed

// -> App container
// fullscreen/Hidden e.g.: fullscreen screenshare
#app-mount { // remove soon

  ._5e434347c823b592-base[data-fullscreen="false"] {
    display: flex ;
    margin-bottom: $sb_height ;

    // sidebar + page container
    ._5e434347c823b592-content {
      display: flex ;
    }

    // main page container
    ._5e434347c823b592-page {
      margin-left: calc(var(--custom-guild-list-width) * -1);
    }
  }

  // Sidebar
  ._5e434347c823b592-sidebar:not(._5e434347c823b592-hidden) {
    display: flex ;
    left: calc(var(--custom-guild-list-width) * -1);
    padding-left: var(--custom-guild-list-width);
    box-sizing: border-box ;

    &[data-collapsed=true] {
      width: 0px !important ;
    }

    // needs to counter: display none on collapse
    // channels
    ._2637a2609f343032-container {
      display: flex !important ;
    }

    // dms, discovery
    .e6b7699ce8339e1c-privateChannels, ._551b0894962ff66f-container {
      display: flex !important ;
    }
  }
}
// <- App container

// -> Server options btn
._5e434347c823b592-sidebarList {
  overflow: visible ;
  backdrop-filter: unset ;
  -webkit-backdrop-filter: unset ;

  // channels list spacer for banner image
  /// (content not unique), needs [style="height: 130px;"]
  .d125d22cdfd32cfe-content > [style="height: 84px;"]:not([class]) {
    margin-top: -84px ; // helps remove the space from bottom of the list
    visibility: hidden ;
  }

  .f37cb1984c371ee5-animatedBannerHoverLayer { display: none }

  ._2637a2609f343032-container {
    mask: none ;
  }

  // button
  .f37cb1984c371ee5-container {
    position: fixed ;
    bottom: 0 ;
    right: 0 ;
    width: 120px ;
    height: $sb_height ;
    display: block !important;

    // some containers between main and text
    :is(.f37cb1984c371ee5-headerContent, .f37cb1984c371ee5-header, .f37cb1984c371ee5-guildBadgeAndName) {
      display: contents !important ;
    }

    // click container
    .f37cb1984c371ee5-guildDropdown {
      padding: 0 ;
      height: 100% ;
      width: 100% ;
      justify-content: center ;
      border-radius: 0 ;

      &:hover, &[aria-expanded="true"] { background-color: rgba(0, 0, 0, 0.2) !important }
    }

    // server name
    .f37cb1984c371ee5-name {
      margin: 5px ;
      white-space: normal ;
      max-height: 32px ;
      line-height: 16px ;
      font-weight: 400 ;
      color: var(--text-normal);
      text-align: center ;
      // display: block !important; // ?

      @include shadowEffect("text_1");
    }

    // Icons, Chevron, star icon in favorites tab, banner image
    :is(
      ._85d1663d6a9fc7f6-guildIconV2Container,
      ._85d1663d6a9fc7f6-guildIconContainer,
      .f37cb1984c371ee5-headerChildren,
      .f37cb1984c371ee5-favoritesIcon,
      .f37cb1984c371ee5-animatedContainer,
      .f37cb1984c371ee5-headerEllipseBackdrop,
      .f37cb1984c371ee5-headerEllipseForeground,
      .f37cb1984c371ee5-headerGlass,
      .f37cb1984c371ee5-inviteButton
    ) { display: none }
  }
}
// <- Server options btn

// -> Quick Switcher (home)
.e6b7699ce8339e1c-privateChannels .e6b7699ce8339e1c-searchBar  {
  position: fixed ;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  padding: 0 ;
  z-index: 0 ;

  &:hover { background-color: rgba(0, 0, 0, 0.2) }

  .a22cb0c66246f5d3-button {
    height: 100% ;
    max-height: unset ;
    border-radius: 0px !important ;
  }

  .a22cb0c66246f5d3-buttonChildrenWrapper {
    padding: 0px 10px ;
  }

  // text
  .b0dfc2ed9c57037d-overflow {
    white-space: wrap ;
    color: var(--text-normal);
    text-align: center ;

    @include shadowEffect("text_1");
  }
}
// <- Quick Switcher (home)

// -> Discovery Text
._551b0894962ff66f-container ._551b0894962ff66f-header {
  position: fixed ;
  display: flex !important ;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  margin: 0 ;
  padding: 0 ;
  justify-content: center ;

  .text-lg\/semibold_cf4812 {
    display: block !important ;
    font-weight: 400 ;
    font-size: 16px ;
    color: var(--text-normal);
    overflow: hidden ;

    @include shadowEffect("text_1");
  }
}
// <- Discovery Text

// Tooltips (shouldn't need them anyway)
._59d0d7075b521375-clickTrapContainer > ._59d0d7075b521375-layer:has(._4e35b986167c457d-tooltip) {
  pointer-events: none ;
}