@use '../mixins/_mixins' as * ;

// -- Serverbar

$sb_height: 54px ;
$iconBaseSize: 40px ;

:root {
  --sbInnerSpacing: calc(var(--serverbarSpacing) * .5 );
  --sbDmSpacing: calc(var(--serverbarSpacing) * .8 );
  --sbIconScale: calc(var(--serverbarIconSize) * 0.01 );

  --guildbar-avatar-size: #{$iconBaseSize} !important ; // discord var
  --guildbar-folder-size: #{$iconBaseSize} !important ;
}

$spacing: var(--serverbarSpacing);
$innerSpacing: var(--sbInnerSpacing);
$dmSpacing: var(--sbDmSpacing);
$iconScale: var(--sbIconScale);


// App adjustments
@import 'gbAdds' ;


@mixin itemSeperator() {
  content: "" ;
  position: absolute ;
  width: $sb_height - 22 ;
  height: 2px ;
  margin: 0 11px ;
  background-color: var(--interactive-normal);
}

// #app-mount {
@scope (.guilds_c48ade) {

// -> Containers
:scope {
// .guilds_c48ade {
  position: fixed ;
  left: 0 ;
  bottom: 0 ;
  right: 0 ;
  height: $sb_height ;
  width: 100vw !important ;
  margin: 0 !important ;
}

.tree_ef3116 {
  height: 100vw ;
  min-height: 100vw ;
  width: $sb_height ;
  transform: rotate(-90deg) translateX(-#{$sb_height});
  transform-origin: top left ;
  outline: none ;
}

// Unread mentions indicators
.unreadMentionsIndicatorTop_ef3116,
.unreadMentionsIndicatorBottom_ef3116,
.listItem__650eb:has(.guildSeparator__252b6) { display: none }

.scroller_ef3116 {
  display: grid ;
  height: 100% ;
  width: $sb_height ;
  margin: 0 0 120px 0 ;
  padding: 0 !important ;
  gap: 0 !important ;
  overflow: hidden !important ;

  grid-template-columns: $sb_height ;
  grid-template-rows: min-content min-content min-content auto ;
  grid-template-areas: 
    "Home"
    "GuildsAdd"
    "Discovery"
    "Servers"
  ;
  grid-auto-rows: min-content ;
  align-items: center !important ;

  &::before {
    @include itemSeperator();
    top: 120px ;
  }

  &::after {
    @include itemSeperator();
    bottom: 0px ;
  }
}
// <- Containers

// -> general item
.listItem__650eb {
  width: $sb_height ;

  // Pill
  .item__58105 {
    visibility: hidden ;
    height: calc($iconBaseSize * $iconScale * 0.20 ) !important ;
    margin-left: -5px ;
    
    // Server selected
    &[style="opacity: 1; height: 40px; transform: none;"] {
      visibility: visible ;
      height: calc($iconBaseSize * $iconScale * 0.87 ) !important ;
      border-radius: 0 8px 8px 0 ;
    }
    
    // Unread indicator
    &[style="opacity: 1; height: 8px; transform: none;"] { 
      visibility: visible ;
    }
  }

  // voice activity, ...
  .upperBadge_cc5dd2 {
    top: -4px ;
    right: -4px ;
  }

  // unread mentions
  .lowerBadge_cc5dd2 {
    left: 0px ;
    bottom: 0px ;
  }

  .wrapper_cc5dd2 {
    @include shadowEffect("server_1");

    :is(mask, g) { display: none }

    foreignObject { mask: none }

    // -> Server item
    // Image, default avatar (group dm)
    :is(.icon__6e9f8,.avatar__44b0c) {
      border-radius: 50% ;
      transition: .2s ;
    }

    &:hover :is(.icon__6e9f8,.avatar__44b0c) { border-radius: 25% }

    .avatarStack__44b0c {
      justify-content: center ;
      align-items: center ;
    }

    .avatar__44b0c {
      // width: 40px ;
      // height: 40px ;
    }

    // Text
    .acronym__6e9f8 {
      background: none ;
      
      @include shadowEffect("server_1");
    }
    // <- Server item

    // -> Group DM item
    .childWrapper__6e9f8 {
      scale: 1 ;
      background: none ;
    }

    // .wrapper__44b0c .svg__44b0c {
    .svg__44b0c {
      // left: -4px ; // why did i do that ?
    }
    // <- Group DM item
  }

  // -> Drag&Drop
  // Server icon placeholder
  .dragInner__87847 {
    background: rgba(0, 0, 0, 0.5);
  }

  // some weird shit
  .wobble_e5445c {
    transform-origin: center ;
  }

  // placeholder for drag&drop
  .placeholderMask__87847 {
    scale: $iconScale;
  }

  .wrapper_d144f8 {
    top: calc( $spacing * -1 );
    bottom: 0 ;
  }
  // <- Drag&Drop
}

// this way instead of wrapper bc of icon when drag
:is(.blobContainer_e5445c, .listItemWrapper__91816) {
  transform: rotate(90deg) !important ; // "important" for serverdetails plugin idk
  scale: $iconScale;
  margin: calc(($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
  height: $iconBaseSize ;
  width: $iconBaseSize ;
}
// <- general item

// -> Left side icons
// ( 14-[40]-7/3-[20]-3/3-[20]-12 )

// Home
.tutorialContainer__1f388 {
  grid-area: Home ;
  height: 40px ;
  margin: 14px 0 7px 0 ;

  .pill__1f388 { display: none }

  .listItemWrapper__91816 {
    scale: 1 !important ;
    margin: 0 !important ;
    height: unset !important ;
    width: unset !important ;
  }

  .svg_cc5dd2 {
    pointer-events: none ;
  }

  foreignObject {
    mask: none ;
    overflow: visible ;
    pointer-events: auto ;
  }

  .childWrapper__6e9f8 {
    transition: none ;
    background: none ;
    color: var(--header-secondary) !important;

    svg {
      height: 26px ;
      margin: 4px 4px 0 0 ;
      overflow: visible ;
    }

    // Nitro home icon
    img {
      border-radius: 50% ;
      height: 40px ; 
      width: 40px ;
      margin: 4px ;
      transition: .2s ;
    }

    &:hover img {
      border-radius: 25% ;
    }
  }

  .wrapper__6e9f8:hover .childWrapper__6e9f8 {
    color: var(--interactive-active);
  }

  path {
    d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z")
  }
}

// GuildsAdd & Discovery icons
@mixin secondaryIcons() {
  height: 20px ;

  .listItemWrapper__91816 {
    scale: 1 !important ;
    margin: 0 !important ;
    height: unset !important ;
    width: unset !important ;
  }

  .wrapper_cc5dd2 {
    width: 20px !important ;
    height: 20px !important ;
  }

  // first svg
  .svg_cc5dd2 {
    width: 20px ;
    height: 20px ;
    inset: 0 ;
  }

  .circleIconButton__5bc7e {
    background: none ;
    transition: none ;
    color: var(--header-secondary);

    &:hover {
      color: var(--text-normal);
    }
  }

  // second svg
  .circleIcon__5bc7e {
    height: 100% ;
    width: 100% ;
  }

  // Drag&Drop target
  .wrapper_d144f8 { display: none }
}

// GuildsAdd
.stack_dbd263:not([id]) + :is(.tutorialContainer__650eb, .listItem__650eb) {
  grid-area: GuildsAdd ;
  margin: 3px 0 3px 0 ;

  @include secondaryIcons();
}

// Discovery
.stack_dbd263:not([id]) + :is(.tutorialContainer__650eb, .listItem__650eb) + :is(.tutorialContainer__650eb, .listItem__650eb) {
  grid-area: Discovery ;
  margin: 3px 0 12px 0 ;

  @include secondaryIcons();
}
// <- Left side icons

// -> Servers
.scroller_ef3116 > .stack_dbd263:not([id]) {
  grid-area: Servers ;
  overflow: hidden scroll ;
  max-height: -webkit-fill-available ;
  padding: $spacing 0 !important ;
  box-sizing: border-box ;
  gap: $spacing !important ;

  &::-webkit-scrollbar { display: none }

  // -> Server folder old
  // .wrapper__48112 {
  //   width: $sb_height ;

  //   .expandedFolderBackground__48112 {
  //     $folderheight: $sb_height - 20 ;

  //     width: calc($folderheight * $iconScale) ;
  //     left: calc(($sb_height - ($folderheight * $iconScale)) / 2 );
  //     top: 2px ;
  //     bottom: 2px ;
  //     border: none ;
  //     border-radius: 10px ;

  //     @container style(--serverBarFolderStyle: 1) {
  //       background-color: rgba(30, 30, 30, .5);
  //     }
  //   }

  //   // -> Folder icon
  //   .folderIcon__48112 {
  //     margin: 0 ;
  //     transform: rotate(90deg);
  //     scale: $iconScale;
  //     margin: calc( ($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;

  //     .wrapper_cc5dd2 {
  //       height: $iconBaseSize !important;
  //       width: $iconBaseSize !important;
  //     }

  //     // icon container for open & closed
  //     .folderIconWrapper__48112 {
  //       height: $iconBaseSize ;
  //       width: $iconBaseSize ;
  //       transition: .2s ;

  //       &:hover {
  //         border-radius: 25% ;
  //       }
  //     }

  //     // open folder icon 
  //     .expandedFolderIconWrapper__48112 {
  //       background: none ;

  //       svg {
  //         height: 22px ;
  //         width: 22px ;
  //       }
  //     }

  //     // server icon preview in closed folder
  //     .guildIcon__48112 {
  //       border-radius: 4px !important ;
  //     }
  //   }
  //   // <- Folder icon

  //   // servers list in folder
  //   ul {
  //     height: auto !important;
  //     gap: $spacing !important ;
  //     padding: $innerSpacing 0 $innerSpacing 0 !important;

  //     @container style(--serverBarFolderStyle: 0) {
  //       &::after {
  //         @include itemSeperator();
  //         bottom: calc(((($spacing + $innerSpacing) / 2) - $innerSpacing + 1px) * -1 );
  //       }
  //     }
  //   }
  // }
  // <- Server folder old

  // -> Server folder new
  .folderGroup__48112 {
    width: $sb_height ;

    // open folder background
    .folderGroupBackground__48112 {
      $folderheight: $sb_height - 20 ;

      width: calc($folderheight * $iconScale) ;
      left: calc(($sb_height - ($folderheight * $iconScale)) / 2 );
      top: 2px ;
      bottom: 2px ;
      border: none ;
      border-radius: 10px ;

      @container style(--serverBarFolderStyle: 1) {
        background-color: rgba(30, 30, 30, .5);
      }
    }

    // -> Folder Icon & Grid preview
    // list item inner
    .folderHeader__48112 {
      margin: 0 ;
      transform: rotate(90deg);
      scale: $iconScale;
      margin: calc( ($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
    }

    .wrapper_cc5dd2 {
      height: $iconBaseSize !important;
      width: $iconBaseSize !important;
    }

    &.isExpanded__48112 {
      .folderPreviewWrapper__48112 { display: none }
    }

    
    .folderPreviewWrapper__48112 {
      // padding: 1px ;
      transition: .2s ;
      overflow: hidden ;

      &:hover {
        border-radius: 25% ;
      }
    }

    // would revert mostly to before
    // .folderPreview__48112 {
    //   $previewSize: ($iconBaseSize - 4) * .5 ;
    //   --custom-folder-preview-guild-size: #{$previewSize} ;

    //   height: $iconBaseSize ;
    //   width: $iconBaseSize ;

    //   .folderPreviewGuildIcon__48112 {
    //     border-radius: 4px ;
    //   }
    // }
    // <- Folder Icon & Grid preview

    // .folderGuildsList__48112 {
    > .stack_dbd263 { // for serverFolders
      height: auto !important;
      gap: $spacing !important ;
      padding: $innerSpacing 0 $innerSpacing 0 !important;

      .listItem__650eb {
        margin: 0 ;
      }
    }
    @container style(--serverBarFolderStyle: 0) {
      .folderGuildsList__48112::after {
        @include itemSeperator();
        bottom: calc(((($spacing + $innerSpacing) / 2) - $innerSpacing + 1px) * -1 );
      }
    }
  }
  // <- Server folder new

}
// <- Servers

// -> Favorites / Dms / Server preview
// Dms container
#guild-list-unread-dms {
  position: relative;
  padding: $spacing 0 !important ;
  gap: $dmSpacing !important ;

  // seperator, unless favorite are present
  &:not(.listItem__650eb ~ #guild-list-unread-dms)::before {
    @include itemSeperator();
    top: 0px ;
  }

  // remove padding from server preview (removes from seperator otherwise)
  + .listItem__650eb {
    padding-top: 0 !important ;
  }

  // remove if empty
  &:empty { display: none }
}

// removes server preview (not good)
// .scrollerBase_d125d2 > .listItem__650eb:not(:is(
//   .tutorialContainer__1f388 + .listItem__650eb,
//   .stack_dbd263:not([id]) ~ .listItem__650eb
// )) {
//   display: none ;
// }

// Favorites & Server preview
.scrollerBase_d125d2 > .listItem__650eb:not(.stack_dbd263:not([id]) ~ .listItem__650eb) {
  padding: $dmSpacing 0 !important ;

  .pill_e5445c { display: none }
}

// Favorites
// .tutorialContainer__1f388 + .listItem__650eb
.listItem__650eb:has(.favoriteIcon_c9fddf) {
  pointer-events: none ;

  // remove padding from dms container if favorites are present
  + #guild-list-unread-dms {
    padding-top: 0 !important ;
  }

  &::before {
    @include itemSeperator();
    top: 0px ;
  }

  // counter
  .pill_e5445c { display: flex }

  .wrapper_cc5dd2 {
    transform: rotate(90deg);
    scale: $iconScale;
    margin: calc(($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
    height: $iconBaseSize ;
    width: $iconBaseSize ;
    pointer-events: auto ;
  }

  .childWrapper__6e9f8 {
    background: none ;
    color: var(--header-secondary);

    &:hover {
      color: var(--text-normal);
    }
  }
}
// <- Favorites / Dms / Server preview

}
