@use '../mixins/new_mixins' as * ;

// -- Server bar

$sb_height: 54px ;
$iconBaseSize: 40px ;

body {
  --sbInnerSpacing: calc(var(--serverBar-Spacing) * .5 );
  --sbDmSpacing: calc(var(--serverBar-Spacing) * .8 );
  --sbIconScale: calc(var(--serverBar-IconSize) * 0.01 );

  // discord vars
  --guildbar-avatar-size: #{$iconBaseSize} ;
  --guildbar-folder-size: #{$iconBaseSize} ;
}

$iconSpacing: var(--serverBar-Spacing);
$halfSpacing: var(--sbInnerSpacing);
$dmSpacing: var(--sbDmSpacing);
$iconScale: var(--sbIconScale);


// App adjustments
@import 'new_gbAdds' ;


@mixin itemSeparator() {

  $separatorPadding: 11px ;

  content: "" ;
  position: absolute ;
  width: $sb_height - ( $separatorPadding * 2);
  height: 2px ;
  margin: 0  $separatorPadding ;
  background-color: var(--interactive-normal);
}

@scope (._5e434347c823b592-guilds) {

// -> Containers
:scope {
  position: fixed ;
  left: 0 ;
  bottom: 0 ;
  right: 0 ;
  height: $sb_height ;
  width: 100vw !important ;
  margin: 0 !important ;
  mask: none !important ; // for server btn
}

.ef3116c2da186559-tree {
  height: 100vw ;
  min-height: 100vw ;
  width: $sb_height ;
  transform: rotate(-90deg) translateX(-#{$sb_height});
  transform-origin: top left ;
  outline: none ;
}

:is(
  // Unread mentions indicators
  .ef3116c2da186559-unreadMentionsIndicatorTop,
  .ef3116c2da186559-unreadMentionsIndicatorBottom,
  ._650eb104245d257b-listItem:has(._252b6afd49fda06f-guildSeparator) // default separator
) { display: none }

.ef3116c2da186559-scroller {
  display: grid ;
  height: 100% ;
  width: $sb_height !important ;
  margin: 0 0 120px 0 ;
  padding: 0 !important ;
  gap: 0 !important ;
  overflow: hidden !important ;

  grid-template-columns: $sb_height ;
  grid-template-rows: min-content min-content min-content auto ;
  grid-template-areas:
    "Home"
    "GuildsAdd"
    "Discovery"
    "Servers"
  ;
  grid-auto-rows: min-content ;
  align-items: center !important ;

  &::before {
    @include itemSeparator();
    top: 120px ;
  }

  &::after {
    @include itemSeparator();
    bottom: 0px ;
  }
}
// <- Containers

// -> general item
._650eb104245d257b-listItem {
  width: $sb_height ;

  // Pill
  ._581051df43c5ebb6-item {
    visibility: hidden ;
    height: calc($iconBaseSize * $iconScale * 0.20 ) !important ;
    margin-left: -4px ;

    // Server selected
    &[style^="opacity: 1; height: 40px"] {
      visibility: visible ;
      height: calc($iconBaseSize * $iconScale * 0.87 ) !important ;
      border-radius: 0 8px 8px 0 ;
    }

    // Unread indicator
    &[style^="opacity: 1; height: 8px"] {
      visibility: visible ;
    }
  }

  // voice activity, ...
  .cc5dd25190031396-upperBadge {
    top: -4px ;
    right: -4px ;
  }

  // unread mentions
  .cc5dd25190031396-lowerBadge {
    left: 0px ;
    bottom: 0px ;
    animation: none ; // makes icon blurry when scaled
  }

  // only first
  .cc5dd25190031396-wrapper:not(.cc5dd25190031396-wrapper .cc5dd25190031396-wrapper) {
    @include shadowEffect("server_1");
  }

  :is(mask, g) { display: none }

  foreignObject { mask: none }

  // inner container for icons, non image server, home, dm group
  ._6e9f8dce4cc18de3-childWrapper {
    scale: 1 ; // ?
    background: none !important;
  }

  // -> Server item
  // Image, default avatar (group dm)
  :is(._6e9f8dce4cc18de3-icon, ._44b0c28be7879b7b-avatar) {
    border-radius: 50% ;
    transition: .2s ;
  }

  &:hover :is(._6e9f8dce4cc18de3-icon, ._44b0c28be7879b7b-avatar) { border-radius: 25% }

  ._44b0c28be7879b7b-avatarStack {
    justify-content: center ;
    align-items: center ;
  }

  // Server name/text instead of icon
  ._6e9f8dce4cc18de3-acronym {
    background: none ;

    @include shadowEffect("server_1"); // double shadow, but not to bad i guess
  }
  // <- Server item

  // -> Drag&Drop
  // Server icon placeholder
  ._8784752aa3af335e-dragInner {
    background: rgba(0, 0, 0, 0.5);
  }

  // some weird shit
  .e5445cbd3ad226f2-wobble {
    transform-origin: center ;
  }

  // placeholder for drag&drop
  ._8784752aa3af335e-placeholderMask {
    scale: $iconScale;
  }

  .d144f8d4075c78d6-wrapper {
    top: calc( $iconSpacing * -1 );
    bottom: 0 ;
  }
  // <- Drag&Drop
}

// this way instead of wrapper bc of icon when drag
:is(.e5445cbd3ad226f2-blobContainer, ._918165dab2b1e10b-listItemWrapper) {
  transform: rotate(90deg) !important ; // "important" for server details plugin idk
  scale: $iconScale ;
  margin: calc(($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
  height: $iconBaseSize ;
  width: $iconBaseSize ;
}
// <- general item

// -> Left side icons
// ( 14-[40]-7/3-[20]-3/3-[20]-12 )

// Home
._1f388bcaa446c0c8-tutorialContainer {
  grid-area: Home ;
  height: 40px ;
  margin: 14px 0 7px 0 ;

  ._1f388bcaa446c0c8-pill { display: none }

  ._918165dab2b1e10b-listItemWrapper {
    scale: 1 !important ;
    margin: 0 !important ;
    height: unset !important ;
    width: unset !important ;
  }

  .cc5dd25190031396-svg {
    pointer-events: none ;
  }

  foreignObject {
    mask: none ;
    overflow: visible ;
    pointer-events: auto ;
  }

  ._6e9f8dce4cc18de3-childWrapper {
    transition: none ;
    // background: none !important;
    color: var(--header-secondary) !important;

    svg {
      height: 26px ;
      margin: 4px 4px 0 0 ;
      overflow: visible ;
    }

    // Nitro home icon
    img {
      border-radius: 50% ;
      height: 40px ;
      width: 40px ;
      margin: 4px ;
      transition: .2s ;
    }

    &:hover img {
      border-radius: 25% ;
    }
  }

  ._6e9f8dce4cc18de3-wrapper:hover ._6e9f8dce4cc18de3-childWrapper {
    color: var(--interactive-active);
  }

  path {
    d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z")
  }
}

// GuildsAdd & Discovery icons
@mixin secondaryIcons() {
  height: 20px ;

  ._918165dab2b1e10b-listItemWrapper {
    scale: 1 !important ;
    margin: 0 !important ;
    height: unset !important ;
    width: unset !important ;
  }

  .cc5dd25190031396-wrapper {
    width: 20px !important ;
    height: 20px !important ;
  }

  // first svg
  .cc5dd25190031396-svg {
    width: 20px ;
    height: 20px ;
    inset: 0 ;
  }

  ._5bc7ed9d4097f6b5-circleIconButton {
    background: none !important;
    transition: none ;
    color: var(--header-secondary);

    &:hover {
      color: var(--text-normal);
    }
  }

  // second svg
  ._5bc7ed9d4097f6b5-circleIcon {
    height: 100% ;
    width: 100% ;
  }

  // Drag&Drop target
  .d144f8d4075c78d6-wrapper { display: none }
}

// GuildsAdd
.ef3116c2da186559-scroller > :is(._650eb104245d257b-tutorialContainer, ._650eb104245d257b-listItem):nth-last-child(3) {
  grid-area: GuildsAdd ;
  margin: 3px 0 3px 0 ;

  @include secondaryIcons();
}

// Discovery
.ef3116c2da186559-scroller > :is(._650eb104245d257b-tutorialContainer, ._650eb104245d257b-listItem):nth-last-child(2) {
  grid-area: Discovery ;
  margin: 3px 0 12px 0 ;

  @include secondaryIcons();
}
// <- Left side icons

// -> Servers
.ef3116c2da186559-scroller > .dbd2630aec71879b-stack:not([id]) {
  grid-area: Servers ;
  overflow: hidden scroll ;
  max-height: -webkit-fill-available ;
  padding: $iconSpacing 0 !important ;
  box-sizing: border-box ;
  gap: $iconSpacing !important ;

  &::-webkit-scrollbar { display: none }

  // -> Server folder
  ._48112cbe77dc5022-folderGroup {
    width: $sb_height ;

    // open folder background
    ._48112cbe77dc5022-folderGroupBackground {
      $folderheight: $sb_height - 20 ;

      @container style(--serverBar-FolderStyle: 1) {
        width: calc($folderheight * $iconScale) ;
        left: calc(($sb_height - ($folderheight * $iconScale)) / 2 );
        top: 2px ;
        bottom: 2px ;
        border: none ;
        border-radius: 10px ;
        background-color: rgba(30, 30, 30, .5);
      }

      @container not style(--serverBar-FolderStyle: 1) {
        display: none ;
      }
    }

    // -> Folder Icon & Grid preview
    // list item inner
    ._48112cbe77dc5022-folderHeader {
      margin: 0 ;
      transform: rotate(90deg);
      scale: $iconScale;
      margin: calc( ($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
    }

    ._48112cbe77dc5022-folderButton {
      overflow: visible ;
    }

    .cc5dd25190031396-wrapper {
      height: $iconBaseSize !important;
      width: $iconBaseSize !important;
    }

    &._48112cbe77dc5022-isExpanded {
      ._48112cbe77dc5022-folderPreviewWrapper { display: none }
    }

    ._48112cbe77dc5022-folderButtonContent {
      transition: none ;
    }

    ._48112cbe77dc5022-folderPreviewWrapper {
      transition: .2s ;

      &:hover {
        border-radius: 25% ;
      }
    }
    // <- Folder Icon & Grid preview

    // ._48112cbe77dc5022-folderGuildsList {
    > .dbd2630aec71879b-stack { // for serverFolders
      height: auto !important;
      gap: $iconSpacing !important ;
      padding: $halfSpacing 0 $halfSpacing 0 !important;

      ._650eb104245d257b-listItem {
        margin: 0 ;
      }
    }

    @container not style(--serverBar-FolderStyle: 1) {
      ._48112cbe77dc5022-folderGuildsList::after {
        @include itemSeparator();
        bottom: calc(((($iconSpacing + $halfSpacing) / 2) - $halfSpacing + 1px) * -1 );
      }
    }
  }
  // <- Server folder

}
// <- Servers

// -> Right side icons (Favorites, Dms, Server preview, ...)
@mixin iconSep() {
  &::before {
    @include itemSeparator();
    top: calc($dmSpacing * -1);
  }
}

// non dm items
.d125d22cdfd32cfe-scrollerBase > ._650eb104245d257b-listItem:not(.dbd2630aec71879b-stack:not([id]) ~ ._650eb104245d257b-listItem) {
  margin: $dmSpacing 0 ;

  @include iconSep();

  .c9fddf1bcf4bcde5-pill { display: none }

  // remove margin and separator from following items
  + ._650eb104245d257b-listItem,
  + #guild-list-unread-dms,
  + #guild-list-unread-dms:empty + ._650eb104245d257b-listItem {
    margin-top: 0 !important ;

    &::before { display: none }
  }
}

// -> Favorites
._650eb104245d257b-listItem:has(.c9fddf1bcf4bcde5-favoriteIcon) {
  pointer-events: none ;

  // .e5445cbd3ad226f2-pill {
  .c9fddf1bcf4bcde5-pill {
    display: flex !important ; // counter
  }

  .cc5dd25190031396-wrapper {
    transform: rotate(90deg);
    scale: $iconScale;
    margin: calc(($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
    height: $iconBaseSize !important ;
    width: $iconBaseSize !important ;
    pointer-events: auto ;
  }

  .cc5dd25190031396-svg {
    pointer-events: none ;
  }

  ._6e9f8dce4cc18de3-wrapper {
    pointer-events: auto ;
  }

  ._6e9f8dce4cc18de3-childWrapper {
    background: none ;
    color: var(--header-secondary);

    &:hover {
      color: var(--text-normal);
    }
  }
}
// <- Favorites

// -> DMs
#guild-list-unread-dms {
  position: relative;
  margin: $iconSpacing 0 !important ;
  gap: $dmSpacing !important ;

  @include iconSep();

  > div:not([class]) {
    height: auto !important ;
  }

  // remove margin from following items
  &:not(:empty) + ._650eb104245d257b-listItem {
    margin-top: 0 !important ;

    &::before { display: none }
  }

  // remove if empty
  &:empty { display: none }
}
// <- DMs

// -> notification center exp.
._650eb104245d257b-listItem:has(._4f4b612c94fca7f0-notificationsIcon) {

  .cc5dd25190031396-wrapper {
    transform: rotate(90deg);
    scale: $iconScale;
    margin: calc(($iconBaseSize - ( $iconBaseSize * $iconScale ) ) / 2 * -1) 0 ;
    height: $iconBaseSize !important ;
    width: $iconBaseSize !important ;
  }

  ._6e9f8dce4cc18de3-childWrapper {
    background: none ;
    color: var(--header-secondary);

    &:hover {
      color: var(--text-normal);
    }
  }
}
// <- notification center exp.

// -> Guilds error
.e8d03f772dd98c5d-guildsError {
  border: none !important ;
  background: none !important ;
  color: var(--red-secondary) !important ;

  &:hover {
    color: var(--red) !important ;
  }
}
// <- Guilds error

// <- Right side icons

}
