// Home | Friends - header, list, activity sidebar

#app-mount {

.container__133bf { // to be more specific

  // -> Header bar
  .children__9293f {
    // friends icon & text
    // :is(.dot__9293f, .iconWrapper__9293f, .titleWrapper__9293f) { display: none }
    .dot__9293f, .iconWrapper__9293f, .titleWrapper__9293f { display: none }
  }

  // Nav bar
  .tabBar__133bf {
    margin: 0 auto ;
  }

  .toolbar__9293f {

    @media (width > 700px) {
      .inviteToolbar__133bf {
        display: flex !important;
      }
    }
  }
  // <- Header bar
}

// -> Friends list
.peopleList__5ec2f {
  margin-top: 15px ;

  @include scrollerFadeOut();

  &::-webkit-scrollbar {
    display: none ;
  }

  // -> User item
  .peopleListItem_cc6179 {
    transition: none ;
    border-radius: 0 ;

    // Username, Status text container
    .text__0a06e {
      width: 100% ;
    }

    // activity, idk, online-status
    // :is(.statusText__19b6d, .text_c9d15c, .sub_0a06ed6ea040aa1b-text) {
    .statusText__19b6d, .text_c9d15c, .sub_0a06ed6ea040aa1b-text {
      color: var(--header-secondary) !important;
    }

    // Username/ # Identifier
    .discriminator__0a06e {
      width: 0 ;
    }

    .actionButton_f8fa06 {
      background: none ;
    }

    &:hover {
      background: var(--background-modifier-accent);

      .discriminator__0a06e {
        width: auto ;
        visibility: visible ;
      }
    }

  }
  // <- User item
}
// <- Friends list

// -> Friends activity sidebar
// main content container
.tabBody__133bf {
  container-type: inline-size ; // for @container width
}

.nowPlayingColumn__133bf {
  min-width: 300px ;
  display: block ;

  // hide empty
  @container style(--hide-friendsActivity: 1) {
    &:has(.emptyCard__7e549) { display: none !important }
  }

  @container style(--hide-friendsActivity: 2) or (width < 650px) { display: none !important }

  // "Active now" header text
  .header__7d20c {
    margin: 16px ;
    color: var(--header-secondary);
  }

  .scroller__7d20c {
    margin: 0 ;
    padding: 0px !important ;
    border: none ;

    &::-webkit-scrollbar { display: none }
  }

  .emptyCard__7e549 {
    background: none ;
  }

  // -> User activity card
  .itemCard__7e549 {
    margin: 0 ;
    padding: 16px ;
    border: none ;
    border-radius: 0 ;
    background: none ;

    &:hover {
      background: var(--background-modifier-hover);
    }

    // subsequent cards
    + .itemCard__7e549 {
      border-top: 1px solid var(--background-modifier-accent);
    }

    // containers for activity
    // :is(.body__00943, .wrapper__11054) {
    .body__00943, .wrapper__11054 {
      background: none ;
    }

    // inner body container
    .section__00943 {
      background: none ;
      padding: 6px 0 0 12px ;
    }
  }
  // <- User activity card
}
// <- Friends activity sidebar

// Friends activity as separate tab
// empty activity
.emptyCard__7e549 {
  background: none ;
}
}
