@use '../mixins/new_mixins' as * ;

// -- Home

// Friends - header, list, activity sidebar
@import 'new_homeFriends' ;


// -> DMs Sidebar
.e6b7699ce8339e1c-privateChannels {

  // Category header text
  ._99e7cad8d4c55236-headerText {
    color: var(--channels-default); // removes hover effect
  }

  // Create Group DM Button (not necessary, there is one at the top right)
  :is(._99e7cad8d4c55236-privateChannelRecipientsInviteButtonIcon, .e6b7699ce8339e1c-sectionDivider) {
    display: none
  }

  // category header
  ._99e7cad8d4c55236-privateChannelsHeaderContainer  {
    margin: 16px 0 6px 0 ;
  }

  // Sidebar item container
  ._972a0d22c8afa7f0-channel {
    padding: 2px 0 ;
    border-radius: 0 ;

    // Second container
    ._972a0d22c8afa7f0-interactive {
      background: none ;
      color: var(--channels-default);

      &.bf202d63ad53e289-selected {
        border-left: 3px solid var(--interactive-hover);
      }

      &:hover {
        border-left: 3px solid var(--interactive-hover);
        background: var(--background-modifier-hover);
      }
    }
  }

  // "new" badge on shop
  ._2b1f52e43a8f1c02-textBadge {
    // display: none ;
    background: none !important ;
    color: var(--interactive-hover);
  }
}
// <- DMs Sidebar

// -> MSG Requests
// <- MSG Requests

// -> Shops
// Nitro store
._0920e02cc8fc7b7b-homeWrapperNormal {
  border: none ;

  .c880e89226639033-container {
    margin: 16px ;
  }

  .headerBar__0920e, ._52b471709d6d9d05-root {
    display: none
  }

  .c880e89226639033-whatsNewSectionContainer {
    background: none ,
  }
}

// -> Profile decorations shop
._6db1d32c47b6ad72-shop {

  // discord logo & home tab that just leads to "featured" anyway
  ._8067953d83f4b8a8-shopHomeLink { display: none }

  // main shop tab, other tabs
  :is(._8067953d83f4b8a8-shopHomeLink, ._8067953d83f4b8a8-tabs) {
    height: 32px ; // matching the regular Header bar height with respect to padding
  }

  ._8067953d83f4b8a8-headerBar {
    height: auto !important ;
  }

  ._8067953d83f4b8a8-headerBarInner {
    flex-wrap: wrap ;
    height: max-content ;
    justify-content: center ;
    gap: 8px ;

    // "featured", "browse", .. tabs
    ._8067953d83f4b8a8-tabs {
      margin-left: 12px ;
    }

    // search, filter, ...
    ._8067953d83f4b8a8-alignedRightContent {
      margin: 0 ;
    }
  }
}
// <- Profile decorations shop
// <- Shops
