// * T1.compatibility v0.1.06 canary auto fix
// Compatibility with plugins


// - Hide Channels by Farcrada (v2.0.8)
// - FriendNotifications by DevilBro (v1.8.1)
// - ReadAllNotificationsButton by DevilBro (v1.7.0)
// - SpotifyControls by DevilBro (v1.2.4)
// - CollapsibleUI by programmer2514 (v1.1.0)
// - ChannelTabs by l0c4lh057 (v2.5.5)



// -- Hide Channels by Farcrada (v2.0.8)
// - Show/Hide btn
#toggleChannels {
  filter: brightness(.6) ;
  margin-right: 6px ;
  
  &.channelsHidden { filter: brightness(.8) }
  
  &:hover { filter: brightness(1) }
}

// - Server channel sidebar
.sidebar-1tnWFu {
  transition: none !important ;
  
  // Sidebar hidden
  &.hideChannelElement + div {
    
    // Headerbar: chat, friendslist
    .title-31SJ6t, .container-ZMc96U {
      margin-left: 240px ;
      width: auto ;

      // Channel name
      .title-17SveM { 
        display: flex ;
      } 
    }
  }
}


// -- FriendNotifications by DevilBro (v1.8.1)
// - Online friend counter
.guilds-2JjMmN .friendsOnlineWrap-0gZ63m {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg) translateX(-50%) ;
  transform-origin: bottom left ;
  top: 60px ;
  left: 2px ;

  > .label-2wRs_g {
    color: var(--text-normal);
    @include shadow_effect("server_1");
  }
}


// -- ReadAllNotificationsButton by DevilBro (v1.7.0)
// - "Read all" btn
.guilds-2JjMmN .frame-oXWS21 {
  display: flex !important ;
  position: absolute ;
  top: 0 ;
  left: -15px ;
  z-index: 1 ;

  &, * { height: 20px ; width: 20px  }

  .childWrapper-1j_1ub {
    color: transparent ;
    background: none ;
    transform: rotate(90deg);
    text-align: center ;

    // "R" Icon
    &:before {
      content: "R" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      height: 20px ;
      width: 20px ;
      line-height: 20px ;
      color: var(--header-secondary) ;
      font-size: 18px ;
      font-weight: 700 ;

      @include shadow_effect("drop_1");
    }

    // Tooltip on hover
    &:hover::after {
      content: "read all" ;
      position: absolute ;
      top: -10px ;
      left: 25px ;
      padding: 8px 12px ;
      font-size: 16px ;
      font-weight: 600 ;
      line-height: 10px ;
      background: var(--background-tertiary) ;
      color: var(--text-normal) ;
      border-radius: 5px ;
      white-space: nowrap ;

      @include shadow_effect("box_2");
    }
  }
}


// -- SpotifyControls by DevilBro (v1.2.4)
// - Sidebar control panel
.panels-3wFtMD .container-6sXIoE { 
  margin: 0px ;
  min-height: 44px ;

  .button-12Fmur { background: none }
}


// -- CollapsibleUI by programmer2514 (v1.1.0)
// - Server channel sidebar
.sidebar-1tnWFu[style="display: none;"] {
  display: flex !important ;
  width: 0 ;
  
  // Titlebar adjustments
  + .chat-2ZfjoI .container-ZMc96U {
    margin-left: 240px ;
    width: auto ;
    
    // Channel name
    .title-17SveM { 
      display: flex ;
    } 
  }
}

// - Serverbar
.guilds-2JjMmN[style="display: none;"] + .base-2jDfDU {
    
  // Home search, Server settings
  .searchBar-3TnChZ, .container-1-ERn5 {
    display: none ;
  }
}


// -- ChannelTabs by l0c4lh057 (v2.5.5)
// - Main container
#channelTabs-container {
  
  // - Tabbar
  .channelTabs-tabContainer {
    background: none ;
    
    + .channelTabs-favContainer {
      box-shadow: 0 .5px 0 var(--header-secondary) ;
      margin-bottom: 1px ;
    }
  }
  
  // - Tab item
  .channelTabs-tab {
    background: var(--background-modifier-hover) ;
    color: var(--channels-default) ;
    border-radius: 0 ;
    
    &:hover {
      background:  var(--background-modifier-active) ;
    }
    
    // Name - hover
    &:not(.channelTabs-selected):hover .channelTabs-tabName {
      color: var(--interactive-hover) ;
    }
    
    // Name - tab active
    &.channelTabs-selected .channelTabs-tabName{
      color: var(--interactive-hover) ;
    }
    
    // Unread messages
    .channelTabs-unreadBadge {
      background: var(--background-secondary) ;
      color: var(--text-normal) ;
    }
    
    // Close btn
    .channelTabs-closeTab {
      margin: 2px ;
      background: var(--background-primary);
      color: var(--interactive-hover) ;
      border-radius: 5px ;
      visibility: hidden ;
      
      &:hover {
        color: black ;
        background-color: var(--header-secondary) ;
      }
    }
    
    // Close btn - hover
    &:hover .channelTabs-closeTab{
      visibility: visible ;
    }
  }
  
  // - New tab btn
  .channelTabs-newTab {
    bottom: unset ;
    padding: 6px ;
    margin: 2px 0 ;
    height: var(--channelTabs-tabHeight) ;
    width: var(--channelTabs-tabHeight) ;
    line-height: var(--channelTabs-tabHeight) ;
    font-size: min(var(--channelTabs-tabHeight), 25px);
    background: none ;
    color: var(--interactive-normal) ;
    
    &:hover {
      color: var(--interactive-hover) ;
    }
  }
  
  // - Bookmark item
  .channelTabs-fav {
    cursor: pointer ;
    
    &:hover {
      background: var(--background-modifier-hover) ;
      
      .channelTabs-favName {
        color: var(--interactive-hover) ;
      }
    }
    
    // Unread indicators
    .channelTabs-mentionBadge, .channelTabs-unreadBadge {
      background: none ;
      color: var(--text-normal) ;
    }
    
    // Normal state
    .channelTabs-mentionBadge.channelTabs-noMention, .channelTabs-unreadBadge.channelTabs-noUnread {
      color: var(--text-muted) ;
    }
    
    // Unread mentions 
    .channelTabs-mentionBadge:not(.channelTabs-noMention) {
      margin-bottom: -2px ;
      
      @include Mentions_icon();
    }
  }
}

// - Settings btn
#channelTabs-settingsMenu {
  background: none !important ;
  cursor: pointer ;
  
  height: 30px !important ;
  
  &:nth-last-child(3) {
    height: 40px !important ;
  }
  rect {
    fill: var(--interactive-normal) ;
  }
  
  &:hover rect {
    fill: var(--interactive-hover) ;
  }
}

// - Mac
.platform-osx {
  
  // Main container
  #channelTabs-container {
    min-height: 48px ;
    
    display: flex ;
    flex-direction: column ;
    justify-content: center ;

    .channelTabs-tabContainer, .channelTabs-favContainer {
      -webkit-app-region: drag ;
      margin-right: 73px ;
      margin-left: 26px ;
      
      width: -webkit-fill-available ;

      > div {
        -webkit-app-region: none ;
      }
    }
    
    .channelTabs-tabContainer + .channelTabs-favContainer {
      -webkit-app-region: none ;
      margin: 0 ;
      padding-left: 26px ;
    }
  }
  
  // Settings btn
  #channelTabs-settingsMenu {
    -webkit-app-region: none !important;
    
    position: absolute ;
    top: 0 ;
    right: 0 ;
    
    // Settings btn icon
    .channelTabs-settingsIcon {
      margin-left: 0 !important;
    }
  }
  
  // User profile panel
  #channelTabs-container ~ .layers-OrUESM .panels-3wFtMD > .container-YkUktl {
    margin-left: 0 ;
    width: 240px ;
    padding: 0 8px ;
  }
}