.buttons__74017 {

  @container style(--hide-chatBtn-nitro: 1) {
    // Nitro gift btn
    .button__74017:has([d^=" M7,-6 C7,-7.6570000648498535 5.6570000648498535,-9 4,-9 C4,-9 3.9110000133514404,-9"]) {
      display: none ;
    }
  }

  .expression-picker-chat-input-button {
    // Gifs picker
    @container style(--hide-chatBtn-gif: 1) {
      &:has([d^=" M-7,-10 C-8.656999588012695,-10 -10,-8.656999588012695 -10"]) {
        display: none ;
      }
    }
    // Stickers picker
    @container style(--hide-chatBtn-sticker: 1) {
      &:has([d^=" M-6,-10 C-6,-10 6,-10 6,-10 C8.208999633789062,-10 10"]) {
        display: none ;
      }
    }
    // Emoji picker
    @container style(--hide-chatBtn-emoji: 1) {
      &:has(.emojiButton__04eed) { display: none }
    }
  }
  // Apps & Commands btn
  @container style(--hide-chatBtn-apps: 1) {
    .app-launcher-entrypoint { display: none }
  }
}
