@use '../mixins/mixins' as * ;

// -- Compatibility

@import 'compBD' ;
@import 'compVen' ;

// -> Icon Revert 2023
// Channel Notification settings Bell icon
.toolbar__9293f [d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 0 0-.07-"] {
  d: path("M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z M18 10.5283L10.5287 18H21V17C19.344 17 18 15.657 18 14V10.5283Z M8.957 19.5718L9.52877 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21C10.7748 21 9.68752 20.442 8.957 19.5718Z M12 3C13.417 3 14.71 3.5 15.734 4.321L5.99805 14.058C5.99805 14.0479 5.99856 14.038 5.99907 14.0283C5.99956 14.0188 6.00005 14.0094 6.00005 14V9C6.00005 5.686 8.68605 3 12 3Z") !important ;
}

.toolbar__9293f .icon__9293f:has([d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a."]) {
  background-image: none !important ;
}
// <- Icon Revert 2023
