// App | Discovery & Quests

.page__5e434 {
  overflow: hidden ; // mostly for scroll behavior
}

// -> Sidebar region
.container__551b0 {

  // list
  .nav__551b0 {
    gap: 8px ;
  }

  // items
  .navItem__551b0 {
    border-radius: 0 ;
    border-left: 3px solid transparent;

    &:hover {
      border-left: 3px solid var(--interactive-hover);
    }

    &.selected__551b0 {
      background-color: transparent ;
      border-left: 3px solid var(--interactive-hover);
    }
  }
}
// <- Sidebar region


// -> Content region
.container_a592e1 {
  border: none ;

  // -> Header bar
  .headerBar__8a7fc {
    height: 48px ;
    justify-content: end ;

    // border bottom
    &::after { display: none }

    // Category icon, background for scrolling down overflow
    :is(.icon__8a7fc, .backdrop__8a7fc) { display: none }

    // -> nav bar
    // tabs container
    .container__65d41 {
      height: 48px ;
    }

    .floatingSearchTabsMask__8a7fc {
      mask-image: none ;
    }

    // inner container
    .tabs__65d41 {
      align-items: center ;
      gap: 10px ;
      border: none ;
    }

    // <- nav bar

    // -> Search
    // icon (closed)
    .searchIcon__1ac1c {
      justify-content: unset ;
    }

    // searchbar (open)
    .searchFloating__1ac1c {
      position: relative ;
      right: 0px ;
    }
    // <- Search
  }

  // Quest header
  // .container__955a3 .headerBar__8a7fc { display: none }
  .container__955a3 .headerBar__1a9ce {
    // position: relative ;

   }
  // <- Header bar

  // -> Scroller
  .scroller__23746 {

    @include scrollerFadeOut(5px, 2px);

    .container_e9ef78 { display: none }
  }

  // Servers/Apps scroller
  .headerBar__8a7fc + .scroller__23746 {
    margin-top: 60px ;
  }

  // Quest scroller
  .container__955a3 .scroller__23746 {
    overflow: hidden !important ;
    padding-right: 0 ;

    .contentSection_b6bcee {
      overflow: hidden scroll ;

      @include scrollbar();
      @include scrollerFadeOut();
    }
  }
  // <- Scroller

  // -> Items
  .content__99f8c {

    // Guild/Apps item
    .card__84e3e {
      background: var(--background-modifier-active);
      border: none ;
      transition: none ;

      &:hover {
        background: var(--background-modifier-selected);
        border-color: var(--interactive-normal);

        @include shadowEffect("card_1");
      }
    }

    // Quest item (move away)
    // .questTile__60f82 {
    //   background: var(--background-modifier-active);

    //   // bottom container
    //   .container__956c6 {
    //     background: none ;
    //   }
    // }
  }
  // <- Items
}
// <- Content region
