// * app v0.1.9
@use 'mixins' as * ;

body {
  color: transparent ;
}

// Layer transitions
.layers_a01fb1 > .layer_d4b6c5 { 
  transform: none !important ;
}

.base_a4d4d9 { 
  height: 100% !important ;
}

// "Bot"/"server" Tag Indicator
.botTag_a02df3 { 
  color: var(--text-normal);
  background-color: var(--background-secondary);
}

// General Scrollbar
.app_bd26cc .scrollerBase_eed6a8:not(.none_eed6a8) { @include scrollbar() } 
.app_bd26cc .scrollerBase_c49869:not(.none_c49869) { @include scrollbar() }

// Tab focus thing
.focus-rings-ring, .focusRing_d0696b {
  box-shadow: none ;
  border-bottom: 3px solid var(--interactive-hover);
  border-radius: 0 ;
}

// Sidebar Panels (Profile, Activity,..)
.sidebar_a4d4d9 .panels_a4d4d9 {
  
  // Profile Container
  .container_b2ca13 {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;

    // Pfp, name container
    .avatarWrapper_b2ca13 {
      margin: 6px 8px 6px 0 ;
      background: none ;
    }

    // Buttons
    .button_dd4f85 {
      background: none ;
    }
  }
  
  // Activity Container
  .activityPanel_a4d4d9 {
    height: 32px ;
    padding: 6px 10px ;
    
    // Image
    .gameIconWrapper_bf1a22 { 
      height: 32px;
    }
    
    // Text
    .title_d1da5f { 
      line-height: 32px;
    }
    
    button { background: none }
  }
  
  // Voice Connection
  .container_adcaac {
    border: none ;
    padding: 0 0 0 8px ;

    // Voice channel info container
    .connection_adcaac {
      padding: 5px 0 ;
    }

    // Buttons container
    .button_f67531 {
      background: none ;
    }


    // -> With action buttons
    &:has(.actionButtons_adcaac) {
      display: grid ;
      padding: 0 ;
      grid-template-columns: 100% ;
      contain: paint ;
      
      // Voice channel info container
      .connection_adcaac {
        order: 2 ;
        margin-left: 32px ;
        align-items: unset ;
      }
      
      // Connected users container (right click channel name for context option)
      .voiceUsers_adcaac {
        height: 30px ;
        padding: 3px 8px ;
        margin: 0 ;
        box-sizing: border-box ;
        order: 3 ;
        
        &::-webkit-scrollbar { display: none }
        
        ~ .actionButtons_adcaac:after {
          bottom: 42px ;
        }
      }
    }

    // Voice channel button container
    .actionButtons_adcaac {
      display: inline-flex ;
      height: 0 ;
      padding: 0 ;
      justify-content: space-evenly ;
      overflow: hidden ;
      transition: .1s linear;
      align-items: center ;
      
      // Caret icon
      &:after {
        content: "<" ;
        position: absolute ;
        display: flex ;
        width: 200px;
        height: 32px ;
        left: 0 ;
        bottom: 12px ;
        justify-content: center ;
        align-items: center ;
        color: var(--interactive-normal);
        font-size: 18px ;
        font-weight: 700 ;
        transform: rotate(90deg) translate(6px, 100px - 16px);
      }
      
      &:hover {
        height: 44px ;
        
        &:after {
          content: ">" ;
          color: var(--interactive-hover);
        }
      }
      
      // Buttons container
      .button_adcaac {
        width: max-content ;
        padding: 0 12px ;
        background: none ;
        color: var(--interactive-normal);
        z-index: 1 ;
        
        &:not(.fauxDisabled_adcaac):hover {
          color: var(--interactive-hover);
        }
      }
    }
    // <- With action buttons
  }
}

// Searchbar (App directory/Discovery)
.searchBox__56feb {
  background: var(--background-modifier-accent) !important ;
  
  &:focus-within, &:has(.clearIcon__21453) {
    border-color: transparent transparent white transparent !important;
    border-radius: 0 ;
    background: var(--background-modifier-selected) !important;
    box-shadow: none !important;
  }

  // Discovery
  &.searchBox_f69601 svg {
    color: hsl(var(--white-500-hsl)/.3) !important;

    &.clearIcon__21453:hover {
      color: var(--text-normal) !important;
    }
   }

  .searchBoxInput_f69601 {
    color: var(--text-normal) !important;
  }

  // App direcoty
  // &.search_aabd24.searchBar_a0e1d7 { }
}