// * app v0.1.15
@use 'mixins' as * ;

body {
  color: transparent ;
}

// Layer transitions
.layers__160d8 > .layer__960e4 { 
  transform: none !important ;
}

.base_c48ade { 
  height: 100% !important ;
}

// "Bot"/"server" Tag Indicator
.botTag__5d473 { 
  color: var(--text-normal);
  background-color: var(--background-secondary);
}

// General Scrollbar
.app_a3002d .scrollerBase_eed6a8:not(.none_eed6a8) { @include scrollbar() } 
.app_a3002d .scrollerBase_c49869:not(.none_c49869) { @include scrollbar() }
.app_a3002d .scrollerBase_d125d2:not(.none_c49869) { @include scrollbar() }

// Tab focus thing
.focus-rings-ring, .focusRing_d0696b {
  box-shadow: none ;
  border-bottom: 3px solid var(--interactive-hover);
  border-radius: 0 ;
}

// Sidebar Panels (Profile, Activity,..)
.sidebar_c48ade .panels_c48ade {
  
  // Profile Container
  .container__37e49 {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;

    // Pfp, name container
    .avatarWrapper__37e49 {
      margin: 6px 8px 6px 0 ;
      background: none ;
    }

    // Buttons
    .button__201d5 {
      background: none ;
    }
  }
  
  // Activity Container
  .activityPanel_c48ade {
    height: 32px ;
    padding: 6px 10px ;
    
    // Image
    .gameIconWrapper_bf1a22 { 
      height: 32px;
    }
    
    // Text
    .title_d1da5f { 
      line-height: 32px;
    }
    
    button { background: none }
  }
  
  // Voice Connection
  .container_e131a9 {
    border: none ;
    padding: 0 0 0 8px ;

    // Voice channel info container
    .connection_e131a9 {
      padding: 5px 0 ;
    }

    // Buttons container
    .button__201d5 {
      background: none ;
    }


    // -> With action buttons
    &:has(.actionButtons_e131a9) {
      display: grid ;
      padding: 0 ;
      grid-template-columns: 100% ;
      contain: paint ;
      
      // Voice channel info container
      .connection_e131a9 {
        order: 2 ;
        margin-left: 32px ;
        align-items: unset ;
      }
      
      // Connected users container (right click channel name for context option)
      .voiceUsers_e131a9 {
        height: 30px ;
        padding: 3px 8px ;
        margin: 0 ;
        box-sizing: border-box ;
        order: 3 ;
        
        &::-webkit-scrollbar { display: none }
        
        ~ .actionButtons_e131a9:after {
          bottom: 42px ;
        }
      }
    }

    // Voice channel button container
    .actionButtons_e131a9 {
      display: inline-flex ;
      height: 0 ;
      padding: 0 ;
      justify-content: space-evenly ;
      overflow: hidden ;
      transition: .1s linear;
      align-items: center ;
      
      // Caret icon
      &:after {
        content: "<" ;
        position: absolute ;
        display: flex ;
        width: 200px;
        height: 32px ;
        left: 0 ;
        bottom: 12px ;
        justify-content: center ;
        align-items: center ;
        color: var(--interactive-normal);
        font-size: 18px ;
        font-weight: 700 ;
        transform: rotate(90deg) translate(6px, 100px - 16px);
      }
      
      &:hover {
        height: 44px ;
        
        &:after {
          content: ">" ;
          color: var(--interactive-hover);
        }
      }
      
      // Buttons container
      .button_e131a9 {
        width: max-content ;
        padding: 0 12px ;
        background: none ;
        color: var(--interactive-normal);
        z-index: 1 ;
        
        &:not(.fauxDisabled_e131a9):hover {
          color: var(--interactive-hover);
        }
      }
    }
    // <- With action buttons
  }
}

// General searchbar
.app_a3002d { @include searchbar(".container_a45028", ".inner_a45028") }

// Profile image decorations user option
.avatarDecoration__44b0c .avatar__44b0c {
  height: calc(100% * var(--show-avatarDecorations));
  width: calc(100% * var(--show-avatarDecorations));
}