// * background v0.2.6.1
// Background image + Transparency

// Main background image
#app-mount::before {
  content: " " ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  display: block ;
  height: 100vh ;
  width: 100vw ;
  background: var(--background_app);
  background-size: cover !important ;
  background-attachment: fixed !important ;
  background-position: center !important ;

  --blur: blur(calc(var(--backgroundBlur_app, 0) / 100 * 1px));
  --brightness: brightness(calc((var(--backgroundBrightness_app, 80) / 100)));

  filter: var(--blur) var(--brightness);
}

$Classes: (
  // #app-mount
  "",
  // BG elm
  ".bg__12180",
  // App containers
  ".app_de4237",
  ".layer__2efaa",
  // Voice-chat view
  ".stageSection-3mAD8V",
  // Text chat
  ".chat__52833", ".chatContent__5dca8",
  // Voicecall view
  ".callContainer_cbde45",
  // Forum channel
  ".container_b181b6",
  // Channel & Roles
  ".container__10dc7",
  // Channel & Roles inner
  ".mainTableContainer__5ffe0",
  // Member Safety Page
  ".container_df3aa0",
  // Stage view
  ".container__3e5cc", ".callContainer_e8faeb",
  ".scroller_d8c41e", ".container-3r7mfc", ".rowContainer__3f2d1",
  // Sidebar
  ".sidebar_ded4b5",
  // Sidebar container for Discord info stuff
  ".container-3O_wAf",
  // Server channels container
  ".container__590e2",
  // Members list
  ".container_b2ce9c",
  // Sidebar Panels 
  ".panels__58331",
  // User profile container, Voice channel, Activity
  ".container_ca50b9", ".container_d667ff", ".activityPanel__22355",
  // DMs Sidebar
  ".privateChannels__93473",
  // Home Friends list
  ".sidebar_ded4b5 ~ .container__5c7e7",
  // Nitro store
  ".applicationStore_fc7d76",
  // Shop (Home)
  ".shop_b31ed2",
  // Discovery
  ".pageWrapper_fef757",
  // Friends Activity Sidebar
  ".nowPlayingColumn_f5023f",
  ".nowPlayingColumn_f5023f > .container__0a6a9",
  ".nowPlayingColumn_f5023f > .emptyCard_f82dde",
  ".nowPlayingSidebar-2OFn0o",
  ".nowPlayingSidebar-2OFn0o > .container__0a6a9",
  ".nowPlayingSidebar-2OFn0o > .emptyCard_f82dde",
  // Pretty much every scroller
  ".app_b1f720 .scrollerBase_dc3aa9", //old
  ".app_b1f720 .scrollerBase__2b744", // new
  // Members list
  ".container-2Oqvgx", ".members__9f47b", ".members__9f47b .content-2a4AW9",
  // Server bar
  ".guilds__2b93a",
  // Settings
  ".standardSidebarView__1129a",
  ".contentRegion__0bec1",
  // Roles Settings
  ".page__9db5c .titleContainer_e558ff",
  // Channel Settings (Permissions)
  ".card-2EUiNF", ".settingCard-xZSDjS", ".cardFolder-3H4uH4",
  // Voice-chat view
  ".wrapper_bd2abe",
  // Title bar
  ".container__11d72",
  // Server Boost page
  ".scroller__439a2", ".header__4f442",
  // Profile customization shop
  ".shop-3sIaH8"
);


@each $class in $Classes { #app-mount #{$class} { background: none } }

body { background: none }


