// * background v0.2.18
// Background image + Transparency
@use "sass:string";

// Main background image
#app-mount::before {
  content: " " ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  display: block ;
  height: 100vh ;
  width: 100vw ;
  background: var(--background_app);
  background-size: cover !important ;
  background-attachment: fixed !important ;
  background-position: center !important ;

  --blur: blur(calc(var(--backgroundBlur_app, 0) / 100 * 1px));
  --brightness: brightness(calc((var(--backgroundBrightness_app, 80) / 100)));

  filter: var(--blur) var(--brightness);
}

$Classes: (
  // #app-mount
  "",
  // BG elm
  ".bg__960e4",
  // App containers
  ".app__160d8",
  ".layer__960e4",
  // Text chat
  ".chat_f75fb0",
  ".chatContent_f75fb0",
  // Voicecall view
  ".callContainer_cb9592",
  // Forum channel
  ".container_f369db",
  // Channel & Roles
  "!.container__0b563",
  ".pageBody__41ed7",
  // Channel & Roles inner
  ".scrollerContainer_c6b11b", 
  // Member Safety Page
  ".container_c791b2",
  ".mainTableContainer__09a38",
  // Stage view
  ".container__722ff",
  ".callContainer__722ff",
  ".scroller__56ccd",
  ".rowContainer__8a920",
  // Sidebar
  ".sidebar_c48ade",
  // Server channels container
  ".container__2637a",
  // Members list
  ".container_c8ffbb",
  // Sidebar Panels 
  ".panels_c48ade",
  // User profile container, Voice channel, Activity
  ".container__37e49",
  ".container_e131a9",
  ".activityPanel_c48ade",
  // DMs Sidebar
  ".privateChannels__35e86",
  // Dms User panel
  ".userPanelOuter_c69a7b",
  // Home Friends list
  ".sidebar_c48ade ~ .container__133bf",
  // Nitro store
  ".applicationStore_f07d62",
  // Profile decorations shop (Home)
  ".shop__6db1d",
  ".shop__08415",
  ".shopScroll__6db1d",
  ".pageWrapper__6db1d",
  // Discovery
  ".container__551b0",
  // Friends Activity Sidebar
  ".nowPlayingColumn__133bf",
  ".nowPlayingColumn__133bf > .container__7d20c",
  ".nowPlayingColumn__133bf > .emptyCard__7e549",
  // most scroller containers
  ".app_a3002d .scrollerBase__99f8c",
  ".app_a3002d .scrollerBase_d125d2",
  // Server bar
  ".guilds_c48ade",
  // Settings
  ".standardSidebarView__23e6b",
  ".sidebarRegionScroller__23e6b",
  ".contentRegion__23e6b",
  ".contentRegionScroller__23e6b",
  // Roles Settings
  ".page__91dc3 .titleContainer_e29cd7",
  // Voice-chat view
  ".wrapper_cb9592",
  // Title bar
  "!.container__9293f",
  // Server Boost page
  ".scroller__6fd0e",
  ".header__6fd0e"
);


@each $class in $Classes { 

  @if string.slice($class, 1, 1) == "!" {
    #app-mount #{string.slice($class, 2, -1)} { 
      background: none !important
    }
  }
  @else {
    #app-mount #{$class} { background: none }
  }
}

body { background: none }
