// * compatibility v0.1.8
// Compatibility with plugins and Themes
@use 'mixins' as * ;

// - Hide Channels by Farcrada (v2.2.10) (to be checked)
// - FriendNotifications by DevilBro (v1.9.9)
// - ReadAllNotificationsButton by DevilBro (v1.7.5)
// - SpotifyControls by DevilBro (v1.3.8)
// - CollapsibleUI by programmer2514 (v7.4.2)
// - PermissionsViewer by Zerebos (v0.2.9)
// - ServerDetails by DevilBro (v1.1.8)
// - CharCounter by DevilBro (v1.6.2)

// - Icon Revert 2023 by davart154 (e28cad5)

// -> Hide Channels by Farcrada
// Show/Hide btn
#toggleChannels {
  filter: brightness(.6);
  margin-right: 6px ;
  
  &.channelsHidden { filter: brightness(.8) }
  
  &:hover { filter: brightness(1) }
}

// Server channel sidebar
.sidebar_e031be {
  transition: none !important ;
  
  // Sidebar hidden
  // Chat
  &.hideChannelElement + div .title_d4ba1a {
    margin-left: 240px ;
    width: auto ;

    // Channel name
    .title__84e16 { 
      display: flex ;
    } 
  }

  // friendslist
  &.hideChannelElement + main .container__26baa {
    margin-left: 240px ;
    width: auto ;

    // Channel name
    .title__84e16 { 
      display: flex ;
    } 
  }
}

// <- Hide Channels by Farcrada


// -> FriendNotifications by DevilBro
// Online friend counter
.guilds__2b93a .friendsOnlineWrap_0gZ63m {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg);
  top: 60px ;
  left: -19px ;
  z-index: 1 ;

  .label_2wRs_g {
    color: var(--text-normal);
    font-size: 10px ;

    @include shadow_effect("text_1");
  }
}
// <- FriendNotifications by DevilBro


// -> ReadAllNotificationsButton by DevilBro
// "Read all" btn
.guilds__2b93a .frame_oXWS21 {
  display: flex !important ;
  position: absolute ;
  top: 0 ;
  left: -16px ;
  z-index: 1 ;

  &, * { height: 20px ; width: 20px  }

  .childWrapper_a6ce15 {
    color: transparent ;
    background: none ;
    transform: rotate(90deg);
    text-align: center ;

    // "R" Icon
    &:before {
      content: "R" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      height: 20px ;
      width: 20px ;
      line-height: 20px ;
      color: var(--header-secondary);
      font-size: 18px ;
      font-weight: 700 ;

      @include shadow_effect("text_2");
    }

    // Tooltip on hover
    &:hover::after {
      content: "read all" ;
      position: absolute ;
      top: -10px ;
      left: 25px ;
      padding: 8px 12px ;
      font-size: 16px ;
      font-weight: 600 ;
      line-height: 10px ;
      background: var(--background-tertiary);
      color: var(--text-normal);
      border-radius: 5px ;
      white-space: nowrap ;

      @include shadow_effect("box_2");
    }
  }
}
// <- ReadAllNotificationsButton by DevilBro


// -> SpotifyControls by DevilBro
// Sidebar control panel
#app-mount .panels__58331 .container_6sXIoE { 
  margin: 0px ;
  min-height: 44px ;

  .button_ae40a4 { background: none }
}
// <- SpotifyControls by DevilBro


// -> CollapsibleUI by programmer2514
// Serverbar hidden
.guilds__2b93a {
  
  &[style*="transition: width"] {
    transition: width 0s !important ;
  }
  
  &[style*="width: 0px;"] {
    height: 0px ;
    
    // Home search, Server options btn
    + .base_c0676e {
      .searchBar__621ec, .container_f41675 {
        display: none ;
      }
    }
  }
}

// Channel list sidebar hidden
.sidebar_e031be[style*="width: 0px;"] {

  // show channel name when channel list is hidden
  ~ .container_bd15da .container__26baa, ~ .chat__52833 .title_d4ba1a {
    margin-left: 240px ;
    width: auto ;

    // Channel name
    .title__84e16 { 
      display: flex ;
    } 
  }
}

// User area hidden
// Sidebar container
.privateChannels__9b518:has(~ .panels__58331[style*="max-height: 0px"]) {
  top: 5px ;
  margin-bottom: unset ;
}

// user panel, voice panel, ...
.panels__58331[style*="max-height: 0px"] {
  display: none ;
}
// <- CollapsibleUI by programmer2514


// -> PermissionsViewer by Zerebos
// Inspect modal
#permissions-modal-wrapper {
  z-index: 10000 ;
}
// <- PermissionsViewer by Zerebos


// -> ServerDetails by DevilBro
// make tooltip center
.detailsTooltip_G9hSSa {
  transform: translate(-195px, -50px);
}
// <- ServerDetails by DevilBro


// -> CharCounter by DevilBro
.charCounterAdded_zz9O4t {

  .charCounter_7fw40k {
    position: absolute ;
    top: 0px ;
    left: 58px ;
    height: 15px ;
    width: fit-content ;
    line-height: 15px ;
    color: var(--channel-text-area-placeholder);
  }

  .placeholder_dec8c7, .editor__66464 {
    padding: 14px 10px 8px 0 ;
  }

  // typing/slowmode container
  + .typing__6fd1d {
    margin: 0 !important ;
  }
}
// <- CharCounter by DevilBro


// -> Icon Revert 2023
// Add reactions icon
.buttonContainer__6de7e, .reactionBtn__3cb2a {
  [d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22ZM6.5 13a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm11 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm-9.8 1.17a1 1 0 0 1 1.39.27 3.5 3.5 0 0 0 5.82 0 1 1 0 0 1 1.66 1.12 5.5 5.5 0 0 1-9.14 0 1 1 0 0 1 .27-1.4Z"] {

    d: path("M12.1151 2.00065C12.0768 2.00022 12.0384 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.9616 21.9998 11.9232 21.9993 11.8849C21.1882 12.1737 20.3146 12.3309 19.4043 12.3309C15.1323 12.3309 11.6691 8.86771 11.6691 4.59565C11.6691 3.68536 11.8263 2.8118 12.1151 2.00065ZM7.92105 11.8023C7.92105 12.7107 7.18468 13.4471 6.27631 13.4471C5.36795 13.4471 4.63158 12.7107 4.63158 11.8023C4.63158 10.894 5.36795 10.1576 6.27631 10.1576C7.18467 10.1576 7.92105 10.894 7.92105 11.8023ZM10.5217 14.5171C10.3859 13.9893 9.84786 13.6716 9.32005 13.8074C8.79223 13.9433 8.47448 14.4813 8.61033 15.0091C9.01196 16.5695 10.4273 17.7236 12.1147 17.7236C13.8021 17.7236 15.2174 16.5695 15.6191 15.0091C15.7549 14.4813 15.4372 13.9433 14.9093 13.8074C14.3815 13.6716 13.8435 13.9893 13.7077 14.5171C13.525 15.2267 12.8797 15.7499 12.1147 15.7499C11.3497 15.7499 10.7044 15.2267 10.5217 14.5171Z M18.5 2C17.9477 2 17.5 2.44772 17.5 3V4.5H16C15.4477 4.5 15 4.94771 15 5.5C15 6.05228 15.4477 6.5 16 6.5H17.5V8C17.5 8.55228 17.9477 9 18.5 9C19.0523 9 19.5 8.55229 19.5 8V6.5H21C21.5523 6.5 22 6.05229 22 5.5C22 4.94772 21.5523 4.5 21 4.5H19.5V3C19.5 2.44772 19.0523 2 18.5 2Z");
  }
}

// Channel Notification settings Bell icon
[d="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 0 0-.07-.74 6.97 6.97 0 0 0-1.35-.64.62.62 0 0 1-.38-.43 2 2 0 0 0-3.86 0 .62.62 0 0 1-.38.43A7 7 0 0 0 5 9.5v2.09a.5.5 0 0 1-.13.33l-1.1 1.22A3 3 0 0 0 3 15.15v.28c0 .24.04.48.13.7ZM18.64 9.36c.13-.13.36-.05.36.14v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-.46 0-.9-.01-1.33-.03a.48.48 0 0 1-.3-.83l8.27-8.28ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 0 1-5.64 0Z"] {

  d: path("M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z M18 10.5283L10.5287 18H21V17C19.344 17 18 15.657 18 14V10.5283Z M8.957 19.5718L9.52877 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21C10.7748 21 9.68752 20.442 8.957 19.5718Z M12 3C13.417 3 14.71 3.5 15.734 4.321L5.99805 14.058C5.99805 14.0479 5.99856 14.038 5.99907 14.0283C5.99956 14.0188 6.00005 14.0094 6.00005 14V9C6.00005 5.686 8.68605 3 12 3Z") !important ;
}

.icon_ae0b42:has([d="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 0 0-.07-.74 6.97 6.97 0 0 0-1.35-.64.62.62 0 0 1-.38-.43 2 2 0 0 0-3.86 0 .62.62 0 0 1-.38.43A7 7 0 0 0 5 9.5v2.09a.5.5 0 0 1-.13.33l-1.1 1.22A3 3 0 0 0 3 15.15v.28c0 .24.04.48.13.7ZM18.64 9.36c.13-.13.36-.05.36.14v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-.46 0-.9-.01-1.33-.03a.48.48 0 0 1-.3-.83l8.27-8.28ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.84 24.84 0 0 1-5.64 0Z"]) {
  background-image: none !important ;
}

// Sidebar panels btns
.panels__58331 .button__581d0:hover path {
  fill: var(--interactive-hover) !important ;
}

// Camera off "Turn On Camera" btn
[d="M22.7 2.7a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4l20-20ZM9.2 20a.5.5 0 0 1-.35-.85l12.1-12.1a.5.5 0 0 1 .12-.09l.48-.24a1 1 0 0 1 1.45.9v8.76a1 1 0 0 1-1.45.9l-3-1.5a1 1 0 0 1-.55-.9V17a3 3 0 0 1-3 3H9.2ZM15.28 4.72c.27-.27.15-.71-.23-.72H4a3 3 0 0 0-3 3v10a3 3 0 0 0 .17.99c.1.3.49.35.72.12l13.4-13.4Z"] {
  d: path("M 6.7427 19 H 16 C 17.103 19 18 18.104 18 17 V 14.618 L 20.553 15.894 C 20.694 15.965 20.847 16 21 16 C 21.183 16 21.365 15.949 21.526 15.851 C 21.82 15.668 22 15.347 22 15 V 9 C 22 8.653 21.82 8.332 21.526 8.149 C 21.231 7.966 20.862 7.951 20.553 8.105 L 18 9.382 V 7.7427 L 6.7427 19 Z M 12.2574 5 H 4 C 2.897 5 2 5.897 2 7 V 15.2574 L 12.2574 5 Z m 6.2856 -3.464 l 1.414 1.414 l -18.471 18.472 l -1.414 -1.415 z") !important ;
}
// <- Icon Revert 2023