// * home v0.1.17
// DMs Sidebar / Friendslist / Live Stages / Nitro store
@use 'mixins' as * ;

// -> Friends Tab
.tabBody__133bf {

  // Seperator line top
  &::before { display: none }

  // -> Friendslist
  .peopleList__5ec2f {
    margin: 15px 25px 0 25px ;

    @include scrollerFadeOut();

    // "Friends online" Count
    .sectionTitle__5ec2f { display: none }

    &::-webkit-scrollbar {
      display: none ;
    }

    // -> User item
    // -> General
    .peopleListItem_cc6179 {

      // -> Username
      .userInfo__0a06e {

        // Username, Status text container
        .text__0a06e {
          width: 100% ;
        }
        
        .text__8ac07 {
          color: var(--header-secondary) !important;
        }

        // Username/ # Identifier
        .discriminator__0a06e {
          width: 0 ;
        }
      }

      &:hover .discriminator__0a06e {
        width: auto ;
        visibility: visible ;
      }
      // <- Username

      .actionButton_f8fa06 {
        background: none ;
      }
    }
    // <- General

    // -> Without lazy loading
    // container for grid
    > div:not([class]):first-child {
      height: fit-content !important ;
      margin: 4% 0px ;
      display: grid ;
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: space-evenly ;
      row-gap: 35px ;
      grid-column-gap: 10px ;

      .peopleListItem_cc6179 {
        height: 62px !important ;
        width: 300px ;
        margin: 0 ;
        padding: 0 ;
        opacity: 1 !important ;
        border: none ;
        background: var(--background-floating);
        border-radius: 10px ;
        border-top-left-radius: 0px ;
        border-top-right-radius: 0px ;
        transition: .1s ;

        @include shadow_effect("box_2");

        &:hover { @include shadow_effect("box_1") }

        // Main Container
        .userInfo__0a06e {
          margin: 0px 12px ;
          width: -webkit-fill-available ;
          overflow: visible !important ;
          height: 100% ;
          align-items: center ;
        }

        // -> Avatar, Status icon
        // Avatar pfp
        .avatar__0a06e {

          // SVG Mask container
          foreignObject,
          svg {
            mask: none ;
            overflow: visible ;
          }

          .svg__44b0c {
            contain: unset ;
          }

          // Image
          .avatar__44b0c {
            border-radius: 5px ;

            &:not([src*=".gif"]) {
              @include shadow_effect("drop_1")
            }
          }

          // Status icon
          rect {
            x: -15px ;
            y: -15px ;
            mask: none ;
            width: 310px ;
            height: 2px ;
            opacity: .8 ;
          }
        }

        // <- Avatar, Status icon

        // -> Status text
        // Activity (hiding the "playing" behind background) 
        .activity__19b6d .text__19b6d {
          width: 100% ;
          position: relative ;

          strong {
            position: absolute ;
            left: 0 ;
            width: 100% ;
            background: var(--background-floating);
          }
        }

        // Activity icon, idk
        .icon_c9d15c,
        .textRuler_c9d15c {
          display: none
        }
        // <- Username, Status text

        // -> User actions
        // Normal
        .actions_fc004c { display: none }

        // User item container Blocked/Pending
        .listItemContents__61863,
        .listItemContents_e1ecd3 {
          width: -webkit-fill-available ;

          // Container (Avatar, Name, Activity)
          .userInfo__0a06e {
            overflow: hidden ;
            flex: 1 1 auto ;
          }

          // Unblock btn
          .actionButton_f8fa06 {
            display: none ;
            margin: 0 10px 0 0 ;
          }

          // "Blocked" text
          .subtext__0a06e {
            overflow: hidden ;
            white-space: nowrap ;
            text-overflow: ellipsis ;
          }

          &:hover .actionButton_f8fa06 {
            display: flex ;
          }
        }
        // <- User actions
      }
    }
    // <- Without lazy loading
    // <- User item
  }

  // <- Friendslist

  // -> Friends activity sidebar
  $ActiveNowWidth: 300px ;

  .nowPlayingColumn__133bf {

    $activity: var(--show-friends-activity);
    $emptyActivity: calc((1 - var(--hide-empty-friends-activity)) - (1 - $activity));

    display: block ;
    flex: 0 1 calc(30% * $activity);
    width: calc(100% * $activity);
    min-width: calc($ActiveNowWidth * $activity);

    &:has(.emptyCard__7e549) {
      flex: 0 1 calc(30% * $emptyActivity );
      width: calc(100% * $emptyActivity );
      min-width: calc($ActiveNowWidth * $emptyActivity );
    }

    // "Active now" header text
    .header__7d20c {
      margin: 16px ;
      color: var(--header-secondary);
    }

    .scroller__7d20c {
      margin: 0 ;
      padding: 0px !important ;
      border: none ;

      &::-webkit-scrollbar { display: none }
    }

    .emptyCard__7e549 {
      background: none ;
    }

    // -> User activity card
    .itemCard__7e549 {
      margin: 0 ;
      padding: 16px ;
      border: none ;
      border-radius: 0 ;
      background: none ;

      &:hover {
        background: var(--background-modifier-hover);
      }

      // subsequent cards
      + .itemCard__7e549 {
        border-top: 1px solid var(--background-modifier-accent);
      }

      // container for activity
      .body__00943 {
        background: none ;
      }

      // inner body container
      .section__00943 {
        background: none ;
        padding: 6px 0 0 12px ;
      }
    }
    // <- User activity card
  }

  @media (width < (240px + 350px + $ActiveNowWidth + 10 )) {
    .nowPlayingColumn__133bf { display: none }
  }
  // <- Friends activity sidebar
}
// <- Friends Tab

// -> Add Friend
.tabBody__133bf {

  .addFriendInputWrapper__72ba7 {
    margin-top: 32px ;
    border: none ;
    background: none ;
    border-radius: 0 ;

    .addFriendInput_de812f {
      padding: 8px 10px ;
      border-bottom: 1px solid transparent ;
      border-radius: 5px ;
      background: var(--background-modifier-selected);
    }

    .addFriendHint_de812f {
      padding: 8px 10px ;
    }

    .input_de812f {
      height: 20px ;
    }

    &:focus-within .addFriendInput_de812f {
      border-color: var(--interactive-normal);
      background: none ;
      border-radius: 0px ;
      box-shadow: none ;
    }

    .button__201d5 {
      @include Btn("background");
    }
  }

  // find more things thing
  .grid_a14595 {
    .container_a14595 {
      background: var(--background-modifier-selected);
      border: none ;
    }
  }
}

// <- Add Friend

// -> Nitro subscription page
.applicationStore_f07d62 {

  .headerBar__0920e {
    display: none
  }

  .scroller__244e5 {
    @include scrollbar()
  }
}

// <- Nitro subscription page

// -> Profile decorations shop
.shop__6db1d {

  // Titlebar
  .headerBar__80679  { display: none }

  // Floating ad
  .countDownWrapper_a1b7b8 {
    left: calc(50% + 120px);
    bottom: 20px ;
  }
}
// <- Profile decorations shop


// -> DMs Sidebar
.privateChannels__35e86 {
  top: 48px ;
  margin-bottom: 48px ;

  // Scroller container
  .scroller__99e7c {
    padding: 0 10px 0 0 !important ;

    &::-webkit-scrollbar {
      display: none
    }
  }

  // Category header text
  .headerText__99e7c {
    color: var(--channels-default); // removes hover effect
  }

  // Create Group DM Button (not necessary, there is one at the top right)
  .privateChannelRecipientsInviteButtonIcon__99e7c {
    display: none
  }

  // Sidebar item container

  // Channel except Home tabs
  .privateChannelsHeaderContainer__99e7c ~ .channel__972a0 {
    height: 38px !important ;
    margin: 6px 0 !important ;
  }

  .channel__972a0 {
    padding: 0 ;
    border-radius: 0 ;

    @include Mentions_icon(".numberBadge_df8943");

    // Second container
    .interactive__972a0 {
      background: none ;
      height: 38px ;
      margin-left: 5px ;

      // Third container
      .layout_f9647d {
        margin-left: 5px ;
      }

      &.selected_bf202d {
        border-left: 3px solid var(--interactive-hover);
      }

      &:hover {
        border-left: 3px solid var(--interactive-hover);
        background: var(--background-modifier-hover);
      }
    }

    // Nitro Ads
    // .offerBadge-1KDtMz, .premiumTrialBadge-pEqntF, 
    .badgeIconPrivateMessages__80f39 {
      display: none
    }
  }

  // "new" badge on shop
  .linkButton__972a0 .textBadge_f05120 {
    display: none
  }
}

// <- DMs Sidebar