// * home v0.1.11
// DMs Sidebar / Friendslist / Live Stages / Nitro store
@use 'mixins' as * ;

// -> Friends Tab
.tabBody_c2739c {

  // Seperator line top
  &::before { display: none }

  // Friendslist searchbar
  .searchBar_e0840f {
    background: var(--background-modifier-accent);
  }

  // -> Friendslist
  .peopleList_e0840f {
    margin: 0 25px ;

    @include scrollerFadeOut();

    // "Friends online" Count
    .title_a1cafe { display: none }

    &::-webkit-scrollbar {
      display: none ;
    }

    // -> User item
    // -> General
    .peopleListItem_d51464 {
      // border: none; // maybe, idk ??

      // -> Username
      .userInfo_f3939d {

        // Username, Status text container
        .text_f3939d {
          width: 100% ;
        }

        // Username/ # Identifier
        .discriminator_f3939d {
          width: 0 ;
        }
      }

      &:hover .discriminator_f3939d {
        width: auto ;
        visibility: visible ;
      }
      // <- Username

      .actionButton_e01b91 {
        background: none ;
      }
    }
    // <- General

    // -> Without lazy loading
    // container for grid
    > div:not([class]):first-child {
      height: fit-content !important ;
      margin: 4% 0px ;
      display: grid ;
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: space-evenly ;
      row-gap: 35px ;
      grid-column-gap: 10px ;

      .peopleListItem_d51464 {
        height: 62px !important ;
        width: 300px ;
        margin: 0 ;
        padding: 0 ;
        opacity: 1 !important ;
        border: none ;
        background: var(--background-floating);
        border-radius: 10px ;
        border-top-left-radius: 0px ;
        border-top-right-radius: 0px ;
        transition: .1s ;

        @include shadow_effect("box_2");

        &:hover { @include shadow_effect("box_1") }

        // Main Container
        .userInfo_f3939d {
          margin: 0px 12px ;
          width: -webkit-fill-available ;
          overflow: visible !important ;
          height: 100% ;
          align-items: center ;
        }

        // -> Avatar, Status icon
        // Avatar pfp
        .avatar_f3939d {

          // SVG Mask container
          foreignObject,
          svg {
            mask: none ;
            overflow: visible ;
          }

          .svg_c51b4e {
            contain: unset ;
          }

          // Image
          .avatar_c51b4e {
            border-radius: 5px ;

            &:not([src*=".gif"]) {
              @include shadow_effect("drop_1")
            }
          }

          // Status icon
          rect {
            x: -15px ;
            y: -15px ;
            mask: none ;
            width: 310px ;
            height: 2px ;
            opacity: .8 ;
          }
        }

        // <- Avatar, Status icon

        // -> Status text
        // Activity (hiding the "playing" behind background) 
        .activity_f7ebfd .text_f7ebfd {
          width: 100% ;
          position: relative ;

          strong {
            position: absolute ;
            left: 0 ;
            width: 100% ;
            background: var(--background-floating);
          }
        }

        // Activity icon, idk
        .icon_ad923e,
        .textRuler_ad923e {
          display: none
        }
        // <- Username, Status text

        // -> User actions
        // Normal
        .actions_e05dae { display: none }

        // User item container Blocked/Pending
        .listItemContents_f71b83,
        .listItemContents_ccc740 {
          width: -webkit-fill-available ;

          // Container (Avatar, Name, Activity)
          .userInfo_f3939d {
            overflow: hidden ;
            flex: 1 1 auto ;
          }

          // Unblock btn
          .actionButton_e01b91 {
            display: none ;
            margin: 0 10px 0 0 ;
          }

          // "Blocked" text
          .subtext_f3939d {
            overflow: hidden ;
            white-space: nowrap ;
            text-overflow: ellipsis ;
          }

          &:hover .actionButton_e01b91 {
            display: flex ;
          }
        }
        // <- User actions
      }
    }
    // <- Without lazy loading
    // <- User item
  }

  // <- Friendslist

  // -> Friends activity sidebar
  $ActiveNowWidth: 300px ;

  .nowPlayingColumn_c2739c {

    $activity: var(--show-friends-activity);
    $emptyActivity: calc((1 - var(--hide-empty-friends-activity)) - (1 - $activity));

    display: block ;
    flex: 0 1 calc(30% * $activity);
    width: calc(100% * $activity);
    min-width: calc($ActiveNowWidth * $activity);

    &:has(.emptyCard_f02fcf) {
      flex: 0 1 calc(30% * $emptyActivity );
      width: calc(100% * $emptyActivity );
      min-width: calc($ActiveNowWidth * $emptyActivity );
    }

    // "Active now" header text
    .header_bf550a {
      margin: 16px ;
      color: var(--header-secondary);
    }

    .scroller_bf550a {
      margin: 0 ;
      padding: 0px !important ;
      border: none ;

      &::-webkit-scrollbar { display: none }
    }

    .emptyCard_f02fcf {
      background: none ;
    }

    // -> User activity card
    .itemCard_f02fcf {
      margin: 0 ;
      padding: 16px ;
      border: none ;
      border-radius: 0 ;
      background: none ;

      &:hover {
        background: var(--background-modifier-hover);
      }

      // subsequent cards
      + .itemCard_f02fcf {
        border-top: 1px solid var(--background-modifier-accent);
      }

      // container for activity
      .body_cd82a7 {
        background: none ;
      }

      // inner body container
      .section_cd82a7 {
        background: none ;
        padding: 6px 0 0 12px ;
      }
    }
    // <- User activity card
  }

  @media (width < (240px + 350px + $ActiveNowWidth + 10 )) {
    .nowPlayingColumn_c2739c { display: none }
  }
  // <- Friends activity sidebar
}
// <- Friends Tab

// -> Add Friend
.tabBody_c2739c {

  .addFriendInputWrapper_de812f {
    margin-top: 32px ;
    border: none ;
    background: none ;
    border-radius: 0 ;

    .addFriendInput_de812f {
      padding: 8px 10px ;
      border-bottom: 1px solid transparent ;
      border-radius: 5px ;
      background: var(--background-modifier-selected);
    }

    .addFriendHint_de812f {
      padding: 8px 10px ;
    }

    .input_de812f {
      height: 20px ;
    }

    &:focus-within .addFriendInput_de812f {
      border-color: var(--interactive-normal);
      background: none ;
      border-radius: 0px ;
      box-shadow: none ;
    }

    .button_dd4f85 {
      @include Btn("background");
    }
  }

  // find more things thing
  .grid_aef5fd {
    .container_aef5fd {
      background: var(--background-modifier-selected);
      border: none ;
    }
  }
}

// <- Add Friend

// -> Nitro subscription page
.applicationStore_cecc86 {

  .headerBar_d175a8 {
    display: none
  }

  .scroller__244e5 {
    @include scrollbar()
  }
}

// <- Nitro subscription page

// -> Profile decorations shop
.shop_e77fa3 {

  // Titlebar
  .headerBar_d8354c  { display: none }

  // Floating ad
  .countDownWrapper_cd5584 {
    left: calc(50% + 120px);
    bottom: 20px ;
  }
}
// <- Profile decorations shop


// -> DMs Sidebar
.privateChannels_f0963d {
  top: 48px ;
  margin-bottom: 48px ;

  // Scroller container
  .scroller_c47fa9 {
    padding: 0 10px 0 0 !important ;

    &::-webkit-scrollbar {
      display: none
    }
  }

  // Create Group DM Button (not necessary, there is one at the top right)
  .privateChannelRecipientsInviteButtonIcon_c47fa9 {
    display: none
  }

  // Sidebar item container

  // Channel except Home tabs
  .privateChannelsHeaderContainer_c47fa9 ~ .channel_c91bad {
    height: 38px !important ;
    margin: 6px 0 !important ;
  }

  .channel_c91bad {
    padding: 0 ;
    border-radius: 0 ;

    @include Mentions_icon(".numberBadge_df8943");

    // Second container
    .interactive_c91bad {
      background: none ;
      height: 38px ;
      margin-left: 5px ;

      // Third container
      .layout_f9647d {
        margin-left: 5px ;
      }

      &.selected_f5eb4b {
        border-left: 3px solid var(--interactive-hover);
      }

      &:hover {
        border-left: 3px solid var(--interactive-hover);
        background: var(--background-modifier-hover);
      }
    }

    // Nitro Ads
    // .offerBadge-1KDtMz, .premiumTrialBadge-pEqntF, 
    .badgeIconPrivateMessages_d98ec4 {
      display: none
    }
  }

  // "new" badge on shop
  .linkButton_c91bad .textBadge_f05120 {
    display: none
  }
}

// <- DMs Sidebar