// * home v0.1.6
// DMs Sidebar / Friendslist / Live Stages / Nitro store
@use 'mixins' as * ;

// -> Friends Tab
.tabBody_a90ea8 {

  // Seperator line top
  &::before { display: none }

  // Friendslist searchbar
  .searchBar__310d8 {
    background: var(--background-modifier-accent);
  }

  // -> Friendslist
  .peopleList_d2f527 {
    margin: 0 0 0 20px;
    padding: 0;

    @include scrollerFadeOut();

    // "Friends online" Count
    .title_c42cad { display: none }

    // -> User item
    // -> General
    .peopleListItem_dab480 {
      // border: none; // maybe, idk ??

      // -> Username
      .userInfo__83819 {

        // Username, Status text container
        .text__88bbd {
          width: 100% ;
        }

        // Username/ # Identifier
        .discriminator__463fe {
          width: 0 ;
        }
      }

      &:hover .discriminator__463fe {
        width: auto ;
        visibility: visible ;
      }
      // <- Username

      .actionButton__2b4bb {
        background: none ;
      }
    }
    // <- General

    // -> Without lazy loading
    // container for grid
    > div:not([class]):first-child .j{
      height: fit-content !important;
      margin: 4% 5px;
      display: grid;
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: space-evenly;
      row-gap: 35px;
      grid-column-gap: 10px;

      .peopleListItem_dab480 {
        height: 62px !important;
        width: 300px;
        margin: 0;
        padding: 0;
        opacity: 1 !important;
        border: none;
        background: var(--background-floating);
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transition: .1s;

        @include shadow_effect("box_2");

        &:hover { @include shadow_effect("box_1") }

        // Main Container
        .userInfo__83819 {
          margin: 0px 12px;
          width: -webkit-fill-available;
          overflow: visible !important;
          height: 100%;
          align-items: center;
        }

        // -> Avatar, Status icon
        // Avatar pfp
        .avatar__8986c {

          // SVG Mask container
          foreignObject,
          svg {
            mask: none;
            overflow: visible;
          }

          .svg_a6bf1c {
            contain: unset;
          }

          // Image
          .avatar__991e2 {
            border-radius: 5px;

            &:not([src*=".gif"]) {
              @include shadow_effect("drop_1")
            }
          }

          // Status icon
          rect {
            x: -15px;
            y: -15px;
            mask: none;
            width: 310px;
            height: 2px;
            opacity: .8;
          }
        }

        // <- Avatar, Status icon

        // -> Status text
        // Activity (hiding the "playing" behind background) 
        .activity_f466d8 .text_bd79a3 {
          width: 100%;
          position: relative;

          strong {
            position: absolute;
            left: 0;
            width: 100%;
            background: var(--background-floating);
          }
        }

        // Activity icon, idk
        .icon__1ab4f,
        .textRuler__66fea {
          display: none
        }
        // <- Username, Status text

        // -> User actions
        // Normal
        .actions_bd37ed { display: none }

        // User item container Blocked/Pending
        .listItemContents_b18e9d,
        .listItemContents_c8a1c1 {
          width: -webkit-fill-available;

          // Container (Avatar, Name, Activity)
          .userInfo__83819 {
            overflow: hidden;
            flex: 1 1 auto;
          }

          // Unblock btn
          .actionButton__2b4bb {
            display: none;
            margin: 0 10px 0 0;
          }

          // "Blocked" text
          .subtext__72c72 {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &:hover .actionButton__2b4bb {
            display: flex;
          }
        }
        // <- User actions
      }
    }
    // <- Without lazy loading
    // <- User item
  }

  // <- Friendslist

  // -> Friends activity sidebar
  .nowPlayingColumn_b025fe {
    // display: block ;
    display: none;

    .emptyCard__204d9 {
      background: none;
    }
  }

  // <- Friends activity sidebar
}

// <- Friends Tab

// -> Add Friend
.tabBody_a90ea8 {

  .addFriendInputWrapper__2b30b {
    margin-top: 32px;
    border: none;
    background: none;
    border-radius: 0;

    .addFriendInput__12af4 {
      padding: 8px 10px;
      border-bottom: 1px solid transparent;
      border-radius: 5px;
      background: var(--background-modifier-selected);
    }

    .addFriendHint__6eee6 {
      padding: 8px 10px;
    }

    .input__3006b {
      height: 20px;
    }

    &:focus-within .addFriendInput__12af4 {
      border-color: var(--interactive-normal);
      background: none;
      border-radius: 0px;
      box-shadow: none;
    }

    .button__581d0 {
      @include Btn("background");
    }
  }

  // find more things thing
  .grid__8fc4b {
    .container__048f4 {
      background: var(--background-modifier-selected);
      border: none;
    }
  }
}

// <- Add Friend

// -> Nitro subscription page
.applicationStore__444b9 {

  .headerBar__3337a {
    display: none
  }

  .scroller__244e5 {
    @include scrollbar()
  }
}

// <- Nitro subscription page

// -> Profile decorations shop
.shop_b31ed2 {

  // Floating ad
  .countDownWrapper__60b05 {
    left: calc(50% + 120px);
    bottom: 20px ;
  }
}
// <- Profile decorations shop


// -> DMs Sidebar
.privateChannels__9b518 {
  top: 48px;
  margin-bottom: 48px;

  // Scroller container
  .scroller__89969 {
    padding: 0 10px 0 0 !important;

    &::-webkit-scrollbar {
      display: none
    }
  }

  // Create Group DM Button (not necessary, there is one at the top right)
  .privateChannelRecipientsInviteButtonIcon__459c2 {
    display: none
  }

  // Sidebar item container

  // Channel except Home tabs
  .privateChannelsHeaderContainer_b22dc9 ~ .channel__0aef5 {
    height: 38px !important;
    margin: 6px 0 !important;
  }

  .channel__0aef5 {
    padding: 0;
    border-radius: 0;

    @include Mentions_icon(".numberBadge__40d6f");

    // Second container
    .interactive__3e804 {
      background: none;
      height: 38px;
      margin-left: 5px;

      // Third container
      .layout__59abc {
        margin-left: 5px;
      }

      &.selected__37292 {
        border-left: 3px solid var(--interactive-hover);
      }

      &:hover {
        border-left: 3px solid var(--interactive-hover);
        background: var(--background-modifier-hover);
      }
    }

    // Nitro Ads
    // .offerBadge-1KDtMz, .premiumTrialBadge-pEqntF, 
    .badgeIconPrivateMessages__26127 {
      display: none
    }
  }

  // "new" badge on shop
  .linkButton__9da2c .textBadge_f05120 {
    display: none
  }
}

// <- DMs Sidebar