@forward 'mixins/mixins' ;

// General App components
// - Backgrounds, Discovery, SideBar, TopBars, Transparency
@forward 'app/app' ;

// Text & Voice Chat
// - Forums & Threads, Header bar, Text input, Messages, Voice & Stage channel
@forward 'chat/chat' ;

// Plugin compatibility
@forward 'compatibility/compatibility' ;

// - Popouts, Modals, Tooltips, Context menus
@forward 'floating/floating' ;

// Server bar & Adjustments
@forward 'guildsBar/guildsBar' ;

// User home
// - DMs Sidebar, Shops, Friends - header, list, activity sidebar
@forward 'home/home' ;

// Guild/Server view
// - Text / Voice / Special Channels, Members list, boost page
@forward 'server/server' ;

// Settings
@forward 'settings/settings' ;

// User profiles
// - Popout, DMs sidebar, decorations
@forward 'user/user' ;
