@forward 'mixins/new_mixins' ;

// General App components
// - Backgrounds, Discovery, SideBar, TopBars, Transparency
@forward 'app/new_app' ;

// Text & Voice Chat
// - Forums & Threads, Header bar, Text input, Messages, Voice & Stage channel
@forward 'chat/new_chat' ;

// Plugin compatibility
@forward 'compatibility/new_compatibility' ;

// - Popouts, Modals, Tooltips, Context menus
@forward 'floating/new_floating' ;

// Server bar & Adjustments
@forward 'guildsBar/new_guildsBar' ;

// User home
// - DMs Sidebar, Shops, Friends - header, list, activity sidebar
@forward 'home/new_home' ;

// Guild/Server view
// - Text / Voice / Special Channels, Members list, boost page
@forward 'server/new_server' ;

// Settings
@forward 'settings/new_settings' ;

// User profiles
// - Popout, DMs sidebar, decorations
@forward 'user/new_user' ;
