// * compatibility v0.1.15
// Compatibility with plugins and Themes
@use 'mixins' as * ;

// - Hide Channels by Farcrada (v2.2.12)
// - MemberCount by Arashiryuu (v2.2.24)
// - FriendNotifications by DevilBro (v2.0.3)
// - ReadAllNotificationsButton by DevilBro (v1.7.8)
// - SpotifyControls by DevilBro (v1.4.1)
// - CollapsibleUI by programmer2514 (v8.5.0)
// - ServerDetails by DevilBro (v1.2.2)
// - CharCounter by DevilBro (v1.6.6)
// - Memessages by Greezor (v0.13.3)
// - ServerFolders by DevilBro (v7.2.8)

// - Icon Revert 2023 by davart154 (3edfca4)

// Vencord
// - ServerListIndicator
// - ReadAllNotificationsButton


// -> Hide Channels by Farcrada
// Show/Hide btn
#toggleChannels {
  filter: brightness(.6);
  margin-right: 6px ;
  
  &.channelsHidden { filter: brightness(.8) }
  
  &:hover { filter: brightness(1) }
}

// Server channel sidebar
.sidebar_c48ade {
  transition: none !important ;
  
  // Sidebar hidden 
  &.hideChannelElement {

    // titlebar (chat, friendslist)
    + div .title_f75fb0, + main .container__9293f {
      margin-left: 240px ;
      width: auto ;
    }
  }
}
// <- Hide Channels by Farcrada

// -> MemberCount by Arashiryuu
#MemberCount {
  background: none ;

  + .members_c8ffbb {
    margin-top: 40px ;
  }
}
// <- MemberCount by Arashiryuu

// -> FriendNotifications by DevilBro
// Online friend counter
.guilds_c48ade .friendsOnlineWrap_0gZ63m {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg);
  top: 60px ;
  left: -19px ;
  z-index: 1 ;

  .label_2wRs_g {
    color: var(--text-normal);
    font-size: 10px ;

    @include shadow_effect("text_1");
  }
}
// <- FriendNotifications by DevilBro

// -> ReadAllNotificationsButton by DevilBro
// "Read all" btn
.guilds_c48ade .frame_oXWS21 {
  display: flex !important ;
  position: absolute ;
  top: 0 ;
  left: -16px ;
  z-index: 1 ;

  &, * { height: 20px ; width: 20px  }

  .childWrapper__6e9f8 {
    color: transparent ;
    background: none ;
    transform: rotate(90deg);
    text-align: center ;

    // "R" Icon
    &:before {
      content: "R" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      height: 20px ;
      width: 20px ;
      line-height: 20px ;
      color: var(--header-secondary);
      font-size: 18px ;
      font-weight: 700 ;

      @include shadow_effect("text_2");
    }

    // Tooltip on hover
    &:hover::after {
      content: "Read All" ;
      position: absolute ;
      top: -10px ;
      left: 25px ;
      padding: 8px 12px ;
      font-size: 16px ;
      font-weight: 600 ;
      line-height: 10px ;
      background: var(--background-tertiary);
      color: var(--text-normal);
      border-radius: 5px ;
      white-space: nowrap ;

      @include shadow_effect("box_2");
    }
  }
}
// <- ReadAllNotificationsButton by DevilBro

// -> SpotifyControls by DevilBro
// Sidebar control panel
#app-mount .panels_c48ade .container_6sXIoE { 
  margin: 0px ;
  min-height: 44px ;

  .button_f67531 { background: none }
}
// <- SpotifyControls by DevilBro

// -> CollapsibleUI by programmer2514
// Serverbar hidden
.guilds_c48ade {
  
  &[style*="transition: width"] {
    transition: none !important ;
  }
  
  // prevent hover
  &[style*="width: 0px;"] {
    display: none ;
    
    // hide Home search, Server options btn
    + .base_c48ade {
      .searchBar__35e86, .container_f37cb1 {
        display: none ;
      }
    }
  }
}

// Channel list sidebar floating (on hover)
.sidebar_c48ade[style*="position: absolute"] {
  overflow: visible !important ;

  // hidden
  &[style*="width: 0px;"] {
    overflow: hidden !important ;
  }

  &:before {
    content: "";
    position: absolute ;
    height: 100% ;
    width: 100% ;
    background: var(--background_app) rgba(0, 0, 0, .1);
    background-blend-mode: overlay ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    --blur: blur(calc(var(--backgroundBlur_app, 0) / 100 * 1px));
    --brightness: brightness(calc((var(--backgroundBrightness_app, 80) / 100)));

    filter: var(--blur) var(--brightness);

    @include shadow_effect("box_2");
  }
}

// User area hidden
// user panel, voice panel, ...
.panels_c48ade[style*="max-height: 0px"] {
  display: none ;
}

// DM Sidebar, Channel list
:is(.privateChannels__35e86, .container__2637a):has(~ .panels_c48ade[style*="max-height: 0px"]) {
  top: 5px ;
  margin-bottom: unset ;
}
// <- CollapsibleUI by programmer2514

// -> ServerDetails by DevilBro
// make tooltip top center
.detailsTooltip_G9hSSa {
  transform: translate(-195px, -50px);
}
// <- ServerDetails by DevilBro

// -> CharCounter by DevilBro
.charCounterAdded_zz9O4t {

  .charCounter_7fw40k {
    position: absolute ;
    top: 0px ;
    left: 58px ;
    height: 15px ;
    width: fit-content ;
    line-height: 15px ;
    color: var(--channel-text-area-placeholder);
  }

  .placeholder__1b31f, .editor__1b31f {
    padding: 14px 10px 8px 0 ;
  }
}

// typing/slowmode container override
.form_f75fb0 .typing_d7ebeb {
  margin: 0 !important ;
}
// <- CharCounter by DevilBro

// -> Memessages by Greezor
// Main container open
.memessages--sidebar.open {
  position: static ;
}

// pin button, bc. pin breaks (yes this is lazy)
.memessages--sidebar--pin { display: none }
// <- Memessages by Greezor

// -> ServerFolders by DevilBro


// <- ServerFolders by DevilBro


// -> Icon Revert 2023
// Channel Notification settings Bell icon
.toolbar__9293f [d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a.47.47 0 0 0-.07-"] {
  d: path("M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z M18 10.5283L10.5287 18H21V17C19.344 17 18 15.657 18 14V10.5283Z M8.957 19.5718L9.52877 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21C10.7748 21 9.68752 20.442 8.957 19.5718Z M12 3C13.417 3 14.71 3.5 15.734 4.321L5.99805 14.058C5.99805 14.0479 5.99856 14.038 5.99907 14.0283C5.99956 14.0188 6.00005 14.0094 6.00005 14V9C6.00005 5.686 8.68605 3 12 3Z") !important ;
}

.toolbar__9293f .icon__9293f:has([d^="M1.3 21.3a1 1 0 1 0 1.4 1.4l20-20a1 1 0 0 0-1.4-1.4l-20 20ZM3.13 16.13c.11.27.46.28.66.08L15.73 4.27a."]) {
  background-image: none !important ;
}

// quick fix for some btns
.container__37e49, .voiceButtonsContainer_e131a9 {
  .button__67645 {
    svg {
      background: currentColor !important ;
    }

    [style*="--status-danger"] svg {
      background: linear-gradient(-45deg, currentColor 12px, var(--status-danger) 0, var(--status-danger) 15px, currentColor 0) !important ;
    }
  }
}

// user area btns
.container__37e49 .button__67645 {

  // mic
  &:nth-last-child(3) {
    svg {
      clip-path: path("M12.4917 9.1667C12.4917 10.55 11.3833 11.6667 10 11.6667 8.6167 11.6667 7.5 10.55 7.5 9.1667V4.1667C7.5 2.7833 8.6167 1.6667 10 1.6667 11.3833 1.6667 12.5 2.7833 12.5 4.1667L12.4917 9.1667ZM10 13.4167C12.3 13.4167 14.4167 11.6667 14.4167 9.1667H15.8333C15.8333 12.0167 13.5667 14.3667 10.8333 14.7667V18.3333H9.1667V14.7667C6.4333 14.3583 4.1667 12.0083 4.1667 9.1667H5.5833C5.5833 11.6667 7.7 13.4167 10 13.4167Z") !important ; 
    }

    [style*="--status-danger"] svg {
      clip-path: path("M5.5833 9.1667H4.1667C4.1667 10.1583 4.45 11.0833 4.9167 11.9L5.9417 10.875C5.7167 10.3583 5.5833 9.7833 5.5833 9.1667ZM7.5083 9.2375C7.5125 9.2604 7.5167 9.2833 7.5167 9.3083L12.5 4.3167V4.1667C12.5 2.7833 11.3833 1.6667 10 1.6667 8.6167 1.6667 7.5 2.7833 7.5 4.1667V9.1667C7.5 9.1917 7.5042 9.2146 7.5083 9.2375ZM9.7697 13.4106 9.136 14.0442 8.5444 14.6407C8.7482 14.6942 8.9558 14.7366 9.1667 14.7667V18.3333H10.8333V14.7667C13.5667 14.3583 15.8333 12.0083 15.8333 9.1667H14.4167C14.4167 11.6667 12.3 13.4167 10 13.4167 9.923 13.4167 9.8462 13.4146 9.7697 13.4106ZM17.5 3.5583 16.4417 2.5 2.5 16.4417 3.5583 17.5 7.05 14.0167 8.075 12.9833 9.4583 11.6 12.4917 8.5667 17.5 3.5583Z") !important ;
    }
  }

  // deafen
  &:nth-last-child(2) {
    svg {
      clip-path: path("M10 1.6692C5.405 1.6692 1.6667 5.4067 1.6667 10.0026V16.6692C1.6667 17.5892 2.4125 18.3359 3.3333 18.3359H5C5.92 18.3359 6.6667 17.5892 6.6667 16.6692V14.1692C6.6667 13.2492 5.92 12.5026 5 12.5026H3.3333V10.0026C3.3333 6.3259 6.3242 3.3359 10 3.3359 13.6758 3.3359 16.6667 6.3259 16.6667 10.0026V12.5026H15C14.08 12.5026 13.3333 13.2492 13.3333 14.1692V16.6692C13.3333 17.5892 14.08 18.3359 15 18.3359H16.6667C17.5867 18.3359 18.3333 17.5892 18.3333 16.6692V10.0026C18.3333 5.4067 14.595 1.6692 10 1.6692Z") !important ;
    }

    [style*="--status-danger"] svg {
      clip-path: path("M5.135 12.5054C5.0905 12.5018 5.0455 12.5 5 12.5H3.3333V10C3.3333 6.3233 6.3242 3.3333 10 3.3333 11.2341 3.3333 12.3909 3.6703 13.3832 4.2572L14.5918 3.0486C13.2743 2.1755 11.6955 1.6667 10 1.6667 5.405 1.6667 1.6667 5.4042 1.6667 10V15.9737L5.135 12.5054ZM16.4375 8.264C16.5869 8.8177 16.6667 9.3997 16.6667 10V12.5H15C14.08 12.5 13.3333 13.2467 13.3333 14.1667V16.6667C13.3333 17.5867 14.08 18.3333 15 18.3333H16.6667C17.5875 18.3333 18.3333 17.5867 18.3333 16.6667V10C18.3333 8.9229 18.128 7.8929 17.7544 6.9471L16.4375 8.264ZM2.6675 19.6869 1.489 18.5084 17.9882 2.0093 19.1667 3.1878 2.6675 19.6869Z") !important ;
    }
  }
}

// voice conection btns
.voiceButtonsContainer_e131a9 .button__201d5 {

  // crisp
  &:first-child svg {
    clip-path: path("M9.0742 3.3333C9.0742 2.8731 9.4472 2.5 9.9075 2.5H10.0927C10.5529 2.5 10.926 2.8731 10.926 3.3333V16.6667C10.926 17.1269 10.5529 17.5 10.0927 17.5H9.9075C9.4472 17.5 9.0742 17.1269 9.0742 16.6667V3.3333ZM5.3703 5.2083C5.3703 4.7481 5.7434 4.375 6.2037 4.375H6.3888C6.8491 4.375 7.2222 4.7481 7.2222 5.2083V14.7917C7.2222 15.2519 6.8491 15.625 6.3888 15.625H6.2037C5.7434 15.625 5.3703 15.2519 5.3703 14.7917V5.2083ZM2.6852 12.8125C3.1454 12.8125 3.5185 12.4394 3.5185 11.9792L3.5185 8.0208C3.5185 7.5606 3.1454 7.1875 2.6852 7.1875H2.5C2.0398 7.1875 1.6667 7.5606 1.6667 8.0208V11.9792C1.6667 12.4394 2.0398 12.8125 2.5 12.8125H2.6852ZM18.3334 11.0417C18.3334 11.5019 17.9602 11.875 17.5001 11.875H17.3148C16.8546 11.875 16.4815 11.5019 16.4815 11.0417V8.9583C16.4815 8.4981 16.8546 8.125 17.3148 8.125H17.5001C17.9602 8.125 18.3334 8.4981 18.3334 8.9583V11.0417ZM13.6111 6.25C13.1508 6.25 12.7777 6.6231 12.7777 7.0833V12.9167C12.7777 13.3769 13.1508 13.75 13.6111 13.75H13.7962C14.2565 13.75 14.6296 13.3769 14.6296 12.9167V7.0833C14.6296 6.6231 14.2565 6.25 13.7962 6.25H13.6111Z") !important ;
  }
}
// <- Icon Revert 2023


// -> ServerListIndicator
.guilds_c48ade div:has(> #vc-friendcount, > #vc-guildcount) {
  display: flex ;
  height: 54px ;
  width: max-content ;
  margin: 15px -7px !important ; // idk
  flex-direction: column ;
  justify-content: center ;
  align-items: center ;
  gap: 5px ;
  transform: rotate(90deg);
}

#vc-friendcount, #vc-guildcount {
  width: max-content !important ;
  white-space: nowrap ;

  @include shadow_effect("server_1");
}
// <- ServerListIndicator

// -> ReadAllNotificationsButton
.guilds_c48ade .vc-ranb-button {
  position: absolute ;
  top: 0px ;
  left: 0px ;
  padding: 0 ;
  margin: 0 ;
  height: 20px ;
  width: 20px ;
  transform: rotate(90deg);
  z-index: 10 ;

  div { display: none }

  // "R" Icon
  &:before {
    content: "R" ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 20px ;
    width: 20px ;
    line-height: 20px ;
    color: var(--header-secondary);
    font-size: 18px ;
    font-weight: 700 ;

    @include shadow_effect("text_2");
  }

  // Tooltip on hover
  &:hover::after {
    content: "Read All" ;
    position: absolute ;
    top: -10px ;
    left: 25px ;
    padding: 8px 12px ;
    font-size: 16px ;
    font-weight: 600 ;
    line-height: 10px ;
    background: var(--background-tertiary);
    color: var(--text-normal);
    border-radius: 5px ;
    white-space: nowrap ;

    @include shadow_effect("box_2");
  }
}
// <- ReadAllNotificationsButton
