// * popouts v0.1.25
// Text chat / Server options / Context menus / Toolbar menus / User status / Tooltips
@use 'mixins' as * ;

// Popouts container
.layerContainer_da8173 {
  overflow: hidden ;
}

// -> Autocomplete popout
.chatContent_f75fb0 .autocomplete__13533 {
  background: var(--background-tertiary);
  
  // left sidebar
  .rail_d1405b, .list_b1e4f3 {
    background: var(--background-secondary-alt);
  }
  .wrapper__4e6ce .scrollerBase_d125d2::-webkit-scrollbar { display: none }
  
  // Group header
  .categoryHeader_d1405b {
    background: var(--background-tertiary);
  }
  
  // selected item  
  .selected-3H3-RC {
    background: var(--background-modifier-hover);
  }
  
  // selected item cmd options
  .option_a19535 {
    background: var(--background-tertiary);
  }
}
// <- Autocomplete popout

// -> Gif, Sticker, Emoji, Apps&Cmds - Pickers
.layerContainer_da8173 {
  
  // Main container (reactions picker, emoji, gif, Apps&Cmds )
  .contentWrapper_eab878, .contentWrapper__08434, .contentWrapper__9c62c {
    box-shadow: none ;
    background: var(--background-tertiary);
  }
  
  // Navbar
  .navButton__08434 {
    background: none ;
  }

  // -> GIFS tab
  #gif-picker-tab-panel {
    .header_fed6d3 {
      background: var(--background-tertiary);
    }

    // Searchbar
    .inner_a45028 {
      border-bottom: solid 1px var(--interactive-muted) ;
      border-radius: 0 ;
    }

    .content_fed6d3 {
      background: var(--background-floating);
    }

    .scrollerBase_eed6a8 {
      @include scrollerFadeOut();
      @include scrollbar();
    }
  }
  // <- Popout (Gifs)
  
  // -> Emojis as rections in voice channel
  .emojiPickerHeader-2mWh2T, .slotsContainer-3Li39W {
    background: var(--background-tertiary);
  }

  .container_fea832 + [aria-label].tooltipContainer_df4aaf {
    display: none ;
  }

  .dropDownContainer-2D2fq2 {
    margin: 0 8px 0 0 ;
  }
  // <- Emojis as rections in voice channel

  // Sticker tab
  #sticker-picker-tab-panel {

    // Sidebar
    .stickerCategory__3ad28 { 
      background: none ;

      &:hover .stickerCategoryGenericIcon__3ad28 path {
        fill: var(--interactive-active);
      }
     }
  }

  #emoji-picker-tab-panel {
    // Sidebar
    // Server icons, emoji category Icons
    .guildIcon__0fa6d, .categoryItem_dfa278 { 
      background: none ;
     }

     .emojiListRow_fc7141 {
      padding-left: 2px ;
     }

     // emoji inspector
    .inspector_aeaaeb {
      display: none ;
    }
  }

  // -> Emoji, Sticker tab
  #emoji-picker-tab-panel, #sticker-picker-tab-panel {
    // overflow: hidden ; // ?

    // -> from reactions btn
    .header_c0e32c {
      background: var(--background-tertiary);
    }

    .emojiPicker_c0e32c {
      box-shadow: none ;
    }
    // <- from reactions btn

    // Searchbar
    .inner_a45028 {
      border-bottom: solid 1px var(--interactive-muted) ;
      border-radius: 0 ;
    }

    // Sidebar
    .wrapper__4e6ce {
      // border-right: 1px solid var(--background-modifier-accent);
      background: var(--background-floating);
      border-radius: 0 ;
    }
  }

  // -> Picker Content
  #emoji-picker-grid, #sticker-picker-grid {
    background: var(--background-floating);

    .scroller_affa7e {
      @include scrollbar(15px, 6px);
      @include scrollerFadeOut();
    }

    // Category header
    .wrapper__14245 { 
      position: relative ;
      background: none ;
    }

    .inspector_aeaaeb { display: none }

    // emojis
    .emojiItem_fc7141 {

      &.emojiItemSelected_fc7141 {
        background: var(--background-modifier-selected);
      }

      // Icon for addding emojis to server
      &:not([data-name]) { display: none }
    }
  }
  // <- Picker Content

  // Apps&Cmds
  .contentWrapper__9c62c {
    .inner_a45028 {
      border-bottom: 1px solid var(--interactive-muted);
    }
  }

  // <- Popout content (Emoji, Sticker)
}
// <- Gif, Sticker, Emoji - Pickers

// -> Soundboard
.layerContainer_da8173 .picker__09f65 {

  // Header
  .header__0856d {
    background: var(--background-tertiary);
  }

  // Searchbar
  .container_fea832 .input_fea832 {
    border-bottom: 1px solid var(--interactive-muted);
  }

  // Scroller (Sidebar/Main)
  .scroller_dcade6 {
    @include scrollerFadeOut();
  }

  // Sidebar
  .categoryList_a1e0e0 {
    background: var(--background-floating);
    border-right: 1px solid var(--background-modifier-accent);
    box-sizing: border-box ;
  }

  // Sound item
  .soundButton__6d4ed {
    background: var(--background-modifier-hover);

    &:hover {
      background: var(--background-modifier-selected);
    }
  }
}
// <- Soundboard

// -> Context menus
.layer_da8173 .menu_c1e9c4 {
  background: var(--background-floating);

  @include shadow_effect("box_2");

  .menu_c1e9c4 .menu_c1e9c4 {
    background: var(--background-tertiary);
  }
  
  .scroller_c1e9c4 {
    padding: 6px !important;
    
    &::-webkit-scrollbar { display: none }
  }

  // category header text weird bug when :active
  .groupLabel_d90b3d {
    background: none ;
    color: var(--interactive-normal);
  }
  
  // Options
  .item_c1e9c4 {
    background: none ;
    color: var(--interactive-normal);

    // When not hoverd, but discord still thinks it is ...
    &.focused_c1e9c4 path {
      fill: var(--interactive-normal); 
    }

    &:hover {
      color: var(--interactive-hover); 

      // Item name, item info
      .label_c1e9c4, .subtext_c1e9c4 {
        color: var(--interactive-hover);
      }

      path {
        fill: var(--interactive-hover); 
      }
    }
    
    // Critical option (like: bann, kick, ..)
    &.colorDanger_d90b3d {
      color: var(--red);

      &:hover {
        color: var(--interactive-hover);
        background-color: var(--red);
      }
    }
      
    // Options with checkbox
    &[role="menuitemcheckbox"] {
      
      // Option checked normal icon
      .checkbox_c1e9c4 { display: none }

      // Checkbox checked ("x" icon for "uncheck")
      &.focused_c1e9c4[aria-checked="true"] .check_c1e9c4 {
        fill: var(--red);
        d: path("M 18.4 4 L 12 10.4 L 5.6 4 L 4 5.6 L 10.4 12 L 4 18.4 L 5.6 20 L 12 13.6 L 18.4 20 L 20 18.4 L 13.6 12 L 20 5.6 L 18.4 4 Z");
      }
    }

    // Radio options
    &[role="menuitemradio"] {

      // Selected option hover (no need for hover effect)
      &[aria-checked="true"] {
        color: var(--interactive-normal);

        .subtext_c1e9c4 {
          color: var(--interactive-normal);
        }
      }

      // Selected option normal icon
      .radioSelection_c1e9c4 { 
        color: var(--interactive-normal); 
      }
    }
    
    // Sliderbar (like: User Volume, ..)
    .slider__65039 {
      top: 0 ;

      .bar_a562c8 {
        background: var(--background-primary);
        top: 7px ;
        
        .barFill_a562c8 { background: var(--interactive-normal) }
      }
      
      .grabber_a562c8 { top: 0 }
      
      &:hover .barFill_a562c8 { background: var(--header-secondary) }
    }
  }
}
// <- Context menus

// -> Searchbar options popout
.container__55c99 {
  background: var(--background-secondary-alt);
  
  @include shadow_effect("box_1");
  
  // Search options
  .resultsGroup__56fec .option__56fec {
    
    // weird gradiant to the right, idk
    &::after, &::before { display: none }
    
    
    // unnecessary icon
    // .plusIcon-2V7coV { display: none }
  }
}
// <- Searchbar options popout

// -> Searchbar results popout
.searchResultsWrap_a9e706 {
  background: var(--background-tertiary);
  width: -webkit-fill-available ;
  min-width: 350px ;
  max-width: 600px ;
  
  flex: 1 1 auto ;
  -webkit-box-flex: 1 ;
  
  // -> Header
  .searchHeader_f3b986 {
    background: var(--background-secondary-alt);
    
    // n of search results
    .totalResults_f3b986 .text-md-normal__6e567 {
      color: var(--text-normal) !important ;
    }
    
    // Nav bar
    .searchHeaderTabList_f3b986 {

      // Tab item ("New", "Old", ..)
      .item_b3f026 {
        background: none !important ;

        &:hover, &.selected_b3f026 {
          color: var(--interactive-hover);
        }
      }
    }
  }
  // <- Header
  
  // -> Body
  // Content scroller
  .scroller_a9e706 {
    padding: 3px 0 0 0 !important ;
    
    // &::-webkit-scrollbar { display: none }
    &::-webkit-scrollbar-track {
      background-color: var(--background-secondary-alt) !important ;
    }
      
    // Header - channel name
    .channelNameContainer_c68065 {
      background: var(--background-secondary-alt);
      justify-content: center ;
      margin-bottom: 4px ;
      padding: 3px 0 ;

      .channelNameText_c68065, .channelNameIcon_c68065 {
        color: var(--interactive-hover);
        text-decoration: none ;
      }

      &:hover {
        background: var(--background-secondary);

        .channelNameText_c68065, .channelNameIcon_c68065 {
          color: var(--interactive-active);
        }
      }
    }
    
    // Message container
    .container__02a39:hover {
      background: var(--background-modifier-hover);
    }

    // Message content container
    .searchResult__02a39 {
      background: none ;
    }
  }

  // Switch page btns
  .pageControlContainer_c15210 .pageButton_b48941 {
    background: none ;
    color: var(--interactive-normal);

    &:hover {
      color: var(--interactive-hover);
    }

    &.activeButton_c15210 {
      color: var(--interactive-active);
    }
  }
  // <- Body
}
// <- Searchbar results popout

// -> Pins
.messagesPopoutWrap__45690:not(.recentMentionsPopout__95796) {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary);
  
  @include shadow_effect("box_2");
  
  // Header
  .header__45690 {
    background: var(--background-secondary-alt);
    box-shadow: none ;
    
    // "Pinned Messages"
    .base-21yXnu {
      color: var(--interactive-hover);
    }
  }
  
  // Messages container
  .messagesPopout__45690 {
    padding-left: 0 ;
    
    &::-webkit-scrollbar { display: none }
    
    // Messages Placeholder
    .emptyPlaceholder__45690 {
      margin: 8px 0 30px 0 ;
      
      // Text
      .body__45690{
        color: var(--text-muted);
      }
    }
    
    // Pinned message
    .messageGroupWrapper__45690 {
      border: none ;
      background: none ;
      
      // Inner container
      .messageGroupCozy__45690 {
        margin: 0 ;
      }
      
      .jumpButton__45690 {
        background: none ;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500 ;
      }
    }
  }
  
  // Footer "Protip"
  .footer__45690 { display: none }
}
// <- Pins

// -> Inbox
.recentMentionsPopout__95796 {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary);
  
  @include shadow_effect("box_2");
  
  .header_ab6641 {
    background: var(--background-secondary-alt);
    border: none ;
    margin-bottom: 2px ;
    
    .button__06eda {
      background: none !important ;
    }

    // Nav bar
    .tabBar_ab6641 {
      margin: 0 ;
      height: 40px ;
      margin-left: 4px ;

      // tab item
      .tab_ab6641 {
        padding: 0 4px ;
        margin: 0 8px ;
        border-color: transparent ;

        &.selected_b3f026 {
          border-color: var(--header-secondary);
        }
      }
    }

    .friendRequestsButton__523aa {
      background: none ;
    }
  }

  // For You
  &.container_f8a938, // old ?
  &.container_a54d1d { 

    .container__0f711 {
      background: none ;

      // unread pill
      .unread__6fddf { display: none }
    }
  }
  
  // Mentions
  &.messagesPopoutWrap__45690 {
    
    // Scroller
    .scrollerBase_d125d2 {
      
      @include scrollbar();
      
      &::-webkit-scrollbar { 
        background: var(--background-secondary-alt);
      }
      
      // Inner container
      > div {
        padding: 3px 0 3px 0 ;
      }
      
      // Messages container
      .container__95796 {
        padding: 0 ;
        margin-bottom: 24px ;
        
        // Channel name header
        .channelHeader__35a7e {
          position: relative ;
          padding: 12px 12px 12px 8px ;
          background: var(--background-secondary-alt);
          
          // Channel name, Server name
          .channelName__35a7e, .subtext__35a7e {
            width: fit-content ;
          }
          
          // Close btn
          .closeButton__95796 {
            background: none ;
          }
        }
        
        // Message
        .messageContainer__95796 {
          background: none ;
        }
      }
      
      // Footer
      .scrollingFooterWrap__45690 {
        display: none ;
      }
    }
  }
  
  // Unreads
  &.container__2692d {
    
    // Scroller
    .scrollerBase_d125d2 {
      margin: 0 ;
      padding: 0 !important ;

      &::-webkit-scrollbar { display: none }
    }
    
    // Channel container
    .channel__427f0 {
      padding: 3px 0 0 0 ;
    }
    
    // Channel header container
    .channelHeader__35a7e {
      padding: 12px 12px 12px 8px ;
      background: var(--background-secondary-alt);
      
      // Channel name, Server name
      .channelName__35a7e, .guildName__35a7e {
        width: fit-content ;
      }
      
      @include Mentions_icon(".badge__35a7e");
      
      // Buttons
      .button__06eda {
        background: none ;
      }
      
      // Collapse btn
      .collapseButton__427f0 {
        position: static ;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        height: 32px ;
        width: 32px ;
        margin-left: 12px ;
        padding: 0 ;
        color: var(--interactive-normal);
        border-radius: 50% ;
        
        &:hover {
          color: var(--interactive-hover);
        }
      }
    }
    
    .divider__908e2 {
      border: none ;

      // muted unread channels
      &.divider__1ccd1 { // why ?
        margin: 30px 0 20px 0 ;
      }

      // Date 
      .content__908e2 { background: none }

      // Seperator lines
      &::before, &::after {
        content: "" ;
        height: 1px ;
        width: 100% ;
        background: var(--background-modifier-accent);
      }
    }

    // Messages container
    .messages__1ccd1 {
      background: none ;
      padding: 16px 6px 16px 0 ;
      
      // Messages item
      .messageContainer__1ccd1 {
        
        // "jump" to msg btn
        .jumpButton_ed0c8c {
          right: 16px ;
          
          .text_ed0c8c {
            color: var(--interactive-normal);

            &:hover {
              color: var(--interactive-hover);
            }
          }
        }
      }
    }

    // Forum channel 
    .container__7d15e {

      // Posts
      .forumPost__7d15e {
        background: none ;
        margin: 0 ;
        border-radius: 0 ;
        padding: 16px 6px 12px 12px ;

        &:not(:first-child) {
          border-top: 1px solid var(--background-primary);
        }
      }
    }
  }
}
// <- Inbox

// -> Threads popout
.browser_d98031.container_d9c882 {
  background: var(--background-tertiary);
  
  // Header
  .header_d9c882 {
    background: var(--background-secondary-alt);
    
    // "#" Icon, "Threads" title, divider
    .threadIcon_d9c882, .title_d9c882, .divider_d9c882 { display: none }
    
    // Active/Archived Buttons
    .tab_e864e6 {
      background: none !important ;
    }
    
    // Create new thread button
    .createButton_d9c882 {
      @include Btn();
    }
  }
  
  // Threads icon in content
  .iconContainer__1b24f { display: none }
  
  // Thread item
  .container__6764b {
    border: none ;
    background: var(--background-secondary-alt);
    
    
    &:hover {
      background: var(--background-modifier-accent);
    }
    
    // Name/test container
    .left__6764b {
      row-gap: 5px ;
    }
    
    // Name 
    .threadNameLine__6764b {
      // align-self: center ;
    }
  }
  
  // Public/Private Buttons
  .tab-1tp4jL {
    background: none !important ;
  }
  
  .container__1b24f .button__201d5 {
    @include Btn("background");
  }
}
// <- Threads popout

// -> Invite to Server / Add friends to Dm / New Group Dm (and more)
.focusLock__49fc1 > .root__49fc1.small__49fc1.fullscreenOnMobile__49fc1 {
  background: var(--background-tertiary);

  // - Header
  .header__49fc1 {
    background: var(--background-secondary-alt);
    
    // Title
    h2 {
      color: var(--text-normal);
    }
    
    // Invite to server, create group Searchbar
    .container__33507, .container_fea832 {
      border-radius: 0 ;
      padding-bottom: 3px ;
      border-bottom: 1px solid var(--interactive-muted);
      background: var(--background-secondary-alt);
      
      // Added friend tag
      .tag_fea832 {
        margin-right: 5px ;
      }
      
      // Text input
      .input_fea832 {
        padding: 0 ;
        margin: 0 ;      
      }
    }
    
    // Invite to Server > Close btn
    .closeButton-2RO-ed {
      top: 8px ;
      right: 8px ;
    }
    
    // Add friends to Dm > "Add" btn
    .addButton_cba592 .button__201d5 {
      @include Btn("background");
    }
  }
  
  // - Content / Scroller
  // Add friends to Dm / New Group Dm
  .scroller_cba592 {
    max-height: 40vh ;
    padding-right: 8px !important ;

    @include scrollerFadeOut();
    
    &::-webkit-scrollbar { display: none }
    
    .friendWrapper_bbd192 {

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover);
      }

      .friendSelected_bbd192 {
        background: none ;
      }

      &:hover {
        background: var(--background-modifier-hover);
      }

      .checkboxWrapper-2fDzaA {
        cursor: pointer ;
      }
    }
  }
  
  // Invite to Server
  .scroller-1xACMA {
    max-height: 40vh ;
    padding: 16px 8px 8px 8px !important;
    
    @include scrollerFadeOut();

    &::-webkit-scrollbar { display: none }

    // User item
    .inviteRowInfo-2i-OpP {
      background: none ;
      padding: 7px 8px ; 
      margin-right: 0 ;

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover);
      }
    }

    // Invite btn
    .inviteRowButton-1jsN50 {
      padding: 2px 0 ;
      width: auto ;
      min-width: unset ;

      @include Btn();
    }
  }
  
  // Footer
  .footer__49fc1, .footer_cba592 {
    background: var(--background-secondary-alt);
    
    .content-3nJg0c:before { display: none }
    
    // Info txt
    .title-3hptVQ { display: none }
    
    // Invite link text filed
    .input-2g-os5 {
      border: none ;
      background: var(--background-tertiary);
    }
    
    .button__201d5.lookFilled__201d5:not(.colorRed__201d5) {
      @include Btn("background");
    }
    
    .colorStandard-21JIj7.size12-oc4dx4 {
      text-align: center ;
    }

    .inviteBannerUpsell-1t_LYM { display: none }
  }
}
// <- Invite to Server / Add friends to Dm / New Group Dm

// Notifications popout on receiving voice call
.bg__7adbf ~ .wrapper__2dbe1 { z-index: 1000 }

// -> Threads in channel summary popout
.popout__76f04 {
  .row__76f04:hover {
    background: var(--background-modifier-hover);
  }
  .more__76f04 {
    color: var(--interactive-normal);
  }
}
// <- Threads in channel summary popout

// Events modal (Class not unique to events modal tho)
.layer_bc663c .root__49fc1  {

  // Events modal more specific
  &:has(.content__49fc1.content_d0b769) {
    min-height: unset ;
  }

  // Header
  .header_d0b769 {
    background: var(--background-secondary-alt);
    
    // "Event/s text"
    .heading-md-semibold__76ba1 {
      color: var(--interactive-hover);
    }
    
    .button__201d5 {
      @include Btn();
    }
  }
  
  // Content body
  .content_d0b769 {
    padding: 0 !important ;
    background: var(--background-tertiary);
    gap: 0 ;
    
    &::-webkit-scrollbar { display: none } 
  }
  
  // -> Create new event setup
  .content__49fc1 {
    background: var(--background-tertiary);
    border-radius: 0 ;

    .button__201d5 {
      @include Btn();
    }
  }

  // Progressbars
  .selectedProgressBar_f2ceaa {
    background: var(--interactive-active);
  }
  
  // Progress tracker names
  .colorBrand_fbc755 {
    color: var(--text-normal);
  }
  
  // Checkbox item list option
  .item__001a7 {
    background: var(--background-modifier-accent);
    
    &[aria-checked="true"] {
      background: var(--background-modifier-selected);
    }
    
    &[aria-checked="false"]:hover {
      background: var(--background-modifier-hover);
    }
  }
  // <- Create new event setup
  
  // Events (item card)
  .card__88264 {
    background: var(--background-tertiary);
    border-width: 0 ;
    border-radius: 0 ;
    
    &:not(:first-child) {
      border-top-width: 1px ;
    }
    
    &:hover {
      background: var(--background-modifier-active);
    }
    
    // Event name
    .eventName_b5010b {
      color: var(--interactive-hover);
    }

    .description_b5010b {
      margin-top: 0 ;

      span {
        display: inline-block ;
        margin-top: 8px ;
      }
    }
    
    // In card- content footer divider
    .divider__88264 {
      background: none ;
    }
  }
  
  // Footer
  .footer__49fc1 {
    background: var(--background-secondary-alt);
    
    .button__201d5 {
      @include Btn();
    }
  }
  
  // Event info modal
  &.root__4325e {
    
    // Header
    .container__4efb4 {
      background: var(--background-secondary-alt);
      border: none ;
      
      // Nav bar item
      .tabBarItem__4efb4 {
        border: none ;  
      }
    }
  }
}

// Channel Description (and possibly more)
.layer_bc663c .modal__487be.root__49fc1 .content__49fc1.content__487be {
  padding: 16px ;
}

// -> Quick switch navigation/search
.quickswitcher_ac6cb0 {
  background: var(--background-tertiary);
  
  .input_ac6cb0 {
    background: var(--background-modifier-accent);
  }
  
  // Scroller 
  .scroller_ac6cb0 {
    background: var(--background-tertiary);
    margin: 0 ;
    padding: 0 ;
    
    @include scrollerFadeOut(10px, 10px);
    
    &::-webkit-scrollbar { display: none }
  }
  
  // Item
  .result_f14193 {
    
    // :hover
    &[aria-selected=true] {
      background: var(--background-modifier-hover);
    }
    
    // Unread channel
    .contentUnread_f14193 {
      color: var(--interactive-normal);
    }
    
    @include Mentions_icon(".badge_f14193");
  }
  
  // Protip footer, Tutorial arrows idk
  .protip_ac6cb0, .tutorial__73f2a {  display: none }
}
// <- Quick switch navigation/search

// Tooltips
.tooltip__382e7{
  background: var(--background-floating) !important;

  .tooltipPointer__382e7 {
    border-top-color: var(--background-floating) !important;
  }
}

// user roles popout from member safety page
.tooltip__382e7:has(.role__48c1c){
  max-width: 500px ;

  .roleName__48c1c {
    max-width: unset ;
  }
}

// Modal poll voters list
.layerContainer_da8173 .root__49fc1 .votersListContainer__01c8c .voters__01c8c {
  background: none ;
}

// Apps & Commands popout
.layerContainer_da8173 .positionContainer__31a96 {
  max-height: calc(100vh - 130px);

  .drawerSizingWrapper__9c62c {
    height: 100% !important ;

    .slideContent__9c62c {
      max-height: calc(100vh - 130px);
    }
  }
}

// "quest available" promt from memberlist member when popout is open
.layer_da8173:has(.container__4413f, .top__4413f) {
  display: none ;
}