// * popouts v0.1.19
// Text chat / Server options / Context menus / Toolbar menus / User status / Tooltips
@use 'mixins' as * ;

// Popouts container
.layerContainer_cd0de5 {
  overflow: hidden ;
}

// -> Autocomplete popout
.chatContent_a7d72e .form_a7d72e .autocomplete_f23da8 {
  background: var(--background-tertiary);
  
  // left sidebar
  .rail_fe2299, .list_efd8e6 {
    background: var(--background-secondary-alt);
  }

  .wrapper_ba23fe .scrollerBase_eed6a8::-webkit-scrollbar,
  .wrapper_ba23fe .scrollerBase_c49869::-webkit-scrollbar {
    display: none ;
  }
  
  // Group header
  .categoryHeader_fe2299 {
    background: var(--background-tertiary);
  }
  
  // selected item  
  .selected-3H3-RC {
    background: var(--background-modifier-hover);
  }
  
  // selected item cmd options
  .option_bea3ee {
    background: var(--background-tertiary);
  }
}
// <- Autocomplete popout

// -> Gif, Sticker, Emoji, Apps&Cmds - Pickers
.layerContainer_cd0de5 {
  
  // Main container (reactions picker, emoji, gif, Apps&Cmds )
  .contentWrapper_eab878, .contentWrapper_af5dbb, .contentWrapper_f7506e {
    box-shadow: none ;
    background: var(--background-tertiary);
  }
  
  // Navbar
  .navButtonActive_b003de, .navButtonActive_af5dbb, .navButtonSuperReactActive__01546 { 
    background: none ;
  }

  // -> Popout (Gifs)
  #gif-picker-tab-panel {
    .header_b56bbc {
      background: var(--background-tertiary);

      .input_c18ec9 {
        border-bottom: 1px solid var(--interactive-muted);
      }
    }

    .content_b56bbc {
      background: var(--background-floating);
    }

    .scrollerBase_eed6a8 {
      @include scrollerFadeOut();
      @include scrollbar();
    }
  }
  // <- Popout (Gifs)
  
  // -> Emojis as rections in voice channel
  .emojiPickerHeader-2mWh2T, .slotsContainer-3Li39W {
    background: var(--background-tertiary);
  }

  .container_effbe2 + [aria-label].tooltipContainer_b7d6f1 {
    display: none ;
  }

  .dropDownContainer-2D2fq2 {
    margin: 0 8px 0 0 ;
  }
  // <- Emojis as rections in voice channel

  // -> Popout content (Emoji, Sticker)
  #emoji-picker-tab-panel, #sticker-picker-tab-panel {

    // Searchbar
    .container_effbe2 {
      background: var(--background-tertiary);

      .input_effbe2 { 
        border-bottom: 1px solid var(--interactive-muted);
      }
    }

    // Sidebar
    .wrapper_dc0b29 {
      border-right: 1px solid var(--background-modifier-accent);
      background: var(--background-floating);
      border-radius: 0 ;

      // Category Icons
      .guildIcon_bfabc4 { 
        background: none ;
       }
    }

    // emoji inspector
    .inspector_c3120f {
      display: none ;
    }
  }
  // -> Picker Content
  #emoji-picker-grid, #sticker-picker-grid {
    background: var(--background-floating);

    .scroller_dcade6 {
      @include scrollbar();
      @include scrollerFadeOut();

      // &::-webkit-scrollbar { display: none } 
    }

    // Category header
    .wrapper_e06857 { 
      position: relative ;
      background: none ;
    }

    .inspector_c3120f { display: none }

    // emojis
    .emojiItem_fbfedd {

      &.emojiItemSelected_fbfedd {
        background: var(--background-modifier-selected);
      }

      // Icon for addding emojis to server
      &:not([data-name]) { display: none }
    }
  }
  // <- Picker Content

  // Apps&Cmds
  .contentWrapper_f7506e {
    .inner_c18ec9 {
      border-bottom: 1px solid var(--interactive-muted);
    }
  }

  // <- Popout content (Emoji, Sticker)
}
// <- Gif, Sticker, Emoji - Pickers

// -> Soundboard
.layerContainer_cd0de5 .picker_cd703d {

  // Header
  .header_d0dc1d {
    background: var(--background-tertiary);
  }

  // Searchbar
  .container_effbe2 .input_effbe2 {
    border-bottom: 1px solid var(--interactive-muted);
  }

  // Scroller (Sidebar/Main)
  .scroller_dcade6 {
    @include scrollerFadeOut();
  }

  // Sidebar
  .categoryList_ceda83 {
    background: var(--background-floating);
    border-right: 1px solid var(--background-modifier-accent);
    box-sizing: border-box ;
  }

  // Sound item
  .soundButton_f40049 {
    background: var(--background-modifier-hover);

    &:hover {
      background: var(--background-modifier-selected);
    }
  }
}
// <- Soundboard

// -> Context menus
.layer_cd0de5 .menu_d90b3d {
  background: var(--background-floating);

  @include shadow_effect("box_2");

  .menu_d90b3d .menu_d90b3d {
    background: var(--background-tertiary);
  }
  
  .scroller_d90b3d {
    padding: 6px !important;
    
    &::-webkit-scrollbar { display: none }
  }

  // category header text weird bug when :active
  .groupLabel_d90b3d {
    background: none ;
    color: var(--interactive-normal);
  }
  
  // Options
  .item_d90b3d {
    background: none ;
    color: var(--interactive-normal);

    // When not hoverd, but discord still thinks it is ...
    &.focused_d90b3d path {
      fill: var(--interactive-normal); 
    }

    &:hover {
      color: var(--interactive-hover); 

      // Item name, item info
      .label_d90b3d, .subtext_d90b3d {
        color: var(--interactive-hover);
      }

      path {
        fill: var(--interactive-hover); 
      }
    }
    
    // Critical option (like: bann, kick, ..)
    &.colorDanger_d90b3d {
      color: var(--red);

      &:hover {
        color: var(--interactive-hover);
        background-color: var(--red);
      }
    }
      
    // Options with checkbox
    &[role="menuitemcheckbox"] {
      
      // Option checked normal icon
      .checkbox_d90b3d { display: none }

      // Checkbox checked ("x" icon for "uncheck")
      &.focused_d90b3d[aria-checked="true"] .check_d90b3d {
        fill: var(--red);
        d: path("M 18.4 4 L 12 10.4 L 5.6 4 L 4 5.6 L 10.4 12 L 4 18.4 L 5.6 20 L 12 13.6 L 18.4 20 L 20 18.4 L 13.6 12 L 20 5.6 L 18.4 4 Z");
      }
    }

    // Radio options
    &[role="menuitemradio"] {

      // Selected option hover (no need for hover effect)
      &[aria-checked="true"] {
        color: var(--interactive-normal);

        .subtext_d90b3d {
          color: var(--interactive-normal);
        }
      }

      // Selected option normal icon
      .radioSelection_d90b3d { 
        color: var(--interactive-normal); 
      }
    }
    
    // Sliderbar (like: User Volume, ..)
    .slider_e13f88 {
      top: 0 ;

      .bar_c7a159 {
        background: var(--background-primary);
        top: 7px ;
        
        .barFill_c7a159 { background: var(--interactive-normal) }
      }
      
      .grabber_c7a159 { top: 0 }
      
      &:hover .barFill_c7a159 { background: var(--header-secondary) }
    }
  }
}
// <- Context menus

// -> Searchbar options popout
.container_eedf95 {
  background: var(--background-secondary-alt);
  
  @include shadow_effect("box_1");
  
  // Search options
  .resultsGroup_b0286e .option_b0286e {
    
    // weird gradiant to the right, idk
    &::after, &::before { display: none }
    
    
    // unnecessary icon
    // .plusIcon-2V7coV { display: none }
  }
}
// <- Searchbar options popout

// -> Searchbar results popout
.searchResultsWrap_c2b47d {
  background: var(--background-tertiary);
  width: -webkit-fill-available ;
  min-width: 350px ;
  max-width: 600px ;
  
  flex: 1 1 auto ;
  -webkit-box-flex: 1 ;
  
  // -> Header
  .searchHeader_b7c924 {
    background: var(--background-secondary-alt);
    
    // n of search results
    .totalResults_b7c924 .text-md-normal__6e567 {
      color: var(--text-normal) !important ;
    }
    
    // Nav bar
    .searchHeaderTabList_b7c924 {

      // Tab item ("New", "Old", ..)
      .item_a0 {
        background: none !important ;

        &:hover, &.selected_a0 {
          color: var(--interactive-hover);
        }
      }
    }
  }
  // <- Header
  
  // -> Body
  // Content scroller
  .scroller_c2b47d {
    padding: 3px 0 0 0 !important ;
    
    // &::-webkit-scrollbar { display: none }
    &::-webkit-scrollbar-track {
      background-color: var(--background-secondary-alt) !important ;
    }
      
    // Header - channel name
    .channelNameContainer_a9e225 {
      background: var(--background-secondary-alt);
      justify-content: center ;
      margin-bottom: 4px ;
      padding: 3px 0 ;

      .channelNameText_a9e225, .channelNameIcon_a9e225 {
        color: var(--interactive-hover);
        text-decoration: none ;
      }

      &:hover {
        background: var(--background-secondary);

        .channelNameText_a9e225, .channelNameIcon_a9e225 {
          color: var(--interactive-active);
        }
      }
    }
    
    // Message container
    .container_ddc613:hover {
      background: var(--background-modifier-hover);
    }

    // Message content container
    .searchResult_ddc613 {
      background: none ;
    }
  }

  // Switch page btns
  .pageControlContainer_b48941 .pageButton_b48941 {
    background: none ;
    color: var(--interactive-normal);

    &:hover {
      color: var(--interactive-hover);
    }

    &.activeButton_b48941 {
      color: var(--interactive-active);
    }
  }
  // <- Body
}
// <- Searchbar results popout

// -> Pins
.messagesPopoutWrap_ac90a2:not(.recentMentionsPopout_ddb5b4) {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary);
  
  @include shadow_effect("box_2");
  
  // Header
  .header_ac90a2 {
    background: var(--background-secondary-alt);
    box-shadow: none ;
    
    // "Pinned Messages"
    .base-21yXnu {
      color: var(--interactive-hover);
    }
  }
  
  // Messages container
  .messagesPopout_ac90a2 {
    padding-left: 0 ;
    
    &::-webkit-scrollbar { display: none }
    
    // Messages Placeholder
    .emptyPlaceholder_ac90a2 {
      margin: 8px 0 30px 0 ;
      
      // Text
      .body_ac90a2{
        color: var(--text-muted);
      }
    }
    
    // Pinned message
    .messageGroupWrapper_ac90a2 {
      border: none ;
      background: none ;
      
      // Inner container
      .messageGroupCozy_ac90a2 {
        margin: 0 ;
      }
      
      .jumpButton_ac90a2 {
        background: none ;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500 ;
      }
    }
  }
  
  // Footer "Protip"
  .footer_ac90a2 { display: none }
}
// <- Pins

// -> Inbox
.recentMentionsPopout_ddb5b4 {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary);
  
  @include shadow_effect("box_2");
  
  .header_f0cd33 {
    background: var(--background-secondary-alt);
    
    .tab_f0cd33, .button_e258f5 {
      background: none !important ;
    }
  }

  // For You
  &.container__23c08 {

    .container_fe1358 {
      background: none ;

      // unread pill
      .unread_fd8ff1 { display: none }
    }
  }
  
  // Mentions
  &.messagesPopoutWrap_ac90a2 {
    
    // Scroller
    .scrollerBase_eed6a8, // old
    .scrollerBase_c49869 {// new
      
      @include scrollbar();
      
      &::-webkit-scrollbar { 
        background: var(--background-secondary-alt);
      }
      
      // Inner container
      > div {
        padding: 3px 0 3px 0 ;
      }
      
      // Messages container
      .container_ddb5b4 {
        padding: 0 ;
        margin-bottom: 24px ;
        
        // Channel name header
        .channelHeader_f3978e {
          position: relative ;
          padding: 12px 12px 12px 8px ;
          background: var(--background-secondary-alt);
          
          // Channel name, Server name
          .channelName_f3978e, .subtext_f3978e {
            width: fit-content ;
          }
          
          // Close btn
          .closeButton_ddb5b4 {
            background: none ;
          }
        }
        
        // Message
        .messageContainer_ddb5b4 {
          background: none ;
        }
      }
      
      // Footer
      .scrollingFooterWrap_ac90a2 {
        display: none ;
      }
    }
  }
  
  // Unreads
  &.container_f1c3d9 {
    
    // Scroller
    .scrollerBase_eed6a8, // old
    .scrollerBase_c49869 {// new
      margin: 0 ;
      padding: 0 !important ;

      &::-webkit-scrollbar { display: none }
    }
    
    // Channel container
    .channel_d09ffd {
      padding: 3px 0 0 0 ;
    }
    
    // Channel header container
    .channelHeader_f3978e {
      padding: 12px 12px 12px 8px ;
      background: var(--background-secondary-alt);
      
      // Channel name, Server name
      .channelName_f3978e, .guildName_f3978e {
        width: fit-content ;
      }
      
      @include Mentions_icon(".badge_f3978e");
      
      // Buttons
      .button_e258f5 {
        background: none ;
      }
      
      // Collapse btn
      .collapseButton_d09ffd {
        position: static ;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        height: 32px ;
        width: 32px ;
        margin-left: 12px ;
        padding: 0 ;
        color: var(--interactive-normal);
        border-radius: 50% ;
        
        &:hover {
          color: var(--interactive-hover);
        }
      }
    }
    
    // .divider_fc5f50,
    .divider_c2654d {
      border: none ;

      // muted unread channels
      // &.divider_f12b26,
      &.divider_c06487 { // why ?
        margin: 30px 0 20px 0 ;
      }

      // Date 
      // .content_fc5f50, 
      .content_c2654d { background: none }

      // Seperator lines
      &::before, &::after {
        content: "" ;
        height: 1px ;
        width: 100% ;
        background: var(--background-modifier-accent);
      }
    }

    // Messages container
    .messages_c06487 {
      background: none ;
      padding: 16px 6px 16px 0 ;
      
      // Messages item
      .messageContainer_c06487 {
        
        // "jump" to msg btn
        .jumpButton_ac3dc2 {
          right: 16px ;
          
          .text_ac3dc2 {
            color: var(--interactive-normal);

            &:hover {
              color: var(--interactive-hover);
            }
          }
        }
      }
    }

    // Forum channel 
    .container_c53f2f {

      // Posts
      .forumPost_c53f2f {
        background: none ;
        margin: 0 ;
        border-radius: 0 ;
        padding: 16px 6px 12px 12px ;

        &:not(:first-child) {
          border-top: 1px solid var(--background-primary);
        }
      }
    }
  }
}
// <- Inbox

// -> Threads popout
.browser_f542fc.container_e664f3 {
  background: var(--background-tertiary);
  
  // Header
  .header_e664f3 {
    background: var(--background-secondary-alt);
    
    // "#" Icon, "Threads" title, divider
    .threadIcon_e664f3, .title_e664f3, .divider_e664f3 { display: none }
    
    // Active/Archived Buttons
    .tab_e864e6 {
      background: none !important ;
    }
    
    // Create new thread button
    .createButton_e664f3 {
      @include Btn();
    }
  }
  
  // Threads icon in content
  .iconContainer_ebd74a { display: none }
  
  // Thread item
  .container_acb8b3 {
    border: none ;
    background: var(--background-secondary-alt);
    
    
    &:hover {
      background: var(--background-modifier-accent);
    }
    
    // Name/test container
    .left_acb8b3 {
      row-gap: 5px ;
    }
    
    // Name 
    .threadNameLine_acb8b3 {
      // align-self: center ;
    }
  }
  
  // Public/Private Buttons
  .tab-1tp4jL {
    background: none !important ;
  }
  
  .container_ebd74a .button_dd4f85 {
    @include Btn("background");
  }
}
// <- Threads popout

// -> Invite to Server / Add friends to Dm / New Group Dm (and more)
.focusLock_f9a4c9 > .root_f9a4c9.small_f9a4c9.fullscreenOnMobile_f9a4c9 {
  background: var(--background-tertiary);

  // - Header
  .header_f9a4c9 {
    background: var(--background-secondary-alt);
    
    // Title
    h2 {
      color: var(--text-normal);
    }
    
    // Invite to server, create group Searchbar
    .container__33507, .container_effbe2 {
      border-radius: 0 ;
      padding-bottom: 3px ;
      border-bottom: 1px solid var(--interactive-muted);
      background: var(--background-secondary-alt);
      
      // Added friend tag
      .tag_effbe2 {
        margin-right: 5px ;
      }
      
      // Text input
      .input_effbe2 {
        padding: 0 ;
        margin: 0 ;      
      }
    }
    
    // Invite to Server > Close btn
    .closeButton-2RO-ed {
      top: 8px ;
      right: 8px ;
    }
    
    // Add friends to Dm > "Add" btn
    .addButton_e6af9c .button_dd4f85 {
      @include Btn("background");
    }
  }
  
  // - Content / Scroller
  // Add friends to Dm / New Group Dm
  .scroller_e6af9c {
    max-height: 40vh ;
    padding-right: 8px !important ;

    @include scrollerFadeOut();
    
    &::-webkit-scrollbar { display: none }
    
    .friendWrapper_ebf869 {

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover);
      }

      .friendSelected_ebf869 {
        background: none ;
      }

      &:hover {
        background: var(--background-modifier-hover);
      }

      .checkboxWrapper-2fDzaA {
        cursor: pointer ;
      }
    }
  }
  
  // Invite to Server
  .scroller-1xACMA {
    max-height: 40vh ;
    padding: 16px 8px 8px 8px !important;
    
    @include scrollerFadeOut();

    &::-webkit-scrollbar { display: none }

    // User item
    .inviteRowInfo-2i-OpP {
      background: none ;
      padding: 7px 8px ; 
      margin-right: 0 ;

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover);
      }
    }

    // Invite btn
    .inviteRowButton-1jsN50 {
      padding: 2px 0 ;
      width: auto ;
      min-width: unset ;

      @include Btn();
    }
  }
  
  // Footer
  .footer_f9a4c9, .footer_e6af9c {
    background: var(--background-secondary-alt);
    
    .content-3nJg0c:before { display: none }
    
    // Info txt
    .title-3hptVQ { display: none }
    
    // Invite link text filed
    .input-2g-os5 {
      border: none ;
      background: var(--background-tertiary);
    }
    
    .button_dd4f85.lookFilled_dd4f85:not(.colorRed_dd4f85) {
      @include Btn("background");
    }
    
    .colorStandard-21JIj7.size12-oc4dx4 {
      text-align: center ;
    }

    .inviteBannerUpsell-1t_LYM { display: none }
  }
}
// <- Invite to Server / Add friends to Dm / New Group Dm

// Notifications popout on receiving voice call
.bg__7adbf ~ .wrapper_cbf230 { z-index: 1000 }

// -> Threads in channel summary popout
.popout_c5b389 {
  .row_c5b389:hover {
    background: var(--background-modifier-hover);
  }
  .more_c5b389 {
    color: var(--interactive-normal);
  }
}
// <- Threads in channel summary popout

// Events modal (Class not unique to events modal tho)
.layer_c9e2da .root_f9a4c9  {

  // Events modal more specific
  &:has(.content_f9a4c9.content_fa4e6d) {
    min-height: unset ;
  }

  // Header
  .header_fa4e6d {
    background: var(--background-secondary-alt);
    
    // "Event/s text"
    .heading-md-semibold__76ba1 {
      color: var(--interactive-hover);
    }
    
    .button_dd4f85 {
      @include Btn();
    }
  }
  
  // Content body
  .content_fa4e6d {
    padding: 0 !important ;
    background: var(--background-tertiary);
    gap: 0 ;
    
    &::-webkit-scrollbar { display: none } 
  }
  
  // -> Create new event setup
  .content_f9a4c9 {
    background: var(--background-tertiary);
    border-radius: 0 ;

    .button_dd4f85 {
      @include Btn();
    }
  }

  // Progressbars
  .selectedProgressBar_f2ceaa {
    background: var(--interactive-active);
  }
  
  // Progress tracker names
  .colorBrand_fbc755 {
    color: var(--text-normal);
  }
  
  // Checkbox item list option
  .item_eb92a8 {
    background: var(--background-modifier-accent);
    
    &[aria-checked="true"] {
      background: var(--background-modifier-selected);
    }
    
    &[aria-checked="false"]:hover {
      background: var(--background-modifier-hover);
    }
  }
  // <- Create new event setup
  
  // Events (item card)
  .card_cc2c09 {
    background: var(--background-tertiary);
    border-width: 0 ;
    border-radius: 0 ;
    
    &:not(:first-child) {
      border-top-width: 1px ;
    }
    
    &:hover {
      background: var(--background-modifier-active);
    }
    
    // Event name
    .eventName_a4ec62 {
      color: var(--interactive-hover);
    }

    .description_a4ec62 {
      margin-top: 0 ;

      span {
        display: inline-block ;
        margin-top: 8px ;
      }
    }
    
    // In card- content footer divider
    .divider_cc2c09 {
      background: none ;
    }
  }
  
  // Footer
  .footer_f9a4c9 {
    background: var(--background-secondary-alt);
    
    .button_dd4f85 {
      @include Btn();
    }
  }
  
  // Event info modal
  &.root_b747e2 {
    
    // Header
    .container_a31cc1 {
      background: var(--background-secondary-alt);
      border: none ;
      
      // Nav bar item
      .tabBarItem_a31cc1 {
        border: none ;  
      }
    }
  }
}

// Channel Description (and possibly more)
.layer_c9e2da .modal_ed23b8.root_f9a4c9 .content_f9a4c9.content_ed23b8 {
  padding: 16px ;
}

// -> Quick switch navigation/search
.quickswitcher_f4e139 {
  background: var(--background-tertiary);
  
  .input_f4e139 {
    background: var(--background-modifier-accent);
  }
  
  // Scroller 
  .scroller_f4e139 {
    background: var(--background-tertiary);
    margin: 0 ;
    padding: 0 ;
    
    @include scrollerFadeOut(10px, 10px);
    
    &::-webkit-scrollbar { display: none }
  }
  
  // Item
  .result_f14193 {
    
    // :hover
    &[aria-selected=true] {
      background: var(--background-modifier-hover);
    }
    
    // Unread channel
    .contentUnread_f14193 {
      color: var(--interactive-normal);
    }
    
    @include Mentions_icon(".badge_f14193");
  }
  
  // Protip footer, Tutorial arrows idk
  .protip_f4e139, .tutorial_c36bbe {  display: none }
}
// <- Quick switch navigation/search

// Tooltips
.tooltip_b6c360{
  background: var(--background-floating) !important;

  .tooltipPointer_b6c360 {
    border-top-color: var(--background-floating) !important;
  }
}

// user roles popout from member safety page
.tooltip_b6c360:has(.role_e4010c){
  max-width: 500px ;

  .roleName_e4010c {
    max-width: unset ;
  }
}

// Modal poll voters list
.layerContainer_cd0de5 .root_f9a4c9 .votersListContainer_cbdbf0 .voters_cbdbf0 {
  background: none ;
}

// Apps & Commands popout
.layerContainer_cd0de5 .positionContainer_ec62fd {
  max-height: calc(100vh - 130px);

  .drawerSizingWrapper_f7506e {
    height: 100% !important ;
  }
}

// "quest available" promt from memberlist member when popout is open
.layer_cd0de5:has(.container_ac01d6, .top_ac01d6) {
  display: none ;
}