// * popouts v0.1.7.2
// Text chat / Server options / Context menus / Toolbar menus / User status / Tooltips
@use 'mixins' as * ;

// Popouts container
.layerContainer_d5a653 {
  overflow: hidden ;
}

// -> Autocomplete popout
.chatContent__5dca8 .form__13a2c .autocomplete_df266d {
  background: var(--background-tertiary);
  
  // left sidebar
  .rail_ad1aea, .list_c7a995 {
    background: var(--background-secondary-alt);
  }

  .wrapper_cd625e .scrollerBase_dc3aa9::-webkit-scrollbar,
  .wrapper_cd625e .scrollerBase__2b744::-webkit-scrollbar {
    display: none ;
  }
  
  // Group header
  .categoryHeader_f97a5f {
    background: var(--background-tertiary);
  }
  
  // selected item  
  .selected-3H3-RC {
    background: var(--background-modifier-hover);
  }
  
  // selected item cmd options
  .option__32fd1 {
    background: var(--background-tertiary);
  }
}
// <- Autocomplete popout

// -> Gif, Sticker, Emoji - Pickers
.layerContainer_d5a653 {
  
  // Main container (reactions picker, emoji, gif,.. )
  .contentWrapper_eab878, .contentWrapper__321ed {
    background: var(--background-secondary-alt);
    background: var(--background-tertiary);
  }
  
  // Navbar
  .navButtonActive_b003de, .navButtonActive__735cb, .navButtonSuperReactActive__01546 { 
    background: none ;
  }

  // -> Popout (Gifs)
  #gif-picker-tab-panel {
    .container__7712a {
      background: var(--background-tertiary);

      .input__74754 {
        border-bottom: 1px solid var(--interactive-muted);
      }
    }

    .content__30de8 {
      background: var(--background-floating);
    }

    .scrollerBase_dc3aa9 {
      @include scrollerFadeOut();
      @include scrollbar();
    }
  }
  // <- Popout (Gifs)
  
  // -> Emojis as rections in voice channel
  .emojiPickerHeader-2mWh2T, .slotsContainer-3Li39W {
    background: var(--background-tertiary);
  }

  .container_e4c233 + [aria-label].tooltipContainer__1b45e {
    display: none ;
  }

  .dropDownContainer-2D2fq2 {
    margin: 0 8px 0 0 ;
  }
  // <- Emojis as rections in voice channel

  // -> Popout content (Emoji, Sticker)
  #emoji-picker-tab-panel, #sticker-picker-tab-panel {

    // Searchbar
    .container_e4c233 {
      background: var(--background-tertiary);

      .input_f4043f { 
        border-bottom: 1px solid var(--interactive-muted);
      }
    }

    // Sidebar
    .wrapper__4f229 {
      border-right: 1px solid var(--background-modifier-accent);
      background: var(--background-floating);
      border-radius: 0 ;

      // Category Icons
      .guildIcon__4d796 { 
        background: none ;
       }
    }

    // emoji inspector
    .inspector__993e1 {
      display: none ;
    }
  }
  // -> Picker Content
  #emoji-picker-grid, #sticker-picker-grid {
    background: var(--background-floating);

    .scroller_e89578 {
      @include scrollbar();
      @include scrollerFadeOut();

      // &::-webkit-scrollbar { display: none } 
    }

    // Category header
    .wrapper__7a35f { 
      position: relative ;
      background: none ;
    }

    .inspector__993e1 { display: none }

    // emojis
    .emojiItem_b15dee {

      &.emojiItemSelected__1a09a {
        background: var(--background-modifier-selected);
      }

      // Icon for addding emojis to server
      &:not([data-name]) { display: none }
    }
  }
  // <- Picker Content
  // <- Popout content (Emoji, Sticker)
}
// <- Gif, Sticker, Emoji - Pickers


// -> Soundboard
.layerContainer_d5a653 .picker__6dca7 {

  // Header
  .header_bf5f46 {
    background: var(--background-tertiary);
  }

  // Searchbar
  .container_e4c233 .input_f4043f {
    border-bottom: 1px solid var(--interactive-muted);
  }

  // Scroller (Sidebar/Main)
  .scroller_e89578 {
    @include scrollerFadeOut();
  }

  // Sidebar
  .categoryList__173de {
    background: var(--background-floating);
    border-right: 1px solid var(--background-modifier-accent);
    box-sizing: border-box ;
  }

  // Sound item
  .soundButton__5ad7b {
    background: var(--background-modifier-hover);

    &:hover {
      background: var(--background-modifier-selected);
    }
  }
}
// <- Soundboard


// -> Context menus
.layer_ec16dd .menu_dc52c6 {
  // background: var(--background-tertiary);
  
  .scroller__750f5 {
    padding: 6px !important;
    
    &::-webkit-scrollbar { display: none }
  }

  // category header text weird bug when :active
  .groupLabel_e66554 {
    background: none ;
    color: var(--interactive-normal);
  }
  
  // Options
  .item__183e8 {
    background: none ;
    color: var(--interactive-normal);

    .subtext__8a015 {
      color: var(--interactive-normal);
    }

    // &:active,
    &:hover {
      color: var(--interactive-hover); 

      .subtext__8a015 {
        color: var(--interactive-hover);
      }
    }
    
    // Critical option (like: bann, kick, ..)
    &.colorDanger_eec36d {
      color: var(--red);

      &:hover {
        color: var(--interactive-hover);
        background-color: var(--red);
      }
    }
      
    // Options with checkbox
    &[role="menuitemcheckbox"] {
      
      // Option checked normal icon
      .checkbox__45366 { color: transparent }

      // Checkbox checked ("x" icon for "uncheck")
      &.focused__27621[aria-checked="true"] path {
        color: var(--red);
        d: path("M 18.4 4 L 12 10.4 L 5.6 4 L 4 5.6 L 10.4 12 L 4 18.4 L 5.6 20 L 12 13.6 L 18.4 20 L 20 18.4 L 13.6 12 L 20 5.6 L 18.4 4 Z");
      }
    }

    // Radio options
    &[role="menuitemradio"] {

      // Selected option hover (no need for hover effect)
      &[aria-checked="true"] {
        color: var(--interactive-normal);

        .subtext__8a015 {
          color: var(--interactive-normal);
        }
      }

      // Selected option normal icon
      .radioSelection__5ed39 { 
        color: var(--interactive-normal); 
      }
    }
    
    // Sliderbar (like: User Volume, ..)
    .slider__28a57 {
      top: 0 ;

      .bar_e58961 {
        background: var(--background-primary);
        top: 7px ;
        
        .barFill__30e17 { background: var(--interactive-normal) }
      }
      
      .grabber_d2868c { top: 0 }
      
      &:hover .barFill__30e17 { background: var(--header-secondary) }
    }
  }
}
// <- Context menus

// -> Searchbar options popout
.container_d6dad3 {
  background: var(--background-secondary-alt);
  
  @include shadow_effect("box_1");
  
  // Search options
  .resultsGroup_ea9b64 .option_b5597b {
    
    // weird gradiant to the right, idk
    &::after, &::before { display: none }
    
    
    // unnecessary icon
    // .plusIcon-2V7coV { display: none }
  }
}
// <- Searchbar options popout

// -> Searchbar results popout
.searchResultsWrap__9f374 {
  background: var(--background-tertiary);
  width: -webkit-fill-available ;
  min-width: 350px ;
  max-width: 600px ;
  
  flex: 1 1 auto ;
  -webkit-box-flex: 1 ;
  
  // Header
  .searchHeader__19d87 {
    background: var(--background-secondary-alt);
    
    // n of search results
    .colorHeaderPrimary-jN_yGr {
      color: var(--text-normal);
    }
    
    // Options btn
    .tab-2j5AEF {
      background: none ;
      
      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
  
  // Switch pages btns
  .searchHeaderTabList__78b98 {
    
    .item__48dda {
      background: none !important ;
      
      // what did that do ?
      &:disabled {
        color: var(--interactive-muted);
        pointer-events: none ;
      }
    }
  }
  
  // Content scroller
  .scroller_c8d5ad {
    padding: 3px 0 0 0 !important ;
    
    // &::-webkit-scrollbar { display: none }
    &::-webkit-scrollbar-track {
      background-color: var(--background-secondary-alt) !important ;
    }
      
    // Header - channel name
    .channelNameContainer_e0c26c {
      background: var(--background-secondary-alt);
      justify-content: center ;
      margin-bottom: 4px ;
      padding: 3px 0 ;

      .channelNameText_ae1c38, .channelNameIcon_dbb458 {
        color: var(--interactive-hover);
        text-decoration: none ;
      }

      &:hover {
        background: var(--background-secondary);

        .channelNameText_ae1c38, .channelNameIcon_dbb458 {
          color: var(--interactive-active);
        }
      }
    }
    
    // Message container
    .container__7db35:hover {
      background: var(--background-modifier-hover);
    }

    // Message content container
    .searchResult_dcd237 {
      background: none ;

      // Message
      .wrapper__09ecc.cozy_f5c119 {
        padding-left: 60px ;
      }
      
      // pfp
      .avatar__08316 {
        left: 8px ;
      }
    }
  }
}
// <- Searchbar results popout

// -> Pins
.messagesPopoutWrap_b3b384:not(.recentMentionsPopout__826a9) {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary);
  
  @include shadow_effect("box_2");
  
  // Header
  .header_f5cc88 {
    background: var(--background-secondary-alt);
    box-shadow: none ;
    
    // "Pinned Messages"
    .base-21yXnu {
      color: var(--interactive-hover);
    }
  }
  
  // Messages container
  .messagesPopout__22763 {
    padding-left: 0 ;
    
    &::-webkit-scrollbar { display: none }
    
    // Messages Placeholder
    .emptyPlaceholder__688fc {
      margin: 8px 0 30px 0 ;
      
      // Text
      .body__13cde{
        color: var(--text-muted);
      }
    }
    
    // Pinned message
    .messageGroupWrapper_f8c6e9 {
      border: none ;
      background: none ;
      
      // Inner container
      .messageGroupCozy__2dedd {
        margin: 0 ;
      }
      
      .jumpButton__0329d {
        background: none ;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500 ;
      }
    }
  }
  
  // Footer "Protip"
  .footer_a3029c { display: none }
}
// <- Pins

// -> Inbox
.recentMentionsPopout__826a9 {
  width: 50vw ;
  max-width: 600px ;
  min-width: 480px ;
  max-height: 80vh !important ;
  background: var(--background-tertiary);
  
  @include shadow_effect("box_2");
  
  .header__28ebb {
    background: var(--background-secondary-alt);
    
    .tab_a8a066, .button_ddf91e {
      background: none !important ;
    }
  }

  // For You
  &.container__23c08 {

    .container__2c498 {
      background: none ;

      // unread pill
      .unread_ade69e { display: none }
    }
  }
  
  // Mentions
  &.messagesPopoutWrap_b3b384 {
    
    // Scroller
    .scrollerBase_dc3aa9, // old
    .scrollerBase__2b744 {// new
      
      @include scrollbar();
      
      &::-webkit-scrollbar { 
        background: var(--background-secondary-alt);
      }
      
      // Inner container
      > div {
        padding: 3px 0 3px 0 ;
      }
      
      // Messages container
      .container__56e52 {
        padding: 0 ;
        margin-bottom: 24px ;
        
        // Channel name header
        .channelHeader__5d30c {
          position: relative ;
          padding: 12px 12px 12px 8px ;
          background: var(--background-secondary-alt);
          
          // Channel name, Server name
          .channelName_c74eea, .subtext_b4cd50 {
            width: fit-content ;
          }
          
          // Close btn
          .closeButton_ba6c7d {
            background: none ;
          }
        }
        
        // Message
        .messageContainer_aa7d14 {
          background: none ;
        }
      }
      
      // Footer
      .scrollingFooterWrap__554dd {
        display: none ;
      }
    }
  }
  
  // Unreads
  &.container__20de0 {
    
    // Scroller
    .scrollerBase_dc3aa9, // old
    .scrollerBase__2b744 {// new
      margin: 0 ;
      padding: 0 !important ;

      &::-webkit-scrollbar { display: none }
    }
    
    // Channel container
    .channel_d48f2d {
      padding: 3px 0 0 0 ;
    }
    
    // Channel header container
    .channelHeader__5d30c {
      padding: 12px 12px 12px 8px ;
      background: var(--background-secondary-alt);
      
      // Channel name, Server name
      .channelName_c74eea, .guildName__33e0e {
        width: fit-content ;
      }
      
      @include Mentions_icon(".badge_e08f91");
      
      // Buttons
      .button_ddf91e {
        background: none ;
      }
      
      // Collapse btn
      .collapseButton_b18eab {
        position: static ;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        height: 32px ;
        width: 32px ;
        margin-left: 12px ;
        padding: 0 ;
        color: var(--interactive-normal);
        border-radius: 50% ;
        
        &:hover {
          color: var(--interactive-hover);
        }
      }
    }
    
    // Messages container
    .messages_f7999e {
      background: none ;
      padding: 16px 6px 16px 0 ;
      
      // Msg seperator with date
      > .divider_b9338f {
        border: none ;

        // Date 
        .content_d67847 { background: none }

        // Seperator lines
        &::before, &::after {
          content: "" ;
          height: 1px ;
          width: 100% ;
          background: var(--background-modifier-accent);
        }
      }
      
      // Messages item
      > .messageContainer__95a1c {
        
        // "jump" to msg btn
        > .jumpButton_da1ebb {
          right: 16px ;
          
          > .text__6b9e7 {
            color: var(--interactive-normal);

            &:hover {
              color: var(--interactive-hover);
            }
          }
        }
      }
    }

    // Forum channel 
    .container_f08072 {

      // Posts
      .forumPost__0c88c {
        background: none ;
        margin: 0 ;
        border-radius: 0 ;
        padding: 16px 6px 12px 12px ;

        &:not(:first-child) {
          border-top: 1px solid var(--background-primary);
        }
      }
    }
  }
}
// <- Inbox

// -> Threads popout
.browser_fece63.container__8261a {
  background: var(--background-tertiary);
  
  // Header
  .header__53b07 {
    background: var(--background-secondary-alt);
    
    // "#" Icon, "Threads" title, divider
    .threadIcon__046f1, .title__47111, .divider_dec9ac { display: none }
    
    // Active/Archived Buttons
    .tab_e864e6 {
      background: none !important ;
    }
    
    // Create new thread button
    .createButton_c8864c {
      @include Btn();
    }
  }
  
  // Threads icon in content
  .iconContainer__993f2 { display: none }
  
  // Thread item
  .container__6604b {
    border: none ;
    background: var(--background-secondary-alt);
    
    
    &:hover {
      background: var(--background-modifier-accent);
    }
    
    // Name/test container
    .left__2686f {
      row-gap: 5px ;
    }
    
    // Name 
    .threadNameLine__5046f {
      // align-self: center ;
    }
  }
  
  // Public/Private Buttons
  .tab-1tp4jL {
    background: none !important ;
  }
  
  .container__50947 .button_afdfd9 {
    @include Btn("background");
  }
}
// <- Threads popout

// -> Invite to Server / Add friends to Dm / New Group Dm (and more)
.focusLock__10aa5 > .root_a28985.small__05f7b.fullscreenOnMobile__96797 {
  background: var(--background-tertiary);

  // - Header
  .header__6d5ea {
    background: var(--background-secondary-alt);
    
    // Title
    h2 {
      color: var(--text-normal);
    }
    
    // Invite to server, create group Searchbar
    .container__7712a, .container_e4c233 {
      border-radius: 0 ;
      padding-bottom: 3px ;
      border-bottom: 1px solid var(--interactive-muted);
      background: var(--background-secondary-alt);
      
      // Added friend tag
      .tag__69d9d {
        margin-right: 5px ;
      }
      
      // Text input
      .input_f4043f {
        padding: 0 ;
        margin: 0 ;      
      }
    }
    
    // Invite to Server > Close btn
    .closeButton-2RO-ed {
      top: 8px ;
      right: 8px ;
    }
    
    // Add friends to Dm > "Add" btn
    .addButton__0756f .button_afdfd9 {
      @include Btn("background");
    }
  }
  
  // - Content / Scroller
  // Add friends to Dm / New Group Dm
  .scroller__5c5df {
    max-height: 40vh ;
    padding-right: 8px !important ;

    @include scrollerFadeOut();
    
    &::-webkit-scrollbar { display: none }
    
    .friendWrapper__70b6f {

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover);
      }

      .friendSelected_f0db37 {
        background: none ;
      }

      &:hover {
        background: var(--background-modifier-hover);
      }

      .checkboxWrapper-2fDzaA {
        cursor: pointer ;
      }
    }
  }
  
  // Invite to Server
  .scroller-1xACMA {
    max-height: 40vh ;
    padding: 16px 8px 8px 8px !important;
    
    @include scrollerFadeOut();

    &::-webkit-scrollbar { display: none }

    // User item
    .inviteRowInfo-2i-OpP {
      background: none ;
      padding: 7px 8px ; 
      margin-right: 0 ;

      &:not(:last-child) {
        border-bottom: 1px solid var(--background-modifier-hover);
      }
    }

    // Invite btn
    .inviteRowButton-1jsN50 {
      padding: 2px 0 ;
      width: auto ;
      min-width: unset ;

      @include Btn();
    }
  }
  
  // Footer
  .footer__89240, .footer__274e8 {
    background: var(--background-secondary-alt);
    
    .content-3nJg0c:before { display: none }
    
    // Info txt
    .title-3hptVQ { display: none }
    
    // Invite link text filed
    .input-2g-os5 {
      border: none ;
      background: var(--background-tertiary);
    }
    
    .button_afdfd9.lookFilled__19298:not(.colorRed_d6b062) {
      @include Btn("background");
    }
    
    .colorStandard-21JIj7.size12-oc4dx4 {
      text-align: center ;
    }

    .inviteBannerUpsell-1t_LYM { display: none }
  }
}
// <- Invite to Server / Add friends to Dm / New Group Dm

// Notifications popout on receiving voice call
.bg__7adbf ~ .wrapper_daf1cf { z-index: 1000 }

// -> Threads in channel summary popout
.popout__24e32 {
  .row__4daf2:hover {
    background: var(--background-modifier-hover);
  }
  .more__14345 {
    color: var(--interactive-normal);
  }
}
// <- Threads in channel summary popout

// Events modal (Class not unique to events modal tho)
.layer_ad604d .root_a28985  {

  // Events modal more specific
  &:has(.content__764ce.content__41e2c) {
    min-height: unset ;
  }

  // Header
  .header__7133e {
    background: var(--background-secondary-alt);
    
    // "Event/s text"
    .heading-md-semibold__574c7 {
      color: var(--interactive-hover);
    }
    
    .button_afdfd9 {
      @include Btn();
    }
  }
  
  // Content body
  .content__41e2c {
    padding: 0 !important ;
    background: var(--background-tertiary);
    gap: 0 ;
    
    &::-webkit-scrollbar { display: none } 
  }
  
  // -> Create new event setup
  .content__764ce {
    background: var(--background-tertiary);
    border-radius: 0 ;

    .button_afdfd9 {
      @include Btn();
    }
  }

  // Progressbars
  .selectedProgressBar__10383 {
    background: var(--interactive-active);
  }
  
  // Progress tracker names
  .colorBrand_be5f58 {
    color: var(--text-normal);
  }
  
  // Checkbox item list option
  .item_b7fb7e {
    background: var(--background-modifier-accent);
    
    &[aria-checked="true"] {
      background: var(--background-modifier-selected);
    }
    
    &[aria-checked="false"]:hover {
      background: var(--background-modifier-hover);
    }
  }
  // <- Create new event setup
  
  // Events (item card)
  .card__7865b {
    background: var(--background-tertiary);
    border-width: 0 ;
    border-radius: 0 ;
    
    &:not(:first-child) {
      border-top-width: 1px ;
    }
    
    &:hover {
      background: var(--background-modifier-active);
    }
    
    // Event name
    .eventName__0b500 {
      color: var(--interactive-hover);
    }

    .description__87622 {
      margin-top: 0 ;

      span {
        display: inline-block ;
        margin-top: 8px ;
      }
    }
    
    // In card- content footer divider
    .divider__33a9a {
      background: none ;
    }
  }
  
  // Footer
  .footer__89240 {
    background: var(--background-secondary-alt);
    
    .button_afdfd9 {
      @include Btn();
    }
  }
  
  // Event info modal
  &.root_c3965c {
    
    // Header
    .container_f3270f {
      background: var(--background-secondary-alt);
      border: none ;
      
      // Nav bar item
      .tabBarItem__8ac5b {
        border: none ;  
      }
    }
  }
}

// Channel Description (and possibly more)
.layer_ad604d .root_a28985 .content__764ce.content__96073.selectable.thin_b1c063.scrollerBase_dc3aa9 {
  padding: 16px ;
}

// -> Quick switch navigation/search
.quickswitcher_a3d29a {
  background: var(--background-tertiary);
  
  .input__848cd {
    background: var(--background-modifier-accent);
  }
  
  // Scroller 
  .scroller__52ae7 {
    background: var(--background-tertiary);
    margin: 0 ;
    padding: 0 ;
    
    @include scrollerFadeOut(10px, 10px);
    
    &::-webkit-scrollbar { display: none }
  }
  
  // Item
  .result__25f11 {
    
    // :hover
    &[aria-selected=true] {
      background: var(--background-modifier-hover);
    }
    
    // Unread channel
    .contentUnread__50b0f {
      color: var(--interactive-normal);
    }
    
    @include Mentions_icon(".badge__63b33");
  }
  
  // Protip footer, Tutorial arrows idk
  .protip__84833, .tutorial_af9431 {  display: none }
}
// <- Quick switch navigation/search

// Dismissables might just remove all
// .layer-2aCOJ3 {

//   &[style*="left: -"][style*="top: "] {
//     transform: translate( calc(50% + 10px), 25px);
//   }

//   .container-xB0xPf, .content__73f32, .subscribeTooltipWrapper-3ipXtC, .upsellTooltipWrapper_df8272

//   // BG container (* not sure if still used)
//   .container-xB0xPf, // *
//   .content__73f32, // *
//   .subscribeTooltipWrapper-3ipXtC, // *
//   .root_a28985, // *
//   .upsellTooltipWrapper_df8272,
//   .container-5N5x2A {
//     background-color: var(--background-tertiary);
    
//     // Pointer in Tooltipversion
//     &:after { display: none }
//   }

//   .button_afdfd9 { @include Btn() }
    
//   .image-CRV_VX, .pointer-1j6vDv, .pointer_cb5370, .pointer-1bsD64 { display: none }
// }


// Toolstips
.tooltip__01384{
  background: var(--background-floating) !important;

  .tooltipPointer_a79354 {
    border-top-color: var(--background-floating) !important;
  }
}


// user roles popout from member safety page
.tooltip__01384:has(.role__631a3){
  max-width: 500px ;

  .roleName_d19d33 {
    max-width: unset ;
  }
}