// * server v0.1.12
// Channels, Panels / Members / Server discovery
@use 'mixins' as * ;

// -> Text/Voice channels
.container__7e23c {
  top: 48px ;
  margin-bottom: 48px ;

  // Special channels seperator (only show last one)
  .sectionDivider__9dbcb:has(~ .sectionDivider__9dbcb) { display: none }

  // -> Current server event, Feature promotion
  .channelNotice__36ec1, .channelNotice-7cg_jN {
    
    // Event name
    .colorHeaderPrimary-jN_yGr {
      color: var(--header-secondary);
    }
    
    // .joinButton_a6e0b7 {
    .button__581d0 {
      @include Btn("background");
    }
  }
  // <- Current server event, Feature promotion
  
  // -> Scroller container
  .scroller__1f498 {
    // Fade out effect
    @include scrollerFadeOut();

    &::-webkit-scrollbar { display: none }
  }
  // <- Scroller container
  
  // -> Server boost progress bar
  .container_bc43c1 {
    position: relative ;
    height: calc(24px * var(--show-serverboost-stats));
    margin: -8px 4px 8px 4px ;
    padding: 0 ;
    overflow: hidden ;

    display: var(--serverBoostStatus);

    &::after { display: none }
    
    // Text container
    .textArea__81b51 {
      margin: 0 12px ;
      
      // Nitro flower icon thing ??
      // .flowerStarContainer__00f61 { display: none }
      
      // Text "Goal:LVL"
      .goalText__38c12 {
        color: var(--header-secondary) !important;
      }
    }
    
    // Container progress bar
    .progressBarContainer_e11b41 {
      position: absolute ;
      top: 0px ;
      width: 100% ;
      margin: 0 ;
      background: none ;
      visibility: hidden ;
    
      // Progress bar
      .progressBar_d41287 {
        height: 24px ;
        opacity: .15 ;
        border-top-right-radius: 5px ;
        border-bottom-right-radius: 5px ;
      }
    
      // End of bar icon ??
      // .tadaIcon__5e3cc { display: none }
    }
    
    &:hover .progressBarContainer_e11b41 {
      visibility: visible ;
    }
    
    // Channel category header if adjacent
    + .containerDefault_e3b32b {
      padding-top: 8px ;
    }
  }
  // <- Server boost progress bar
  
  // Category names
  .containerDefault_e3b32b .name__27f04 {
    font-weight: 700 ;
  }
  
  // Text and Voice Channels
  .wrapper__612a5 {

    // Mentions badge
    @include Mentions_icon(".numberBadge__40d6f");

    // Icon ("#", speaker, ..)
    .icon__67ab4 {
      width: 15px ;
      height: 15px ;
      margin: 2.5px 0 ;
      color: var(--channels-default);
      opacity: .8 ;
    }
    
    // Channel name
    .name__4eb92 { 
      color: var(--channels-default);
    }
    
    // -> Channel options and infos
    // Settings and invite buttons
    .iconItem__56989 { display: none }

    // Channel badges (e.g. "NEW", ..) (old?)
    .textBadge_f05120 {
      background: none !important;
      color: var(--interactive-hover)
    }

    // "new" badge on forum channel
    .channelInfo_b0882c .text-xs-semibold__767f1 {
      color: var(--interactive-hover) !important;
    }
    
    // Connection limit (voice)
    .wrapper__71278 {
      
      span { background: transparent }
      
      .total_c01838::after {
        content: "|" ;
        top: 0px ;
        left: -5px ;
        border: none ;
      }
    }
    
    // container for hover
    .link_ddbb36 {
      background: transparent;
      
      &:hover {
        .name__4eb92 { color: var(--interactive-hover) }
        .iconItem__56989 { display: block }
      }
    }
    // <- Channel options and infos
    
    // Channel selected / connected
    &.modeSelected__473f1, &.modeConnected__52a8f {

      // Channel name
      .name__4eb92 { 
        color: var(--interactive-active) !important; 
      }
      // Channel icon (left)
      .icon__67ab4 { 
        color: var(--interactive-active) !important;
      }
    }
    
    // Channel muted
    &.modeMuted_f0a72e {
      // Channel icon (left)
      .icon__67ab4 { 
        color: var(--interactive-muted);
      }
    }
    
    // Channel unread
    &.modeUnreadImportant__35358 {
      // pill
      .unread__48cf4 { 
        background-color: var(--interactive-hover);
      }
    }

    // Channel no permission
    &.modeLocked__6df8a {

      .link_ddbb36 {
        cursor: not-allowed ;
      }

      .name__4eb92 {
        color: var(--interactive-muted);
      }
    }
  }

  // Channel indicator bar (floating)
  .container_d106ab .bar__004d9 {
    background: var(--background-secondary-alt);

    @include shadow_effect("box_3");

    &:hover {
      background: var(--background-tertiary);
    }

    // Unread mentions bar
    &.mentionsBar__7d867 .barText__32a63 {
      color: var(--red-secondary) !important;
    }
  }
  
  // Threads indicator spine thing
  .spine__88e6d {
    color: var(--channels-default);
    opacity: .5 ;
  }
  
  // User in Voice channel
  .voiceUser__629a5 {

    // "live" indicator
    .live_b195a5 { 
      background: none !important ;
      color: var(--red);
    }
  }
  
  // New in-server feature notification
  .wrapper__66ad5 .container_bd44c3 {
    background: var(--background-tertiary);
    
    .button__581d0 {
      @include Btn("background");
    }
  }

  // "Hide/Show all voice Channels
  .voiceChannelsButton_fd0b98 {
    background-color: var(--background-modifier-hover);
    border: none ;

    &:hover {
      background-color: var(--background-modifier-accent);
    }
  }
}
// <- Text/Voice channels

// -> Members list 
.members__573eb {
  @include scrollerFadeOut();

  &::-webkit-scrollbar { display: none }
  
  // Role header
  .membersGroup_cad095 { 
    margin-bottom: 4px;
    font-weight: 600 ;
   }
  
  // Member
  .member_aa4760 {
    margin: 0 0 0 11px ;
    background: none ;
    
    // Inner container 
    .layout_bb8e67 {
      border-radius: 0 ;
      background: none ;
      border-right: 3px solid transparent ;
      
      &:hover { 
        border-color: var(--interactive-hover);
        background-color: var(--background-modifier-hover);
      }
    }
    
    // User popout open
    &.selected__7f4cb .layout_bb8e67 {
       border-right: 3px solid var(--interactive-hover);
    }
    
    // Offline member
    &.offline__55fab:not(:hover) .avatar__991e2{
      filter: grayscale(100%);
      border-radius: 50% ;
    }
    
    // Nitro icon 
    .name__7afe8 + div { pointer-events: none }
    
    .ownerIcon_bd8e7d {
      color: var(--header-secondary);
    }
  }

  // Preload dummys
  .placeholder__3f05f, .memberGroupsPlaceholder__50708 {
    animation: none ;
  }
  .placeholderAvatar__0282d, .placeholderUsername__3d5c9, .memberGroupsPlaceholder__50708 {
    background: var(--text-normal);
    opacity: 0.1;
  }
  
  // Empty members list (Threads)
  > div {
    background: none ;
  }
}
// <- Members list 

// -> Discovery
.viewWrapper_a91a78 > .searchHeader__2707c .headerImage_bc3304 { display: none }

.discoverHeader__9d76e {
  
  // Sidebar
  ~ .categoryItem__0608f .itemInner_eedb2b {
    border-radius: 0 ;
    padding: 0 4px ;
    margin: 5px 4px ;
  }
  
  ~ .categoryItem__0608f {
    
    .itemInner_eedb2b {
      border-radius: 0 ;
      padding: 0 4px ;
      margin: 5px 4px ;
    }
    
    &:hover .itemInner_eedb2b { border-left: 3px solid var(--interactive-hover) }
    
    &.selected__7f4cb .itemInner_eedb2b {
      background-color: transparent ;
      border-left: 3px solid var(--interactive-hover);
    }
  }
}

.guildListSection_e27022 {
  .card__86773 {
    background: var(--background-modifier-accent);

    &:hover {
      background: var(--background-modifier-selected);
    }
  }
}
// <- Discovery

// -> Server boost screen
.root__6d24f.enterDone__88d24 {
  margin-top: 22px ;

  .scroller__7d61e { 
    @include scrollbar();
    @include scrollerFadeOut();
  }

  // weird wave design things
  .bodyWave__4a827, .headerWave_dda892 { display: none }
}
// <- Server boost screen

// -> Home channel/ Server guide
.homeContainer_c36871, .emptyHomeContainer__6b359 {

  // -> Header
  .header__09049 {

    .headerIcon_f56272 {
      border: none ;
      border-radius: 7.5% ;

      &:not([class*=".gif"]) { @include shadow_effect("drop_1") }
    }

    // Invite Btn
    .inviteButton__5a17a {
      background: var(--background-modifier-hover);
      transition: none ;

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
  }
  // <- Header

  // -> Body
  // Greetings text
  .welcomeMessageContainer__3f43b {

    .userCardOuter__69ef3, .userCardInner__4fd8f {
      background: none ;
    }
  }

  // "Get Started", "Resources" section items
  .action__94060, .row__4f559 {
    background: var(--background-modifier-hover);
    transition: none ;

    &:hover {
      background: var(--background-modifier-selected);
    }
  }

  // Sidebar (server info)
  .sidebarCardWrapper__98124 {
    background: var(--background-modifier-hover);
  }
  // <- Body
}

// -> Special Channels (Chan&Rols / Members)
// Header
.container__26baa {

  // return to last channel btn (Chan&Rols / Members)
  .returnButton__12be7, .returnButton__38238 {
    border: none;
    background: none;

    // Btn text
    .returnButtonText__98174, .returnButtonText__13941 {
      color: var(--interactive-hover);
    }

    // Icon within text
    .iconContainer__6a580 { display: none }

    // Text after icon
    .overflow__993fa {
      margin-left: 2px ;
    }

    &:hover {
      background: none var(--background-modifier-selected);
    }
  }
}

// -> Channel & Roles
// Content container
.container__03ec9 {

  // empty page / loading placeholder
  .emptyPage_feb902 {
    background: none ;
  }

  // Navbar
  .tabBar_d4764b {

    .tabBarItem__60c37 {
      border: none !important;
    }
  }

  // -> Customize
  // Infos & Questions
  .prompt__1b100 {
    background: none ;

    .optionButtonWrapper_c86844 {
      background: var(--background-modifier-hover);
      border: none ;

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
  }

  // "MY Profile"
  .profileCard__1d74b {
    background: var(--background-modifier-hover);

    .username__0bc64 {
      color: var(--header-primary) !important;
    }

    div {
      color: var(--header-secondary) !important;
    }
  }
  // <- Customize

  // -> Browse channels
  // Searchbar
  .search__4a09e {
    background: var(--background-modifier-selected);
    border-radius: 2px ;
  }

  // create channel btn
  .createButton_e4c914 {
    border-radius: 2px ;

    @include Btn(var(--background-modifier-selected));
  }
  
  // Channel category
  .categoryRow__8a080 {
    .categoryText_b2688c {
      color: var(--header-secondary) !important;
    }
  }

  // channel item
  .channelRow__538ef {
    background: none ;

    &:not(.disabled__556e5):hover {
      background: var(--background-modifier-hover);
    }

    .channelText__3a877 {
      color: var(--text-normal) !important;
    }

    .viewChannelButton_d2fdbe {
      display: block;

      @include Btn();
    }
  }

  // Checkboxes
  .checkbox_fcf2ad {
    background: none !important;
    border-color: var(--interactive-normal) !important;
  }
  // <- Browse channels
}
// <- Channel & Roles

// -> Member Safety Page
.page_e5cc79 {
  background: none !important;

  // scroller inner content container
  .container__3a30a {
    padding: 0 ;

    // Container
    .mainTableContainer__37b54 {
      box-shadow: none ;
    }
  }

  // -> Header
  .searchBar__2f128 {
    background: var(--background-modifier-selected);
    border-bottom: 1px solid transparent ;

    &:focus-within {
      background: none ;
      border-bottom-color: var(--interactive-normal);
      border-radius: 0 ;
    }
  }
  // <- Header

  // -> Table
  .table_c0e94f {
    padding: 0 ;
    border: none ;
  }

  .tableHeaderRow_a546e2::after {
    box-shadow: none ;
    background: var(--background-modifier-accent);
  }

  // notice bar for when new member joined 
  .newMembersNotice__54ea4 {
    top: -4px ;
    background: var(--background-secondary-alt);
    cursor: auto ;

    @include shadow_effect("drop_2");

    td {
      &:first-child {
        border-top-left-radius: 8px ;
        border-bottom-left-radius: 8px ;
      }
      &:last-child {
        border-top-right-radius: 8px ;
        border-bottom-right-radius: 8px ;
      }
    }
  }

  td, th {
    width: auto ; //idk
  }

  // Member item
  .memberRowContainer__8a95f {
    // weird effect on row when leaving modal, idk
    background: none !important;
    transform: none !important;
    opacity: 1 !important;

    // Row cells (idk, thats just how DC does it.)
    td {
      border-radius: 0 ;
      background: none ;
      padding: 8px 4px ;

      &::after {
        display: none ;
      }
    }
    
    &:hover {

      // all inner items (table data cell)
      td {
        background: var(--background-modifier-hover);
      }

      // action buttons
      .actionCell__985b0 {
        color: var(--interactive-normal);
      }
    }

    .memberNameContainer__37369 {
      // grid-template-columns: 32px minmax(100px, 150px);
    }

    // -> Roles cell
    // container cell
    td:has(.roleContainer__45e0c) {
      // width: 10% !important ;
    }

    .roleName__851c9 {
      max-width: 140px ;
    }

    // roles btns
    .otherRoles_e625c8 {
      opacity: 1;
      background: var(--background-modifier-hover);
    }

    // role add btn
    .addRoleContainer__02a05 {

      // icon
      .addRoleIcon__1028d {
        color: var(--header-secondary);
      }

      &:hover {
        background: var(--background-modifier-selected);

        .addRoleIcon__1028d {
          color: var(--header-primary);
        }
      }
    }
    // <- Roles cell

    // action btns
    .button__440c9 {
      background: none ;

      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
  // <- Table
}
// <- Member Safety Page
// <- Special Channels (Chan&Rols / Members)

// -> Server welcome screen thing
.content__76dcf .main_e0b3ac {
  // Background image
  .artwork_eaea88 { display: none }

  // -> Intro
  .coverContainer__8adbb {
    background: none ;
  }

  .centerContent__4f666 {
    background: var(--background-tertiary);

    .button__581d0 {
      @include Btn("background");
    }
  }
  // <- Intro

  // -> Main content
  .promptContent__129f0 {

    .optionButton__8fd3f {
      border: none ;
      background: var(--background-modifier-accent);

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
  }
  // <- Main content
}
// <- Server welcome screen thing