// * serverbar v0.1.14
// Horizontal serverbar + Additions
@use 'mixins' as * ;

// Serverbar -->
// - Base container -->
// App layer adjustments 
.baseLayer_d4b6c5 > .container_a4d4d9 { flex-direction: column-reverse }

// - Serverbar container / scroller
.guilds_a4d4d9 {
  height: 54px ;
  width: 100vw ;
  margin: 0 ;
  padding: 0 ;

  &::before {
    content: "" ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
    background: var(--background_server);
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat ;

    // Background filter
    --blur: blur(calc((var(--backgroundBlur_server, 0) / 100) * 1px));
    --brightness: brightness(calc((var(--backgroundBrightness_server, 100) / 100)));

    filter: var(--blur) var(--brightness);
  }
  
  // when in voice call view
  &.hidden_fea3ef {
    height: 0 ;
  }
  
  // Child container (ul)
  .tree_fea3ef {
    display: grid ;
    height: 100vw ;
    width: 54px ;
    transform: rotate(-90deg) translateX(-54px);
    transform-origin: top left ;
    outline: none ;
  }
  
  // Scroller ( 10-48-6-20-6-20-10 )
  .scroller_fea3ef {
    display: grid ;
    grid-template-columns: 54px ;
    grid-template-rows: 48px 29px 35px auto ;
    grid-auto-rows: min-content ;
    grid-template-areas: 
      "Home" 
      "GuildsAd"
      "Discovery"
      "Servers"
    ;
    height: calc(100vw - 120px);
    margin: 0 0 120px 0 ;
    padding: 10px 0 2px 0 ;
    align-items: center;
    
    &::-webkit-scrollbar { display: none }
    
    // Server container seperator
    &::before { top: 120px }
    // &::after, &::before {
    &::before {
      content: "" ;
      position: absolute ;
      bottom: 0px ;
      width: 32px ;
      height: 2px ;
      margin: 0 11px ;
      background-color: var(--interactive-normal);
    }

    .guildSeparator_d0c57e {
      position: absolute ;
      width: 32px ;
      height: 2px ;
      margin: 0 11px ;
      background-color: var(--interactive-normal);
    }
  }
  
  // Unread mentions indicators
  .unreadMentionsIndicatorTop_fea3ef,
  .unreadMentionsIndicatorBottom_fea3ef { display: none }
}

// Margin on Mac
.platform-osx .wrapper_fea3ef {
  margin: 0 ;
}

// Base container <--

// - Static options -->
// - Home / GuildsAd / Discovery / GuildsError
.guilds_a4d4d9 .scroller_fea3ef {
  
  // general item container
  .listItem_c96c45 { 
    width: 54px ; 
    margin: 0 ; 
  }
  
  // Home / BDPSL
  @mixin Home_Icon () {
    grid-area: Home ;
    
    // Pill
    .pill_f9623d { display: none }
    
    // Notification badge
    .lowerBadge_c5f96a {
      left: 4px ;
      bottom: 4px ;
      @include shadow_effect("drop_2");
    }
    
    // SVG 1 conatiner
    .wrapper_c5f96a { 
      transform: rotate(90deg);
    }
    
    // Cut out for number badge
    foreignObject { mask: none }

    // SVG 2 conatiner
    .childWrapper_f90abb {
      background: none ;
      color: var(--text-normal);
      opacity: .75 ;
    }
    
    // Hover
    .wrapper_f90abb.selected_f90abb .childWrapper_f90abb { opacity: .9 }
    
    // SVG 2
    .childWrapper_f90abb > svg { 
      height: 26px ;
      margin: 4px 4px 0 0 ;
      overflow: visible ;
      
      @include shadow_effect("drop_1");

     // Icon
     path {
       d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z")
     }
   }
  }
  
  // GuildsAd / Discovery
  @mixin Icons () {
    display: flex ;
    width: 54px ;
    
    .pill_db6521 { display: none }
    
    // SVG 1 container, SVG 1
    .wrapper_c5f96a, .svg_c5f96a {
      height: 20px ;
      width: 20px ;
    }
    
    // SVG 2 container
    .circleIconButton_db6521 {
      transform: rotate(90deg);
      background: none ;
      color: var(--text-normal);
      opacity: .75 ;
      
      &.selected_db6521 { opacity: 1 }
      
      @include shadow_effect("drop_1");
      
      // SVG 2 
      .circleIcon_db6521 {
        height: 100% ;
        width: 100% ;
      }
    }
  }
  
  // GuildsAd
  @mixin GuildsAdd_Icon () {
    @include Icons();
    
    grid-area: GuildsAd ;
    margin: 6px 0 3px 0;
  }
  
  // Discovery
  @mixin Discovery_Icon () {
    @include Icons();
    
    grid-area: Discovery ;
    margin: 0 ;
    margin: 3px 0 10px 0;
    
    .circleIconButton_db6521 .circleIcon_db6521 {
      height: 90% ;
      width: 90% ;
    }
  }
  
  //  GuildsError
  @mixin GuildsError_Icon () {
    grid-area: unset ;
    position: absolute ;
    top: 0 ;
    left: 5px ;
    height: 20px ;
    width: 20px ;
    
    .anchor_af404b {
      transform: rotate(90deg);
      background: none ;
      border: none ;
      color: var(--red);
      height: 20px ;
      width: 20px ;
    } 
  }

  // Favorites
  .listItem_c96c45:has(.favoriteIcon_dcc7a4) {

    &::before {
      content: "" ;
      top: 0px ;
      position: absolute ; 
      height: 2px ;
      width: 32px ;
      margin: 0 11px ;
      background-color: var(--interactive-normal);
    }

    .pill__66ac8 { display: none }

    div:not([class]) {
      .wrapper_c5f96a {
        transform: rotate(90deg);
        @include shadow_effect("server_1");
      }

        // Unreads badge
      .lowerBadge_c5f96a {
        left: 4px ;
        bottom: 4px ;
      }

      .childWrapper_f90abb {
        background: none ;
        color: var(--text-normal) !important ;
        opacity: .75 ;

        &:hover {
          opacity: 1 ;
        }
      }
    }
  }
  // Remove Seperator when Dms are present
  [style="opacity: 1; height: 56px; transform: scale(1);"] + .listItem_c96c45:has(.favoriteIcon_dcc7a4)::before {
    display: none ;
  }
  
  // Home
  .tutorialContainer_f9623d { @include Home_Icon() }

  // Every div after servers
  > [aria-label]:not([class]) + div {

    @include GuildsAdd_Icon();

    + .listItem_c96c45 {
      @include Discovery_Icon();

      + .listItem_c96c45 {
        @include GuildsError_Icon()
      }
    }
  }
}
// Static options <--

// -> Dynamic
// Server/Dm icon
@mixin ServerIcon() {
  width: 54px ; 
  height: 48px !important ;
  margin: 12px 0 ;
  
  // bc drag and drop (server, dms)
  .pill_a5ad63 + div, .listItemWrapper_dfb2f8 {
    transform: rotate(90deg);
  }
  
  // Placeholder when dragging
  .placeholderMask_f734d8 {
    height: 40px ;
    width: 40px ;
    margin: 4px ; 
    
    .dragInner_f734d8 {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  
  .wrapper_c5f96a {

    @include shadow_effect("server_1");
    
    // Streaming badge (maybe more)
    // .upperBadge-1V6Iyi { display: none }
  }
  
  // Unreads badge
  .lowerBadge_c5f96a {
    left: 4px ;
    bottom: 4px ;
  }

  // SVG
  .svg_c5f96a {
    height: 40px ; 
    width: 40px ;
    margin: 4px ;

    mask, g { display: none }

    foreignObject {
      mask: none ;
    }

    &:hover .icon_f90abb { border-radius: 25% }
  }

  // Image
  .icon_f90abb {
    border-radius: 50% ;
    transition: .2s ;
  }
  
  // Text
  .acronym_f90abb {
    background: none ;
    
    @include shadow_effect("server_1");
  }
  
  // Pill
  .item_c4cd66 {
    display: none ;
    margin-left: -5px ;
    
    // Server selected
    &[style="opacity: 1; height: 40px; transform: none;"] {
      display: block ;
      height: 35px !important ;
      border-radius: 0 8px 8px 0 ;
    }
    
    // Unread indicator
    &[style="opacity: 1; height: 8px; transform: none;"] { display: block }
  }
}

// Server container
.scroller_fea3ef > [aria-label]:not([class]) {
  grid-area: Servers ;
  width: 54px ;
  max-height: 100% ;
  overflow-y: scroll ;

  &::-webkit-scrollbar { display: none }

  // Server items
  > .listItem_c96c45 { @include ServerIcon() }
}

// Server folder / Pending applications folder
.guilds_a4d4d9 .wrapper_bc7085 {
  width: 54px ;
  margin: 12px 0 ;

  // Background when open
  .expandedFolderBackground_bc7085 { display: none }

  // Folder Icon / preview 
  > .listItem_c96c45 {
    
    .pill_a5ad63 { 
      display: none ;
      
      // Icon container (for drag)
      + div { transform: rotate(90deg) }
    }

    // Icon container

    // Placeholder when dragging
    .placeholderMask_f734d8 {
      height: 40px ;
      width: 40px ;
      margin: 4px ;

      .dragInner_f734d8 {
        background: rgba(0, 0, 0, 0.5);
      }
    }
    
    // Unreads badge
    .lowerBadge_c5f96a {
      left: 4px ;
      bottom: 4px ;
    }

    // container
    .wrapper_c5f96a {
      @include shadow_effect("drop_1");
    }

    // SVG 1
    .svg_c5f96a {
      mask, g { display: none }

      foreignObject {
        mask: none ;
      }
    }

    .folder_bc7085 { background: none }

    // Icon container 2
    .folderIconWrapper_bc7085 {
      position: absolute ;
      height: 40px ; 
      width: 40px ;
      margin: 4px ;

      // Icon container open and closed
      .closedFolderIconWrapper_bc7085,
      .expandedFolderIconWrapper_bc7085 {
        height: 40px ; 
        width: 40px ;
        padding: 0 ;
      }

      // Folder Icon when open
      svg {
        height: 30px ; 
        width: 30px ;
      }
    }
  }
  
  // Server container in folder
  ul {
    height: auto !important;
    margin-bottom: 24px ;
    
    // Server items in open folders
    .listItem_c96c45 { @include ServerIcon() }
    
    &::after {
      content: "" ;
      position: absolute ;
      bottom: -12px ;
      width: 32px ;
      height: 2px ;
      margin: 0 11px ;
      background-color: var(--interactive-normal);
    }
  }
}

// Pending applications container
.container_aa1bff {
  position: relative ;

  // Seperator to the left
  &::before {
    content: "" ;
    top: 2px ;
    position: absolute ; 
    height: 2px ;
    width: 32px ;
    margin: 0 11px ;
    background-color: var(--interactive-normal);
  }

  // Removing seperator from server item in applications folder
  .wrapper_bc7085 ul {
    margin-bottom: 12px ;

    &::after { display: none }
  }

  .pendingIcon_ae3d49 {
    opacity: .75 ;
  }

  .expandedFolderIconWrapper_bc7085:hover .pendingIcon_ae3d49 {
    opacity: 1 ;
  }
}

// DMs
.guilds_a4d4d9 .scroller_fea3ef > [style="opacity: 1; height: 56px; transform: scale(1);"] {
  @include ServerIcon();

  // Seperator to the left
  &::before {
    content: "" ;
    top: -12px ;
    position: absolute ; 
    height: 2px ;
    width: 32px ;
    margin: 0 11px ;
    background-color: var(--interactive-normal);
  }

  // remove Seperator on subsequent Dms
  ~ [style="opacity: 1; height: 56px; transform: scale(1);"] {
    margin: 0 0 12px 0 ;

    &::before { content: none }
  }

  // remove Seperator on Pending applications
  // ~ .container_aa1bff::before { content: none } maybe keep it?

  .pill_f36a5a { display: none }
}
// <- Dynamic
// Serverbar <--

// Additions -->
// Channels list spacer for Server banner image
.content_eed6a8 > div[style="height: 84px;"]:not([class]) { display: none }

// - Server options button
.sidebar_a4d4d9 .container_fd6364 {
  position: fixed;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  
  &:hover { background-color: rgba(0, 0, 0, 0.2) }
  
  // Options popout open
  &.selected_fd6364 { background-color: rgba(0, 0, 0, 0.2) }
  
  // container
  .header_fd6364 {
    display: flex ;
    padding: 0 5px ;
    height: 54px ;
    align-items: center ;
    justify-content: center ;
  }

  // Server badge
  .guildIconV2Container_ed9816 { display: none }
  
  // Server name container
  .headerContent_fd6364 {
    display: contents ;
  }
  
  // Server name
  .name_fd6364 {
    display: block ;
    margin: 0 ;
    text-align: center ;
    line-height: 16px ;
    white-space: normal ;
    max-height: 32px ;
    font-weight: 400 ;
  
    @include shadow_effect("text_1");
  }
  
  // Server icon (partnerd,..)
  .guildIconContainer_ed9816 { display: none }
  
  // Chevron icon
  .button_a79c58 { display: none }
  
  // Server banner image
  .animatedContainer_fd6364 { display: none }
  
  + .animatedBannerHoverLayer_fd6364 { display: none }
}

// - Search button (home)
.privateChannels_f0963d .searchBar_f0963d {
  position: fixed;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  padding: 0 ;
  z-index: 0 ;
  
  &:hover { background-color: rgba(0, 0, 0, 0.2) }
  
  // Text
  .searchBarComponent_f0963d {
    height: 54px ;
    background: transparent ;
    color: var(--text-normal);
    text-align: center ;
    line-height: 1.3 ;
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: normal ;
    
    @include shadow_effect("text_1");
  }
}

// - Discovery Text (button)
.sidebar_a4d4d9 .discoverHeader_b992d4 {
  position: fixed ;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  margin: 0 ;
  text-align: center ;
  line-height: 54px ;
  font-weight: 400 ;
  font-size: 16px ;
  color: var(--text-normal);
  overflow: hidden ;
  text-overflow: ellipsis ;
  white-space: nowrap ;

  @include shadow_effect("text_1");
  
  & + .categoryItem_c72b37 {
     margin-top: 64px ;
  }
}

// - Server icon tooltip
.layerContainer_cd0de5 {

  // Activitie cards in popout
  .container_be6a5c .cards_be6a5c {
    display: none ;
  }

  // fix pointer stuck when cards are present.
  > .layer_cd0de5:has(.cards_be6a5c, .streamPreview_cfbfb9, .flowerStarContainer_ff7d90) {
    margin-top: 3px ; // to make them same hight as regular tooltips
    pointer-events: none !important ;
  }
}

.tooltipContent_b6c360 .guildNameText_a6ae3c {
  // word-wrap: normal ; ?
  white-space: nowrap ;
}
// Additions <--
