// * server v0.1.9.1
// Channels, Panels / Members / Server discovery
@use 'mixins' as * ;

// -> Text/Voice channels
.container__590e2 {
  top: 48px ;
  margin-bottom: 48px ;

  // Special channels seperator (only show last one)
  .sectionDivider__68d2a:has(~ .sectionDivider__68d2a) { display: none }

  // -> Current server event, Feature promotion
  .channelNotice__8f7b2, .channelNotice-7cg_jN {
    
    // Event name
    .colorHeaderPrimary-jN_yGr {
      color: var(--header-secondary);
    }
    
    // .joinButton_e760b6 {
    .button_afdfd9 {
      @include Btn("background");
    }
  }
  // <- Current server event, Feature promotion
  
  // -> Scroller container
  .scroller_f0f183 {
    // Fade out effect
    @include scrollerFadeOut();

    &::-webkit-scrollbar { display: none }
  }
  // <- Scroller container
  
  // -> Server boost progress bar
  .container__4f639 {
    position: relative ;
    height: calc(24px * var(--show-serverboost-stats));
    margin: -8px 4px 8px 4px ;
    padding: 0 ;
    overflow: hidden ;

    display: var(--serverBoostStatus);

    &::after { display: none }
    
    // Text container
    .textArea_f2029c {
      margin: 0 12px ;
      
      // Nitro flower icon thing
      .flowerStarContainer_d8d14b { display: none }
      
      // Text "Goal:LVL"
      .colorInteractiveActive-30E9n8 {
        color: var(--header-secondary);
      }
    }
    
    // Container progress bar
    .progressBarContainer__9b571 {
      position: absolute ;
      top: 0px ;
      width: 100% ;
      margin: 0 ;
      background: none ;
      visibility: hidden ;
    
      // Progress bar
      .progressBar_db0972 {
        height: 24px ;
        opacity: .15 ;
        border-top-right-radius: 5px ;
        border-bottom-right-radius: 5px ;
      }
    
      // End of bar icon 
      .tadaIcon__3b97b { display: none }
    }
    
    &:hover .progressBarContainer__9b571 {
      visibility: visible ;
    }
    
    // Bottom spacer
    .divider__40683 { display: none }
    
    // Channel category header if adjacent
    + .containerDefault__23a29 {
      padding-top: 8px ;
    }
  }
  // <- Server boost progress bar
  
  // Category names
  .containerDefault__23a29 .name__590d6 {
    font-weight: 700 ;
  }
  
  // Text and Voice Channels
  .wrapper__7bcde {

    // Mentions badge
    @include Mentions_icon(".numberBadge__50328");

    // Icon ("#", speaker, ..)
    .icon_eff5d4 {
      width: 15px ;
      height: 15px ;
      margin: 2.5px 0 ;
      color: var(--channels-default);
      opacity: .8 ;
    }
    
    // Channel name
    .name__8d1ec { 
      color: var(--channels-default);
    }
    
    // -> Channel options and infos
    // Settings and invite buttons
    .iconItem__8e3b8 { display: none }

    // Channel badges (e.g. "NEW", ..)
    .textBadge__45d79 {
      background: none !important;
      color: var(--interactive-hover)
    }
    
    // Connection limit (voice)
    .wrapper__5848b {
      
      span { background: transparent }
      
      .total_c01838::after {
        content: "|" ;
        top: 0px ;
        left: -5px ;
        border: none ;
      }
    }
    
    // container for hover
    .link__95dc0 {
      background: transparent;
      
      &:hover {
        .name__8d1ec { color: var(--interactive-hover) }
        .iconItem__8e3b8 { display: block }
      }
    }
    // <- Channel options and infos
    
    // Channel selected / connected
    &.modeSelected__487d6, &.modeConnected__1c02e {

      // Channel name
      .name__8d1ec { 
        color: var(--interactive-active) !important; 
      }
      // Channel icon (left)
      .icon_eff5d4 { 
        color: var(--interactive-active) !important;
      }
    }
    
    // Channel muted
    &.modeMuted__0aeea {
      // Channel icon (left)
      .icon_eff5d4 { 
        color: var(--interactive-muted);
      }
    }
    
    // Channel unread
    &.modeUnread_f74c03 {
      // pill
      .unread__48cf4 { 
        background-color: var(--interactive-hover);
      }
    }

    // Channel no permission
    &.modeLocked_fcc71a {

      .link__95dc0 {
        cursor: not-allowed ;
      }

      .name__8d1ec {
        color: var(--interactive-muted);
      }
    }
  }

  // Channel indicator bar (floating)
  .container__9f9f6 .bar__004d9 {
    background: var(--background-secondary-alt);

    @include shadow_effect("box_3");

    &:hover {
      background: var(--background-tertiary);
    }

    // Unread mentions bar
    &.mentionsBar__4b47a .barText__1a44f {
      color: var(--red-secondary) !important;
    }
  }
  
  // Threads indicator spine thing
  .spine__88e6d {
    color: var(--channels-default);
    opacity: .5 ;
  }
  
  // User in Voice channel
  .voiceUser__0470a {

    // "live" indicator
    .live_b195a5 { 
      background: none !important ;
      color: var(--red);
    }
  }
  
  // New in-server feature notification
  .wrapper_f49038 .container_cf0d66 {
    background: var(--background-tertiary);
    
    .button_afdfd9 {
      @include Btn("background");
    }
  }

  // "Hide/Show all voice Channels
  .voiceChannelsButton__46c37:hover {
    background-color: var(--background-modifier-hover);
    border-color: transparent ;
  }
}
// <- Text/Voice channels

// -> Members list 
.members__9f47b {
  @include scrollerFadeOut();

  &::-webkit-scrollbar { display: none }
  
  // Role header
  .membersGroup__85843 { 
    margin-bottom: 4px;
    font-weight: 600 ;
   }
  
  // Member
  .member_aa4760 {
    margin: 0 0 0 11px ;
    background: none ;
    
    // Inner container 
    .layout_bb8e67 {
      border-radius: 0 ;
      background: none ;
      border-right: 3px solid transparent ;
      
      &:hover { 
        border-color: var(--interactive-hover);
        background-color: var(--background-modifier-hover);
      }
    }
    
    // User popout open
    &.selected__9800b .layout_bb8e67 {
       border-right: 3px solid var(--interactive-hover);
    }
    
    // Offline member
    &.offline_c1fd80:not(:hover) .avatar__991e2{
      filter: grayscale(100%);
      border-radius: 50% ;
    }
    
    // Nitro icon 
    .name__16feb + div { pointer-events: none }
    
    .ownerIcon__827bd {
      color: var(--header-secondary);
    }
  }

  // Preload dummys
  .placeholder_dad2ff, .memberGroupsPlaceholder_d0ae46 {
    animation: none ;
  }
  .placeholderAvatar__21e48, .placeholderUsername__7fd2c, .memberGroupsPlaceholder_d0ae46 {
    background: var(--text-normal);
    opacity: 0.1;
  }
  
  // Empty members list (Threads)
  > div {
    background: none ;
  }
}
// <- Members list 

// -> Discovery
.discoverHeader_fae7fd {
  
  // Sidebar
  ~ .categoryItem_b1be5c .itemInner__9e755 {
    border-radius: 0 ;
    padding: 0 4px ;
    margin: 5px 4px ;
  }
  
  ~ .categoryItem_b1be5c {
    
    .itemInner__9e755 {
      border-radius: 0 ;
      padding: 0 4px ;
      margin: 5px 4px ;
    }
    
    &:hover .itemInner__9e755 { border-left: 3px solid var(--interactive-hover) }
    
    &.selected__9800b .itemInner__9e755 {
      background-color: transparent ;
      border-left: 3px solid var(--interactive-hover);
    }
  }
}
// <- Discovery

// -> Server boost screen
.root__6d24f.enterDone_a21e0b {
  margin-top: 22px ;

  .scroller__439a2 { 
    @include scrollbar();
    @include scrollerFadeOut();
  }

  // weird wave design things
  .bodyWave__62812, .headerWave_e4fdee { display: none }
}
// <- Server boost screen

// -> Home channel/ Server guide
.homeContainer_a4aa0a, .emptyHomeContainer__4f9b7 {

  // -> Header
  .header__35687 {

    .headerIcon__8b099 {
      border: none ;
      border-radius: 7.5% ;

      &:not([class*=".gif"]) { @include shadow_effect("drop_1") }
    }

    // Invite Btn
    .inviteButton_eb675f {
      background: var(--background-modifier-hover);
      transition: none ;

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
  }
  // <- Header

  // -> Body
  // Greetings text
  .welcomeMessageContainer__3d907 {

    .userCardOuter__50b2f, .userCardInner_d6aa46 {
      background: none ;
    }
  }

  // "Get Started", "Resources" section items
  .action_c957d9, .row__70f4c {
    background: var(--background-modifier-hover);
    transition: none ;

    &:hover {
      background: var(--background-modifier-selected);
    }
  }

  // Sidebar (server info)
  .sidebarCardWrapper__2c840 {
    background: var(--background-modifier-hover);
  }
  // <- Body
}

// OLD
// .homeContainer__6bec1 {
 
//   // Info Top
//   .widgets__4a8b8 {

//     // inner container
//     .container__92dc8 {
//       background: none ;
//     }

//     // Widgets
//     .container_acafc1, .emptyStateContainer__3c229 {
//       background: none ;
//     }

//     // Channels
//     .container__16581 {
//       background: var(--background-modifier-hover);
//       border: none ;

//       &:hover {
//         background: var(--background-modifier-selected);
//       }
//     }
//   }

//   // Top message container
//   .container__99b36 {
//     background: none ;
//   }

//   .card_d4f6c7 {
//     background: var(--background-modifier-hover);
//     border: none ;

//     &:hover {
//       background: var(--background-modifier-selected);
//     }

//     // load Dummys 
//     .wrapper__5c5cd {
//       background: none ;
//     }
//   }
// }
// <- Home channel/ Server guide

// -> Special Channels
// Header
.container__11d72 {

  // return to last channel btn (Chan&Rols / Members)
  .returnButton__32059, .returnButton_c34965 {
    border: none;
    background: none;

    // Btn text
    .returnButtonText__32d61 {
      color: var(--interactive-hover);
    }

    // Icon within text
    .iconContainer__3f9b0 { display: none }

    // Text after icon
    .overflow__87fe8 {
      margin-left: 2px ;
    }

    &:hover {
      background: none var(--background-modifier-selected);

      .returnButtonText__32d61 {
        color: var(--interactive-active);
      }
    }
  }
}
// <- Special Channels

// -> Channel & Roles

// Content container
.container__10dc7 {

  // empty page / loading placeholder
  .emptyPage__3e15d {
    background: none ;
  }

  // Navbar
  .tabBar_d4764b {

    .tabBarItem_cd23b7 {
      border: none !important;
    }
  }

  // -> Customize
  // Infos & Questions
  .prompt__1b100 {
    background: none ;

    .optionButtonWrapper__4072c {
      background: var(--background-modifier-hover);
      border: none ;

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
  }

  // "MY Profile"
  .profileCard_bd55ee {
    background: var(--background-modifier-hover);

    .username_de9680 {
      color: var(--header-primary) !important;
    }

    div {
      color: var(--header-secondary) !important;
    }
  }
  // <- Customize

  // -> Browse channels
  // Searchbar
  .search__4a09e {
    background: var(--background-modifier-selected);
    border-radius: 2px ;
  }

  // create channel btn
  .createButton__5c763 {
    border-radius: 2px ;

    @include Btn(var(--background-modifier-selected));
  }
  
  // Channel category
  .categoryRow_df4323 {
    .categoryText__3348f {
      color: var(--header-secondary) !important;
    }
  }

  // channel item
  .channelRow__96673 {
    background: none ;

    &:not(.disabled__583e7):hover {
      background: var(--background-modifier-hover);
    }

    .channelText_de4e73 {
      color: var(--text-normal) !important;
    }

    .viewChannelButton_ee7ff6 {
      display: block;

      @include Btn();
    }
  }

  // Checkboxes
  .checkbox_c7f690 {
    background: none !important;
    border-color: var(--interactive-normal) !important;
  }
  // <- Browse channels
}
// <- Channel & Roles

// -> Server welcome screen thing
.content__4bf10 .main__58b77 {
  // Background image
  .artwork__04b4e { display: none }

  // -> Intro
  .coverContainer_e99487 {
    background: none ;
  }

  .centerContent_d55275 {
    background: var(--background-tertiary);

    .button_afdfd9 {
      @include Btn("background");
    }
  }
  // <- Intro

  // -> Main content
  .promptContent__63c03 {

    .optionButton__6812e {
      border: none ;
      background: var(--background-modifier-accent);

      &:hover {
        background: var(--background-modifier-selected);
      }
    }
  }
  // <- Main content
}
// <- Server welcome screen thing

// -> Member Safety Page
.page__0b66e {

  // scroller inner content container
  .container_df3aa0 {
    padding: 0 ;

    // Container
    .mainTableContainer__5ffe0 {
      box-shadow: none ;
    }
  }

  // -> Header
  .searchBar__63890 {
    background: var(--background-modifier-selected);
    border-bottom: 1px solid transparent ;

    &:focus-within {
      background: none ;
      border-bottom-color: var(--interactive-normal);
      border-radius: 0 ;
    }
  }
  // <- Header

  // -> Table
  .table_a843c4 {
    padding: 0 ;
    border: none ;
  }

  .tableHeaderRow__89a36::after {
    box-shadow: none ;
    background: var(--background-modifier-accent);
  }

  // notice bar for when new member joined 
  .newMembersNotice__282a0 {
    top: -4px ;
    background: var(--background-secondary-alt);
    cursor: auto ;

    @include shadow_effect("drop_2");

    td {
      &:first-child {
        border-top-left-radius: 8px ;
        border-bottom-left-radius: 8px ;
      }
      &:last-child {
        border-top-right-radius: 8px ;
        border-bottom-right-radius: 8px ;
      }
    }
  }

  td, th {
    width: auto ; //idk
  }

  // Member item
  .memberRowContainer_f0d0e5 {
    // weird effect on row when leaving modal, idk
    background: none !important;
    transform: none !important;
    opacity: 1 !important;

    // Row cells (idk, thats just how DC does it.)
    td {
      border-radius: 0 ;
      background: none ;
      padding: 8px 4px ;

      &::after {
        display: none ;
      }
    }
    
    &:hover {

      // all inner items (table data cell)
      td {
        background: var(--background-modifier-hover);
      }

      // action buttons
      .actionCell__56a28 {
        color: var(--interactive-normal);
      }
    }

    .memberNameContainer__43e33 {
      // grid-template-columns: 32px minmax(100px, 150px);
    }

    // -> Roles cell
    // container cell
    td:has(.roleContainer__7cd51) {
      // width: 10% !important ;
    }

    .roleName_d19d33 {
      max-width: 140px ;
    }

    // roles btns
    .otherRoles_a19529 {
      opacity: 1;
      background: var(--background-modifier-hover);
    }

    // role add btn
    .addRoleContainer__23777 {

      // icon
      .addRoleIcon__6eb16 {
        color: var(--header-secondary);
      }

      &:hover {
        background: var(--background-modifier-selected);

        .addRoleIcon__6eb16 {
          color: var(--header-primary);
        }
      }
    }
    // <- Roles cell

    // action btns
    .button_fb10b9 {
      background: none ;

      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
  // <- Table
}
// <- Member Safety Page