// * user v0.3.8
// User popout / (Modal)
@use 'mixins' as * ;

// -> User Popout
.layer_cd0de5[style^="position: absolute"] .userPopoutOuter_c69a7b {

  // -> Misc
  padding: 0 !important;
  border-radius: 12px ;

  @include shadow_effect("box_2");

  --custom-user-profile-width-bite-size: 340px ;

  --bg_items: var(--background-modifier-hover);
  --bg_itemsHover: var(--background-modifier-selected);
  // mixing popout bg + item bg (modifier has .16 alpha)
  --bg_badgesFloating: color-mix(in hsl,
    hsl(220 calc(var(--saturation-factor, 1) * 8.1%) 7.3% / 1) 84%,
    hsl(from var(--background-modifier-hover) h s l / 1 ) 16%
  );

  &.userProfileOuterThemed_c69a7b {
    --bg_items: hsl(from var(--profile-body-background-hover) h s l / .075 );
    // with color theme
    // --bg_items: hsl(from var(--profile-gradient-button-color) h s l / .25 );

    --bg_itemsHover: hsl(from var(--profile-body-background-hover) h s l / .15 );

    // getting the base gradient 
    --bg_badgesFloating_gradient: color-mix(in srgb,
      rgb(from var(--profile-gradient-primary-color) r g b) 74%,
      rgb(from var(--profile-gradient-secondary-color) r g b)
    );

    // mix with overlay at gradient
    --bg_badgesFloating_overlay: color-mix(in srgb,
      var(--profile-gradient-overlay-color) 74%,
      var(--bg_badgesFloating_gradient)
    );

    // mix with items background
    --bg_badgesFloating: color-mix(in srgb,
      var(--bg_badgesFloating_overlay) 92.5%,
      rgb(from var(--profile-body-background-hover) r g b / 1 )
    )
  }

  .userProfileInner_c69a7b {
    border-radius: 0 ;
    overflow: hidden scroll ;

    &::-webkit-scrollbar { display: none }
  }
  // <- Misc

  // -> Animations effects
  ~ .profileEffects_f867f9 {
    opacity: .6 ;
    height: calc(100% * var(--show-userProfile-effects));
    width: calc(100% * var(--show-userProfile-effects));
    z-index: 11 ;

    &.hovered_f867f9 {
      opacity: .25 ;
    }
  }
  // <- Animations

  // top row (14) + [Badges:144] + (14) + [ActBtn:(28 + ((1-n)*3)n] + (3) + [NoteBtn:(28 + ((1-n)*3)n] + (14)

  // -> User actions
  .wrapper_cb78f1 {
    position: relative ;
    inset: unset ;
    width: max-content ;
    height: 28px ;
    margin: 2px 14px 2px auto ;
    gap: 3px ;
    order: 2 ;
    z-index: 2 ; // to be in line with notes btn, when profile effect
    cursor: pointer;

    // At own profile 
    &:empty { display: flex }

    // Btns
    .button_dd4f85 {
      background: var(--bg_items);
      width: 28px ;
      height: 28px ;
      padding: 0 ;
    }

    svg { @include shadow_effect("drop_2") }

    path {
      fill: var(--header-primary);
    }
  }

  // With Notes btn
  &:has(.nicknameIcons_c32acf div:nth-child(1)) .wrapper_cb78f1 {
    margin-right: #{3+28+14}px ;
  }

  // When there is a second nickname icon e.g.: profile loading error icon
  &:has(.nicknameIcons_c32acf div:nth-child(2)) .wrapper_cb78f1 {
    margin-right: #{3+28+3+28+14}px ;
  }
  // <- User actions

  // -> Header
    .header_b8cc6d {
      min-height: unset ;
      position: relative ; 
      height: 119px ;
      order: 1 ;
    }

    // -> Banner (Default aspect: 20:7) (340:119)
    .mask_d5fdb1 {
      // Mask for cutout / seperator line below banner / Gif indicator
      mask, .banner_d5fdb1:before, .gifTag_d5fdb1 { display: none }
    }
    // <- Banner

    // -> Avatar / Status icon
    $ProfileTop: 4 + 24 + 19 + 8 + 32 + 8 - 4 ;
    $ProfileLeft: -64 + 2 ;

    // Main container
    .avatar_f94206 {
      top: 20px ;
      left: 20px ;
      z-index: 10 ; // for status icon

      // -> Image / Status icon
      .svg_c51b4e {
        top: $ProfileTop * 1px ;
        left: $ProfileLeft * 1px ;
        contain: none ;
        overflow: visible ;
        pointer-events: none ;

        // -> Image
        foreignObject {
          position: absolute ;
          x: $ProfileLeft * -1 ;
          y: $ProfileTop * -1 ;
          mask: none ;
          overflow: visible ;
          pointer-events: auto ;
        }

        // hover overlay
        .avatarStack_c51b4e::after {
          border-radius: 7.5% ;
          opacity: 0 ;
        }

        .avatarStack_c51b4e:hover::after {
          opacity: .4 ;
        }
        
        // Picture
        .avatar_c51b4e {
          border-radius: 7.5% ;

          &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
        }
        // <- Image

        // -> Status
        // Status icon shadow
        [style*="opacity"] { display: none }

        // online on mobile icon (regular)
        rect[mask="url(#svg-mask-status-online-mobile)"] {
          height: 18px ;
          width: 12px ;
          x: 60 + 2 ;
          y: 52 + 7 ;
        }
        // <- Status
      }
      // <- Image / Status icon

      // -> Avatar decorations
      .avatarDecoration_c51b4e {

        // cutout for status icon
        foreignObject {
          mask: none ;
        }
      }
      // <- Avatar decorations
    }
    // <- Avatar / status icon

    // -> Status text
    .header_b8cc6d {
      // container
      > div:not([class]), .visibleContainer_d0a252 {
        display: contents ;
      }
    }

    // Status outer container
    .statusBubbleOuter_d0a252 {
      position: absolute ;
      display: flex ;
      inset: 62px 20px 61px 120px ;
      border: none !important;
      min-width: unset ;
      max-width: unset ;
      background: none ;
      align-items: center ;
      justify-content: center ;
      box-shadow: none ;

      pointer-events: none ; // for full status with no pointer event

      &::after, &::before { display: none }
    }

    // Status inner container
    .statusBubble_d0a252 {
      padding: 5px 10px ;
      background: rgb(0 0 0 / .65 );

      @include shadow_effect("box_2");

      &.statusBubbleEmojiOnlyPadding_d0a252 {
        padding: 8px 10px ;
      }

      // for full status with no pointer event
      .content_d0a252 {
        -webkit-line-clamp: 3 ;
        max-height: 100px !important;
      }

      .statusText_d0a252 {
        color: var(--redesign-button-overlay-alpha-text);
      }
    }
    
    // Emoji as status only
    .statusEmojiOnly_d0a252 { @include restrictions(26px) }

    // Edit status for own profile btns
    .popover_bba79b { display: none }
    // <- Status text
    
    // -> "Beta" badge (maybe more, idk)
    .textBadge_df8943 {
      right: 0 ;
      top: 119px - 16px ;
      margin: 0 ;
      border-radius: 4px 0 0 0 ;
    }
    // <- "Beta" badge (maybe more, idk)

  // <- Header

  // -> Body
    $Padding_body: 18px ; // 16

    .body_b8cc6d {
      padding: 0px $Padding_body !important ;
      overflow: visible !important ;
      z-index: 2 ;
      order: 3 ;
      gap: 16px ;
      flex: 1 0 auto ;

      &::-webkit-scrollbar { display: none }
    }

    // -> User Main info (Name, pronouns, badges, ...)
    .container_c32acf {
      display: flex ;
      flex-direction: column ;
      gap: 8px ;
    }

      // -> Display / Nickname
      // When popout has online stauts icon
      :has(rect.pointerEvents_c51b4e) .usernameRow_c32acf .clickableUsername_c32acf {
        margin-left: 42px - $Padding_body ;
      }

      .nickname_c32acf {
        font-size: 19px ;
        line-height: 24px ;
        max-width: 308px - 26px ;
        // white-space: nowrap ;
        text-overflow: ellipsis ;
      }
      // <- Display / Nickname

      // -> App tag
      .botTag_a9e77f {
        position: absolute ;
        top: - 8 - 32 - 8 - 119 * 1px ;
        left: 170px ;
        padding: 3px 8px ;
        transform: translateX(-50%);
        border-radius: 0 0 4px 4px ;
        background: var(--bg-surface-overlay);

        @include shadow_effect("box_3");

        // icon
        path {
          fill: var(--text-normal) ;
        }
      }
      // <- App tag

      // -> Notes btn / loading error icon
      // container
      .nicknameIcons_c32acf {
        position: absolute ;
        top: -8px - 32px ;
        right: 14px ;
        height: 28px ;
        margin-top: 2px ;
        padding-top: 0 ;
        cursor: pointer;
        gap: 3px ;

        // Btns NOte, "Unable to load profile...", user in voice (wip)
        .button_dd4f85, .container_cac583, .vc-uvs-speaker {
          width: 28px ;
          height: 28px ;
          padding: 0 ;
          opacity: 1 ;
          background: var(--bg_items);
          color: var(--header-primary);
          align-items: center ;
          justify-content: center ;
          border-radius: var(--radius-round);    

          svg { @include shadow_effect("drop_2") }
        }
      }
      // <- Notes btn / loading error icon

      // -> Username / Pronouns
      .tags_c32acf {
        margin-top: 4px ;
        flex-direction: column ;
        align-items: flex-start ;
        row-gap: 6px ;

        .clickableUsername_c32acf {
          pointer-events: none ;
        }

        .userTagUsername_c32acf {
          font-size: 15px ;
        }

        .dotSpacer_c32acf { display: none }

        .pronounsText_c32acf  {
          color: var(--text-normal) !important;
        }
      }
      // <- Username / Pronouns

      // -> Badges
    .container_b64375 {
      // top row (14) + [Badges] + (14) + [ ActBtn: (28 + 4)n + NoteBtn: 28 ] + (14)

      position: absolute ;
      left: 14px ;
      margin: 0 ;
      padding: 0px ;
      background: none ;
      border: none ;
      gap: 0px ;
      border-radius: 4px ;
      overflow: hidden ;

      // for center
      // top: -24px ;
      // transform: translateY(-50%);

      // for bottom
      top: -13px ;
      transform: translateY(-100%);

      max-width: 144px ; // 6 badges (12 is max per container)

      // First badges container when there are two
      &:nth-last-of-type(2) {
        top: -22px ;
      }

      // Second badges container for badges n. 13-24
      + .container_b64375 {
        top: 0px ;

        > div {
          background: var(--bg_badgesFloating);
        }

        // Badges No. 19+ (i mean come on)
        > div:nth-child(n+7), ~ .container_b64375 {
          display: none ;
        }
      }

      // badges
      > div {
        padding: 1px 2px ;
        background: var(--bg_items);
        
        &:last-child {
          border-radius: 0 0 4px 0 ;
        }
      }

      // badges, when there are more than 6
      &:has(:nth-child(7)) > div {
        background: var(--bg_badgesFloating);

        // last of first row unless second is full
        &:not(:has(:nth-child(12))):nth-child(6) {
          border-radius: 0 0 4px 0 ;
        }

        // all badges in second row
        &:nth-child(n+7) {
          padding-top: 0px ;
        }
      }

      // Badge icons
      .anchor_af404b {
        @include shadow_effect("drop_2")
      }
    }
    // <- Badges
    
    // <- User Main info (Name, pronouns, badges, ...)

    // -> Bot action btns
    .buttons_ce21cc {
      .button_ce21cc {
        background: var(--bg_items);

        &:hover {
          background: var(--bg_itemsHover);
        }
      }
    }
    // <- Bot action btns

    // -> Activitys
    .activity_b8cc6d {
      padding: 8px 0 ;
      background: none ;

      // "playing" header
      .headerText_ae1fa2 {
        color: var(--header-secondary) !important ;
      }

      // Activity container
      .content_ae1fa2 {
        gap: 16px ;
      }

      // Activity interaction btn
      .actions_ae1fa2 button {
        background: var(--bg_items);
        transition: none ;
        color: var(--text-normal) ;

        &:hover {
          background: var(--bg_itemsHover);
        }
      }
    }
    // <- Activitys

    // -> Bot commands
    .list_b6fd3d {
      .button_dd4f85 {
        background: var(--bg_items);

        &:hover {
          background: var(--bg_itemsHover);
        }
      }
    }
    // <- Bot commands

    // -> Roles 
    .role_f9575e, // roles
    .root_e6f2d0 .button_edead5, // add roles btn
    .expandButton_e6f2d0, // view all roles btn
    .collapseButton_e6f2d0 // revert "view all"
    {
      background: var(--bg_items);
      border-color: transparent ;
    }
    // <- Roles
  
  // <- Body

  // -> Footer
  .footer_b8cc6d {
    padding: 0 ;
    margin-top: 8px ;
    border-top: 1px solid var(--profile-message-input-border-color);
    order: 4 ;
    
    .inner_c59af2 {
      background: none ;
    }

    // Edit own profile btn
    > .button_dd4f85 {
      background: none ;
      height: 100% ;
      padding: 0 ;
      color: var(--text-normal);

      &:hover {
        color: var(--header-primary);
      }
    }
  }
  // <- Footer
}

// User popout loading indicator 
.layer_cd0de5 .loadingPopout_a8c724 { display: none }
// <- User Popout


// -> Account Popout
.accountProfilePopoutWrapper_b2ca13 {
  left: 0 ;
}
// <- Account Popout


// -> Profile sidepanel in dms
.userPanelOuter_c69a7b {

  .userPanelInner_c69a7b {
    background: none ;
  }

  // -> Usert action btns
  .wrapper_cb78f1 {
    position: relative ;
    inset: 0px ;
    margin: 16px ;
    flex-direction: row-reverse ;

    .button_f9d37d {
      background: var(--background-modifier-accent);
    }
  }
  // <- Usert action btns

  // -> Banner
  .mask_d5fdb1 {
    border-radius: 8px ;
    transform: scale(.95);

    foreignObject {
      mask: none ;
    }
  }
  // <- Banner

  // -> Avatar
  .avatar_f94206 {
    position: relative ;
    inset: 0px ;
    margin: 10px auto 20px auto ;
    width: fit-content ;
    border-radius: 8px ;

    .wrapper_c51b4e {
      margin: 0 auto ;
    }

    // profile image hover
    .overlay_f94206:after {
      border-radius: 8px ;
    }

    .svg_c51b4e { 
      overflow: visible ;

      // status icon background
      [style*="opacity"] {  display: none }
    }

    // status
    .pointerEvents_c51b4e, .cursorDefault_c51b4e { display: none }

    foreignObject { 
      mask: none ;
      overflow: visible ;
    }

    // Img
    .avatar_c51b4e {
      border-radius: 8px ;

      &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
    }
  }
  // <- Avatar

  // -> Status text
  .visibleContainer_d0a252 {
    position: relative ;
    inset: unset ;

    .statusBubbleOuter_d0a252 {
      background: none ;
      border: none ;
      margin: 0 auto ;

      &::before, &::after { display: none }
    }

    .statusBubble_d0a252 {
      background: var(--background-modifier-accent);
    }
  }
  // <- Status text

  // -> Body
  .overlayBackground_c69a7b, .activity_e9e42f {
    background: var(--background-modifier-accent);
  }
  // <- Body

  .footer_be6801 {
    border: none ;
  }
}
// <- Profile sidepanel in dms
