// * user v0.3.2
// User popout / (Modal)
@use 'mixins' as * ;

// -> User Popout
.layer_cd0de5[style^="position: absolute"] .userPopoutOuter_c69a7b {

  // -> Misc
  padding: 0 !important;
  border-radius: 12px ;

  @include shadow_effect("box_2");

  --custom-user-profile-width-bite-size: 340px ;
  
  --bg_items: var(--background-modifier-hover);
  --bg_itemsHover: var(--background-modifier-selected);
  --bg_badgesFloating: rgb(from var(--background-tertiary) r g b / .8);

  &.userProfileOuterThemed_c69a7b {
    --bg_items: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-6));
    --bg_itemsHover: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5));
    --bg_badgesFloating: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4));
  }

  .userPopoutInner_c69a7b  {
    padding-bottom: 0 ;
    border-radius: 0 ;
  }
  // <- Misc

  // -> Animations effects
  ~ .profileEffects_f867f9 {
    opacity: .6 ;

    &.hovered_f867f9 {
      opacity: .25 ;
    }
  }
  // <- Animations

  // top row (14) + [Badges:144] + (14) + [ActBtn:(28 + ((1-n)*3)n] + (3) + [NoteBtn:(28 + ((1-n)*3)n] + (14)

  // -> User actions
  .wrapper_cb78f1 {
    position: relative ;
    inset: unset ;
    width: max-content ;
    height: 28px ;
    margin: 2px 14px 2px auto ;
    gap: 3px ;
    order: 2 ;
    z-index: 2 ; // to be in line with notes btn, when profile effect
    cursor: pointer;

    // At own profile 
    &:empty { display: flex }

    // Btns
    .button_dd4f85 {
      background: var(--bg_items);
      width: 28px ;
      height: 28px ;
      padding: 0 ;
    }

    svg { @include shadow_effect("drop_2") }

    path {
      fill: var(--header-primary);
    }
  }

  // With Notes btn
  &:has(.nicknameIcons_c32acf div:nth-child(1)) .wrapper_cb78f1 {
    margin-right: #{3+28+14}px ;
  }

  // When there is a second nickname icon e.g.: profile loading error icon
  &:has(.nicknameIcons_c32acf div:nth-child(2)) .wrapper_cb78f1 {
    margin-right: #{3+28+3+28+14}px ;
  }
  // <- User actions

  // -> Header
    .header_b07019 {
      min-height: unset ;
      position: relative ; 
      height: 119px ;
      order: 1 ;
    }

    // -> Banner (Default aspect: 20:7) (340:119)
    .mask_c3e427 {
      // Mask for cutout / seperator line below banner / Gif indicator
      mask, .banner_c3e427:before, .gifTag_c3e427 { display: none }
    }
    // <- Banner

    // -> Profile img / Status icon
    .avatar_f94206 {
      top: 20px ;
      left: 20px ;
      z-index: 10 ; // for status icon

      $ProfileTop: 4 + 24 + 19 + 8 + 32 + 8 - 4 ;
      $ProfileLeft: -64 + 2 ;

      // svg container
      .svg_c51b4e {
        top: $ProfileTop * 1px ;
        left: $ProfileLeft * 1px ;
        contain: none ;
        overflow: visible ;
        pointer-events: none ;

        // -> Status
        // Status icon shadow
        [style*="opacity"] { display: none }

        // online on mobile icon (regular)
        rect[mask="url(#svg-mask-status-online-mobile)"] {
          height: 18px ;
          width: 12px ;
          x: 60 + 2 ;
          y: 52 + 7 ;
        }
        // <- Status
      }

      // -> Avatar
      .svg_c51b4e foreignObject {
        position: absolute ;
        x: $ProfileLeft * -1 ;
        y: $ProfileTop * -1 ;
        mask: none ;
        overflow: visible ;
        pointer-events: auto ;
      }

      // -> img hover overlay
      .avatarStack_c51b4e::after {
        border-radius: 7.5% ;
        opacity: 0 ;
      }

      .avatarStack_c51b4e:hover::after {
        opacity: .4 ;
      }
      // <- img Hover overlay
      
      // Picture
      .avatar_c51b4e {
        border-radius: 7.5% ;

        &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
      }
      // <- Avatar
    }
    // <- Profile img / status icon

    // -> Status text
    .header_b07019 {
      // container
      > div:not([class]), .visibleContainer_d0a252 {
        display: contents ;
      }
    }

    // Status outer container
    .statusBubbleOuter_d0a252 {
      position: absolute ;
      display: flex ;
      inset: 62px 20px 61px 120px ;
      border: none !important;
      min-width: unset ;
      max-width: unset ;
      background: none ;
      align-items: center ;
      justify-content: center ;
      box-shadow: none ;

      &::after, &::before { display: none }
    }

    // Status inner container
    .statusBubble_d0a252 {
      padding: 5px 10px ;

      $opacity: .65 ;
      
      background: color-mix(in oklab,
        hsl(var(--black-hsl) / $opacity) 100%,
        hsl(var(--theme-base-color-hsl, 0 0% 0%) / $opacity) 
        10%
      );

      @include shadow_effect("box_2");

      &.statusBubbleEmojiOnlyPadding_d0a252 {
        padding: 8px 10px ;
      }

      .statusText_d0a252 {
        color: var(--redesign-button-overlay-alpha-text);
      }
    }
    
    // Emoji as status only
    .statusEmojiOnly_d0a252 { @include restrictions(26px) }

    // Edit status for own profile btns
    .popover_bba79b { display: none }
    // <- Status text
    
    // -> "Beta" badge (maybe more, idk)
    .textBadge_df8943 {
      right: 0 ;
      top: 119px - 16px ;
      margin: 0 ;
      border-radius: 4px 0 0 0 ;
    }
    // <- "Beta" badge (maybe more, idk)

  // <- Header

  // -> Body
    .body_b07019 {
      // padding: 0px 16px !important;
      padding: 0px 20px !important; // added padding on body infos
      overflow: visible !important;
      z-index: 2 ;
      order: 3 ;
      gap: 16px ;

      &::-webkit-scrollbar { display: none }

      // border experiment
      // &::after {
      //   content: "";
      //   position: absolute ;
      //   display: block ;
      //   top: -4px ;
      //   left: 0 ;
      //   width: 100% ;
      //   height: 1px ;
      //   background: var(--profile-message-input-border-color);
      // }
    }

    // -> User Main info (Name, pronouns, badges, ...)
    .container_c32acf {
      display: flex ;
      flex-direction: column ;
      gap: 8px ;
    }

      // -> Display / Nickname
      // When popout has online stauts icon
      :has(rect.pointerEvents_c51b4e) .usernameRow_c32acf .clickableUsername_c32acf {
        // margin-left: 26px ;
        margin-left: 22px ; // added padding on body infos
      }

      .nickname_c32acf {
        font-size: 19px ;
        line-height: 24px ;
        max-width: 308px - 26px ;
        // white-space: nowrap ;
        text-overflow: ellipsis ;
      }
      // <- Display / Nickname

      // -> App tag
      .botTag_a9e77f {
        position: absolute ;
        top: - 8 - 32 - 8 - 119 * 1px ;
        left: 170px ;
        padding: 3px 8px ;
        transform: translateX(-50%);
        border-radius: 0 0 4px 4px ;
        background: var(--bg-surface-overlay);

        @include shadow_effect("box_3");

        // icon
        path {
          fill: var(--text-normal) ;
        }
      }
      // <- App tag

      // -> Notes btn / loading error icon
      // container
      .nicknameIcons_c32acf {
        position: absolute ;
        top: -8px - 32px ;
        right: 14px ;
        height: 28px ;
        margin-top: 2px ;
        padding-top: 0 ;
        cursor: pointer;

        // Btns NOte, "Unable to load profile..."
        .button_dd4f85, .container_cac583 {
          width: 28px ;
          height: 28px ;
          padding: 0 ;
          opacity: 1 ;
          background: var(--bg_items);
          color: var(--header-primary);
          align-items: center ;
          justify-content: center ;      

          svg { @include shadow_effect("drop_2") }
        }
      }
      // <- Notes btn / loading error icon

      // -> Username / Pronouns
      .tags_c32acf {
        margin-top: 4px ;
        flex-direction: column ;
        align-items: flex-start ;
        row-gap: 6px ;

        .clickableUsername_c32acf {
          pointer-events: none ;
        }

        .userTagUsername_c32acf {
          font-size: 15px ;
        }

        .dotSpacer_c32acf { display: none }

        .pronounsText_c32acf  {
          color: var(--text-normal) !important;
        }
      }
      // <- Username / Pronouns

      // -> Badges
    .container_e5a42d {
      // top row (14) + [Badges] + (14) + [ ActBtn: (28 + 4)n + NoteBtn: 28 ] + (14)

      position: absolute ;
      left: 14px ;
      margin: 0 ;
      padding: 0px ;
      background: none ;
      border: none ;
      gap: 0px ;
      border-radius: 4px ;
      overflow: hidden ;

      // for center
      // top: -24px ;
      // transform: translateY(-50%);

      // for bottom
      top: -13px ;
      transform: translateY(-100%);

      max-width: 144px ; // 6 badges (12 is max per container)

      // First badges container when there are two
      &:nth-last-of-type(2) {
        top: -22px ;
      }

      // Second badges container for badges n. 13-24
      + .container_e5a42d {
        top: 0px ;

        > div {
          background: var(--bg_badgesFloating);
        }

        // Badges No. 19+ (i mean come on)
        > div:nth-child(n+7), ~ .container_e5a42d {
          display: none ;
        }
      }

      // badges
      > div {
        padding: 1px 2px ;
        background: var(--bg_items);
        
        &:last-child {
          border-radius: 0 0 4px 0 ;
        }
      }

      // badges, when there are more than 6
      &:has(:nth-child(7)) > div {
        background: var(--bg_badgesFloating);

        // last of first row unless second is full
        &:not(:has(:nth-child(12))):nth-child(6) {
          border-radius: 0 0 4px 0 ;
        }

        // all badges in second row
        &:nth-child(n+7) {
          padding-top: 0px ;
        }
      }

      // Badge icons
      .anchor_af404b {
        @include shadow_effect("drop_2")
      }
    }

    // -> Dynamic (sort of) max-width for badges containers
    // based on action btns

    // @for $actionBtns from 2 through 4 {
    //   $badges: 10 - $actionBtns ; // for first row

    //   &:has(.wrapper_cb78f1 div:nth-child(#{$actionBtns})) .container_e5a42d {
    //     max-width: $badges * 24px ;
    
    //     &:has(:nth-child(#{$badges + 1})) > div {
    //       background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4));

    //       &:nth-child(#{$badges}) {
    //         border-radius: 0 0 4px 0 ;
    //       }
    //       &:nth-child(n+#{$badges + 1}) {
    //         padding-top: 0px ;
    //       }
    //     }
    //   }
    // }

    // <- Dynamic max-width badges
    // <- Badges
    
    // <- User Main info (Name, pronouns, badges, ...)

    // -> Bot action btns
    .buttons_e274c3 {
      .button_e274c3 {
        background: var(--bg_items);

        &:hover {
          background: var(--bg_itemsHover);
        }
      }
    }
    // <- Bot action btns

    // -> Activitys
    .activity_cd74cc {
      padding: 8px 0 ;

      background: var(--bg_items);
      background: none ;

      .headerText_c1d9fd {
        color: var(--header-secondary);
      }

      .medium_a9e62c {
        border-radius: 4px ;
      }

      .buttonColor_cd74cc {
        background: var(--bg_items);
        // background: none ;
        transition: none ;

        &:hover {
          background: var(--bg_itemsHover);
        }
      }

      // Activity bnts themed
      // button_c6eb7b button_dd4f85 lookFilled_dd4f85 buttonColor_cd74cc buttonSize_c6eb7b grow_dd4f85
    }
    // <- Activitys

    // -> Bot commands
    .list_fa6679 {
      .button_dd4f85 {
        background: var(--bg_items);

        &:hover {
          background: var(--bg_itemsHover);
        }
      }
    }
    // <- Bot commands

    // -> Roles 
    .role_f9575e, // roles
    .root_c83b44 .button_edead5, // add roles btn
    .showMoreButton_c83b44, // view all roles btn
    .collapseButton_c83b44 // revert "view all"
    {
      background: var(--bg_items);
      border-color: transparent ;
    }
    // <- Roles
  
  // <- Body

  // -> Footer
  .footer_b07019 {
    padding: 0 ;
    margin-top: 8px ;
    border-top: 1px solid var(--profile-message-input-border-color);
    order: 4 ;
    
    .inner_dc0b43 {
      background: none ;
    }

    // Edit own profile btn
    > .button_dd4f85 {
      background: none ;
      height: 100% ;
      padding: 0 ;
      color: var(--text-normal);

      &:hover {
        color: var(--header-primary);
      }
    }
  }
  // <- Footer
}
// <- User Popout

// User popout loading indicator 
.layer_cd0de5 .loadingPopout_a8c724 { display: none }



// -> Account Popout
.accountProfilePopoutWrapper_b2ca13 {
  left: 0 ;

  // .menu_d90b3d { 
  //   max-width: unset ;
  //   background: var(--background-tertiary);
    
  //   // popout menu
  //   .submenu_d90b3d {
      
  //     .separator_d90b3d { display: none }
      
  //     .item_d90b3d {
  //       border-radius: 4px ;

  //       &#status-status-picker--online.focused_d90b3d { background: var(--status-online) }
        
  //       &#status-status-picker--idle.focused_d90b3d { background: var(--status-idle) }

  //       &#status-status-picker--dnd.focused_d90b3d { background: var(--status-DnD) }
        
  //       &#status-status-picker--invisible.focused_d90b3d { background: var(--status-invisible) }
  //     }
  //   }
  // }
}
// <- Account Popout


// -> Profile sidepanel in dms
.userPanelOuter_c69a7b  {

  .userPanelInner_c69a7b  {
    background: none ;
  }

  // -> Usert action btns
  .wrapper_cb78f1 {
    position: relative ;
    inset: 0px ;
    margin: 16px ;
    flex-direction: row-reverse ;

    .button_f9d37d {
      background: var(--background-modifier-accent);
    }
  }
  // <- Usert action btns

  // -> Banner
  .bannerSVGWrapper_b32cc2 {
    border-radius: 8px ;
    transform: scale(.92);

    foreignObject {
      mask: none ;
    }
  }
  // <- Banner

  // -> Avatar
  .avatar_f94206 {
    position: relative ;
    inset: 0px ;
    margin: 10px auto 20px auto ;
    width: fit-content ;
    border-radius: 8px ;

    .wrapper_c51b4e {
      margin: 0 auto ;
    }

    // profile image hover
    .overlay_f94206:after {
      border-radius: 8px ;
    }

    .svg_c51b4e { 
      overflow: visible ;

      // status icon background
      [style*="opacity"] {  display: none }
    }

    // status
    .pointerEvents_c51b4e, .cursorDefault_c51b4e { display: none }

    foreignObject { 
      mask: none ;
      overflow: visible ;
    }

    // Img
    .avatar_c51b4e {
      border-radius: 8px ;

      &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
    }
  }
  // <- Avatar

  // -> Status text
  .visibleContainer_d0a252 {
    position: relative ;
    inset: unset ;

    .statusBubbleOuter_d0a252 {
      background: none ;
      border: none ;
      margin: 0 auto ;

      &::before, &::after { display: none }
    }

    .statusBubble_d0a252 {
      background: var(--background-modifier-accent);
    }
  }
  // <- Status text

  // -> Body
  .overlayBackground_c69a7b, .activity_e9e42f {
    background: var(--background-modifier-accent);
  }
  // <- Body

  .footer_be6801 {
    border: none ;
  }
}
// <- Profile sidepanel in dms
