// * T1.app v0.1.3.1

// Layer transitions
.layers_a23c37 > .layer__2efaa { 
  transform: none !important ;
}

.base__3e6af { 
  height: 100% !important ;
}

// "Bot"/"server" Tag Indicator
.botTag__4211a { 
  color: var(--text-normal);
  background-color: var(--background-secondary);
}

// Default scrollbar design (needs some rework)
.app_b1f720 .scrollerBase_dc3aa9 { @include scrollbar() }
.app_b1f720 .scrollerBase__2b744 { @include scrollbar() }

// Tab focus thing
.focus-rings-ring, .focusRing_e5d39f {
  box-shadow: none ;
  border-bottom: 3px solid var(--interactive-hover);
  border-radius: 0 ;
}

// -> Sidebar Panels (Profile, Activity,..)
.sidebar_ded4b5 .panels__58331 {
  
  // Profile Container
  .container_ca50b9 {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;

    // Pfp, name container
    .avatarWrapper_ba5175 {
      margin: 6px 8px 6px 0 ;
      background: none ;
    }

    // Buttons
    .button_afdfd9 {
      background: none ;
    }
  }
  
  // Activity Container
  .activityPanel__22355 {
    height: 32px ;
    padding: 6px 10px ;
    
    // Image
    .gameIconWrapper__499e0 { 
      height: 32px;
    }
    
    // Text
    .title__10613 { 
      line-height: 32px;
    }
    
    button { background: none }
  }
  
  // Voice Connection
  .container_d667ff {
    display: grid ;
    padding: 0 ;
    border: none ;
    grid-template-columns: 100% ;
    contain: paint ;
    
    // Voice channel info container
    .connection__5bb32 {
      order: 2 ;
      margin-left: 32px ;
      padding: 6px 0 ;
      align-items: unset ;
      
      // Ping / "Connected"
      .rtcConnectionStatus__40882 {
        padding: 1px 0 2px 0 ;
      }
      
      // Buttons container
      .button__4f306 {
        background: none ;
        
        // Noise Suppression Btn
        &:first-child { display: none }
      }
    }
    
    // Connected users container (right click channel name for context option)
    .voiceUsers_c72ec5 {
      height: 30px ;
      padding: 3px 8px ;
      margin: 0 ;
      box-sizing: border-box ;
      order: 3 ;
      
      &::-webkit-scrollbar { display: none }
      
      ~ .actionButtons_b58cbb:after {
        bottom: 42px ;
      }
    }
    
    // Voice channel button container
    .actionButtons_b58cbb {
      display: inline-flex ;
      height: 0 ;
      padding: 0 ;
      justify-content: space-evenly ;
      overflow: hidden ;
      transition: .1s linear;
      align-items: center ;
      
      // Caret icon
      &:after {
        content: "<" ;
        position: absolute ;
        display: flex ;
        width: 200px;
        height: 32px ;
        left: 0 ;
        bottom: 12px ;
        justify-content: center ;
        align-items: center ;
        color: var(--interactive-normal);
        font-size: 18px ;
        font-weight: 700 ;
        transform: rotate(90deg) translate(6px, 100px - 16px);
      }
      
      &:hover {
        height: 44px ;
        
        &:after {
          content: ">" ;
          color: var(--interactive-hover);
        }
      }
      
      // Buttons container
      .button__66e8c {
        width: max-content ;
        padding: 0 12px ;
        background: none ;
        color: var(--interactive-normal);
        z-index: 1 ;
        
        &:not(.fauxDisabled__095d8):hover {
          color: var(--interactive-hover);
        }
      }
    }
  }
}