/*!
  HideChatButtons v0.1.0
  <github.com/Eight-P/BD.8P>

  Copy & paste the root section with the variables into your CustomCSS/QuickCSS to configure this snippet.
*/

:root {
  /* Show/Hide chat input buttons.
    0: Visible | 1: Hidden */
  --hide-chatBtn-nitro: 1 ;
  --hide-chatBtn-gif: 0 ;
  --hide-chatBtn-sticker: 0 ;
  --hide-chatBtn-emoji: 0 ;
  --hide-chatBtn-apps: 0 ;
}
/* <- end of root.
Snippets css -> */

@import 'HideChatButtons/HideChatButtons';
