/*!
  HideDecorations v0.1.0
  <github.com/Eight-P/BD.8P>
*/

@use 'HideDecorations/HideDecorations' ;

:root {
  /* Effects & Decorations
    0: Visible | 1: Hidden */

  /* Profile popout/modal background effects */
  --hide-profileEffects: 0 ;

  /* User avatar decorations */
  --hide-avatarDecorations: 0 ;

  /* Nameplates
    0: Show all (default)
    1: Hide in member list
    2: Hide own in profile panel
    3: Hide all */
  --hide-nameplates: 0 ;

  /* Clan tags
    0: Show all (default)
    1: Hide in member list
    2: Hide all */
  --hide-clanTags: 0 ;

  /* Username holographic gradient & animation */
  --disable-roleGradients: 0 ;

  /* Super reaction animations */
  --hide-reactionAnimations: 0 ;
}