/*!
  HideDecorations v1.0.2
  <github.com/Eight-P/BD.8P>

  Copy & paste the root section with the variables into your CustomCSS/QuickCSS to configure this snippet.
*/

:root {
  /* Effects & Decorations
    0: Visible | 1: Hidden */

  /* Profile popout/modal background effects */
  --hide-profileEffects: 0 ;

  /* User avatar decorations */
  --hide-avatarDecorations: 0 ;

  /* Nameplates
    0: Show all (default)
    1: Hide in member list
    2: Hide own in profile panel
    3: Hide all */
  --hide-nameplates: 0 ;

  /* Clan tags
    0: Show all (default)
    1: Hide in member/dm list
    2: Hide everywhere */
  --hide-clanTags: 0 ;

  /* Username holographic gradient & animation
    0: Show (default)
    1: Hide using color 1
    2: Hide using color 2 */
  --disable-roleGradients: 0 ;

  /* Super reaction animations */
  --hide-reactionAnimations: 0 ;
}
/* <- end of root.
Snippets css -> */

@import 'HideDecorations/HideDecorations' ;
