// User | DMs sidebar
.content_f75fb0 .outer_c0bea0 {

  --user-profile-overlay-background: var(--background-modifier-accent);

  &.custom-user-profile-theme {
    --user-profile-overlay-background: var(--background-modifier-accent);

    .inner_c0bea0 {
      background: none ;
    }
  }

  .footer__7f9c0 {
    height: 52px ;

    @include divider(top);
  }
}