// -> User modal (new)
.root__9c3be {
  pointer-events: none ;

  @include scrollbar(none);

  .user-profile-modal-v2  {
    min-width: unset ;
    width: 800px ;
    border: none ;
    background: none ;
    max-height: 75vh ; // affected by general modal design (_modals:9)
    outline: none ;

    // main layout container
    .inner_c0bea0 {
      padding: 0 ;
      gap: 0px ;
      background: none ;
    }

    .backgroundImage__9c3be {
      display: none ;
    }

    // default / no theme
    &:not(.custom-user-profile-theme) {

      .profile__9c3be {
        background: var(--background-tertiary);
      }

      .container__37bfc {
        background: var(--background-secondary-alt);
      }
    }

    // -> left side profile section
    .profile__9c3be {
      width: 375px ; // 350px ?
      border-radius: var(--radius-lg);
      overflow: hidden ;
      z-index: 1 ;
      pointer-events: auto ;
      outline: none ;

      @include shadowEffect("box_2");

      .profileBody__9c3be  {
        padding: 4px 14px 8px 22px !important ;

        @include scrollerFadeOut();
      }
    }
    // <- left side profile section

    // -> right side info
    .container__37bfc {
      // -> main container
      position: relative ;
      height: 85% ;
      margin: 0 ;
      align-self: center ;
      padding: 10px 0 0 0 ;
      border-radius: 0 var(--radius-lg) var(--radius-lg) 0 ;
      pointer-events: auto ;
      gap: 0 ;
      background: linear-gradient(
        color-mix(in oklab,
          var(--profile-gradient-overlay-color) 80% ,
          var(--profile-gradient-modal-background-color)
        ),

        color-mix(in oklab,
          var(--profile-gradient-overlay-color) 20% ,
          var(--profile-gradient-modal-background-color)
        )
        300px
      );

      &::before {
        content: "";
        position: absolute ;
        display: block ;
        inset: 0 ;
        background: linear-gradient(
          var(--profile-gradient-modal-background-color),
          var(--profile-gradient-modal-background-color)
        );
        z-index: -1 ;
      }
      // <- main container

      // -> tab bar
      .tabListScroller__37bfc {
        margin: 0 ;
        padding: 0 5px ;

        @include divider(bottom);
      }

      // inner
      .top_aa8da2 {
        justify-content: space-around ;
        border: none ;
      }

      // item
      .tabBarItem__37bfc {
        margin: 0 ;
        padding: 6px ;

        &::after { display: none }
      }
      // <- tab bar

      // -> body
      .tabBarPanel__37bfc {
        padding-left: 12px ;

        @include scrollerFadeOut();
      }

      // empty tabs containers (activity/friends/servers, board, wishlist)
      :is(.empty_e766f2, .empty__7ff05, .emptyStateContainer__4fbcc) {
        height: 100% ;
        padding-top: 0 ;
        justify-content: center ;
      }

      // -> Activity body
      // Activity action/reaction btns
      .activityPopover__2d0ab { display: none }

      // item cards
      .overlay_c0bea0  {
        background: none ;
        border: none ;
      }
      // <- Activity body

      // -> Games
      .dragAndDropHitbox__62dd3  {
        margin-left: 0 ;
        padding-left: 0 ;
      }

      .dragHandleButton__62dd3 {
        inset-inline-start: unset !important ;
        top: 0 !important ;
        left: 0 !important ;
        transform: translate(-25%, -25%);
      }

      .container__62dd3 {
        background: none ;
        border: none ;
        padding: 12px 8px ;
      }
      // "games i like" container
      .coverList__9a5c3 {

        // "show more" btn
        ~ .button__7d7f7 {
          margin: 15px auto 0 auto ;
        }
      }
      // <- Games
      // <- body
    }
    // <- right side info
  }

  // save changes banner
  .pendingChangesNotice__9fc7d {
    pointer-events: auto ;

    .content_a58267 {
      background: var(--background-tertiary);
    }
  }
}
// <- User modal (new)
