@use '../mixins/_mixins' as * ;

// -- Floating

$BG_Meta: var(--background-secondary-alt);
$BG_Body: var(--background-tertiary);
$BG_BodyAlt: var(--background-modifier-hover);
$BG_Floating: var(--background-floating);

$C_Header: var(--interactive-normal);

// Popouts & Tooltips & Context menus
@import 'popouts' ;

// @import 'modals' ;

.layerContainer_da8173 {
  z-index: 9999999 ;
  // z-index: auto ;

// General searchbar
.container_a45028 { @include searchbar(".inner_a45028", true) }

// -> Layers general
// Popouts & Tooltips & Context menus, Modals
:is(.layer_da8173, .layer_bc663c) {

  --background-surface-high: #{$BG_Meta} ;
  --background-surface-higher: #{$BG_Body} ;
  --background-surface-highest: #{$BG_BodyAlt} ;

  --bg-base-secondary: #{$BG_Meta} ;
  // --bg-base-primary: #{$BG_Body};

  --modal-background: #{$BG_Meta} ;
  --modal-footer-background: #{$BG_Meta} ;
  --background-secondary: #{$BG_Meta} ;

  --border-subtle: transparent ;

  // server preview popout
  --bg-surface-overlay: #{$BG_Body} ;

  // -> Settings items/options
  :is(.select__3f413, .pauseContainer_c38e9f) {
    border: none ;
  }

  // Dropdown option select btn
  .select__3f413 {
    background: $BG_Floating ;
  }

  // Dropdown menu popout
  .popout__3f413 {
    background: $BG_Floating ;
  }
  // <- Settings items/options
}
// <- Layers general

// -> Tooltips
.tooltipPrimary__382e7 {
  background: $BG_Floating ;
}
// <- Tooltips

// -> Modals
// Modal backdrop
.backdrop__78332 {
  background: rgba(0, 0, 0, 0.75) !important;
}

.layer_bc663c {
  padding: 20px 0 ;

  .root__49fc1 {
    border: none ;

    @include scrollbar(none);

    .outer_c0bea0 {
      background: $BG_Floating ;
    }

    .header__49fc1 {
      padding-bottom: 16px ;

      // invite modal
      + .templatesList_c04f35 {
        margin-top: 0 ;
      }
    }
  }
}
// <- Modals

}
