// Modal backdrop
.backdrop__78332 {
  background: rgba(0, 0, 0, 0.75) !important;
}

.layer_bc663c {

  :is(.small__49fc1, .medium__49fc1) {
    max-height: 75vh ;
    height: auto ;
    border: none ;
  }

  // -> most modals (not user modal)
  .root__49fc1:not(.root__9c3be) {

    // -> General
    background: $BG_Body ;

    @include scrollbar(none); // not sure why

    // -> Header
    .header__49fc1 {
      background: $BG_Meta ;
      padding-bottom: 8px ;

      @include shadowEffect("box_3");

      .headerText__67dba {
        margin-bottom: 14px ;
      }

      .marginTop8_fd297e { display: none }
    }
    // <- Header

    // -> Body
    :is(.scrollerBase__99f8c, .scrollerBase_d125d2) {
      background: $BG_Body ;
      max-height: unset ;

      @include scrollbar();
      @include scrollerFadeOut(2px, 2px);
    }

    .content__49fc1 {
      padding-top: 20px ;
    }
    // <- Body

    // -> Footer
    .footer__49fc1 {
      background: $BG_Body ;
      background: $BG_Meta ;

      .h5_b717a1 {
        font-size: 14px ;
        color: var(--header-secondary);
      }
    }
    // <- Footer

    // <- General

    // -> Invite to server
    :is(.scroller__67dba, .inviteRowEmptyState__67dba) {
      height: 100vh ; // fix height to max
    }
    // <- Invite to server

    // -> Create group DM (hopefully)
    &.popout_cba592 {
      height: 100vh ; // fix height to max

      .header__49fc1 {
        box-shadow: none ;
      }

      .friendSelected_bbd192:not(:hover) {
        background: none ;
      }

      .searchBar_cba592 {
        background: $BG_Meta ;

        @include shadowEffect("box_3");
      }
    }
    // <- Create group DM

    // join new server
    .templatesList_c04f35 {
      margin: 0 ;
    }
  }
  // <- most modals

  // -> BD Modals
  .bd-modal-root {

    // -> General
    max-height: 80vh ;
    height: auto ;

    .bd-modal-header {
      background: $BG_Meta ;
    }

    // -> Body
    .bd-modal-content {
      background: $BG_Body ;
      padding: 20px ;
    }
    // <- Body

    .bd-modal-footer {
      background: $BG_Meta ;
    }
    // <- General

    // -> Addon settings
    &.bd-addon-modal {
      // width: 700px ;
      max-width: 90vw ;

      display: grid ;
      grid-template-rows: min-content 1fr ;
      grid-template-areas:
        "title close"
        "body body"
      ;

      // -> new header
      .bd-modal-header {
        grid-area: title ;
      }

      // -> "Done" btn
      .bd-modal-footer {
        grid-area: close ;

        .bd-button-filled {
          border: none ;
          border-radius: 3px ;
          color: $BtnTextNormal ;
          background: $BtnBackgroundNormal ;

          &:hover {
            color: $BtnTextHover ;
            background: $BtnBackgroundHover ;
          }
        }
      }
      // <- "Done" btn
      // <- new header

      .bd-modal-content {
        grid-area: body ;
      }

      // -> Category title
      .bd-settings-title {
        flex-direction: row-reverse ;
        justify-content: left ;
        gap: 10px ;
        font-size: 15px ;

        &::before {
          display: none ;
        }
      }

      // Category container
      .bd-settings-group {

        &.collapsed .bd-settings-title::after {
          transform: rotate(-90deg);
        }

        &:not(:last-child) .bd-settings-title {
          margin-bottom: 20px ;
        }
      }
      // <- Category title

      // Settings container in category
      .bd-settings-container {
        margin: 0 5px 0 15px ;
      }

      // -> Settings options
      .bd-setting-item.inline {

        &:first-child:has(.bd-slider-wrap) {
          padding-top: 10px ;
        }

        &:last-child {
          margin: 0 ;

          .bd-setting-divider {
            visibility: hidden ;
          }
        }
      }
      // <- Settings options
    }
    // <- Addon settings
  }
  // <- BD Modals
}