@use '../mixins/new_mixins' as * ;

// -- Floating

$BG_Meta: var(--background-secondary-alt);
$BG_Body: var(--background-tertiary);
$BG_BodyAlt: var(--background-modifier-hover);
$BG_Floating: var(--background-floating);

$C_Header: var(--interactive-normal);

// Popouts & Tooltips & Context menus
@import 'new_popouts' ;

@import 'new_modals' ;

._59d0d7075b521375-layerContainer {
  // z-index: 9999999 ; // against title bar border
  // need to move up the modal instead (settings issue)

// -> Searchbar
.container_a45028 { @include searchbar(".inner_a45028", true) }
// Threads / Sticker-picker / Apps & Cmds
._5a8382cf5c9d77df-container { @include searchbar("._0f0849b61557225e-container", true) }
// Create group DM, ...
._0e476089c37c956f-container { @include searchbar("._0e476089c37c956f-inner", true) }
// <- Searchbar

// -> Layers general

// (temporary) fix BD context menu height
.c1e9c47c23f12ca3-menu {
  --reference-position-layer-max-height: calc(100vh - var(--custom-menu-viewport-padding)*2);
}

// Popouts & Tooltips & Context menus, Modals
:is(._59d0d7075b521375-layer, .bc663cf6190ce9ad-layer) {

  --background-surface-high: #{$BG_Meta} ;
  --background-surface-higher: #{$BG_Body} ;
  --background-surface-highest: #{$BG_BodyAlt} ;

  --bg-base-secondary: #{$BG_Meta} ;
  --background-base-lower: #{$BG_Meta} ;
  // --bg-base-primary: #{$BG_Body};

  --modal-background: #{$BG_Meta} ;
  --modal-footer-background: #{$BG_Meta} ;
  --background-secondary: #{$BG_Meta} ;

  --border-subtle: transparent ;

  // server preview popout
  --bg-surface-overlay: #{$BG_Body} ;

  // -> Settings items/options
  :is(.a16aea1526925c2c-select, .c38e9f4be99e18e0-pauseContainer) {
    border: none ;
  }

  // Dropdown option select btn
  .a16aea1526925c2c-select {
    background: $BG_Floating ;
  }

  // Dropdown menu popout
  .a16aea1526925c2c-popout {
    background: $BG_Floating ;
  }
  // <- Settings items/options

  // picker with search
  ._3dde27fb71170aa9-container {
    background: $BG_Body ;
  }
}
// <- Layers general

// -> Tooltips
._59d0d7075b521375-layer:not(.theme-light) {

  .c36707910f687430-tooltipPrimary {
    background: $BG_Floating ;

    --tooltip-pointer-bg: #{$BG_Floating} ;

    .c36707910f687430-tooltipPointer {
      border-top-color: $BG_Floating ;
    }
  }

  ._4e35b986167c457d-tooltip {
    background: $BG_Floating ;

    ._4e35b986167c457d-caretFill {
      fill: $BG_Floating ;
    }
  }

  // should probably do this for all tooltips, maybe
  .b1f768426adf64d9-guildTooltipWrapper {
    pointer-events: none ;
  }
}
// <- Tooltips

}
