// floating |  Pop-outs & Tooltips & Context menus
._59d0d7075b521375-layer {

  // -> General content
  // first inner container with class (not a fan)
  :is(
    .c1e9c47c23f12ca3-menu, // context menus

    .c0e32c5cffed3d9f-wrapper, // add reactions pop-out
    ._9c62c6ed231468c4-contentWrapper, // Apps&Cmds
    ._084343c4f11eaaab-contentWrapper, // Chat picker
    .d9c8822889d1d4a1-container, // Threads
    .e8b59c4b335dd2fc-messagesPopoutWrap, // Pinned Msgs
    ._4ad6936dd30096b3-popoutContainer, // Bookmarks
    ._957962c2bd49881b-recentMentionsPopout // Inbox
  ) {
    border: none ;
    @include shadowEffect("box_2");
  }

  // scroller
  :is(
    .d125d22cdfd32cfe-scrollerBase,
    // ._99f8cc7ad4790ce9-scrollerBase,
    .d9c8822889d1d4a1-container // Threads
  ) {
    background: $BG_Body ;
  }

  :is(
    .d9c8822889d1d4a1-container, // Threads
    .e8b59c4b335dd2fc-messagesPopoutWrap, // Pinned Msgs
    ._4ad6936dd30096b3-popoutContainer, // Bookmarks
    ._957962c2bd49881b-recentMentionsPopout // Inbox
  ) {
    width: 50vw ;
    min-width: 480px ;
    max-width: 600px ;
    max-height: 85vh ;
  }

  // "Pro tip" footer
  .e8b59c4b335dd2fc-footer { display: none }

  // Header text (bookmarks & Pins)
  .e8b59c4b335dd2fc-titleContainer .text-lg\/semibold_cf4812 {
    color: $C_Header !important ;
  }

  :is(.d9c8822889d1d4a1-header, .e8b59c4b335dd2fc-header, .ab66419eae73260f-header) {
    border: none ;
    z-index: 1 ;

    @include shadowEffect("box_3");
  }

  // <- General content

  // -> Chat input Emoji, Sticker, Gif picker
  #emoji-picker-tab-panel {
    box-shadow: none ;
  }

  :is(._084343c4f11eaaab-contentWrapper, .c0e32c5cffed3d9f-wrapper) {
    border: none ;
    @include shadowEffect("box_2");

    // -> Nav bar
    ._084343c4f11eaaab-navButton {
      background: none ;
      color: var(--interactive-normal);
    }

    ._084343c4f11eaaab-navButtonActive  {
      color: var(--interactive-active) !important;
    }
    // <- Nav bar

    // -> Header
    .c0e32c5cffed3d9f-header, ._8ef02eea17068b73-header, .fed6d32841cc2da2-header {
      box-shadow: var(--shadow-low);
    }
    // <- Header

    // -> Right side content
    // category headers (emoji & sticker)
    ._14245bb948377a25-wrapper {
      background: $BG_Body !important ;
      padding-bottom: 6px ;
    }

    // nitro locked emoji category
    .c656aca9a3db31a9-categorySectionNitroLocked {
      background: $BG_Body !important ;

      ._14245bb948377a25-header {
        color: rgb(166, 103, 228);
      }
    }

    // -> Sticker item
    #sticker-picker-tab-panel ._8ef02eea17068b73-header {
      height: 40px ; // keeps the left side aligned
    }

    ._31fc2df9348cd84a-assetWrapperMasked {
      mask: none ;
    }

    .c6367b0f171ba6d7-sticker {
      border-radius: 8px ;

      &:hover {
        background: var(--background-modifier-accent);
      }
    }
    // <- Sticker item

    // -> Add reactions
    &#emoji-picker-tab-panel .c0e32c5cffed3d9f-header {
      height: 40px ; // keeps the left side aligned
    }
    // <- Add reactions

    // hover indicator, nitro upsell banner Gifs
    :is(.c6367b0f171ba6d7-inspectedIndicator, ._0b69f200eb3bf411-upsellContainer) {
      display: none ;
    }
    // <- Right side content

    // -> left side category items
    // default emoji shortcut, sticker shortcut - category
    :is(.b9ee0c229bc0b6bb-unicodeShortcut, ._3ad28b0867fa3fad-standardStickerShortcut) {
      background: $BG_Body ;
    }

    :is(._3ad28b0867fa3fad-stickerCategory, .b9ee0c229bc0b6bb-categoryItem) {
      background: none ;

      &:hover path {
        fill: var(--interactive-active);
      }
    }
    // <- left side category items

    :is(.aeaaeb2a573807f0-inspector, .b3fb5fe9675b4b4d-nitroTopDividerContainer, .c656aca9a3db31a9-nitroBottomDivider) {
      display: none ;
    }
  }
  // <- Chat input Emoji, Sticker, Gif picker

  // -> Soundboard picker
  ._09f65b4b8a3f8d26-picker {
    background: $BG_Meta ;

    // -> Nitro locked
    :is(._0b69f200eb3bf411-upsellContainer, .b3fb5fe9675b4b4d-nitroTopDividerContainer) { display: none }

    ._614244fbcb264b94-sectionContainerNitroLocked ._614244fbcb264b94-sectionTitle {
      color: rgb(166, 103, 228);
    }

    :is(._614244fbcb264b94-sectionContainerNitroLocked, ._614244fbcb264b94-soundRowNitroLocked) {
      background: none ;
    }
    // <- Nitro locked
  }
  // <- Soundboard

  // -> Threads
  .d9c8822889d1d4a1-container {

    // Header icon & text
    :is(.d9c8822889d1d4a1-threadIcon, .d9c8822889d1d4a1-title) {
      color: $C_Header !important ;
    }
  }
  // <- Threads

  // -> Pins
  // .e8b59c4b335dd2fc-messagesPopoutWrap {

  // }

  // jump to message btns
  .e8b59c4b335dd2fc-actionButtons {

    .jumpButton_e8b59c {
      background: $BG_Meta ;
      padding: 4px 16px ;

      @include shadowEffect("box_3");

      + ._201d5e8a3c09670a-button {
        width: 24px ;
        background: $BG_Meta !important ;

        @include shadowEffect("box_3");
      }
    }
  }
  // <- Pins

  // -> Bookmarks (solo, inbox)
  :is(._4ad6936dd30096b3-popoutContainer, ._957962c2bd49881b-recentMentionsPopout) {

    ._4ad6936dd30096b3-messagesScroller {
      gap: 8px ;
    }

    ._4ad6936dd30096b3-messageContainer {
      border-radius: 0 ;
      border-bottom: 1px solid var(--background-modifier-accent);
      box-shadow: none ;

      // container for click/jump to msg action (but it's weird)
      ._4ad6936dd30096b3-clickableMessageBackground { display: none }

      // header for channel name
      ._06fb54b93b7ce763-channelHeader {
        border: none ;
      }

      // msg btns
      ._4ad6936dd30096b3-hoverBar .f84418acfdbdfe54-icon {
        transform: none ;
      }
    }
  }
  // <- Bookmarks

  // -> Context menus
  .c1e9c47c23f12ca3-menu {

    .d125d22cdfd32cfe-scrollerBase::-webkit-scrollbar-thumb {
      background-color: transparent ;
    }

    .c1e9c47c23f12ca3-separator {
      border-color: var(--background-modifier-accent);
    }

    // -> Menu options
    // Name text
    .c1e9c47c23f12ca3-label {
      color: var(--interactive-normal);
    }

    // Option on hover
    .c1e9c47c23f12ca3-focused {
      .c1e9c47c23f12ca3-label {
        color: var(--interactive-hover);
      }
    }

    // Critical option (ban, block,..)
    .c1e9c47c23f12ca3-colorDanger {
      .c1e9c47c23f12ca3-label {
        color: var(--text-danger);
      }
    }
    // <- Menu options

    // -> Checkbox options
    ._09aca73e6d4b214b-checkbox {
      background: none ;
      border: none ;

      &:not(._09aca73e6d4b214b-checked) path {
        fill: currentColor ;
        d: path("M 18.625 3 H 5.375 C 4.06519 3 3 4.06519 3 5.375 V 18.625 C 3 19.936 4.06519 21 5.375 21 H 18.625 C 19.936 21 21 19.936 21 18.625 V 5.375 C 21.0057 4.08803 19.9197 3 18.625 3 Z M 19 19 V 5 H 4.99999 V 19 H 19 Z");
      }
    }

    // on hover
    .c1e9c47c23f12ca3-focused {

      // turn check into "x"
      ._09aca73e6d4b214b-checked path {
        fill: var(--red);
        d: path("M 18.4 4 L 12 10.4 L 5.6 4 L 4 5.6 L 10.4 12 L 4 18.4 L 5.6 20 L 12 13.6 L 18.4 20 L 20 18.4 L 13.6 12 L 20 5.6 L 18.4 4 Z");
      }
    }
    // <- Checkbox options

    // -> Radio selection options
    ._88a69141dd70013a-radioIndicator {

      ._88a69141dd70013a-refreshIconFill {
        fill: transparent ;
      }

      &._88a69141dd70013a-radioIndicatorChecked ._88a69141dd70013a-refreshIconStroke {
        stroke: var(--checkbox-border-default);
      }
    }
    // <- Radio selection options

  }
  // <- Context menus

  // -> Inbox
  ._957962c2bd49881b-recentMentionsPopout {

    // -> Header
    // Header icon & text
    :is(.ab66419eae73260f-inboxIcon, .ab66419eae73260f-inboxTitle) {
      color: $C_Header !important ;
    }

    .ab66419eae73260f-tabBar {
      margin: 16px 16px 0 16px ;
      justify-content: space-around ;

      .ab66419eae73260f-tab {
        margin: 0 ;

        &::after {
          display: none ;
        }
      }
    }
    // <- Header

    // -> Body
    .d125d22cdfd32cfe-scrollerBase {
      padding: 0 !important ;
      border-top: 2px solid $BG_Body ;

      @include scrollbar(none);

      // jump to msg btn mentions & unreads
      .ed0c8cb44ff95773-jumpButton {
        background: $BG_Meta ;
      }
    }

    // for you empty
    .a54d1d0b84a59dce-container {
      margin: 0 ;
      background: $BG_Body ;
    }

    // -> Unreads
    // channel item
    ._427f0273a157ab7a-channel {
      padding-bottom: 3px ;

      // Collapse btn
      .collapseButton__427f0 {
        position: static ;
        display: flex ;
        align-items: center ;
        justify-content: center ;
        height: 32px ;
        width: 32px ;
        margin-left: 12px ;
        padding: 0 ;
        color: var(--interactive-normal);
        border-radius: 50% ;

        &:hover {
          color: var(--interactive-hover);
        }
      }
    }
    // msg divider general
    ._908e20001ad67812-divider {
      margin: 30px 0 30px 0 ;

      ._908e20001ad67812-content {
        background: $BG_Body ;
      }

      // divider in channel item
      &._1ccd1ba5cb2270c2-divider {
        margin: 20px 0 20px 16px ;
      }
    }
    ._7d15e06278d36a38-forumPost {
      margin: 0 ;
      padding: 10px 12px 16px 12px ;
      background: none ;
      border: none ;
      border-radius: 0 ;
      border-bottom: 1px solid var(--background-modifier-accent);
      transition: none ;

      &:hover {
        background: var(--background-modifier-hover);
      }
    }
    // <- Unreads

    // -> Mentions
    ._957962c2bd49881b-container {
      padding: 0 ;
    }

    // mention header
    ._35a7ecf3aba351b2-channelHeader {
      padding: 12px 16px ;

      @include shadowEffect("box_3");
    }
    // <- Mentions

      // <- Body
  }
  // <- Inbox

  // -> Apps & Commands pop-out
  ._31a96fe07c7d9258-positionContainer {
    max-height: calc(100vh - 130px);

    ._9c62c6ed231468c4-drawerSizingWrapper {
      height: 100% !important ;
    }

    ._9c62c6ed231468c4-slideContent {
      max-height: calc(100vh - 130px);
    }

    ._927fca0ac7164d54-searchBarContainer {
      z-index: 1 ;

      @include shadowEffect("box_3");
    }

    ._927fca0ac7164d54-scrollableContent {
      @include scrollerFadeOut();

      // spacer
      &::before {
        content: "";
        position: relative;
        display: block ;
        height: 10px ;
      }
    }
  }
  // <- Apps & Commands pop-out
}

.f75fb00fb7356cbe-chatContent {
  z-index: 9 ; // to keep summaries above the members list

  // -> Chat Summaries
  ._0f481cbbd7530492-topicsDropdownBase {
    background: $BG_Body ;

    ._0f481cbbd7530492-topicsDropdownHeading {
      background: $BG_Meta ;
    }
  }
  // <- Summaries

  // -> Slash cmds pop-out
  ._13533e3c5791980f-autocomplete {
    --background-base-lowest: #{$BG_Meta};
    --autocomplete-bg: #{$BG_Body};
    --background-surface-high: #{$BG_Body};

    box-shadow: none ;
    @include shadowEffect("box_2");

    // left side categories
    .d125d22cdfd32cfe-none {
      @include scrollbar(none);
    }
  }
  // <- Slash cmds pop-out

}


