@use '../mixins/mixins' as * ;

// -- Settings

$T1_v: null !default ;

// -> User settings
// layer container inner (not an ideal class)
.outerContainer_e44912 {

  // just some more specificity since it's just a modal now
  .container__8a031.modal_e44912 {
    --custom-viewport-padding: 0px ;

    // max-width: unset ;
    // width: 100vw ; // don't now if want to stretch it out
    height: 100% ;
    transform: none !important ; // remove transition effect
    border-radius: 0 ;
    padding-top: var(--custom-app-top-bar-height);

    .scrollerBase_d125d2 {
      @include scrollerFadeOut();
    }

    // bring back title bar separator
    &::after {
      content: "";
      display: block ;
      position: fixed ;
      left: 0 ;
      height: 1px ;
      width: 100vw;
      background: rgb(100, 100, 100) ;
      top: var(--custom-app-top-bar-height);
    }
  }

  // -> sidebar region
  .sidebar__409aa {
    border: none ;
  }

  .fixedContent__409aa::after { display: none }

  // log out item
  [data-list-item-id="settings-sidebar___logout_sidebar_item"] {
    color: var(--red);
  }

  // T1 version (bd, regular)
  :is(.bd-version-info, .compactInfo__2debe)::before {
    content: "T1 - Theme: \a v#{$T1_v} by Eight_P" !important;
    display: block !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: rgb(114, 118, 125) !important;
    white-space: break-spaces !important;
    margin-bottom: 16px !important;
    text-transform: none !important;
  }
  // <- sidebar region

  // -> content region
  .panel__6131a {
    margin-top: 30px ;
  }

  .contentHeader_e9e3ed {
    border: none ;
  }

  // -> Client Themes
  .header__67a11 .title__67a11 {
    position: relative ;
    padding-top: 30px ;

    &::before {
      content: "Not compatible with T1 Theme.";
      position: absolute ;
      display: block ;
      top: 0px ;
      color: var(--red);
      font-weight: 600 ;
      width: max-content ;
    }
  }
  // <- Client Themes

  // -> BD
  .bd-store-card {
    background: $BtnBackgroundNormal ;

    &:hover {
      background: $BtnBackgroundHover ;
    }
  }

  .bd-search-wrapper {
    @include searchbar(".bd-search");
  }
  // <- BD
  // <- content region
}
// <- User settings


// -> Channel settings
.sidebarRegion__23e6b  {

  // delete channel button
  .tabBarItemContainer_c7e907:has([d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"]) {
    color: var(--red) ;
  }
}
// <- Channel settings

// -> Server settings (hell)
.contentRegion__23e6b {

  .page__91dc3 {
    flex-direction: row ;
  }

  // inner content region container (IDK)
  .contentRegionScroller__23e6b:has(.page__91dc3) {
    overflow: hidden !important ;
  }

  // -> Roles
  // outer container
  .content_d125d2 > div:not([class]):first-child {
    display: none ;
  }

  // -> roles list
  .item_aa8da2 .text-sm_cf4812\/medium {
    color: currentColor !important ;
  }

  // roles sidebar "back" header
  .titleContainer_e29cd7 {
    padding: 8px ;
  }
  // <- roles list

  // -> header right side
  .header_c6bf1b {
    width: 100% ;
    margin: 0 ;
    padding: 8px 8px 18px 8px ;
  }
  // role warning header box
  :is(.titleContainer__81b3e, .container__35859, .noticeContainer__16663) {
    position: relative ;
  }

  .notice_cdf6f1 {
    background: none ;
  }

  .searchContainer__16663 .container__72c38 {
    z-index: 1 ;
  }
  // <- header right side

  // -> right side content (the scrolling is very weird)
  .contentContainer__91dc3 {
    top: 60px ;
  }

  .contentWidth_c6bf1b {
    width: auto ;
  }
  // <- right side content
  // <- Roles
}

// <- Server settings

// -> User settings old (for channels settings) (might remove)
.layer__960e4:not(.baseLayer__960e4) {
  margin-top: var(--custom-app-top-bar-height);

  // -> Left side sidebar
  .sidebarRegionScroller__23e6b {
    @include scrollbar(none);
  }

  .sidebarRegion__23e6b {
    flex: 1 0 240px ;

    .sidebar__23e6b {
      width: 240px ;
      padding-top: 20px ;
    }

    // -> Category item
    .item_aa8da2 {
      transition: none ;
    }
    // <- Category item
  }
  // <- Left side

  // -> Content region
  .contentRegionScroller__23e6b {
    margin-top: 60px ;
  }

  .contentColumnDefault__23e6b {
    padding: 20px 10px 100px 20px ;
  }

  // -> Close btn
  .toolsContainer__23e6b {
    display: contents;

    .tools__23e6b {
      position: absolute ;
      top: 20px ;
      right: 20px ;
    }

    .container_c2b141 {
      flex-direction: row-reverse ;
    }

    .closeButton_c2b141 {
      width: 32px ;
      height: 32px ;
      flex: unset ;
    }

    .keybind_c2b141 {
      margin: 0 6px ;
     }
  }
  // <- Close btn
  // <- Content region
}
// <- User settings old