@use '../mixins/new_mixins' as * ;

// -- User

// Popout gone until reworked
@import 'new_userPopout' ;
// @import 'userPopout_old' ;

@import 'new_userModal' ;

// Dm's sidebar
@import 'new_userSidebar' ;



#app-mount {

  // -> Profile picture decorations
  @container style(--hide-avatarDecorations: 1) {
    :is(._44b0c28be7879b7b-avatarDecoration, .c19a557985eb7793-avatarDecoration) { display: none }
  }
  // <- Profile picture decorations

  // -> Profile Animations effects
  @container style(--hide-profileEffects: 1) {
    ._0137000bc80ab6ea-profileEffects { display: none }
  }
  // <- Profile Animations effects

  // -> Nameplates
  @container style(--hide-nameplates: 1 ) or style(--hide-nameplates: 3 ) {
    // member list
    ._91a9d7f7e5248a56-nameplated {
      &._91a9d7f7e5248a56-childContainer {
        padding-right: 8px ;
      }
      ._4bbc6dc06e75ad52-container { display: none }
    }

    // dms
    ._972a0d22c8afa7f0-channel {
      ._4bbc6dc06e75ad52-container { display: none }
      ._972a0d22c8afa7f0-innerCloseButtonPlated {
        background: none ;
        backdrop-filter: none ;
      }
    }
  }

  @container style(--hide-nameplates: 2 ) or style(--hide-nameplates: 3 ) {
    // sidebar profile panel
    ._37e49614b9f110a9-container ._4bbc6dc06e75ad52-container { display: none }
  }
  // <- Nameplates

  // -> User name (holographic) gradient effect
  @container style(--disable-roleGradients: 1 ) {
    .e5de7811b2777bfa-animateGradient {
      animation: none ;

      &::after { display: none }
    }

    .e5de7811b2777bfa-usernameGradient {
      background: var(--custom-gradient-color-1);
      background-clip: text ;
      background-size: 100px auto ;
    }

    // member list
    .e5de7811b2777bfa-usernameGlow { display: none }
  }
  // <- User name (holographic) gradient effect

  // -> Clan tags
  // member list
  @container style(--hide-clanTags: 1 ) or style(--hide-clanTags: 2 ) {

    ._5d473ecff348c314-username ._5d473ecff348c314-clanTag { display: none }
  }

  // Clan tags all
  @container style(--hide-clanTags: 2 ) {

    :is(
      .c19a557985eb7793-clanTagChiplet, // chat
      ._07f9193042954787-voiceUser ._07f9193042954787-clanTag // user in voice
    )
    { display: none }
  }
  // <- Clan tags
}
