// User | User popout, Account popout

// not shop preview
.user-profile-popout:not(.container__5a2c6) {
  // -> General
  $BG-Body: var(--background-tertiary);

  $PopoutWidht: 340px ;
  $ProfileTop: 20 + 21 + 12 + 1 + 8 - 4 ;
  $ProfileLeft: -64 ;
  $AvatarPadding: (119 - 80px) * .5 ;
  $ActionBtnPadding: 8px ;

  border-radius: 12px ;
  width: $PopoutWidht ;
  padding: 0 ; // nitro border
  overflow: hidden scroll ;

  @include shadowEffect("box_2");
  @include scrollbar(none);

  --bg_items: var(--background-modifier-hover);
  --bg_itemsHover: var(--background-modifier-selected);
  --bg_cards: hsl(from var(--user-profile-overlay-background) h s l / .1 );

  --c_items: hsl(from var(--control-text-secondary-default) h s 65% / 1 );
  --c_itemsHover: hsl(from var(--control-text-secondary-default) h s 85% / 1 );

  --custom-user-profile-base-layer-z-index: 3 ; // keep profile effect below

  &:not(.custom-user-profile-theme) {
    background: $BG-Body;
  }

  &.custom-user-profile-theme {
    --bgModifier_item: var(--redesign-button-overlay-alpha-background, var(--profile-body-background-hover));

    --bg_items: hsl(from var(--bgModifier_item) h s l / .15 );
    --bg_itemsHover: hsl(from var(--bgModifier_item) h s l / .35 );
  }

  .inner_c0bea0 {
    padding: 0 ;
    gap: 0px ;
    overflow: visible ;
  }
  // <- General

  // -> Background effects
  .profileEffects__01370 {
    z-index: 1 ;

    &:not(.hovered__01370) {
      opacity: .8 ;
    }
  }
  // <- Background effects

  // -> User action btns
  .wrapper_da5890 {
    top: $ActionBtnPadding ;
    right: $ActionBtnPadding ;

    .button__201d5 {
      height: 30px ;
      width: 30px ;

      @include shadowEffect("box_3");

      // reset global btn design
      background: var(--redesign-button-overlay-alpha-background) !important ;
      color: var(--white) !important ;
      opacity: .9 ;

      &:hover {
        background: var(--redesign-button-overlay-alpha-pressed-background) !important ;
        opacity: 1 ;
      }
    }
  }
  // <- User action btns

  // -> Header
  .header__5be3e {
    min-height: unset ;
    height: auto ;

    // banner: mask, separator, gif indicator, avatar/status react action
    :is(.mask__68edb mask, .banner__68edb:before, .gifTag__68edb, .popover__2d0ab) { display: none }

    // -> Avatar / Status icon
    // Main container
    .avatar__75742 {
      top: $AvatarPadding ;
      left: $AvatarPadding ;
      // z-index: 10 ; // for status icon

      // -> Image / Status icon
      .svg__44b0c {
        top: $ProfileTop * 1px ;
        left: $ProfileLeft * 1px ;
        contain: none ;
        overflow: visible ;

        foreignObject {
          position: absolute ;
          x: $ProfileLeft * -1 ;
          y: $ProfileTop * -1 ;
          mask: none ;
          overflow: visible ;
          pointer-events: auto ;
        }
      }

      // hover overlay
      .avatarStack__44b0c {
        &::after {
          border-radius: 7.5% ;
          opacity: 0 ;
        }
        &:hover::after {
          opacity: .4 ;
        }
      }

      // Picture
      .avatar__44b0c {
        border-radius: 7.5% ;

        &:not([src$="animated=true"]) { @include shadowEffect("drop_1") }
      }

      // -> Status
      // Status icon
      .pointerEvents__44b0c {
        pointer-events: none ;

        // online on mobile icon (regular)
        &[mask="url(#svg-mask-status-online-mobile)"] {
          height: 18px ;
          width: 12px ;
          x: 60 + 2 ;
          y: 52 + 7 ;
        }
      }

      // Status icon shadow
      [style^="opacity:"] { display: none }
      // <- Status

      // Avatar decorations cutout for status icon
      .avatarDecoration__44b0c > foreignObject { mask: none }

      // <- Image / Status icon
    }
    // <- Avatar / status icon

    // -> Status text
    // main container
    .container_ab8609 {
      position: absolute ;
      display: flex ;
      // sets center mostly
      inset: ($AvatarPadding + (80 - 40) - 5) $ActionBtnPadding 20px 120px ;
      width: unset ;
      height: unset ;
      align-items: center ;
      justify-content: center ;
      pointer-events: none ; // for hover on gif banner

      // second container
      .outer_ab8609 {
        display: contents ;

        &::after, &::before { display: none }
      }
    }

    .inner_ab8609 {
      padding: 3px 6px ;
      background: var(--redesign-button-overlay-alpha-background);
      border-radius: 8px ;
      pointer-events: auto ;

      @include shadowEffect("box_3");
    }

    // status type label
    .labelRow__1fdc8 {

      path {
        fill: var(--header-secondary) !important;
      }

      .labelText__1fdc8 {
        color: var(--header-secondary) !important;
      }
    }

    // -> add self status
    .addStatusIcon_ab8609 path {
      fill: var(--header-secondary) !important;
      fill: $BtnTextNormal !important;
    }

    .addStatusPrompt_ab8609 {
      color: var(--header-secondary) !important;
      color: $BtnTextNormal !important;
      font-style: normal ;
    }

    // hover
    .clickable_ab8609:hover {
      .addStatusIcon_ab8609 path {
        fill: $BtnTextHover !important;
      }
      .addStatusPrompt_ab8609 {
        color: $BtnTextHover !important;
      }
    }
    // <- add self status

    .statusText_ab8609 {
      color: var(--white);
    }

    .content_ab8609.unclamped_ab8609 {
      -webkit-line-clamp: 4 ;
    }

    // edit self status btns
    .popover_c97e55 {
      top: 50% !important ;
      right: 50% ;
      transform: translate(50%, -50%);
      background: var(--redesign-button-overlay-alpha-background);
    }

    // don't know but needed
    .referenceContainer_ab8609 {
      position: absolute ;
    }
    // <- Status text

  }
  // <- Header

  // -> Body user popout
  .body__5be3e {
    gap: 14px ;
    padding: 12px 16px 18px !important ;
    background: none ;
    overflow: visible !important ;
    z-index: var(--custom-user-profile-top-layer-z-index);

    @include scrollbar(none);
  }

  // -> Name, Badges, ..
  // section container
  .container__63ed3 {
    display: flex ;
    flex-direction: column ;
    gap: 7px ;
  }

  // -> Display name
  .usernameRow__63ed3 {
    gap: 0 ;
  }

  :has(.pointerEvents__44b0c) .usernameRow__63ed3 .clickableUsername__63ed3 {
    margin-left: 24px ;
  }

  .nickname__63ed3 {
    font-size: 19px ;
    line-height: 24px ;
    max-width: 308px - 24px ;
    text-overflow: ellipsis ;
  }

  // name action btns
  .nicknameIcons__63ed3 {
    margin-left: 7px ;
  }
  // <- Display name

  // -> Account name, Pronouns, Guild tag, Badges
  .tags__63ed3 {
    gap: 8px ;
  }

  .guildTagContainer__63ed3 {
    background: var(--bg_items);
    border-color: transparent ;
  }

  .botTag__82f07 {
    position: absolute ;
    top: - 122 - 2 * 1px ;
    left: $PopoutWidht * 0.5 ;
    padding: 3px 8px ;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px ;
    background: $BG-Body !important ;

    @include shadowEffect("box_3");
  }
  // <- Account name, Pronouns, Guild tag, Badges
  // <- Name, Badges, ..

  // -> Roles
  .role_dfa8b6, // roles
  .root_fccfdf .button__7d7f7, // add roles btn
  .expandButton_fccfdf, // view all roles btn
  .collapseButton_fccfdf // revert "view all"
  {
    background: var(--bg_items);
    border-color: transparent ;
  }
  // <- Roles

  // -> Item cards (Activities, Game Collection)
  // item inner container outer
  .clickableContainer__39ec2 {
    pointer-events: none ;
  }

  // item outer
  .card__39ec2 {
    // background: var(--bg_cards);

    // not sure if they should have bg or not
    background: none !important ;
    backdrop-filter: none !important ;
    box-shadow: none !important ;
    border: none !important ;
    padding: 0 ;

    :is(.header__39ec2, .actions__39ec2) {
      pointer-events: auto ;
    }

    // btn container
    .actions__39ec2 {
      justify-content: center ;
    }

    .button_a22cb0 {
      background: var(--bg_items) !important ;
      color: var(--c_items) !important;

      &:hover {
        color: var(--c_itemsHover) !important;
        background: var(--bg_itemsHover) !important;
      }
    }
  }

  // show 1 more activity btn
  .hasShowMoreButton__84832 {
    margin-bottom: 34px ;

    .showMoreButton__84832 {
      transform: unset ;
      background: none ;
      border: none !important ;
    }
  }

  // Game Collection (has acrylic effect)
  .innerContainer_c2a763 {
    background: var(--bg_cards);
  }
  // <- Item cards (Activities, Game Collection)

  // -> Bot action btns
  .buttons_bc38cd .button_bc38cd {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
  // <- Bot action btns

  // -> Bot commands
  .list__20827 .button__201d5 {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
    // <- Bot commands

  // <- Body user popout

  // -> Body account panel
  // best to avoid overflow
  .body_ce8328 {
    padding: 12px 16px 18px !important ;
    gap: 22px ;
    background: none ;
    overflow: visible !important ;

    .upsellContainer__5997d { display: none }
  }

  .menus_ce8328 {

    .overlay_c0bea0  {
      padding: 4px 8px ;
      background: var(--bg_items);
    }
  }
  // <- account panel

  // -> Footer
  .footer__5be3e {
    padding: 0 ;

    --footerDivider: rgb(from var(--channel-text-area-placeholder) r g b / .5 );

    @include divider(top, ("color": var(--footerDivider)));

    .channelTextArea__74017 {
      border: none ;
      border-radius: 0 ;
      background: var(--background-secondary-alt);
      background: none ;
    }

    > .button__6af3a {
      background: none !important ;
    }
  }
  // <- Footer
}

// User popout loading indicator
.layer__59d0d .loadingPopout__58f1c { display: none }
