#app-mount .root__9c3be {
  pointer-events: none ;

  // .outer_c0bea0  {
  .user-profile-modal-v2  {
    min-width: unset ;
    width: 750px ;
    border: none ;
    background: none ;
    max-height: 75vh ;
    outline: none ;

    // main layout container
    .inner_c0bea0 {
      padding: 0 ;
      gap: 0px ;
      background: none ;
    }

    .backgroundImage__9c3be {
      display: none ;
    }

    // -> left side profile section
    .profile__9c3be {
      width: 375px ;
      border-radius: var(--radius-lg);
      overflow: hidden ;
      z-index: 1 ;
      pointer-events: auto ;
      outline: none ;

      @include shadowEffect("box_2");

      .profileBody__9c3be  {
        padding: 4px 14px 8px 22px !important ;

        @include scrollerFadeOut();
      }

      // overriding my stupid btn design
      .profileButtons__9c3be {
        .themeColor_fb7f94.primary_fb7f94 {
          background: var(--profile-gradient-button-color) !important ;
          color: var(--white-500);
        }

        .lookFilled__201d5.colorPrimary__201d5 {
          background-color: var(--button-secondary-background) !important ;
          color: var(--button-secondary-text) !important ;
        }
      }
    }
    // <- left side profile section

    // -> right side body
    .container__37bfc {
      position: relative ;
      height: 85% ;
      margin: 0 ;
      align-self: center ;
      padding: 10px 0 0 0 ;
      border-radius: 0 var(--radius-lg) var(--radius-lg) 0 ;
      pointer-events: auto ;
      gap: 0 ;
      background: linear-gradient(
        color-mix(in oklab,
          var(--profile-gradient-overlay-color) 80% ,
          var(--profile-gradient-modal-background-color)
        ),

        color-mix(in oklab,
          var(--profile-gradient-overlay-color) 20% ,
          var(--profile-gradient-modal-background-color)
        )
        300px
      );

      &::before {
        content: "";
        position: absolute ;
        display: block ;
        inset: 0 ;
        background: linear-gradient(
          var(--profile-gradient-modal-background-color),
          var(--profile-gradient-modal-background-color)
        );
        z-index: -1 ;
      }

      // -> tab bar
      .tabListScroller__37bfc {
        margin: 0 ;
        padding: 0 5px ;

        @include divider(bottom);
      }

      // inner
      .top_aa8da2 {
        justify-content: space-around ;
        border: none ;
      }

      // item
      .tabBarItem__37bfc {
        margin: 0 ;
        padding: 6px ;

        &::after { display: none }
      }
      // <- tab bar

      // -> body
      .tabBarPanel__37bfc {
        padding-left: 12px ;

        @include scrollerFadeOut();
      }
      // <- body

      // -> Activity body
      // Activity action/reaction btns
      .activityPopover__2d0ab { display: none }

      // item cards
      .overlay_c0bea0  {
        background: none ;
        border: none ;
      }
      // <- Activity body

      // -> Games
      .container__62dd3 {
        background: none ;
        border: none ;
      }
      // "games i like" container
      .coverList__9a5c3 {
        grid-template-columns: repeat(auto-fit, var(--custom-game-cover-width, 88px));
      }
      // <- Games
    }
    // <- right side body
  }
}