// -> User modal (new)
._9c3bea41fd465666-root {
  pointer-events: none ;

  @include scrollbar(none);

  .user-profile-modal-v2  {
    min-width: unset ;
    width: 800px ;
    border: none ;
    background: none ;
    max-height: 75vh ; // affected by general modal design (_modals:9)
    outline: none ;

    // main layout container
    .c0bea05627c5dc35-inner {
      padding: 0 ;
      gap: 0px ;
      background: none ;
    }

    ._9c3bea41fd465666-backgroundImage {
      display: none ;
    }

    // default / no theme
    &:not(.custom-user-profile-theme) {

      ._9c3bea41fd465666-profile {
        background: var(--background-tertiary);
      }

      ._37bfcf3d457db7a9-container {
        background: var(--background-secondary-alt);
      }
    }

    // -> left side profile section
    ._9c3bea41fd465666-profile {
      width: 375px ; // 350px ?
      border-radius: var(--radius-lg);
      overflow: hidden ;
      z-index: 1 ;
      pointer-events: auto ;
      outline: none ;

      @include shadowEffect("box_2");

      ._9c3bea41fd465666-profileBody  {
        padding: 4px 14px 8px 22px !important ;

        @include scrollerFadeOut();
      }

      // overriding my stupid btn design
      ._9c3bea41fd465666-profileButtons {
        .themeColor_fb7f94.primary_fb7f94 {
          background: var(--profile-gradient-button-color) !important ;
          color: var(--white-500);
        }

        ._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorPrimary {
          background-color: var(--button-secondary-background) !important ;
          color: var(--button-secondary-text) !important ;
        }
      }
    }
    // <- left side profile section

    // -> right side info
    ._37bfcf3d457db7a9-container {
      // -> main container
      position: relative ;
      height: 85% ;
      margin: 0 ;
      align-self: center ;
      padding: 10px 0 0 0 ;
      border-radius: 0 var(--radius-lg) var(--radius-lg) 0 ;
      pointer-events: auto ;
      gap: 0 ;
      background: linear-gradient(
        color-mix(in oklab,
          var(--profile-gradient-overlay-color) 80% ,
          var(--profile-gradient-modal-background-color)
        ),

        color-mix(in oklab,
          var(--profile-gradient-overlay-color) 20% ,
          var(--profile-gradient-modal-background-color)
        )
        300px
      );

      &::before {
        content: "";
        position: absolute ;
        display: block ;
        inset: 0 ;
        background: linear-gradient(
          var(--profile-gradient-modal-background-color),
          var(--profile-gradient-modal-background-color)
        );
        z-index: -1 ;
      }
      // <- main container

      // -> tab bar
      ._37bfcf3d457db7a9-tabListScroller {
        margin: 0 ;
        padding: 0 5px ;

        @include divider(bottom);
      }

      // inner
      .aa8da23faa27393c-top {
        justify-content: space-around ;
        border: none ;
      }

      // item
      ._37bfcf3d457db7a9-tabBarItem {
        margin: 0 ;
        padding: 6px ;

        &::after { display: none }
      }
      // <- tab bar

      // -> body
      ._37bfcf3d457db7a9-tabBarPanel {
        padding-left: 12px ;

        @include scrollerFadeOut();
      }

      // empty tabs containers (activity/friends/servers, board, wishlist)
      :is(.e766f2028d7616c7-empty, ._7ff05402592519cc-empty, ._4fbcc81dbba4d7a8-emptyStateContainer) {
        height: 100% ;
        padding-top: 0 ;
        justify-content: center ;
      }

      // -> Activity body
      // Activity action/reaction btns
      ._2d0abf0638bcaa3f-activityPopover { display: none }

      // item cards
      .c0bea05627c5dc35-overlay  {
        background: none ;
        border: none ;
      }
      // <- Activity body

      // -> Games
      .dragAndDropHitbox__62dd3  {
        margin-left: 0 ;
        padding-left: 0 ;
      }

      ._62dd31d5e86f2841-dragHandleButton {
        inset-inline-start: unset !important ;
        top: 0 !important ;
        left: 0 !important ;
        transform: translate(-25%, -25%);
      }

      ._62dd31d5e86f2841-container {
        background: none ;
        border: none ;
        padding: 12px 8px ;
      }
      // "games i like" container
      ._9a5c352fc10aea40-coverList {
        // grid-template-columns: repeat(auto-fit, var(--custom-game-cover-width, 88px));
        // only loads first 8 :(

        // "show more" btn
        ~ ._7d7f78b99d0a7581-button {
          margin: 15px auto 0 auto ;
        }
      }
      // <- Games
      // <- body
    }
    // <- right side info
  }

  // save changes banner
  ._9fc7dcf22fe7c714-pendingChangesNotice {
    pointer-events: auto ;

    .a582673ee150fcb4-content {
      background: var(--background-tertiary);
    }
  }
}
// <- User modal (new)
