// User | DMs sidebar
.f75fb00fb7356cbe-content .c0bea05627c5dc35-outer {

  --user-profile-overlay-background: var(--background-modifier-accent);
  
  &.custom-user-profile-theme {
    --user-profile-overlay-background: var(--background-modifier-accent);

    .c0bea05627c5dc35-inner {
      background: none ;
    }
  }

  ._7f9c030b25536e94-footer {
    height: 52px ;

    @include divider(top);
  }
}