// User | User popout, Account popout

// not shop preview
.user-profile-popout:not(._5a2c624eb18affaa-container) {
  // -> General
  $BG-Body: var(--background-tertiary);

  $PopoutWidht: 340px ;
  $ProfileTop: 20 + 21 + 12 + 1 + 8 - 4 ;
  $ProfileLeft: -64 ;
  $AvatarPadding: (119 - 80px) * .5 ;
  $ActionBtnPadding: 8px ;

  border-radius: 12px ;
  width: $PopoutWidht ;
  padding: 0 ; // nitro border
  overflow: hidden scroll ;

  @include shadowEffect("box_2");
  @include scrollbar(none);

  --bg_items: var(--background-modifier-hover);
  --bg_itemsHover: var(--background-modifier-selected);
  --bg_cards: hsl(from var(--user-profile-overlay-background) h s l / .1 );

  --c_items: hsl(from var(--control-secondary-text-default) h s 65% / 1 );
  --c_itemsHover: hsl(from var(--control-secondary-text-default) h s 85% / 1 );

  --custom-user-profile-base-layer-z-index: 3 ; // keep profile effect below

  &:not(.custom-user-profile-theme) {
    background: $BG-Body ;
  }

  &.custom-user-profile-theme {
    --bgModifier_item: var(--redesign-button-overlay-alpha-background, var(--profile-body-background-hover));

    --bg_items: hsl(from var(--bgModifier_item) h s l / .15 );
    --bg_itemsHover: hsl(from var(--bgModifier_item) h s l / .35 );
  }

  .c0bea05627c5dc35-inner {
    padding: 0 ;
    gap: 0px ;
    overflow: visible ;
  }
  // <- General

  // -> Background effects
  ._0137000bc80ab6ea-profileEffects {
    z-index: 1 ;

    &:not(._0137000bc80ab6ea-hovered) {
      opacity: .8 ;
    }
  }
  // <- Background effects

  // -> User action btns
  ._0c74f6fd004aa317-wrapper {
    top: $ActionBtnPadding ;
    right: $ActionBtnPadding ;

    ._201d5e8a3c09670a-button {
      height: 30px ;
      width: 30px ;

      @include shadowEffect("box_3");

      // reset global btn design
      background: var(--redesign-button-overlay-alpha-background) !important ;
      color: var(--white) !important ;
      opacity: .9 ;

      &:hover {
        background: var(--redesign-button-overlay-alpha-pressed-background) !important ;
        opacity: 1 ;
      }
    }
  }
  // <- User action btns

  // -> Header
  ._5be3ef42f92174b2-header {
    min-height: unset ;
    height: auto ;

    // banner: mask, separator, gif indicator, avatar/status react action
    :is(._68edb95846a37624-mask mask, ._68edb95846a37624-banner:before, ._68edb95846a37624-gifTag, ._2d0abf0638bcaa3f-popover) { display: none }

    // -> Avatar / Status icon
    // Main container
    ._75742e4cc9019aeb-avatar {
      top: $AvatarPadding ;
      left: $AvatarPadding ;
      // z-index: 10 ; // for status icon

      // -> Image / Status icon
      ._44b0c28be7879b7b-svg {
        top: $ProfileTop * 1px ;
        left: $ProfileLeft * 1px ;
        contain: none ;
        overflow: visible ;

        foreignObject {
          position: absolute ;
          x: $ProfileLeft * -1 ;
          y: $ProfileTop * -1 ;
          mask: none ;
          overflow: visible ;
          pointer-events: auto ;
        }
      }

      // hover overlay
      ._44b0c28be7879b7b-avatarStack {
        &::after {
          border-radius: 7.5% ;
          opacity: 0 ;
        }
        &:hover::after {
          opacity: .4 ;
        }
      }

      // Picture
      ._44b0c28be7879b7b-avatar {
        border-radius: 7.5% ;

        &:not([src$="animated=true"]) { @include shadowEffect("drop_1") }
      }

      // -> Status
      // Status icon
      ._44b0c28be7879b7b-pointerEvents {
        pointer-events: none ;

        // online on mobile icon (regular)
        &[mask="url(#svg-mask-status-online-mobile)"] {
          height: 18px ;
          width: 12px ;
          x: 60 + 2 ;
          y: 52 + 7 ;
        }
      }

      // Status icon shadow
      [style^="opacity:"] { display: none }
      // <- Status

      // Avatar decorations cutout for status icon
      ._44b0c28be7879b7b-avatarDecorationContainer > foreignObject { mask: none }

      // <- Image / Status icon
    }
    // <- Avatar / status icon

    // -> Status text
    // main container
    .ab86098b36386ff7-container {
      position: absolute ;
      display: flex ;
      // sets center mostly
      inset: ($AvatarPadding + (80 - 40) - 5) $ActionBtnPadding 20px 120px ;
      width: unset ;
      height: unset ;
      align-items: center ;
      justify-content: center ;
      pointer-events: none ; // for hover on gif banner

      // second container
      .ab86098b36386ff7-outer {
        display: contents ;

        &::after, &::before { display: none }
      }
    }

    .ab86098b36386ff7-inner {
      padding: 3px 6px ;
      background: var(--redesign-button-overlay-alpha-background);
      border-radius: 8px ;
      pointer-events: auto ;

      @include shadowEffect("box_3");
    }

    // status type label
    .labelRow__1fdc8 {

      path {
        fill: var(--header-secondary) !important;
      }

      .labelText__1fdc8 {
        color: var(--header-secondary) !important;
      }
    }

    // -> add self status
    .ab86098b36386ff7-addStatusIcon path {
      fill: var(--header-secondary) !important;
      fill: $BtnTextNormal !important;
    }

    .ab86098b36386ff7-addStatusPrompt {
      color: var(--header-secondary) !important;
      color: $BtnTextNormal !important;
      font-style: normal ;
    }

    // hover
    .ab86098b36386ff7-clickable:hover {
      .ab86098b36386ff7-addStatusIcon path {
        fill: $BtnTextHover !important;
      }
      .ab86098b36386ff7-addStatusPrompt {
        color: $BtnTextHover !important;
      }
    }
    // <- add self status

    .ab86098b36386ff7-statusText {
      color: var(--white);
    }

    .ab86098b36386ff7-content.ab86098b36386ff7-unclamped {
      -webkit-line-clamp: 4 ;
    }

    // edit self status btns
    .c97e55feac203869-popover {
      top: 50% !important ;
      right: 50% ;
      transform: translate(50%, -50%);
      background: var(--redesign-button-overlay-alpha-background);
    }

    // don't know but needed
    .ab86098b36386ff7-referenceContainer {
      position: absolute ;
    }
    // <- Status text

  }
  // <- Header

  // -> Body user popout
  ._5be3ef42f92174b2-body {
    gap: 14px ;
    padding: 12px 16px 18px !important ;
    background: none ;
    overflow: visible !important ;
    z-index: var(--custom-user-profile-top-layer-z-index);

    @include scrollbar(none);
  }

  // -> Name, Badges, ..
  // section container
  ._63ed30c16c7151f2-container {
    display: flex ;
    flex-direction: column ;
    gap: 7px ;
  }

  // -> Display name
  ._63ed30c16c7151f2-usernameRow {
    gap: 0 ;
  }

  :has(._44b0c28be7879b7b-pointerEvents) ._63ed30c16c7151f2-usernameRow ._63ed30c16c7151f2-clickableUsername {
    margin-left: 24px ;
  }

  ._63ed30c16c7151f2-nickname {
    font-size: 19px ;
    line-height: 24px ;
    max-width: 308px - 24px ;
    text-overflow: ellipsis ;
  }

  // name action btns
  ._63ed30c16c7151f2-nicknameIcons {
    margin-left: 7px ;
  }
  // <- Display name

  // -> Account name, Pronouns, Guild tag, Badges
  ._63ed30c16c7151f2-tags {
    gap: 8px ;
  }

  ._63ed30c16c7151f2-guildTagContainer {
    background: var(--bg_items);
    border-color: transparent ;
  }

  ._82f0793afa59e5dc-botTag {
    position: absolute ;
    top: - 122 - 2 * 1px ;
    left: $PopoutWidht * 0.5 ;
    padding: 3px 8px ;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px ;
    background: $BG-Body !important ;

    @include shadowEffect("box_3");
  }
  // <- Account name, Pronouns, Guild tag, Badges
  // <- Name, Badges, ..

  // -> Roles
  .dfa8b6b94cddb191-role, // roles
  .fccfdf3cfff21921-root ._7d7f78b99d0a7581-button, // add roles btn
  .fccfdf3cfff21921-expandButton, // view all roles btn
  .fccfdf3cfff21921-collapseButton // revert "view all"
  {
    background: var(--bg_items);
    border-color: transparent ;
  }
  // <- Roles

  // -> Item cards (Activities, Game Collection)
  // item inner container outer
  ._39ec2e3dfb4fd2f2-clickableContainer {
    pointer-events: none ;
  }

  // item outer
  ._39ec2e3dfb4fd2f2-card {
    // background: var(--bg_cards);

    // not sure if they should have bg or not
    background: none !important ;
    backdrop-filter: none !important ;
    box-shadow: none !important ;
    border: none !important ;
    padding: 0 ;

    :is(._39ec2e3dfb4fd2f2-header, ._39ec2e3dfb4fd2f2-actions) {
      pointer-events: auto ;
    }

    // btn container
    ._39ec2e3dfb4fd2f2-actions {
      justify-content: center ;
    }

    .a22cb0c66246f5d3-button {
      background: var(--bg_items) !important ;
      color: var(--c_items) !important;

      &:hover {
        color: var(--c_itemsHover) !important;
        background: var(--bg_itemsHover) !important;
      }
    }
  }

  // show 1 more activity btn
  .hasShowMoreButton__84832 {
    margin-bottom: 34px ;

    .showMoreButton__84832 {
      transform: unset ;
      background: none ;
      border: none !important ;
    }
  }

  // Game Collection (has acrylic effect)
  .c2a7636633222ffa-innerContainer {
    background: var(--bg_cards);
  }
  // <- Item cards (Activities, Game Collection)

  // -> Bot action btns
  .bc38cddea75da082-buttons .aec7abc73c126bc0-button {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
  // <- Bot action btns

  // -> Bot commands
  ._20827cfa325893cd-list ._201d5e8a3c09670a-button {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
    // <- Bot commands

  // <- Body user popout

  // -> Body account panel
  // best to avoid overflow
  .ce832809562bf737-body {
    padding: 12px 16px 18px !important ;
    gap: 22px ;
    background: none ;
    overflow: visible !important ;

    ._5997d01a3565bdaa-upsellContainer { display: none }
  }

  .ce832809562bf737-menus {

    .c0bea05627c5dc35-overlay  {
      padding: 4px 8px ;
      background: var(--bg_items);
    }
  }
  // <- account panel

  // -> Footer
  ._5be3ef42f92174b2-footer {
    padding: 0 ;

    --footerDivider: rgb(from var(--channel-text-area-placeholder) r g b / .5 );

    @include divider(top, ("color": var(--footerDivider)));

    ._740174f3d6a2c8fe-channelTextArea {
      border: none ;
      border-radius: 0 ;
      background: var(--background-secondary-alt);
      background: none ;
    }

    // edit profile (overriding btn design)
    > .a22cb0c66246f5d3-button {
      background: none !important ;
      color: var(--text-default) !important;
    }
  }
  // <- Footer

}

// User popout loading indicator
._59d0d7075b521375-layer ._58f1c3000c2c5b3e-loadingPopout { display: none }
