@use '../mixins/_mixins' as * ;

// -- User

// Popout gone until reworked for performance (after new modal hits to stable)
// @import 'userPopout' ;


// -> Temp
.layer_da8173 .loadingPopout__58f1c { display: none }

#app-mount .outer_c0bea0 .body__5be3e {
  background: none ;
}
// <- Temp


// Dm's sidebar
@import 'userSidebar' ;



#app-mount {

  // Profile picture decorations
  // @container style(--show-avatarDecorations: 0) {
  @container style(--hide-avatarDecorations: 1) {
    :is(.avatarDecoration__44b0c, .avatarDecoration_c19a55) { display: none }
  }

  // Profile Animations effects
  // @container style(--show-userProfile-effects: 0) {
  @container style(--hide-profileEffects: 1) {
    .profileEffects__01370 { display: none }
  }

  // Nameplates
  // @container style(--show-namePlates: 0 ) {
  @container style(--hide-nameplates: 1 ) {
    .nameplated__91a9d {
      &.childContainer__91a9d {
        padding-right: 8px ;
      }
      .container__4bbc6 { display: none }
    }
  }

  // User name (holographic) gradient effect
  @container style(--disable-roleGradients: 1 ) {
    .animateGradient_e5de78 {
      animation: none ;

      &::after { display: none }
    }

    .usernameGradient_e5de78 {
      background: var(--custom-gradient-color-1);
      background-clip: text ;
      background-size: 100px auto ;
    }

    // member list
    .usernameGlow_e5de78 { display: none }
  }

  // Clan tags member list
  @container style(--hide-clanTags: 1 ) {

    .username__5d473 .chipletContainerInner__10651 { display: none }
  }

  // Clan tags all
  @container style(--hide-clanTags: 2 ) {

    .clanTagChiplet_c19a55, .clanTag__5d473 { display: none }
  }
}

