// User | User popout, Account popout

.user-profile-popout {
  border-radius: 12px ;
  width: 340px ;
  padding: 0 ; // nitro border

  @include shadowEffect("box_2");

  --bg_items: var(--background-modifier-hover);
  --bg_itemsHover: var(--background-modifier-selected);

  &:not(.custom-user-profile-theme) {
    background: var(--background-tertiary);
  }

  &.custom-user-profile-theme {
    --bgModifier_item: var(--redesign-button-overlay-alpha-background, var(--profile-body-background-hover));

    --bg_items: hsl(from var(--bgModifier_item) h s l / .15 );
  }

  .inner_c0bea0 {
    padding: 0 ;
    gap: 0px ;
  }

  // -> User action btns
  .wrapper_da5890 .button__201d5 {

    // reset global btn design
    background: var(--redesign-button-overlay-alpha-background) !important ;
    color: var(--white) !important ;
    opacity: .9 ;

    &:hover {
      background: var(--redesign-button-overlay-alpha-pressed-background) !important ;
      opacity: 1 ;
    }
  }
  // <- User action btns

  // -> Header
  .header__5be3e {
    min-height: unset ;
    height: auto ;

    // banner: mask, separator, gif indicator
    :is(.mask__68edb mask, .banner__68edb:before, .gifTag__68edb) { display: none }

    // -> Avatar / Status icon
    // moving the svg
    $ProfileTop: 20 + 21 + 12 + 1 + 8 - 4 ;
    $ProfileLeft: -64 ;
    $AvatarPadding: (119 - 80px) * .5 ;

    // Main container
    .avatar__75742 {
      top: $AvatarPadding ;
      left: $AvatarPadding ;
      z-index: 10 ; // for status icon

      // -> Image / Status icon
      .svg__44b0c {
        top: $ProfileTop * 1px ;
        left: $ProfileLeft * 1px ;
        contain: none ;
        overflow: visible ;

        foreignObject {
          position: absolute ;
          x: $ProfileLeft * -1 ;
          y: $ProfileTop * -1 ;
          mask: none ;
          overflow: visible ;
          pointer-events: auto ;
        }
      }

      // hover overlay
      .avatarStack__44b0c {
        &::after {
          border-radius: 7.5% ;
          opacity: 0 ;
        }
        &:hover::after {
          opacity: .4 ;
        }
      }

      // Picture
      .avatar__44b0c {
        border-radius: 7.5% ;

        &:not([src$="animated=true"]) { @include shadowEffect("drop_1") }
      }

      // -> Status
      // Status icon
      .pointerEvents__44b0c {
        pointer-events: none ;

        // online on mobile icon (regular)
        &[mask="url(#svg-mask-status-online-mobile)"] {
          height: 18px ;
          width: 12px ;
          x: 60 + 2 ;
          y: 52 + 7 ;
        }
      }

      // Status icon shadow
      [style^="opacity:"] { display: none }
      // <- Status

      // Avatar decorations cutout for status icon
      .avatarDecoration__44b0c > foreignObject { mask: none }

      // <- Image / Status icon
    }
    // <- Avatar / status icon

    // -> Status text
    // main container
    .container_ab8609 {
      position: absolute ;
      display: flex ;
      inset: 45px 20px 20px 120px ;
      width: unset ;
      height: unset ;
      align-items: center ;
      justify-content: center ;
      pointer-events: none ; // for hover on gif banner

      // second container
      .outer_ab8609 {
        display: contents ;

        &::after, &::before { display: none }
      }
    }

    .inner_ab8609 {
      padding: 5px ;
      // background: rgb(0 0 0 / .65 );
      background: var(--redesign-button-overlay-alpha-background);
      border-radius: 8px ;
      pointer-events: auto ;

      @include shadowEffect("box_2");
    }

    // edit self status btns
    .popover__2d0ab {
      display: none ;
    }

    // don't know but needed
    .referenceContainer_ab8609 {
      position: absolute ;
    }
    // <- Status text

  }
  // <- Header

  // -> Body user popout
  .body__5be3e {
    gap: 14px ;
    padding: 12px 16px 18px !important ;
    background: none ;

    @include scrollbar(none);
  }

  // -> Name, Badges, ..
  // section container
  .container__63ed3 {
    display: flex ;
    flex-direction: column ;
    gap: 7px ;
  }

  :has(.pointerEvents__44b0c) .usernameRow__63ed3 .clickableUsername__63ed3 {
    margin-left: 24px ;
  }

  .nickname__63ed3 {
    font-size: 19px ;
    line-height: 24px ;
    max-width: 308px - 24px ;
    text-overflow: ellipsis ;
  }

  .guildTagContainer__63ed3 {
    background: var(--bg_items);
    border-color: transparent ;
  }

  .tags__63ed3 {
    gap: 4px ;
  }
  // <- Name, Badges, ..

  // -> Roles
  .role_dfa8b6, // roles
  .root_fccfdf .button__7d7f7, // add roles btn
  .expandButton_fccfdf, // view all roles btn
  .collapseButton_fccfdf // revert "view all"
  {
    background: var(--bg_items);
    border-color: transparent ;
  }
  // <- Roles

  // -> Activities
  .card__39ec2 {
    background: var(--bg_items);
  }

  .clickableContainer__39ec2:hover>.card__39ec2 {
    background: var(--bg_itemsHover);
  }
  // <- Activities

  // -> Bot action btns
  .buttons_bc38cd .button_bc38cd {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
  // <- Bot action btns

  // -> Bot commands
  .list__20827 .button__201d5 {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
    // <- Bot commands

  // <- Body user popout

  // -> Body account panel
  .body_ce8328 {
    padding: 12px 16px 18px !important ;
    gap: 22px ;
  }

  .menus_ce8328 {

    .overlay_c0bea0  {
      background: var(--bg_items);
    }
  }
  // <- account panel

  // -> Footer
  .footer__5be3e {
    padding: 0 ;

    @include divider(top, ("color": var(--channel-text-area-placeholder)));

    .channelTextArea__74017 {
      border: none ;
      border-radius: 0 ;
      background: var(--background-secondary-alt);
      background: none ;
    }
  }
  // <- Footer
}

// User popout loading indicator
.layer_da8173 .loadingPopout__58f1c { display: none }
