// User | DMs sidebar
.content_f75fb0 .outer_c0bea0 {

  --user-profile-overlay-background: var(--background-modifier-accent);

  &.custom-user-profile-theme {
    --user-profile-overlay-background: var(--background-modifier-accent);

    .inner_c0bea0 {
      background: none ;
    }
  }

  .scrollerBase_d125d2 {
    @include scrollbar(none);
  }

  // slight offset to avoid scroller cut-off
  .header__7f9c0, .wrapper_da5890, .profileEffects__01370 {
    margin-top: 3px ;
  }

  .footer__7f9c0 {

    .footerButton__7f9c0 {
      height: 46px ;
    }

    @include divider(top);
  }
}