// User | User popout, Account popout

// not shop preview
.user-profile-popout:not(.container__5a2c6) {
  // -> General
  $BG-Body: var(--background-tertiary);

  $PopoutWidht: 340px ;
  $ProfileTop: 20 + 21 + 12 + 1 + 8 - 4 ;
  $ProfileLeft: -64 ;
  $AvatarPadding: (119 - 80px) * .5 ;
  $ActionBtnPadding: 8px ;

  border-radius: 12px ;
  width: $PopoutWidht ;
  padding: 0 ; // nitro border
  overflow: hidden scroll ;

  @include shadowEffect("box_2");
  @include scrollbar(none);

  // Floating over banner items
  --bg_floating: var(--control-overlay-secondary-background-default);
  --bg_floatingHover: var(--control-overlay-secondary-background-hover);
  --c_floating: hsl(0, 0%, 80%) ;
  --c_floatingHover: white ;

  // Body items
  --bg_items: hsl(from var(--user-profile-overlay-background) h s 35% / .1 );
  --bg_itemsHover: var(--user-profile-overlay-background-hover);
  --c_items: hsl(from var(--text-strong) h s 70% / 1 );
  --c_itemsHover: var(--text-strong);

  --custom-user-profile-base-layer-z-index: 3 ; // keep profile effect below

  &:not(.custom-user-profile-theme) {
    background: $BG-Body ;
  }

  &.custom-user-profile-theme:not(.theme-light) {
    // --bg_items: hsl(from var(--user-profile-overlay-background) h s l / .15 );
    --bg_items: hsl(from var(--user-profile-overlay-background) h s l / .1 );
  }

  &.custom-user-profile-theme.theme-light {
    --bg_itemsHover: hsl(from var(--user-profile-overlay-background-hover) h s 30% / .15 );
  }

  .inner_c0bea0 {
    padding: 0 ;
    gap: 0px ;
    overflow: visible ;
  }
  // <- General

  // -> Background effects
  .profileEffects__01370 {
    z-index: 1 ;

    &:not(.hovered__01370) {
      opacity: .8 ;
    }
  }
  // <- Background effects

  // -> User action btns
  .wrapper_da5890 {
    top: $ActionBtnPadding ;
    right: $ActionBtnPadding ;

    .bannerButton_fb7f94 {
      height: 30px ;
      width: 30px ;

      @include shadowEffect("box_3");

      // reset global btn design
      background: var(--bg_floating) !important ;
      color: var(--c_floating) !important ;

      &:hover {
        background: var(--bg_floatingHover) !important ;
        color: var(--c_floatingHover) !important ;
      }
    }
  }
  // <- User action btns

  // -> Header
  .header__5be3e {
    min-height: unset ;
    height: auto ;

    // banner: mask, separator, gif indicator, avatar/status react action
    // :is(.mask__68edb mask, .banner__68edb:before, .gifTag__68edb, .popover__2d0ab) { display: none }
    .mask__68edb mask, .banner__68edb:before, .gifTag__68edb, .popover__2d0ab { display: none }

    // -> Avatar / Status icon
    // Main container
    .avatar__75742 {
      top: $AvatarPadding ;
      left: $AvatarPadding ;
      // z-index: 10 ; // for status icon

      // -> Image / Status icon
      .svg__44b0c {
        top: $ProfileTop * 1px ;
        left: $ProfileLeft * 1px ;
        contain: none ;
        overflow: visible ;

        foreignObject {
          position: absolute ;
          x: $ProfileLeft * -1 ;
          y: $ProfileTop * -1 ;
          mask: none ;
          overflow: visible ;
          pointer-events: auto ;
        }
      }

      // hover overlay
      .avatarStack__44b0c {
        &::after {
          border-radius: 7.5% ;
          opacity: 0 ;
        }
        &:hover::after {
          opacity: .4 ;
        }
      }

      // Picture
      .avatar__44b0c {
        border-radius: 7.5% ;

        &:not([src$="animated=true"]) { @include shadowEffect("drop_1") }
      }

      // -> Status
      // Status icon
      .pointerEvents__44b0c {
        pointer-events: none ;

        // online on mobile icon (regular)
        &[mask="url(#svg-mask-status-online-mobile)"] {
          height: 18px ;
          width: 12px ;
          x: 60 + 2 ;
          y: 52 + 7 ;
        }
      }

      // Status icon shadow
      [style^="opacity:"] { display: none }
      // <- Status

      // Avatar decorations cutout for status icon
      .avatarDecorationContainer__44b0c > foreignObject { mask: none }

      // <- Image / Status icon
    }
    // <- Avatar / status icon

    // -> Status text
    // main container
    .container_ab8609 {
      position: absolute ;
      display: flex ;
      // sets center mostly
      inset: ($AvatarPadding + (80 - 40) - 5) $ActionBtnPadding 20px 120px ;
      width: unset ;
      height: unset ;
      align-items: center ;
      justify-content: center ;
      pointer-events: none ; // for hover on gif banner

      // second container
      .outer_ab8609 {
        display: contents ;

        &::after, &::before { display: none }
      }
    }

    .inner_ab8609 {
      padding: 3px 6px ;
      background: var(--bg_floating);
      border-radius: 8px ;
      pointer-events: auto ;

      @include shadowEffect("box_3");
    }

    // status type label
    .labelRow__1fdc8 {

      path {
        fill: var(--header-secondary) !important;
      }

      .labelText__1fdc8 {
        color: var(--header-secondary) !important;
      }
    }

    // -> add self status
    .addStatusIcon_ab8609 path {
      fill: var(--c_floating) !important;
    }

    .addStatusPrompt_ab8609 {
      color: var(--c_floating) !important;
    }

    // hover
    .clickable_ab8609:hover {
      .addStatusIcon_ab8609 path {
        fill: var(--c_floatingHover) !important;
      }
      .addStatusPrompt_ab8609 {
        color: var(--c_floatingHover) !important;
      }
    }
    // <- add self status

    .statusText_ab8609 {
      color: var(--white);
    }

    .content_ab8609.unclamped_ab8609 {
      -webkit-line-clamp: 4 ;
    }

    // edit self status btns
    .popover_c97e55 {
      top: 50% !important ;
      right: 50% ;
      transform: translate(50%, -50%);
    }

    // don't know but needed
    .referenceContainer_ab8609 {
      position: absolute ;
    }
    // <- Status text

  }
  // <- Header

  // -> Body user popout
  .body__5be3e {
    gap: 14px ;
    padding: 12px 16px 18px !important ;
    background: none ;
    overflow: visible !important ;
    z-index: var(--custom-user-profile-top-layer-z-index);

    @include scrollbar(none);
  }

  // test idk, prolly not
  // .body__5be3e {
  //   padding: 12px 10px 18px !important ;
  // }

  // .container__63ed3,
  // .mutuals__530ce,
  // .body__5be3e .buttons_bc38cd,
  // .descriptionClamp_f5f93a,
  // .card__39ec2,
  // .section_bf424d,
  // .roleListContainer_af3987 {
  //   // background: var(--bg_items) !important;
  //   @include shadowEffect("box_3");
  //   padding: 5px 10px !important;
  //   border-radius: 7px !important;
  //   backdrop-filter: blur(16px);
  // }

  // .section_bf424d .roleListContainer_af3987 {
  //   background: none !important;
  //   box-shadow: none !important ;
  // }


  // -> Name, Badges, ..
  // section container
  .container__63ed3 {
    display: flex ;
    flex-direction: column ;
    gap: 7px ;
  }

  // -> Display name
  .usernameRow__63ed3 {
    gap: 0 ;
  }

  :has(.pointerEvents__44b0c) .usernameRow__63ed3 .clickableUsername__63ed3 {
    margin-left: 24px ;
  }

  .nickname__63ed3 {
    font-size: 19px ;
    line-height: 24px ;
    max-width: 308px - 24px ;
    text-overflow: ellipsis ;
  }

  // name action btns
  .nicknameIcons__63ed3 {
    margin-left: 7px ;
  }
  // <- Display name

  // -> Account name, Pronouns, Guild tag, Badges
  .tags__63ed3 {
    gap: 8px ;
  }

  .guildTagContainer__63ed3 {
    background: var(--bg_items);
    border-color: transparent ;
  }

  .botTag__82f07 {
    position: absolute ;
    top: - 122 - 2 * 1px ;
    left: $PopoutWidht * 0.5 ;
    padding: 3px 8px ;
    transform: translateX(-50%);
    border-radius: 0 0 4px 4px ;
    background: $BG-Body !important ;

    @include shadowEffect("box_3");
  }
  // <- Account name, Pronouns, Guild tag, Badges
  // <- Name, Badges, ..

  // -> Roles
  .role_af3987, // roles
  .addButton_af3987 // add roles btn
  {
    background: var(--bg_items);
    border-color: transparent ;
  }
  // <- Roles

  // -> Item cards (Activities, Game Collection)
  .body__5be3e .button_a22cb0 {
    background: var(--bg_items) !important ;
    color: var(--c_items) !important;

    &:hover {
      background: var(--bg_itemsHover) !important;
      color: var(--c_itemsHover) !important;
    }
  }

  // item inner container outer
  .clickableContainer__39ec2 {
    pointer-events: none ;
  }

  // item outer
  .card__9d597 {
    background: none ;
    border: none ;
    box-shadow: none ;

    // .headerContextMenu__39ec2, .actions__39ec2 {
    .headerContextMenu__39ec2, .button_a22cb0 {
      pointer-events: auto ;
    }

    .button_a22cb0 {
      background: var(--bg_items) !important ;
      color: var(--c_items) !important;

      &:hover {
        background: var(--bg_itemsHover) !important;
        color: var(--c_itemsHover) !important;
      }
    }
  }

  // games collection (maybe more?) has acrylic effect
  .innerContainer_c2a763 {
    backdrop-filter: none ;
    background: var(--bg_items) ;

    &:hover {
      background: var(--bg_itemsHover);
    }
  }

  // show 1 more activity btn (do more?)
  .hasMultipleCards__9d597 {

    .firstCardContainer__9d597 .card__9d597 {
      transform: none !important ;
    }

    .backgroundCardContainer__9d597 {
      position: relative ;
      // transition: none ;
      transform: none ;
      top: unset ;
      height: auto ;
      width: fit-content ;
      margin: 0 auto ;
    }

    .backgroundCard__9d597 {
      // transition: none ;
      transform: none ;
      background: var(--bg_items);
      height: 16px ;
      padding: 0 20px ;

      &::after {
        content: "+1";
        display: block ;
        position: relative ;
        height: 16px ;
        line-height: 16px ;
        width: 100% ;
        color: var(--text-default);
        text-align: center ;
        font-size: 12px ;
      }

      &:hover {
        background: var(--bg_itemsHover);
      }
    }
  }
  // <- Item cards (Activities, Game Collection)

  // -> Bot action btns
  .buttons_bc38cd .button_aec7ab {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
  // <- Bot action btns

  // -> Bot commands
  .list__20827 .button__201d5 {
    background: var(--bg_items) !important ;

    &:hover {
      background: var(--bg_itemsHover) !important ;
    }
  }
    // <- Bot commands

  // <- Body user popout

  // -> Body account panel
  // best to avoid overflow
  .body_ce8328 {
    padding: 12px 16px 18px !important ;
    gap: 22px ;
    background: none ;
    overflow: visible !important ;

    .upsellContainer__5997d { display: none }
  }

  .menus_ce8328 {

    .overlay_c0bea0  {
      padding: 4px 8px ;
      background: var(--bg_items);
    }
  }
  // <- account panel

  // -> Footer
  .footer__5be3e {
    padding: 0 ;

    --footerDivider: rgb(from var(--channel-text-area-placeholder) r g b / .5 );

    @include divider(top, ("color": var(--footerDivider)));

    .channelTextArea__74017 {
      border: none ;
      border-radius: 0 ;
      background: var(--background-secondary-alt);
      background: none ;
    }

    // edit profile (overriding btn design)
    > .button_a22cb0 {
      background: none !important ;
      color: var(--text-default) !important;
    }
  }
  // <- Footer

}

// User popout loading indicator
.layer__59d0d .loadingPopout__58f1c { display: none }
