// s and u are kinda ass but not worth fixing i think.

@mixin URLPreview {
  &::after {
    content: " (" attr(href) ")" ;
    position: relative ;
    display: inline ;
    font-size: 0.7rem ;
    font-weight: 400 ;
    font-style: normal ;
    line-height: 100% ;
    color: var(--chat-text-muted);
  }
  &:hover::after {
    text-decoration: underline ;
  }
}

// only in messages (no embeds, channel desc, ...)
@container style(--unmask-links: 1 ) {
  .messageContent_c19a55 .anchor_edefb8[href][title$=")"] {
    @include URLPreview();
  }
}

// pretty much everywhere
@container style(--unmask-links: 2 ) {
  .anchor_edefb8:is([href][title], .embedLink__623de) {
    @include URLPreview();
  }

  // remove from regular not masked links
  .anchor_edefb8:not([title$=")"])[href][title*="http"]::after {
    display: none ;
  }
}

@container style(--unmask-links: 1 ) or style(--unmask-links: 2 ) {
  // no need for hidden/collapsed spoilers
  .spoilerContent__299eb.hidden__299eb .anchor_edefb8[href]::after {
    display: none ;
  }
}
