// - T1.background v0.2.1
// Background image + Transparency

// Main background image
.bg-h5JY_x {
  background: var(--Main_Background) ;
  background-size: cover !important ;
  background-attachment: fixed !important ;
  background-position: center !important ;
  filter: var(--BGM_Blur) var(--BGM_Brightness) ;
}

$Classes: (
  // #app-mount
  "",
  // App containers
  ".app-2rEoOp", ".layer-3QrUeG",
  // Voice-chat view
  ".stageSection-3mAD8V",
  // Text chat
  ".chat-3bRxxu",
  // Sidebar
  ".sidebar-2K8pFh",
  // Sidebar container for Discord info stuff
  ".container-3O_wAf",
  // server channels container
  ".sidebar-2K8pFh > .container-3w7J-x",
  // Sidebar Panels 
  ".sidebar-2K8pFh > .panels-j1Uci_",
  // DMs Sidebar
  ".sidebar-2K8pFh > .privateChannels-1nO12o",
  // Home Friends list
  ".sidebar-2K8pFh ~ .container-1D34oG",
  // Nitro store
  ".sidebar-2K8pFh ~ .applicationStore-1pNvnv",
  // Discovery
  ".sidebar-2K8pFh ~ .pageWrapper-1PgVDX",
  // Friends Activity Sidebar
  ".nowPlayingColumn-2sl4cE", ".nowPlayingColumn-2sl4cE > .container-lRFx4q", ".nowPlayingColumn-2sl4cE > .emptyCard-1RJw8n",
  ".nowPlayingSidebar-2OFn0o", ".nowPlayingSidebar-2OFn0o > .container-lRFx4q", ".nowPlayingSidebar-2OFn0o > .emptyCard-1RJw8n",
  // Pretty much every scroller
  ".app-1q1i1E .scrollerBase-289Jih",
  // Members list
  ".members-1998pB", ".members-1998pB > div",
  // Serverbar
//  ".guilds-1SWlCJ",
  // Settings
  ".layer-3QrUeG .standardSidebarView-3F1I7i", ".layer-3QrUeG .standardSidebarView-3F1I7i > .contentRegion-3nDuYy",
  // Roles Settings
  ".page-3njELR .titleContainer-2CXtJo",
  // Voice-chat view
  ".wrapper-2qzCYF",
  // Title bar
  ".container-1r6BKw",
  // GM store
  "#gm-settings-inject",
);

@each $class in $Classes { #app-mount #{$class} { background: none } }

body { background: none }


