// T1.background.scss v0.1.012
// App background image + required transparency

// Totally necessary mixin
@mixin no_BG ($i:false) {
  
  $property: "background" ;
  $value: "none" ;
  
  @if $i == "i" { #{$property}:#{$value} !important }
  
  @else { #{$property}:#{$value} }
}

// Main background image
.bg-h5JY_x {
  
  --blur: blur(calc(var(--Main_Background_blur, 0) / 100 * 1px)) ;
  --brightness: brightness(calc((var(--Main_Brightness, 80) / 100)));
  
  background-size: cover !important ;
  background-attachment: fixed !important ;
  background-position: center !important ;
  filter: var(--blur) var(--brightness) ;
}


// -- App containers
#app-mount { @include no_BG() }
.app-1q1i1E > .app-2rEoOp { @include no_BG() }
.layers-3iHuyZ > .layer-3QrUeG { @include no_BG() }


// Voice-chat view
.stageSection-3mAD8V { @include no_BG() }
.wrapper-2qzCYF { @include no_BG("i") }

// Text chat
.chat-3bRxxu { @include no_BG() }

// Title bar
.container-1r6BKw { @include no_BG("i") }

// Baselayer sidebar
.sidebar-2K8pFh {
  @include no_BG() ;
  // server channels container
  > .container-3w7J-x { @include no_BG() }
  // Sidebar Panels 
  > .panels-j1Uci_  { @include no_BG() }
  // DMs Sidebar
  > .privateChannels-1nO12o { @include no_BG() }
  // Home Friends list
  ~ .container-1D34oG { @include no_BG() }
  // Nitro store
  ~ .applicationStore-1pNvnv { @include no_BG() }
  // Discovery
  ~ .pageWrapper-1PgVDX { @include no_BG() }
}


// Friends Activity Sidebar
.nowPlayingColumn-2sl4cE, .nowPlayingSidebar-2OFn0o {
  @include no_BG();
  
  > .container-lRFx4q { @include no_BG() }
  .emptyCard-1RJw8n { @include no_BG() }
}


// Pretty much every scroller
.scrollerBase-289Jih { @include no_BG() }

// Members list
.members-1998pB {
  @include no_BG() ;
  > div { @include no_BG() }
}

// -- Serverbar
.guilds-1SWlCJ { @include no_BG() }


// -- Settings
.layer-3QrUeG .standardSidebarView-3F1I7i { 
  @include no_BG() ;
  
  > .contentRegion-3nDuYy {
    @include no_BG() ;
  }
}

// Roles Settings
.page-3njELR  {
  .titleContainer-2CXtJo { @include no_BG() }
  .header-2mZ9Ov { @include no_BG() }
}






