// - T1.chat v0.1.251
// Text chat, Voice chat

// Header/Chat sperator line
.content-yTz4x3::before { display: none }

// Inline Mentions
.mention.wrapper-3WhCwL {
  color: var(--Blurple) !important;
  background-color: transparent !important;
  text-decoration: none !important;
  white-space: nowrap ;

  &:hover {
    background-color: var(--Blurple-light) !important;
    text-decoration: underline ;
  }
  
  .channelIcon-1MN1lz {
    height: 100% ;
    box-sizing: border-box ;
    padding: .15em 0 ;
  }
}

// - Chat container
.chatContent-a9vAAp {
  z-index: 101 ; // for "Mark As Read" 
  width: -webkit-fill-available ; // for search results 
  
  // "#" Icon at the channels very top
  .container-3RCQyg {
     .emptyChannelIcon-cc932w, .iconWrapper-L3hQuc { display: none }
  }
  
  // "Mark As Read" and "Jump To Present" 
  .barBase-1c2Rfb {
    right: 5px ;
    left: 5px ;
    background: var(--background-secondary);
    opacity: 1 ;
    border-radius: 5px ;
    padding: 0 ;
    cursor: auto ;
    
    @include shadow_effect("box_2");
    
    > button {
      padding: 0 15px ;
      color: var(--text-normal) ;
      
      &.barButtonMain-3K-jeJ {
        flex: 0 1 auto ;
        margin-right: auto ;
      }

      &:hover  {
        color: var(--interactive-active) ;
        text-decoration: underline ;
      }
    }
    
    // "Mark As Read"
    &.newMessagesBar-265mhP {
      top: -4px ;
        
      + .scroller-2LSbBU {
        margin-top: 24px ;
      }
    }
  }

  // Messages scroller
  .scroller-2LSbBU {
    // fading out at top and bottom, not sure if like that tho
    -webkit-mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 96%, transparent);
  }
  
  // Messages seperator
  .divider-3_HH5L {
    align-items: unset ;
    border: none ;
    margin: 20px 0 !important;
    
    // date 
    .content-1o0f9g { 
      height: fit-content ;
      transform: translateY(-50%);
      background: none ;
    }
    
    // seperator lines
    &::before, &::after {
      content: "" ;
      height: 1px ;
      width: 100% ;
      background: var(--background-modifier-accent) ;
    }
    
    // new messages seperator
    &.isUnread-3Ef-o9 {
      &::before, &::after {
        background: var(--red);
        opacity: .7 ;
      }
      
      .unreadPill-2HyYtt {
        top: 0 ;
        padding: 0 4px ;
        border-radius: 0 0 4px 4px ;

        path { display: none }
      }
    }
  }
   
  // - preload dummys
  // container
  .wrapper-3vR61M {
    background: none !important ;
    
    // messages
    > .wrapper-1F5TKx { background: none !important }
  }
}


// - Text input
.form-2fGMdU {
  margin: 5px 0 0 0 ;
  padding: 0 ;
  border-top: 1px solid var(--background-modifier-accent);

  &::before { display: none }

  // Text input container
  .channelTextArea-rNsIhG {
    background: none ;
    margin: 0 ;
    padding: 0 ;
    
    // container 2
    > .scrollableContainer-2NUZem { background: none }

    // Text input
    .textArea-12jD-V { 
      margin-left: 10px ;
    }

    // Input on denied writing permission
    &.channelTextAreaDisabled-8rmlrp .innerDisabled-1YTFPN::after {
      content: " " ;
      background: url("https://i.imgur.com/za6Yq9g.png") ;
      position: absolute;
      right: 0 ;
      bottom: 0 ;
      height: 36px ;
      width: 36px ;
      background-size: cover ;
      background-repeat: no-repeat ;
    }
    
    // Reply popout
    > .attachedBars-tZDmyV {
      background: none ;
      
      .replyBar-1YLQ2F {
        background: none ;
        margin-right: 10px ;
      }
    }
  }

  // "Attach file" Button 
  .attachWrapper-2TRKBi {
    width: 40px ;

    // Seperator line between button and text input
    &::after {
      content: "" ;
      position: absolute ; 
      top: 5px ;
      bottom: 5px ;
      right: 0px ;
      width: 1px ;
      background-color: var(--background-primary) ;
    }

    // Button
    .attachButton-2WznTc {
      position: absolute;
      top: 50% ;
      transform: translateY(-50%) ;
    }
  }

  // typing indicator
  >  .typing-2GQL18 {
    background: transparent ;
    position: absolute ;
    top: -14px ;
    left: -10px ;
    height: 15px ;
    padding: 0 5px ;
    overflow: visible ;
    pointer-events: none ;
    line-height: 15px ;
  }

  //  Slowmode icon
  .cooldownWrapper-3joyFc {
    position: absolute ;
    right: -20px ;
    bottom: -14px ;
    height: 16px ;
    width: 16px ;
    color: transparent !important;
    pointer-events: auto ;

    .slowModeIcon-1BPDC_ {
      position: absolute ;
      margin: 0 ;

      path { 
        fill: var(--interactive-normal) ;
      }
    }
  }

  // Buttons conatiner
  .buttons-3JBrkn { 
    
    // Buttons
    .button-38aScr { 
      align-items: unset ;
      height: 44px ;
    }
    
    // General btn container
    .button-318s1X {
      align-items: unset ;
      box-sizing: content-box;
      height: 24px ;
      padding: 10px 4px 10px 4px ;
      
      svg {
        opacity: .6 ;
        filter: brightness(1.5);
      }
      
      &:hover svg { 
        opacity: .8 ;
      }
    }

    // Nitro btn
    > button[aria-label] {
      width: calc(40px * var(--show-nitro-btn));
      margin-top: calc(-100px * (1 - var(--show-nitro-btn)));
    }
    
    // Normal btn contianer
    > .buttonContainer-28fw2U {
      
      // Gifs
      &:nth-last-child(3) {
        width: calc(40px * var(--show-gif-btn));
        margin-top: calc(-100px * (1 - var(--show-gif-btn)));
      }
      
      // Sticker
      &:nth-last-child(2) {
        width: calc(36px * var(--show-sticker-btn));
        margin-top: calc(-100px * (1 - var(--show-sticker-btn)));

        .stickerIcon-3TP7EM { height: 24px !important }
      }
      
      // Emojis
      &:nth-last-child(1) {
        width: calc(38px * var(--show-emoji-btn));
        margin-top: calc(-100px * (1 - var(--show-emoji-btn)));
      }
    }
  }

  // Emoji button
  .emojiButton-pET4wH {
    opacity: .6 ;

    &.emojiButtonHovered-1rWNal { 
      opacity: 1 ;
    }
  }

  // Announcement channel follow option
  .wrapper-39oAo3 {
    height: 44px ;
    border-top: 1px solid var(--background-modifier-accent);
    padding: 0 ;
    margin: 0 ;
    background: none ;

    // Image
    .image-3XsqGc { display: none }

    // Text
    .title-FVgbgL {
      color: var(--text-muted) ;
      font-weight: 400 ;
    }

    // "Follow" button
    .button-1YxJv4 { @include button_normal() }
  }
}


// - Messages (cozy only for now)
.chatContent-a9vAAp .message-2qnXI6.cozy-3raOZG {
  background: none ;
  padding: 2px 32px 0px 4.125rem !important ;
  
  &:hover { 
    background: none ;
  }
  
  // Highlight border-left (Mention, Clyde, ..)
  &:before { display: none }
  
  // Preview of replied msg
  > .repliedMessage-VokQwo { 
    height: 20px ;
  }
  
  // Message container
  > .contents-2mQqc9 { 
    padding: 0 0 2px 6px ;
    
    // Profile image
    .avatar-1BDn8e { 
      width: 2.5rem ;
      height: 2.5rem ;
      left: 0.8125rem ;
      margin-top: .125rem ;
    }
    
    // Msg Header (Name, Date, ..)
    .header-23xsNx { 
      padding: 2px 0 ;
      margin-left: 0 ;
    }
  }
  
  // Mention
  &.mentioned-xhSam7 > .contents-2mQqc9{
    border-left: solid 2px var(--border-mentioned) ;
    background: var(--background-mentioned) ;
  }
  
  // Clyde (client-side info/error messages)
  &.ephemeral-1PsL1r > .contents-2mQqc9 {
    border-left: solid 2px var(--Blurple) ;
    background: var(--Blurple-light) ;
  }
  
  // Selected for reply
  &.replying-1x3H0T > .contents-2mQqc9 {
    border-right: solid 2px var(--header-secondary) ;
    background: var(--background-modifier-hover) ;
  }
  
  // Reply | &.hasReply-34In-r { }
  // System Message (msg pinned, user joined server, ..) | &.isSystemMessage-2MkNHd { }
  
  // Thread
  &.hasThread-2k82W0 {
    
    .container-3hZ-gs {
      background: none ;
    }
  }
  
  
  // - Message Buttons 
  // Main container / Msg highlight hover effect
  .buttonContainer-DHceWr {
    position: static ;
    
    &:hover:after {
      content: "";
      position: absolute ;
      top: 2px ;
      left: 5px ;
      bottom: 0px ;
      right: 2px ;
      pointer-events: none ;
      background: rgba(255, 255, 255, 0.05) ; // black or white ? idk
    }
  }
  
  &.mentioned-xhSam7, &.ephemeral-1PsL1r { 
    .buttonContainer-DHceWr:hover:after {
      right: 32px ;
    }
  }
  
  // Btn container
  .buttons-cl5qTG { 
    top: 3px ;
    padding: 0 1px 0 0 ;
    
    // Btn container grid
    .wrapper-2aW0bm {
      height: 24px ;
      background: none ;
      box-shadow: none ;

      // Button
      .button-1ZiXG9 {
        padding: 0 4px ;
        background: none ;
      }
    }
  }
  
  // Btn container on reply Msg
  &.hasReply-34In-r .buttons-cl5qTG { 
    top: 27px ;
  }
  
  // Message Buttons - Concatenating Msg / System Message
  &:not(.groupStart-23k01U), &.isSystemMessage-2MkNHd {
    
    // Buttons container
    .wrapper-2aW0bm {
      height: 32px ;
      
      // Button
      .button-1ZiXG9 {
        display: none ;
        padding: 4px ;

        &:last-child {
          display: flex ;
        }
      }
      
      &:hover {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) ;
        
        .button-1ZiXG9 {
          display: flex ;
          background-color: var(--background-tertiary) ;
        }
      }
    }
  }
}
// Emotes
.message-2qnXI6 {
  
  // BD emotes
  .emotewrapper {
    margin: 0 ;

    // - Mutli-Emotes
    .emotetr, .emotebr, .emotebl  {
      transform: none ;
    }

    // Top-right, Bottom-right
    .emotetr, .emotebr {
      margin-left: -0.25rem ;
    }

    // Fav emote btn
    .fav {
      top: 0 ;
      right: 0 ;
      width: .65rem ;
      height: .65rem ;
      z-index: 1 ;
      padding: .1rem ;
      background-repeat: no-repeat ;
      background-color: var(--background-secondary) ;
      background-size: cover ;
      box-sizing: content-box ;

      @mixin Icon_star ($color:"rgb(124, 125, 126)", $stroke:"rgb(0, 0, 0)", $stroke-width:"1") {

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#{$color}" stroke="#{$stroke}" stroke-width="#{$stroke-width}"><path  d="M21.924 8.61789C21.77 8.24489 21.404 8.00089 21 8.00089H15.618L12.894 2.55389C12.555 1.87689 11.444 1.87689 11.105 2.55389L8.38199 8.00089H2.99999C2.59599 8.00089 2.22999 8.24489 2.07599 8.61789C1.92199 8.99089 2.00699 9.42289 2.29299 9.70789L6.87699 14.2919L5.03899 20.7269C4.92399 21.1299 5.07199 21.5619 5.40999 21.8089C5.74999 22.0569 6.20699 22.0659 6.55399 21.8329L12 18.2029L17.445 21.8329C17.613 21.9449 17.806 22.0009 18 22.0009C18.207 22.0009 18.414 21.9369 18.59 21.8089C18.928 21.5619 19.076 21.1299 18.961 20.7269L17.123 14.2919L21.707 9.70789C21.993 9.42289 22.078 8.99089 21.924 8.61789Z"></path></svg>');
      }

      @include Icon_star() ;

      &.active { 
        @include Icon_star("rgb(195, 173, 71)");

        &:hover { @include Icon_star("rgba(0,0,0,0") }
      }

      &:hover { @include Icon_star("rgb(195, 173, 71)",) }
    }
  }
  
  // BD emote modifier
  &:hover .emote.stop-animation {
    
    &.emoteflip,.emotespinflip { transform:scaleX(-1) }
    &.emotespin { animation:1s emote-spin infinite linear }
    &.emote1spin { animation:1s emote-spin-reverse infinite linear }
    &.emotespin2 { animation:.5s emote-spin infinite linear }
    &.emote2spin { animation:.5s emote-spin-reverse infinite linear }
    &.emotespin3 { animation:.2s emote-spin infinite linear }
    &.emote3spin { animation:.2s emote-spin-reverse infinite linear }
    &.emotepulse { animation:1s emote-pulse infinite linear }
    &.emoteshake { animation:1s emote-shake infinite linear }
    &.emoteflap { transform:scaleY(-1) }
    &.emoteshake2 { animation:emote-shake2 .3s linear infinite }
    &.emoteshake3 { animation:emote-shake3 .1s linear infinite }
  }
}
// Reactions
.message-2qnXI6 .reaction-1hd86g {
  background-color: var(--background-modifier-accent);
  border: none;
  border-radius:4px;

  &:hover { 
    background-color: var(--background-accent) ;
  }

  // Active reaction 
  &.reactionMe-wv5HKu {
    background-color: var(--Blurple-light) ;

    &:hover { 
      background-color: var(--Blurple-light-hover) ;
    }

    // number 
    .reactionCount-2mvXRV { 
      color: var(--Blurple) ;
    }
  }
}


// - Threads Split-view (beta)
.threadSidebar-1o3BTy {
  background: none ;
  filter: none ;
  border: none ;
  border-radius: 0 ;
  z-index: 102 ;
  
  // Header section
  .container-1r6BKw {
    
    // Thread name
    .children-19S4PO {
      margin-left: 8px ;
    }
  }
  
  // Threads icon
  .iconWrapper-L3hQuc {
    display: none ;
  }
  
  // Create thread
  > .container-2w6o5e {
    overflow: auto ;
    
    // Content options 
    .formSection-33c8Tg {

      // Name text input
      .input-cIJ7To {
        border-radius: 0 ;
        background: none  ;
        border: 1px solid var(--background-modifier-accent) !important ;
      }

      // Starter-Message text input
      .channelTextArea-3O-WhA {
        border-radius: 0 ;
        background: none ;
        border: 1px solid var(--background-modifier-accent) !important ;

        .channelTextAreaInner-1WnnRS {
          background: none ;
          border: none ;
        }
      }
    }

    // Create thread btn
    .submitButton-10dlpk {
      @include button_normal();
    }
  }
  
  // Thread Chat
  .chat-15Vmww {
    
    // Text input
    .cooldownWrapper-3joyFc {
      right: -16px ;
    }
  }
}
// Fullscreen / Spilt view
@media (min-width: 1151px) {
  .threadSidebar-1o3BTy {
    
    .chat-15Vmww:before, .chat-1cCjJ5:before{
      display: none ;
    }
  }
}
// Overlap
@media (max-width: 1150px) {
  .threadSidebar-1o3BTy {
//    top: 48px ;
    
    // Background image
    &:before {
      content: "";
      position: absolute ;
      height: 100% ;
      width: 100% ;
      background: var(--Main_Background) rgba(0, 0, 0, .1);
      background-blend-mode: overlay ;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      filter: var(--BGM_Blur) var(--BGM_Brightness) ;
    }
    
    @include shadow_effect("box_1");
  }
}

// Threads "unarchive" bar
.chatHeaderBar-4vZS1x {
  margin: 0 5px ;
  background: var(--background-secondary);
  border-radius: 5px ;
  padding: 6px 10px ;

  @include shadow_effect("box_2");

  .chatHeaderBarButton-UiIh3z {
    background: none !important;
    color: var(--interactive-normal) !important;
    font-weight: 600 ;
    font-size: 15px ;

    &:hover {
      color: var(--interactive-hover) !important;
    }
  }
}

// - Voicecall view (beta)
.callContainer-36WRfH {
  
  // Button main container
  .videoControls-24w7Xp { 
    padding: 0 16px 0 16px ;
    
    // Top / Bottom section
    .controlSection-2h3cS0 {
      opacity: var(--always-show-voicecontrols, 0) ;
      transform: translateZ(0) ;
      
      .streamQualityIndicator-2Te7mW {
        display: none ;
      }
    }
  }
  
  &:hover .controlSection-2h3cS0 { 
    opacity: 1 ;
  }
  
  // Controls (bottom) (trash)
  .bottomControls-lIJyYL {
    
    // Group container
    .flex-1xMQg5 {
      margin: 0 !important ;
    }
    
    // Icons
    .controlIcon-35oS15 { 
      color: var(--interactive-normal) ;
    }
    
    .button-38aScr:hover .controlIcon-35oS15 { 
      color: white ;
    }
    
    // Centerd row btns
    .centerButton-3CaNcJ {
      padding: 8px ;
      margin: 8px ;
      background: none ;
      
      &.controlButton-2MhVEL { 
        margin: 8px 16px ;
      }
    }


    // small icon for popout menu
    .contextMenuNub-3yOOYo { 
      bottom: 5px ;
    }
    
    // left / right Buttons
    .flex-1xMQg5:first-child, .flex-1xMQg5:last-child {
      margin-top: 10px ;
    }
  }
  
  // Gradient effect on hover
  .gradientContainer-10lXLB { display: none }

  // Grid view container 
  .listItems-1uJgMC .videoWrapper-2v09vt .video-1kutKI {
    height: calc(100% - 20px) ;
  }
  
  // Focus view / Sidebar user container 
  .participantsWrapperAnimated-3yISdv .tile-2gi3tr {
    margin-right: 5px ;
  }
  
  // Focus view / Focused card
  .videoFrame-3JeHRb {
    .tile-2gi3tr, .videoWrapper-2v09vt {
      background: none ;
    }
  }
  
  // User cards in voice
  .tile-2gi3tr {
    
    // Issue with new activities
//    @include shadow_effect("box_2");
    
    .indicators-3zIm5K {
      left: 0px ;
      
      // "live" icon
      .liveIndicator-3FNmiB { display: none }
      
      // stream quality transition container
      .streamQualityIndicator-2Te7mW > div {
        transform: none !important ;
      }
      
      // stream quality
      .liveQualityIndicator-3XCjEU {
        background: var(--background-primary) !important ;
        border-radius: 8px ;
      }
    }
    
    // Stream preview image in user card
    .streamPreview-3YL8OQ {
      
      .cta-3gK0Pu {
        background: var(--background-primary) !important ;
        margin-bottom: 20px ;
      }
    }
    
    .streamPreview-3YL8OQ .image-1npAv8 {
      padding-bottom: 20px ;
      box-sizing: border-box ;
    }
    
    // - Normal (no stream) user
    // Background
    .background-ujHpbY {
      background: var(--background-tertiary) !important ;
      
      padding-bottom: 25px ;
      box-sizing: border-box ;
    }
    
    // Prfile image container
    .avatarWrapper-29j3CC {
      
      foreignObject {
        mask: none ;
        overflow: visible ;
      }
      
      svg {
        overflow: visible ;
      }
      
      // Prfile image
      .avatar-VxgULZ {
        border-radius: 7.5% ;
        
        &:not([src*=".gif"]) { @include shadow_effect("drop_1") }
      }
    }
    
    // Overlay container
    .overlay-1YJlCn {
      position: absolute ;
      padding: 0 ;
      top: 0 ;
      left: 0 ;
      right: 0 ;
      bottom: 0 ;
      align-items: flex-end ;
    }
    
    // User name container
    .overlayTitle-8IcS01 {
      width: 100% ;
      margin-right: 0 ;
      padding: 2px 6px ;
      background: var(--background-secondary-alt) ;
      border-radius: 0 ;
      
      // User name
      .overlayTitleText-2mmQzi {
        width: 100% ;
        text-align: center ;
      }
      
      &.idle-U-LIlZ {
        opacity: 1 ;
      }
    }
    
    // User status container
    .statusContainer-1gtabC {
      position: absolute ;
      top: 5px ;
      right: 5px ;
      
      // User status
      .status-254fhp {
        background: none ;
      }
    }
  }
}