// - T1.compatibility v0.1.04
// Compatibility with plugins


// - Hide Channels by Farcrada (v1.1.0)
// - FriendNotifications by DevilBro (v1.7.5)
// - ReadAllNotificationsButton by DevilBro (v1.6.8)
// - SpotifyControls by DevilBro (v1.1.7)
// - CollapsibleUI by programmer2514 (v1.1.0)
// - ChannelTabs by l0c4lh057 (v2.4.1)



// -- Hide Channels by Farcrada (v1.2.1)
// - Show/Hide btn
#toggleChannels {
  filter: brightness(.6) ;
  margin-right: 6px ;
  
  &.channelsHidden { filter: brightness(.8) }
  
  &:hover { filter: brightness(1) }
}

// - Server channel sidebar
.sidebar-2K8pFh {
  transition: none !important ;
  
  // Server channel titlebar when sidebar is hidden
  &.hideChannelElement + .chat-3bRxxu .title-3qD0b- {
    margin-left: 240px ;
    width: auto ;
    
    // Channel name
    .title-29uC1r { 
      display: flex ;
    } 
  }
  
  &.hideChannelElement + .chat-3bRxxu .newMessagesBar-265mhP {
    left: 240px ;
  }
}


// -- FriendNotifications by DevilBro (v1.7.5)
// - Online friend counter
.guilds-1SWlCJ .scroller-1Bvpku > .listItem-GuPuDH.friendsOnlineWrap-0gZ63m {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg) translateX(-50%) ;
  transform-origin: bottom left ;
  top: 60px ;
  left: 2px ;

  > .label-2wRs_g {
    color: var(--text-normal);
    @include shadow_effect("server_1");
  }
}


// -- ReadAllNotificationsButton by DevilBro (v1.6.8)
// - "Read all" btn
.guilds-1SWlCJ .scroller-1Bvpku > .listItem-GuPuDH.frame-oXWS21 {
  display: flex !important ;
  position: absolute ;
  top: 0 ;
  left: 0 ;
  z-index: 1 ;

  &, * { height: 20px ; width: 20px  }

  .childWrapper-anI2G9 {
    color: transparent ;
    background: none ;
    transform: rotate(90deg);
    text-align: center ;

    // "R" Icon
    &:before {
      content: "R" ;
      position: absolute ;
      top: 0 ;
      left: 0 ;
      height: 20px ;
      width: 20px ;
      line-height: 20px ;
      color: var(--header-secondary) ;
      font-size: 18px ;
      font-weight: 700 ;

      @include shadow_effect("drop_1");
    }

    // Tooltip on hover
    &:hover::after {
      content: "read all" ;
      position: absolute ;
      top: -10px ;
      left: 25px ;
      padding: 8px 12px ;
      font-size: 16px ;
      font-weight: 600 ;
      line-height: 10px ;
      background: var(--background-tertiary) ;
      color: var(--text-normal) ;
      border-radius: 5px ;
      white-space: nowrap ;

      @include shadow_effect("box_2");
    }
  }
}


// -- SpotifyControls by DevilBro (v1.1.7)
// - Sidebar control panel
.panels-j1Uci_ > .container-6sXIoE { 
  margin: 0px ;
  min-height: 44px ;

  .button-14-BFJ { background: none }
}


// -- CollapsibleUI by programmer2514 (v1.1.0)
// - Server channel sidebar
.sidebar-2K8pFh[style="display: none;"] {
  display: flex !important ;
  width: 0 ;
  
  // Titlebar adjustments
  + .chat-3bRxxu .container-1r6BKw {
    margin-left: 240px ;
    width: auto ;
    
    // Channel name
    .title-29uC1r { 
      display: flex ;
    } 
  }
  
  + .chat-3bRxxu .newMessagesBar-265mhP {
    left: 240px ;
  }
}

// - Serverbar
.guilds-1SWlCJ[style="display: none;"] + .base-3dtUhz {
    
  // Home search, Server settings
  .searchBar-6Kv8R2, .container-1taM1r {
    display: none ;
  }
}


// -- ChannelTabs by l0c4lh057 (v2.4.1)
#channelTabs-container {
  
  // - Tabbar
  .channelTabs-tabContainer {
    background: none ;
    
    + .channelTabs-favContainer {
      box-shadow: 0 .5px 0 var(--header-secondary) ;
      margin-bottom: 1px ;
    }
  }
  
  // - Tab item
  .channelTabs-tab {
    color: var(--channels-default) ;
    border-radius: 0 ;
    
    // Name
    .channelTabs-tabName {
      height: var(--channelTabs-tabHeight) ;
      line-height: var(--channelTabs-tabHeight) ;
      font-size: 17px ;
    }
    
    // Name - hover
    &:not(.channelTabs-selected):hover .channelTabs-tabName {
      color: var(--interactive-hover) ;
    }
    
    // Name - tab active
    &.channelTabs-selected .channelTabs-tabName{
      color: var(--interactive-hover) ;
    }
    
    // Unread messages
    .channelTabs-unreadBadge {
      background: none ;
      color: var(--text-normal) ;
    }
    
    // Unread mentions 
    .channelTabs-mentionBadge {
      @include unread_indicator_inline() ;
    }
    
    // Close btn
    .channelTabs-closeTab {
      height: var(--channelTabs-tabHeight) ;
      line-height: var(--channelTabs-tabHeight) ;
      font-size: var(--channelTabs-tabHeight) ;
      background: none ;
      color: var(--interactive-normal) ;
      visibility: hidden ;
      
      &:hover {
        color: var(--interactive-hover) ;
      }
    }
    
    // Close btn - hover
    &:hover .channelTabs-closeTab{
      visibility: visible ;
    }
  }
  
  // - New tab btn
  .channelTabs-newTab {
    bottom: unset ;
    padding: 8px 6px;
    height: var(--channelTabs-tabHeight) ;
    width: var(--channelTabs-tabHeight) ;
    line-height: var(--channelTabs-tabHeight) ;
    font-size: var(--channelTabs-tabHeight) ;
    background: none ;
    color: var(--interactive-normal) ;
    
    &:hover {
      color: var(--interactive-hover) ;
    }
  }
    
  // - Bookmark item
  .channelTabs-fav {
    cursor: pointer ;
    color: var(--channels-default) ;
    
    // Name
    .channelTabs-favName {
      font-size: 15px ;
    }
    
    &:hover {
      background: var(--background-modifier-hover) ;
      
      .channelTabs-favName {
        color: var(--interactive-hover) ;
      }
    }
    
    // Unread indicators
    .channelTabs-mentionBadge, .channelTabs-unreadBadge {
      background: none ;
      color: var(--text-normal) ;
    }
    
    // Normal state
    .channelTabs-mentionBadge.channelTabs-noMention, .channelTabs-unreadBadge.channelTabs-noUnread {
      color: var(--text-muted) ;
    }
    
    // Unread mentions 
    .channelTabs-mentionBadge:not(.channelTabs-noMention) {
      @include unread_indicator_inline() ;
      margin-bottom: -2px ;
    }
  }
}