$vv: "--TFV_V0_7_3" ; $vid: "0.7.3" ;
$T1_version: "0.5.4" ;

@import 'src/T1.mixins.scss';       // Global Mixins and Variables
@import 'src/T1.background.scss';   // Background image and Transparency
@import 'src/T1.chat.scss';         // Text and voice chat
@import 'src/T1.home.scss';         // Home Tabs / DMs-Sidebar
@import 'src/T1.popouts.scss';      // Popouts / Tooltips
@import 'src/T1.server-view.scss';  // Channels / Member / Discovery
@import 'src/T1.serverbar.scss';    // Serverbar + Addons
@import 'src/T1.settings.scss';     // Settings menus
@import 'src/T1.titlebar.scss';     // Header-, Titlebar / Notifications
@import 'src/T1.user.scss';         // User-Popout / Modal
@import 'src/T1.compatibility.scss';// Plugin Compatibility

@import 'src/T1.serverbar_old.scss';    // temp. leaving in the old serverbar version


// -- Notifications
// - Oudated Theme file
@include note_settings ('T1 version #{$vid} available! \a Please update your "T1.theme.css" file with the newest version from "https://betterdiscord.app/theme/T1"', var(#{$vv}, block)) ;

// - Minimal Mode
body.bd-minimal { @include note_critical ('Turn off "Minimal Mode" for the Theme to work properly | ["ctrl" + ","] => opens settings if needed') }


// Layer transitions
.layers-3iHuyZ > .layer-3QrUeG { 
  transform: none !important ;
}


.base-3dtUhz { 
  height: 100% !important ;
}


// "Bot"/"server" Tag Indicator
.botTag-2WPJ74 { 
  color: var(--text-normal) ;
  background-color: var(--background-secondary) ;
}


// Default scrollbar design (needs some rework)
.app-1q1i1E .scrollerBase-289Jih { @include scrollbar() }


// Tab focus thing
.ring-13rgEW {
  box-shadow: none ;
  border-bottom: 2px solid var(--interactive-active);
  border-radius: 0;
}