/* Old file path, no longer in use */

[class*="modalContent"] [class*="sidebar"] + [class*="content"] {

  & > * {  order: 3 }

  &::before, &::after {
    position: relative ;
    display: block ;
    width: 100% ;
    padding: 8px ;
    box-sizing: border-box ;
    font-weight: 600 ;
    line-height: 24px ;
    text-align: center ;
    white-space: pre-line ;
    background-color: #014b68 ;
  }

  &::before {
    content: "You're trying to use an outdated version of T1. Find the newest version at:\agithub.com/Eight-P/BD.8P or betterdiscord.app/themes/T1" ;
    order: 1 ;
    padding-bottom: 0px ;
    font-size: 16px ;
    color: white ;
  }
  &::after {
    content: "(can't make this clickable, sorry.)" ;
    order: 2 ;
    padding-top: 0px ;
    font-size: 14px ;
    color: rgb(216, 216, 216);
  }
}
