$v: 6 ; // required theme file version
$current_version: "0.4.183 v.F6" ;

// Defaults
:root {
  --Brightness_M_D: var(--Main_Brightness, 100);
  --BG_Blur_M_D: var(--Main_Background_blur, 0);
}

// Version
#user-settings #bd-settings-sidebar > span:after {
  content: "T1-Theme v#{$current_version} by Eight_P";
  display: block;
  font-size: 12px ;
  font-weight: 600 ;
  color: rgb(114, 118, 125);
  padding: 2px 10px;
}


// Disclaimer mixin
@mixin disclaimer ($text, $op) {
  
  &::before {
    content: $text ;
    position: absolute;
    height: 22px ;
    width: calc(100vw - 160px) ;
    background: var(--activity-card-background) ;
    opacity: $op ;
    color: var(--text-normal) ;
    padding: 0 100px 0 60px ;
    text-align: center ;
    line-height: 22px ;
    font-size: 12px ;
    font-weight: 600 ;
    letter-spacing: .5px ;
    z-index: 1 ;
    overflow: hidden ;
    text-overflow: ellipsis ;
    white-space: nowrap ;
  }
  
  &::after {
    content: url(/assets/4757a3d415435a57d4db6fca022872e3.svg);
    position: absolute;
    height: 22px ;
    width: 22px ;
    opacity: $op ;
    z-index: 1 ;
  }
  
  #app-mount [class*="titleBar-"] [class*="wordmarkWindows-"] { opacity: calc(1 - #{$op}) }
}

// Scrollbar mixin
@mixin scrollbar () {
  &::-webkit-scrollbar { width: 12px }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--interactive-normal) ;
    border-color: transparent
  }

  &::-webkit-scrollbar-track { background-color: transparent !important  }
  
  &::-webkit-scrollbar-track-piece {
    background-color: transparent ;
    border: none ;
  }

  &:hover::-webkit-scrollbar-thumb { background-color: var(--interactive-hover) }
}


// Layer independent stuff
body {
  
  // if the Theme file needs an update
  @include disclaimer (
    'T1-Theme update available! Pls replace your "T1.theme.css" file with the latest version (v.F#{$v}) ("website"-link in Themes tab)', 
    calc( #{$v} - var(--F_V,0))
  );

  // if Minimal Mode is active
  &.bd-minimal { @include disclaimer ('Pls turn off "Minimal Mode" for the Theme to work properly | ["ctrl" + ","] => opens settings if needed', 1) }

  // Background Main
  .bg-h5JY_x {
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    filter: blur(calc(var(--BG_Blur_M_D) / 100 * 1px)) brightness(calc((var(--Brightness_M_D) / 100)));
  }

  #app-mount {
    > [class*="app-"] > [class*="app-"] { background: none }

    [class*="layers-"] > [class*="layer-"] { 
      transform: none !important ;
      background: none ;
    }

    // Windowbar seperatorline
    > [class*="titleBar-"] {
      box-shadow: 0 .5px 0 var(--header-secondary) ;
      z-index: 500 ;
    }
    
    [class*="app-"] > [class*="uploadArea-"] {
      top: -22px ;
      height: calc(100vh + 22px);
    }
  }

  // Notice bar 
  [class*="base-"] > [class*="notice-"] {
    position: absolute ;
    left: 240px ;
    width: calc(100vw - 480px) ;
    line-height: 32px ;
    padding: 0 ;
    top: 7px ;
    border-radius: 5px ;

    button[class*="back-"] { display: none }

  }

  // BD plugin notice 
  #pluginNotice {
    position: absolute ;
    width: calc(100vw - 480px);
    z-index: 500 ;
    margin: 0 240px ;
    top: -22px ;
    box-sizing: border-box ;
    max-height: 30px ;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;

    [class*="dismiss-"] { max-height: 30px }
    
    span {
      line-height: 30px ;
      vertical-align: top ;
    }
  }
}

// general HeaderBar (Server/Dms/Friends/voice call dm)
[class*="sidebar-"] ~ [class*="container-"] > [class*="container-"], [class*="chat-"] > [class*="title-"], [class*="headerWrapper-"] > [class*="title-"] {
    
  [class*="children-"] {
    
    [class*="iconWrapper-"], [class*="divider-"], [class*="title-"]:not([class*="cursorPonter-"]) { display: none }

    &::after { display: none }
  }

  [class*="toolbar-"] {
    //Icons
    > [class*="iconWrapper-"], > [class*="anchor-"] {
      margin: 0 9px ;

      > div { margin: 0 }

      svg {
        width: 20px ;
        color: var(--interactive-normal) ;
      }

      &:hover svg { color: var(--interactive-hover) }
    }
  }
}

// Server-channels
[class*="sidebar-"] > [class*="container-"] {
  top: 48px ;
  margin-bottom: 48px;
  background: none ;

  [class*="positionedContainer-"] [class*="unread-"] { padding: 0 8px }

  [class*="scroller-"] {

    &::-webkit-scrollbar { display: none }

    // Channel container
    [class*="containerDefault-"] {

      // default (Text and Voice)
      [class*="content-"] {
        background: transparent;

        // Icon (#, speaker, ..)
        [class*="icon-"] {
          width: 15px ;
          color: var(--channels-default);
          opacity: .8 ;
        }
        
        // Channel Name
        [class*="name-"] { color: var(--channels-default) }

        // channel-options
        [class*="children-"] [class*="iconItem-"] { display: none }

        // connection-limit
        [class*="children-"] [class*="userLimit-"] [class*="wrapper-"]{

          [class*="users-"], [class*="total-"] { background: transparent }

          [class*="total-"]::after {
            border: none ;
            content: "|" ;
            left: -5px ;
            top: -1px ;
          }
        }

        // mentions indicator
        [class*="numberBadge-"] {
          background-color: transparent !important ;
          border-bottom: 2px solid var(--red) ;
          border-radius: 0 ;
          color: var(--text-normal) ;
        }
        
        &:hover {
          [class*="name-"] { color: var(--interactive-hover) }
          [class*="children-"] [class*="iconItem-"] { display: block } 
        }
      }

      // muted
      [class*="modeMuted-"] [class*="icon-"] { color: var(--interactive-muted) }

      // unread (pill)
      [class*="modeUnread-"] [class*="unread-"] { background-color: var(--interactive-hover) }

      // Text-selected, Voice-connected
      [class*="modeSelected-"], [class*="modeConnected-"] {

        [class*="icon-"] { color: var(--interactive-active) }
        [class*="name-"] { color: var(--interactive-active) }
      }
    }
  }
}

// Profile-, connection container
[class*="sidebar-"] > [class*="panels-"] {
  background: none ;

  // Profile Container
  [class*="container-"]:last-of-type  {
    position: absolute ;
    height: 48px ;
    width: 240px ;
    top: 0 ;
    box-sizing: border-box ;

    // Avatar/Icon
    [class*="avatar-"] [class*="status-"] {
      border: none ;
      bottom: -1px ;
      right: -1px ;
    }
    
    // Custom Status Icon
    [class*="nameTag-"] [class*="customStatusWrapper-"] { display: none }
    
    // moving/fixing tooltips
    > [class*="flex-"] {
      margin-top: 20px ;

      > div { height: 22px }

      [class*="iconButtonDefault-"] { 
        margin-top: -10px ;
        background-color: transparent ;
      }
      button {
        background-color: transparent ;
        
        [class*="contents-"] { margin-top: -20px }
      }
    }
  }
  
  // voice Connection
  [class*="container-"]:nth-last-of-type(2) {
    border: none ;
    height: 32px ;
    padding: 6px 10px ;
    overflow: hidden ;
    
    // Buttons
    [class*="actionButtons-"] { display: none }
  }
  
  // activity Container
  [class*="activityPanel-"] {
    height: 32px ;
    padding: 6px 10px ;
    
    [class*="gameWrapper-"] {
      
      [class*="gameIconWrapper-"] { height: 32px }
      
      [class*="title-"] { line-height: 32px }
    }
  }
  
  // Buttons hover effect
  [class*="container-"]:nth-last-of-type(2), [class*="activityPanel-"] { button { background: none } }
}

// Server/DM Chat
[class*="chat-"]  {
  background: none;
  
  // HeaderBar
  > [class*="title-"], [class*="headerWrapper-"] > [class*="title-"] {
    background: none ;
    
    //Channel info
    [class*="children-"] {

       // Channel Topic
      [class*="topic-"] {
        margin: 0 8px ;
        text-align: center ;

        &:hover { color: var(--interactive-hover) }
      }

      // Channel Follow Button as spacer for the other follow button shit
      button[class*="followButton-"] { 
        visibility: hidden ;
        pointer-events: none ;
        padding: 4px 16px ;
      }

      [class*="nicknames-"] { margin-left: 224px }
    }

    //Search
    [class*="toolbar-"] > [class*="search-"] {
      pointer-events: none ;
      margin: 0 8px ;

      //Search Bar
      > [class*="search-"] {

        [class*="searchBar-"] {
          width: 20px ;
          background: transparent ;

          // Input Container
          .DraftEditor-root {
            position: absolute ;
            width: 20px ;
            cursor: pointer ;
            pointer-events: auto ;

            .public-DraftEditor-content {

              //search text
              .public-DraftStyleDefault-block > span { display: none }
            }

            //placeholder text
            .public-DraftEditorPlaceholder-root { display: none }
          }

          [class*="icon-"] svg {
            color: var(--interactive-normal) ;
            transition: none ;
          }
        }

        &:not([class*="open-"]):hover [class*="icon-"] svg { color: var(--interactive-hover) }

        //Search Bar opend
        &[class*="open-"] {
          border-bottom: 1px solid var(--header-secondary) ;

          [class*="searchBar-"] {
            width: 244px ;
            transition: .3s ;

            .DraftEditor-root { 
              position: relative ;

              .public-DraftEditor-content .public-DraftStyleDefault-block > span { display: inline-block }
            }

            [class*="icon-"] svg {

              &:first-child { visibility: hidden }
              &:last-child { opacity: 1 }
            }
          }
        }
      }
    }
  }
  
  > [class*="wrapper-"] {
    background: transparent ;
//    height: 184px ;
    
    [class*="videoControls-"] {
      
      [class*="gradientContainer-"] { display: none }
      
      [class*="bottomControls-"] {
        button {
          background: transparent ;
          
          svg {
            color: var(--interactive-normal) ;
            
            &:hover { color: white }
          }
          
          &[aria-label="Disconnect"] svg {
            color: var(--red) ;
            opacity: .7 ;
            
            &:hover { opacity: 1 }
          }
        }
      }
    }
  }
  
  // Chat
  > [class*="content-"] {
    
    &::before { display: none }
    
    //Server-messages
    [class*="messagesWrapper-"] {
      z-index: 101 ; // for Mark as Read
      
      [class*="scroller-"] { 
        background: none ;
        @include scrollbar() ;
        
        [class*="scrollerInner-"] > [class*="wrapper-"] {
          background: none ;
          
          [class*="wrapper-"][aria-hidden="true"] {
            display: none ;
          }
        }
      } 
      
      // Mark as Read
      [class*="newMessagesBar-"] {
        position: absolute ;
        top: -36px ;
        left: 5px ;
        right: 5px ;
        background: var(--background-primary);
        opacity: 1 ;
        border-radius: 8px ;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) ;
        
        button {
          padding: 0 15px ;
          color: var(--text-normal) ;
          
          &:hover  {
            color: var(--interactive-active) ;
            text-decoration: underline ;
          }
        }
      }
      
      // Seperator (Date)
      [class*="divider-"] {
        border: none ;
        margin: 15px 0px 35px 0 ;
        
        &::before, &::after {
          content: "" ;
          height: 1px ;
          width: 100% ;
          background: var(--background-modifier-accent) ;
        }
        
        // new unread messages
        &[class*="isUnread-"] {
          &::before, &::after {
            background: var(--red);
            opacity: .7 ;
          }
        }
        
        [class*="content-"] { background: none }
        
        [class*="unreadPill-"] { 
          top: 0 ;
          padding: 0 4px ;
          border-radius: 0 0 4px 4px ;
          
          path { display: none }
        }
      }
      
      // Message
      [class*="message-"] {
        background: none ;
        
        // Message buttons
        [class*="buttonContainer-"] {
          
          [class*="buttons-"] { top: -20px }
          [class*="buttons-"][class*="isHeader-"] { top: 0px }

          [class*="wrapper-"] {
            background: none ;
            box-shadow: none ;
          }
        }
        
        // mentioned
        &[class*="mentioned-"] {
          
          [class*="contents-"] {
            padding: 0 6px ;
            border-left: solid 2px var(--border-mentioned) ;
            background: var(--background-mentioned) ;
          }
          
          &:before { display: none }
        }
      }
    }

    // Text-Input Container
    [class*="chatContent-"] > form {
      position: initial ;
      margin: 5px 0 0 0 ;
      padding: 0 ;
      border-top: 1px solid var(--background-modifier-accent);
      
      &::before { display: none }

      // Main Text input
      [class*="channelTextArea-"] {
        background: none ;
        margin: 0 ;
        padding: 0 ;

        [class*="scrollableContainer-"] { 
          background: none ;
          
          // attachButton
          [class*="attachWrapper-"]::after {
            content: "" ;
            position: absolute ; 
            top: 5px ;
            right: -1px ;
            height: 34px ;
            width: 1px ;
            background-color: var(--background-primary) ;
          }
          
          // Text Input
          [class*="textArea-"] {
            margin-left: 10px ;
          }

          // Gif/Emote Buttons
          [class*="buttons-"] {
            
            // gift menu
            [aria-label*="Send a gift"] { display: none }

            // emoji menu
            [class*="emojiButton-"] {
              opacity: .6 ;

              &[class*="emojiButtonHovered-"] { opacity: 1 }
            }
          }
        }
      }
      
      // autocomplete popout
      [class*="autocomplete-"] {
        z-index: 102 ;
        background-color: var(--background-tertiary) ;
        
        [class*="selectable-"] {
          border-radius: 0 ;
          background: none ;
          
          &:hover {
            background: var(--background-modifier-selected) ;
            border-left: 3px solid var(--interactive-hover) ;
            
            [class*="description-"] { color: var(--interactive-hover) }
          }
        }
      }
      
      // Gifs/Emoji selector Menu
      [class*="channelTextArea-"] > [class*="positionContainer-"] {
        z-index: 102 ;
        
        [class*="drawerSizingWrapper-"] {
          width: 432px !important;
        }
        
        [class*="contentWrapper-"] {
          background-color: var(--background-tertiary) ;
          padding-top: 8px ;
          display: block ;
          
          [class*="nav-"] { display: none  }
        }
      }
      
      // Gifs selector Menu
      #gif-picker-tab-panel {
        height: 100% ;
          
        [class*="content-"] [class*="scroller-"] { @include scrollbar() } 
      } 
      
      // Emoji selector Menu
      #emoji-picker-tab-panel {
        height: 100% ;
        
        [class*="emojiPicker-"] { grid-template-rows: auto 1fr auto }
        
        //header
        [class*="emojiPicker-"] > [class*="header-"] { 
          background: transparent ;
          padding-left: 45px ;
        }
        
        // body 
        [class*="bodyWrapper-"] [class*="scroller-"] {
          @include scrollbar() ;
          
          
          [class*="listItems-"] { left: 12px !important }
          
          [class*="categorySection-"] [class*="header-"] { background: none }
        }
        
        // emoji preview
        [class*="inspector-"] { 
          position: absolute ;
          padding: 0 ;
          top: 0px ;
          left: 10px ;
          height: 34px ;
          width: 34px ;
          background: none ;
          z-index: 101 ;
          
          * { display: none }
           
          > img { 
            display: block ;
            height: 34px ;
            width: 34px ;
          }
        }
        
        // server/category list
        > [class*="wrapper-"] { border-right: 1px solid var(--background-modifier-accent) }
      } 
      
      // no permission to write
      [class*="channelTextAreaDisabled-"] [class*="innerDisabled-"]::after {
        content: " " ;
        background: url("https://i.imgur.com/za6Yq9g.png") ;
        position: absolute;
        right: 0 ;
        bottom: 0 ;
        height: 36px ;
        width: 36px ;
        background-size: cover ;
        background-repeat: no-repeat ;
      }

      // typing indicator
      [class*="typing-"] {
        background: transparent ;
        position: absolute ;
        bottom: 42px ;
        left: -10px ;
        height: 15px ;
        box-sizing: border-box ;
        padding: 0 5px ;
        overflow: hidden ;

        [class*="text-"] { line-height: 15px }

        [class*="spinner-"] { margin: 0 }

        [class*="cooldownWrapper-"] {
          color: transparent !important;
          width: 15px ;

          [class*="slowModeIcon-"] {
            position: absolute ;
            height: 15px ;

            path { fill: var(--interactive-normal) }
          }
        }
      }
      
      // Follow thing 
      > [class*="wrapper-"] { 
        position: absolute ;
        width: 70px ;
        top: -35px ;
        left: 0 ;
        padding: 0 ;
        margin: 0 ;
        background: none ;
        z-index: 100 ;
        
        [class*="content-"] {
          display: none ;
        }
        
        button {
          padding: 0  ;
          min-height: 26px ;
          height: 26px ;
          background-color: var(--background-modifier-selected) ;
          
          &:hover {
            background-color: white ;
            color: black ;
          }
          &:first-child { display: none }
          &:last-child { display: flex }
        }
      }
      
      // crap
      > [class*="activityInviteEducation-"] { display: none }
    }
  }
  
  //Voice Channel Voice Call View thing, idk
  > [class*="noChat-"] { background: none }
}

// Member-list
[class*="membersWrap-"] [class*="members-"] {
  background: none ;

  [class*="content-"] { background: none }
  
  &::-webkit-scrollbar { display: none }

  // default Member card
  [class*="member-"] {
    border-radius: 0 ;
    height: 37px ;
    margin: 5px 0 5px 11px ;
    background: none ;
    
    [class*="layout-"] { height: 37px }
    
    &[class*="selected-"] { 
      border-right: 3px solid var(--interactive-hover);
      
      [class*="layout-"] { background: none }
    }
    
    &:hover { border-right: 3px solid var(--interactive-hover) }

    &[class*="offline-"] { 
      
      &:not(:hover) [class*="avatar-"] img {
        filter: grayscale(100%);
        border-radius: 50% ;
      }
    }
  }
}

// Home
[class*="sidebar-"] {
  background: none ;
  
  // DMs (left sidebar)
  > [class*="privateChannels-"] {
    background: none ;
    top: 48px ;
    margin-bottom: 48px ;

    [class*="scroller-"] {
      background: none ;
      padding: 0 10px 0 0 !important ;

      &::-webkit-scrollbar { display: none }
      
      // Tab Buttons
      [class*="channel-"][aria-posinset="1"], [class*="channel-"][aria-posinset="2"] {
        margin: 0 0 0 1px ;
        width: 114px ;
        display: inline-block ;
        border-radius: 0 ;
        
        [class*="layout-"] { 
          padding: 0 36px ;
          background: none ;
          
          [class*="avatar-"] { margin: 5px }
          [class*="content-"] { display: none }
        }
        
        &[class*="selected-"] { border-bottom: 1px solid var(--interactive-active) }
      }
      
      
      // Header Text
      [class*="privateChannelsHeaderContainer-"] {
        color: var(--channels-default) ;
        
        [class*="privateChannelRecipientsInviteButtonIcon-"] { display: none }
      }
      
      // Friends Items
      [class*="channel-"][href*="/channels/@me/"] {
        height: 38px !important ;
        margin: 6px 0 ;
        padding: 0 ;
        
        [class*="layout-"] {
          height: 38px ;
          margin-left: 10px ;
          border-radius: 0 ;
          
          [class*="close-"] { background-size: 22px 22px }
        }
        
        &[class*="selected-"] [class*="layout-"] { 
          border-left: 3px solid var(--interactive-hover) ;
          background: transparent 
        }
        
        &:hover [class*="layout-"] { border-left: 3px solid var(--interactive-hover) }
      }
    }
  }
  
  // Friends
  ~ [class*="container-"] {
    background: none ;
    
    // Friends Header
    > [class*="container-"] {
      background: none ;
      
      // Friends Tabs
      [class*="tabBar-"] {
        margin: 0 auto ;
        padding-right: 40px ;

        [class*="item-"] {
          background: none !important ;
          
          // Pending Tab
          &[aria-label="Pending"] [class*="badge-"] { padding-right: 1px }

          // add friend
          &[aria-label="Add Friend"] {
            position: absolute ;
            right: 0 ;
            height: 24px ;
            width: 24px ;
            overflow: visible ;
            margin: 0 8 px;
            padding: 0 ;

            &::before {
              content: " " ;
              background-image:url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(67, 181, 129)"><path d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z" transform="translate(2 4)" ></path></svg>');
              position: absolute ;
              display: block ;
              height: 24px ;
              width: 24px ;
              opacity: .5 ;
            }

            &:hover::before { opacity: 1 }
            &[style*="; color: rgb(67, 181, 129)"]::before { opacity: 1 }

            span { display: none }
          }
        }
      }
      
      // right Icons bar (create group DM)
      [class*="toolbar-"] > [class*="inviteToolbar-"] svg {
        height: 22px ;
        width: 22px ;
      }
    }

    // Friends body
    [class*="tabBody-"] {
      margin-top: 10px ;
      
      &::before { display: none }

      //Friends - online list
      [class*="peopleColumn-"] { 
        [class*="scrollerBase-"] { @include scrollbar() } 
        
        h2[class*="title-"] { display: none }
        
        // div alignment
        @mixin margin($n) {
          $min-width: $n * 340 + 240;
          $max-width: ($n + 1) * 340 + 240 - 1;

//          @debug "#{$n} :  min-width: #{$min-width} | max-width: #{$max-width} " ;

          @media screen and (min-width: $min-width+"px") and (max-width: $max-width+"px") {
            text-align: start !important ;

            
            // -- option 1: 1/2margin | container | 1/2margin
            
            > div {
//              margin: 0 calc((100vw - #{$min-width}px) / 2) !important ;
//              width: $n * 340px !important ;
//              display: block !important ;
              
              
            // -- option 2: margin | item | margin | item | margin ....
              [class*="peopleListItem-"] {
                margin: 40px 0 0 calc((100vw - #{$min-width}px) / (#{$n} + 1) + 10px) !important ;
              }
            }
          }
        }
        
        
        // Friend's Card Container
        [class*="scrollerBase-"] {
          text-align: center ;
          
          @for $i from 2 through 10 { @include margin($i) }
          
          > div {
            display: inline ;
            text-align: start ;
            padding-bottom: 25px ;
          }
        }
        
        // Friend's Card
        [class*="peopleListItem-"] {
          display: inline-block ;
          margin: 40px 10px 0 10px ;
          padding: 0 ;
          border: none ;
          width: 320px ;
          background: var(--background-floating) ;
          height: 70px !important ;
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) ;
          border-radius: 8px ;
          transition: .1s ;
          
          &:hover {
            border-radius: 0 ;
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1)) ;
          }
          
          [class*="listItemContents-"] {
            
            [class*="userInfo-"] {
              width: 320px ;
              
              // Profile Picture, Status
              > [class*="avatar-"] {
                
                svg {
                  overflow: visible ;
                  
                  foreignObject { 
                    mask: none ;
                    y: 3px ;
                    height: 67px ;
                    width: 67px ;
                  }
                  
                  rect {
                    x: 0 ;
                    y: 0 ;
                    height: 3px ;
                    width: 320px ;
                    mask: none ;
                    opacity: .8 ;
                  }
                }
              }
              
              // Text
              > [class*="text-"] {
                margin-top: 3px ;
                margin-left: 40px ;
                
                // Name
                [class*="discordTag-"] {
                  height: 34px ;
                  max-width: 230px ;
                  line-height: 34px ;
                  
                  [class*="discriminator-"] { 
                    margin-left: 5px ;
                    visibility: visible ;
                    opacity: .7 ;
                    line-height: 34px ;
                  }
                }
                
                // Activity
                [class*="subtext-"] {
                  position: relative ;
                  height: 33px ;
                  width: 230px ;
                    
                  // idk, weird thing
                  [class*="textRuler-"] { display: none }

                  // Icon from Activity
                  [class*="icon-"] { display: none }
                }
              }
            }
            
            // useless buttons
            [class*="actions-"] { display: none }
          }
        }
      }
      
      // Friends active list
      [class*="nowPlayingColumn-"] { display: none }
    }
  }
  
    // Nitro (applicationStore)
  ~ [class*="applicationStore-"] {
     background: none;
    
    [class*="scroller-"] {
      background: none ;
      @include scrollbar(); 
    }
    
    [class*="headerBar-"] { display: none }
  }
}

// Discoveree
[class*="layer-"]:first-child [class*="sidebar-"] {
  
  // sidebar 
  [class*="discoverHeader-"] {
    margin-top: 64px ;
    
    // Items
    ~ [class*="categoryItem-"] {
      
      [class*="itemInner-"] {
        border-radius: 0 ;
        padding: 0 4px ;
        margin: 5px 4px ;
      }
      
      &:hover [class*="itemInner-"] { border-left: 3px solid var(--interactive-hover) }
      
      &[class*="selectedCategoryItem-"] [class*="itemInner-"] {
        background-color: transparent ;
         border-left: 3px solid var(--interactive-hover) ;
      }
    }
  }
  
  ~ [class*="pageWrapper-"] {
    background: transparent ;
    
    [class*="scroller-"] { @include scrollbar() } 
  }
}

// Settings menus [USER_SETTINGS, GUILD_SETTINGS, CHANNEL_SETTINGS, bd public server list]
[class*="layers-"] > div:not(:first-child ) {
  
  [class*="layer-"] { background: none }
  
  // Sidebar left
  [class*="standardSidebarView-"] {
    background: none ;
    
    [class*="sidebarRegion-"] [class*="sidebarRegionScroller-"] { 
      background: none ;
      
      &::-webkit-scrollbar { display: none }
      
      // Header
      [class*="header-"], .ui-tab-bar-header { 
        color: var(--header-primary) !important ;
        opacity: .8 ;
      }
      
      // categorie name
      [class*="item-"], .ui-tab-bar-item {
        color: var(--interactive-normal) !important ;
        background: none !important ;
        border-radius: 0 !important ;
        padding: 0 10px !important ;
        margin: 6px 0 ;
        
        &:hover { color: var(--interactive-hover) !important }
        
        &[style*="color: rgb(240, 71, 71)"] {
          color: var(--red) !important ;
          opacity: .8 ;
          
          &:hover { color: var(--red) !important ; opacity: 1 !important }
        }
      }
      
      .ui-tab-bar-item { margin: 12px 0 }
      
      [class*="item-"][class*="selected-"], .ui-tab-bar-item.selected {
        border-left: 2px solid var(--interactive-active) ;
        color: var(--interactive-active) !important ;
      }
    }
  }
  
  // Tabcontent
  [class*="contentRegion-"] {
    background: none ;
    
    [class*="contentRegionScroller-"] {
      background: none ;
      @include scrollbar() ;
      
      [class*="scroller-"] { background: transparent }
    }
  }
}

// User popout-profile
[class*="layerContainer-"], [class*="popouts-"] {
  [class*="userPopout-"] {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

    [class*="header-"] {

      &[class*="headerNormal-"] { background-color: var(--background-tertiary) }
      &[class*="headerSpotify-"] {
        background-color: var(--background-tertiary) ;

        [class*="timeBarUserPopout-"] ~ [class*="flex-"] { display: none }
      }
      &[class*="headerPlaying-"] { background-color: var(--background-tertiary) }
      &[class*="headerStreaming-"] { background-color: #593695 }

      [class*="avatarWrapper-"] {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

        foreignObject img, [class*="avatarHintInner-"] {
          filter: opacity(100%);
          border-radius: 7.5% ;
        }
      }
    }
    // "protip" 
    [class*="footer-"] { [class*="protip-"] { display: none } }
  }
}

// User Profile (modal)
[class*="modal-"] {

  // header
  [class*="topSection"] {
    background-color: var(--background-tertiary) ;
    
    [class*="header-"] {

      > [class*="avatar-"] {
        filter: drop-shadow( 2px 2px 3px black );

        img {
          filter: opacity(100%);
          border-radius: 7.5% ;
        }
      }
      
      // Colored Profile-Badges
      [class*="profileBadgeWrapper-"] {
        // Bravery
        [class*="profileBadgeHypeSquadOnlineHouse1-"] {background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg)}
        // Brilliance
        [class*="profileBadgeHypeSquadOnlineHouse2-"] {background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg)}
        // Balance
        [class*="profileBadgeHypeSquadOnlineHouse3-"] {background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg)}
        // EarlySupporter
        [class*="profileBadgeEarlySupporter-"] {background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg)}
        // Nitro
        [class*="profileBadgePremium-"] {background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg)}
        // Partenr
        [class*="profileBadgePartner-"] {background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg)}
        // Guild-Sub-1
        [class*="profileGuildSubscriberlvl1-"] {background-image: url(https://discordapp.com/assets/7dc50a46914f03a1c6698133199ad39c.svg)}
        // Guild-Sub-4
        [class*="profileGuildSubscriberlvl4-"] {background-image: url(https://discordapp.com/assets/ac20c019c11f36fb22b4ce13725a1aff.svg)}
      }
    }
  }

   // body
  [class*="flex-"] > [class*="body-"] {
    
    [class*="userInfoSection-"]:last-child { border-color: var(--background-tertiary) }
    
    [class*="connectedAccounts-"] > [class*="flex-"]{
      border: none ;
      
      [class*="connectedAccountName-"] { color:  var(--channels-default) }
    }
  }
}

// Popouts "layerContainer-"
[class*="layerContainer-"] {
  
  // Server-Options
  #guild-header-popout { 
    background: var(--background-floating) ;
    
    [class*="item-"] {
      
      //hover
      &[class*="focused-"] {
        background: var(--background-modifier-selected) ;
        
        &[class*="colorBrand-"] {
          background: rgba(103, 123, 196, 0.75) ;
        }
      }
    }
  }
  
  // Profile Status
  #status-picker {
    background: var(--activity-card-background) ;
    
    [role="separator"] { display: none }
    
    [class*="item-"] {
      margin: 4px 0 ;
       
      &#status-picker-online[class*="focused-"] { background: rgba(67, 181, 129, 0.75) }
      
      &#status-picker-idle[class*="focused-"] { background: rgba(250, 166, 26, 0.75) }
      
      &#status-picker-dnd[class*="focused-"] { background: rgba(240, 71, 71, 0.75) }
      
      &#status-picker-invisible[class*="focused-"] { background: rgba(116, 127, 141, 0.75) }
      
      &#status-picker-custom-status[class*="focused-"] { background: var(--background-modifier-selected) }
    }
  }
  
  // user context menu
  #user-context[aria-label="User Settings Actions"] {
    
    [class*="scroller-"]::-webkit-scrollbar { display: none }
    
    [class*="submenu-"] {
      background: var(--background-floating) ;
    }
    
    [class*="item-"][class*="focused-"] {
      background: var(--background-modifier-selected);
      
      &[class*="colorDanger-"] { background: var(--red) }
      
    }
  }
}

// Popouts "popouts-" (old container)
[class*="popouts-"] {
  
  // searchbar options popout
  [class*="noArrow-"][class*="noShadow-"][class*="popout-"][class*="popoutBottom-"][class*="arrowAlignmentTop-"] {
    [class*="container-"] {
      background: var(--activity-card-background) ;
      box-shadow: 2px 2px 10px black ;

      [class*="resultsGroup-"] [class*="option-"]::after { display: none }
    }
  }
}

// idk what that is 
.bd-context-menu { display: none }

// Tooltips
[class*="layerContainer-"] [class*="tooltip-"] {
//  background-color: var(--activity-card-background) ;
  background-color: var(--background-tertiary) ;
  color: white ;

  [class*="tooltipPointer-"] { border-top-color: var(--activity-card-background) !important ; }
}
