// T1.settings.scss v0.1.01
// Client / Guilds / Channels

// general settings tabs
.layer-3QrUeG:not(.baseLayer-35bLyl) {
  
  // Sidebar
  .sidebarRegionScroller-3MXcoP {
    &::-webkit-scrollbar { display: none }
    
    // category headers
    .header-2RyJ0Y {
      color: var(--header-primary) ;
      opacity: .8 ;
    }
    
    // Tab name
    .item-PXvHYJ {
      color: var(--interactive-normal) ;
      background: none !important ;
      border-radius: 0  ;
      padding: 0 10px ;
      margin: 6px 0 ;
      
      &:hover { color: var(--interactive-hover) }
      
      &.selected-3s45Ha {
        border-left: 2px solid var(--interactive-active) ;
        color: var(--interactive-active)  ;
      }
      
      // "Log Out" Tab
      &[aria-controls="logout-tab"], &[aria-controls="DELETE-tab"] {
        color: var(--red) !important ;
        opacity: .8 ;
        
        &:hover { opacity: 1 !important }
      }
    }
  }
  
  // Content conatiner
  .contentRegionScroller-26nc1e {
    
    @include scrollbar() ;
  }
}

// - Client settings
// Theme version (USER_SETTINGS)
.layer-3QrUeG[aria-label="USER_SETTINGS"] .info-1VyQPT:after{
  content: "T1 v#{$T1_version} by Eight_P";
  display: block;
  font-size: 12px ;
  font-weight: 600 ;
  color: rgb(114, 118, 125);
  padding: 4px 0;
  text-transform: none ;
}

// - Server settings
.layer-3QrUeG[aria-label="GUILD_SETTINGS"] {
  
  // - "Roles" Tab ( ohh Discord, what are you doing... )
  
  // Default permission button
  .container-_phMUq { background: none }
  
  // - Edit Roles view
  .page-3njELR {
    
    // Sidebar
    .list-I3aHXn::-webkit-scrollbar { display: none }
    
    // Content
    // Navbar headers
    .header-2mZ9Ov { 
      position: fixed ;
      top: 0 ;
    }
    
    // List container ( "Display"/"Permission" )
    .contentContainer-14yMzC {
      border-right: 12px solid var(--scrollbar-auto-track) ;
      
      > .scrollerBase-289Jih {
        overflow: hidden ;
        margin-right: -12px ;
        
        // Display
        &.scroller-3ZpLaI {
          margin-top: 175px ;
          height: calc(100% - 175px) ;
        }
        
        // Permission 
        &.scroller-Utb7tO {
          margin-top: 225px ;
          height: calc(100% - 225px) ;
        }
      }
    }
    
    // "Manage Members" 
    .container-1Saj_P {
      margin-top: 225px ;
      overflow: hidden ;
      margin-right: -12px ;
      
      // Navbar header
      > .headerContainer-1X2CD8 { top: 0px }
      
      // Memberslist container
      > .list-3a9fyp { 
        padding-bottom: 250px ;
      }
    }
  }
}