// - T1.settings v0.1.032
// Client / Guilds / Channels

// - Theme version info
.layer-3QrUeG:not(.baseLayer-35bLyl) .socialLinks-3jqNFy + .info-1VyQPT:before {
  content: "T1 - Theme: \a v#{$T1_version} by Eight_P" !important;
  display: block !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: rgb(114, 118, 125) !important;
  white-space: break-spaces !important;
  margin-bottom: 16px !important;
  text-transform: none !important;
}


// Settings menus in general
.layer-3QrUeG:not(.baseLayer-35bLyl) {
  
  // Sidebar
  .sidebarRegionScroller-3MXcoP {
    &::-webkit-scrollbar { display: none }
    
    // category headers
    .header-2RyJ0Y {
      color: var(--header-primary) ;
      opacity: .8 ;
    }
    
    // Tab name
    .item-PXvHYJ {
      color: var(--interactive-normal) ;
      background: none !important ;
      border-radius: 0  ;
      padding: 0 10px ;
      margin: 6px 0 ;
      
      &:hover { color: var(--interactive-hover) }
      
      &.selected-3s45Ha {
        border-left: 2px solid var(--interactive-active) ;
        color: var(--interactive-active)  ;
      }
      
      // "Log Out" Tab
      &[aria-controls="logout-tab"], &[aria-controls="DELETE-tab"] {
        color: var(--red) !important ;
        opacity: .8 ;
        
        &:hover { opacity: 1 !important }
      }
    }
  }
  
  // Content conatiner
  .contentRegionScroller-26nc1e {
    
    @include scrollbar() ;
  }
}


// - Server settings
// Roles
.layer-3QrUeG:not(.baseLayer-35bLyl) {
  
  // Default permission button
  .container-_phMUq { background: none }
  
  // - Edit Role
  .contentColumn-2hrIYH > .page-3njELR {
    
    // Roles list Sidebar
    .list-I3aHXn::-webkit-scrollbar { display: none }
    
    // Permissions content
    .scroller-Utb7tO, .scroller-3ZpLaI, .container-1Saj_P {
      background: var(--background-secondary-alt) ;
      
      .header-2mZ9Ov {
        background: var(--background-secondary-alt) ;
      }
    }
    
    // Info on Bot roles
    .warning-3C2pOH {
      position: absolute ;
      top: 108px ;
      left: 8px ;
      width: auto ;
      background: none ;
      border: none ;
      padding: 0 ;
      z-index: 100 ;

      .text-2J5crT {
        display: none ;
      }

      &:hover .text-2J5crT {
        display: block ;
        background: var(--background-tertiary) ;
        border: 1px solid var(--info-warning-foreground) ;
        padding: 10px ;
      }

      ~ .tabBar-11f3uI {
        margin-left: 40px ;
      }
    }
  }
}