// - T1.titlebar v0.1.111
// Header (Chat / Home tabs) | Titlebar | Notifications

// -- Header
// - Toolbar search
@mixin TB_Search () {
  // Searchbar
  .search-2oPWTC {
    
    // container
    .searchBar-3dMhjb {
      width: 20px ;
      background: none ;
      border-radius: 0 ;
      transition: .2s width ;
    }
    
    // Buttons container
    .iconLayout-1WxHy4 {
      width: 16px ;
    }
    
    // Icon
    .icon-3cZ1F_ {
      color: var(--interactive-normal) ;
      cursor: pointer ;

      &:not(.visible-3V0mGj) {
        pointer-events: none ;
      }

      &:hover {
        color: var(--interactive-hover) !important ;
      }
    }
    
    // Searchbar open
    &.open-6_Y_aH {
      
      .searchBar-3dMhjb {
        width: 240px ;
        border-bottom: 1px solid var(--header-secondary) ;
      }
      
      .icon-3cZ1F_:first-child {
        pointer-events: none ;
      }
    }
  }
}

// - General Header
.container-1r6BKw {
  box-shadow: none ;
  
  // - Main content
  > .children-19S4PO {
    
    // "#", friends, "@", speaker - icon
    > .iconWrapper-2OrFZ1 { display: none }
    
    // random line (left)
    > .divider-3FBTu8 { display: none }
    
    // "AKA" icon if chatpartner has a nickname in a server
    > .akaBadge-1M-1Gw { display: none }
    
    // Dm Partner / Channel name
    > .title-29uC1r {
      color: var(--interactive-hover) ;
      
      // Channel name by default
      &:not(.cursorPointer-1j7DL8) { display: none }
    }
    
    // ugly random line (right)
    &::after { display: none }
  }
  
  // - rightside iconbar
  > .toolbar-1t6TWx {
    @mixin TB_icons () {
      margin: 0 9px ;

      svg {
        width: 20px ;
        height: 22px ;
        color: var(--interactive-normal) ; 
      }

      &:hover svg { 
        color: var(--interactive-hover) ;
      }
    }
    
    // Icons
    .iconWrapper-2OrFZ1 { @include TB_icons() }
    
    // Searchbar
    @include TB_Search() ;
    
    // Voicecall view buttons
    .button-38aScr { @include TB_icons() }
    
    // Discord "Help" (web-link) icon
    > .anchor-3Z-8Bb { display: none }
  }
}

// - Chat (Server / DMs )
.chat-3bRxxu > .container-1r6BKw {
  
  // - Channel name / topic
  > .children-19S4PO {
    
    // Channel description
    > .topic-TCb_qw {
      margin: 0 8px ;
      text-align: center ;
      
      // Links / Mentions
      > * { 
        pointer-events: none ;
        opacity: .8 ;
      }

      &:hover { 
        color: var(--interactive-hover) ;
        
        > * { opacity: 1 }
      }
    }
    
    // Follow Announcement channel button
    .followButton-L6L-Us { display: none }
  }
  
  > .toolbar-1t6TWx {
    min-width: 226px ;
    justify-content: space-between ;
  }
}

// - Home/Friends
.container-1D34oG > .container-1r6BKw {
  
  // - Nav bar / Friends tabs 
  .tabBar-ZmDY9v {
     margin: 0 auto ;
    padding-right: 40px ;
    
    // Tabs
    > .item-3HknzM {
      background: none !important ;
      
      // unread indicator
      > .numberBadge-2s8kKX { @include unread_indicator_inline() }
      
      // add friend Tab
      &[aria-controls="ADD_FRIEND-tab"] {
        position: absolute ;
        right: 0 ;
        width: 24px ;
        height: 24px ;
        min-width: unset ;
        overflow: visible ;
        margin: 0 9px;
        padding: 0 ;
        
        // Icon
        &:before {
          content: " " ;
          background-image:url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="rgb(67, 181, 129)"><path d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z" transform="translate(2 4)" ></path></svg>');
          position: absolute ;
          display: block ;
          height: 24px ;
          width: 24px ;
          opacity: .5 ;
        }

        &:hover:before { opacity: 1 }
        
        // Selected
        &[aria-selected="true"]:before { opacity: .8 }
        
        // Text
        span { display: none }
      }
    }
  }
}

// - DM Voice call
//section.title-3qD0b-.container-1r6BKw.transparent-2ZlE3R[aria-label="Channel header"] {}

// - Server Voice call
//section.theme-dark.container-1r6BKw.transparent-2ZlE3R {}

// - Live Stages 
//section.headerBarContainer-31FKNA.container-1r6BKw.themed-ANHk51 {}


// -- OS specific stuff
html {
  // - Windows
  &.platform-win .titleBar-AC4pGV {
    box-shadow: 0 .5px 0 var(--header-secondary) ;
    z-index: 500 ;

    // Watermark
    .wordmarkWindows-1v0lYD {

      g > path:not(:first-child) { display: none }

      g > path:first-child {
        transform: scale(.58) translate(-6.5px, -2.5px);

        d: path("M 12.8 7.8 H 6.7 v 6.8 l 4.1 3.6 V 11.6 H 13 c 1.4 0 2.1 0.7 2.1 1.7 v 5 c 0 1 -0.6 1.8 -2.1 1.8 H 6.7 v 3.8 h 6.1 c 3.3 0 6.4 -1.6 6.4 -5.3 V 13.2 C 19.2 9.4 16.1 7.8 12.8 7.8 Z M 45 18.6 V 13 c 0 -2 3.7 -2.5 4.8 -0.5 l 3.4 -1.3 a 6.069 6.069 0 0 0 -5.8 -3.7 c -3.3 0 -6.5 1.9 -6.5 5.5 v 5.6 c 0 3.7 3.2 5.5 6.5 5.5 a 6.611 6.611 0 0 0 5.9 -3.6 l -3.7 -1.6 C 48.7 21.1 45 20.6 45 18.6 Z M 33.8 13.8 c -1.3 -0.3 -2.1 -0.7 -2.2 -1.5 c 0.1 -1.9 3 -1.9 4.7 -0.1 l 2.7 -2 a 6.884 6.884 0 0 0 -5.6 -2.6 c -3 0 -5.9 1.7 -5.9 4.8 s 2.4 4.7 5.1 5.1 c 1.3 0.2 2.8 0.7 2.8 1.6 c -0.1 1.7 -3.7 1.6 -5.4 -0.3 l -2.6 2.4 A 7.258 7.258 0 0 0 33 24.1 c 3 0 6.3 -1.7 6.5 -4.8 C 39.6 15.3 36.7 14.3 33.8 13.8 Z M 21.4 23.9 h 4.2 V 7.8 H 21.5 V 23.9 Z M 91.2 7.8 H 85.1 v 6.8 l 4.1 3.6 V 11.6 h 2.2 c 1.4 0 2.1 0.7 2.1 1.7 v 5 c 0 1 -0.6 1.8 -2.1 1.8 H 85.1 v 3.8 h 6.1 c 3.3 0 6.4 -1.6 6.4 -5.3 V 13.2 C 97.6 9.4 94.5 7.8 91.2 7.8 Z M 61.1 7.6 c -3.4 0 -6.8 1.8 -6.8 5.5 v 5.5 c 0 3.7 3.4 5.5 6.8 5.5 s 6.8 -1.8 6.8 -5.5 V 13.1 C 67.9 9.4 64.5 7.6 61.1 7.6 Z m 2.7 11 c 0 1.2 -1.3 1.8 -2.6 1.8 s -2.7 -0.6 -2.7 -1.8 V 13.1 c 0 -1.2 1.3 -1.8 2.6 -1.8 s 2.7 0.6 2.7 1.8 Z m 19 -5.5 c -0.1 -3.8 -2.7 -5.3 -6.1 -5.3 H 70.1 V 23.9 h 4.2 V 18.8 H 75 l 3.8 5.1 H 84 l -4.5 -5.5 C 81.6 17.8 82.8 16.1 82.8 13.1 Z m -6 2.2 H 74.4 V 11.6 h 2.4 A 1.853 1.853 0 1 1 76.8 15.3 Z");
      }
    }
  }

  // - Mac (hopefully)
  &.platform-osx {
    
    // AppOS btns
    .titleBar-AC4pGV {
      width: 48px ;
      transform: rotate(90deg);
      transform-origin: 13px 13px ;
      -webkit-app-region: none;

      // Btn container
      .macButtons-2MuSAC {
        padding: 0 ;
        justify-content: space-evenly ;
        width: 48px ;
        height: 26px ;
        cursor: pointer ;
        
        // Buttons, Btn icon
        .macButton-c_Adir, svg {
          width: 10px ;
          height: 10px ;
        }
      }
      
      &:hover {
        
        .macButton-c_Adir > svg {
          visibility: visible ;
        }
        
        .macButtonClose-MwZ2nf {
          background-color: #fc615d ;
        }
        
        .macButtonMinimize-3EJ6wo {
          background-color: #fdbc40 ;
        }
        
        .macButtonMaximize-2FMHAO {
          background-color: #34c749 ;
        }
      }
    }

    // move Profile panel for AppOS btns
    .panels-j1Uci_ > .container-3baos1 {
      margin-left: 26px ;
      width: 214px ;
      padding: 0 8px 0 0 ;
    }
    
    .container-1r6BKw > .children-19S4PO {
      -webkit-app-region: none;
      
      + .toolbar-1t6TWx {
        -webkit-app-region: none;
      }
    }
  }
}


// -- Notification bars
// - Default Discord notice
.notice-3bPHh- {
  border-radius: 0 0 8px 8px ;
  background: var(--background-primary) ;
  color: var(--text-normal) ;
  
  .button-2DhvE9 { @include btn_1() }
  
  // Sidebar position for Profile panel positioning
  ~ .content-98HsJk > .sidebar-2K8pFh { position: relative }
}


// - BD plugin notice
#pluginNotice {
  position: absolute ;
  width: calc(100vw - 480px);
  margin: 0 240px ;
  top: 6px ;
  box-sizing: border-box ;
  max-height: 30px ;
  border-radius: 6px !important ;
  background-color: var(--background-primary) ;
  text-align: center ;
  z-index: 2000 ;
  
  @include shadow_effect("box_2");

  // Close button
  #pluginNoticeDismiss { max-height: 30px }

  // Text (all)
  span {
    line-height: 30px ;
    vertical-align: top ;
    color: var(--text-normal) ;
  }
}