// T1.user.scss v0.1.02
// User popout / Modal

// -- User popout (stable)
.userPopout-xaxa6l {
  display: grid ;
  width: 512px !important ;
  grid-template-areas:
    "header body" 
    "footer footer" ;
  background-color: var(--background-secondary) ;
  
  @include shadow_effect("box_1");

  // - Header
  > .headerNormal-1mX3KY {
    position: relative ;
    grid-area: header ;
    background-color: var(--background-tertiary) ;
    min-width: 258px ;
    
    // Colored profile banner
    > .profileBanner-33-uE1 { display: none }

    // New custom image banner
    > .profileBannerPremium-35utuo {
      position: absolute ;
      width: 512px ;
      height: 100% ;
      filter: brightness(0.5) ;

      > .betaBadge-1Ve-yb { display: none }
    }

    // User Info (Name, Status, Badges)
    > .headerTop-2cWpdB {
      background: none ;
      border: none ;
      padding: 112px 16px 16px ;
      text-align: center ;

      // Badges container
      > .profileBadges-3cJaE1 {
        flex-direction: column ;
        justify-content: flex-start ;
        height: calc(24px * 3);
        width: calc(26px * 2);
        top: 20px ;
        left: 20px ;
        right: unset ;
        overflow: hidden ;

        // Badges
        > div {
          margin: 3px 4px;

          .profileBadge18-NVHzY4 {
            height: 18px ;
            width: 18px ;
          }
        }
      }

      // User Name container
      > .headerText-15Q25Z {

        // h1 Nickname
        .nickname-2gQ76l {
          color: var(--header-primary);
          font-size: 17px ;
          font-weight: 500 ;
        }

        // h1 Name without Nickname
        .headerTagNoNickname-1VyQza {

          // Name
          .username-2b1r56 {
            color: var(--header-primary);
            font-size: 17px ;
            font-weight: 500 ;
          }

          // Discriminator
          .discrimBase-1QwWzY {
            margin-left: 2px ;
            color: var(--header-secondary);
            font-size: 15px ;
            font-weight: 500 ;
            line-height: 27px ;
          }
        }

        // h2 Name with Nickname
        .headerTagWithNickname-1SDMpI {

          // Name
          .username-2b1r56 {
            color: var(--header-secondary);
            font-size: 14px ;
            font-weight: 500 ;
          }

          // Discriminator
          .discrimBase-1QwWzY {
            margin-left: 2px ;
            color: var(--header-secondary);
            font-size: 13px ;
            font-weight: 500 ;
            line-height: 20px ;
          }
        }
      }

      // Custom status
      > .customStatus-oN4ZZY > img {
        width: 20px ;
        height: 20px ;
      }

      // new (beta) "About Me" 
      > .aboutMeSection---MkQa {
        background: none ;

        // header
        .aboutMeTitle-2i3lnH {
          display: none ;
        }
      }
    }

    // Profile image container
    > .avatarWrapper-3r9PdD {
      top: 16px ;
      left: 50% ;
      transform: translateX(-50%) ;

      // Remove rounding effect
      foreignObject { mask: none }

      // container 2
      > .wrapper-3t9DeA {
        border: none ;
        background: none ;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

        // Image
        img.avatar-VxgULZ { border-radius: 7.5% }
      }

      > .avatarHint-1E3LMl, .avatarHint-2A3RNb {
        top: 0 ;
        left: 0 ;
        border-radius: 7.5% ;
      }
    }

    // Status
    > .activityUserPopout-2yItg2 {
      grid-area: status ;
      padding: 4px 16px 10px 16px;

      &.newPopoutActivityStyles button {
        border: none ;
        color: var(--interactive-normal) ;

        &:hover {
          color: var(--interactive-hover) ;
        }
      }

      .spotifyIcon-2J9kSv {
        display: none ;
      }
    }
  }

  // - body
  > .body-3HBlXn {
    grid-area: body ;
    min-width: 150px ;
    background: none ;
    padding: 16px 8px 8px 16px !important ;
    
    .textarea-2r0oV8 { background: none }
  }

  // - Footer
  > .footer-1N3bR3 {
    grid-area: footer;
    padding: 0 ;
    background-color: var(--background-secondary-alt);

    // Text input
    .inputDefault-_djjkz {
      border-color: transparent ;
      border-radius: 0 ;
      color: var(--text-normal) ;
    }

    // "pro tip" 
    > .protip-2urNh2 { display: none }
  }
  
  // Clyde
  &[data-user-id="1"] {
    display: flex ;
    width: inherit !important ;
    background-color: var(--background-tertiary) ;
    padding: 10px 40px ;
    
    > .headerNormal-1mX3KY { min-width: unset }
  }
}

// -- User popout (ptb)
.userPopout-xaxa6l {
  display: grid ;
  width: 512px !important ;
  grid-template-areas:
    "header body" 
    "footer footer" ;
  background-color: var(--background-secondary) ;
  
  @include shadow_effect("box_1");

  // - Header
  > .headerNormal-1mX3KY {
    position: relative ;
    grid-area: header ;
    background-color: var(--background-tertiary) ;
    min-width: 258px ;
    
    // Colored profile banner
    > .popoutBanner-19WKGg { display: none }

    // New custom image banner
    > .bannerPremium-2hSAwz {
      position: absolute ;
      width: 512px ;
      height: 100% ;
      filter: brightness(0.5) ;

      > .betaBadge-1Ve-yb { display: none }
    }

    // User Info (Name, Status, Badges)
    > .headerTop-2cWpdB {
      background: none ;
      border: none ;
      padding: 112px 16px 16px ;
      text-align: center ;

      // Badges container
      > .profileBadges-3cJaE1 {
        flex-direction: column ;
        justify-content: flex-start ;
        height: calc(24px * 3);
        width: calc(26px * 2);
        top: 20px ;
        left: 20px ;
        right: unset ;
        overflow: hidden ;

        // Badges
        > div {
          margin: 3px 4px;

          .profileBadge18-NVHzY4 {
            height: 18px ;
            width: 18px ;
          }
        }
      }

      // User Name container
      > .headerText-15Q25Z {

        // h1 Nickname
        .nickname-2gQ76l {
          color: var(--header-primary);
          font-size: 17px ;
          font-weight: 500 ;
        }

        // h1 Name without Nickname
        .headerTagNoNickname-1VyQza {

          // Name
          .username-2b1r56 {
            color: var(--header-primary);
            font-size: 17px ;
            font-weight: 500 ;
          }

          // Discriminator
          .discrimBase-1QwWzY {
            margin-left: 2px ;
            color: var(--header-secondary);
            font-size: 15px ;
            font-weight: 500 ;
            line-height: 27px ;
          }
        }

        // h2 Name with Nickname
        .headerTagWithNickname-1SDMpI {

          // Name
          .username-2b1r56 {
            color: var(--header-secondary);
            font-size: 14px ;
            font-weight: 500 ;
          }

          // Discriminator
          .discrimBase-1QwWzY {
            margin-left: 2px ;
            color: var(--header-secondary);
            font-size: 13px ;
            font-weight: 500 ;
            line-height: 20px ;
          }
        }
      }

      // Custom status
      > .customStatus-oN4ZZY > img {
        width: 20px ;
        height: 20px ;
      }

      // new (beta) "About Me" 
      > .aboutMeSection---MkQa {
        background: none ;

        // header
        .aboutMeTitle-2i3lnH {
          display: none ;
        }
      }
    }

    // Profile image container
    > .avatarWrapper-3r9PdD {
      top: 16px ;
      left: 50% ;
      transform: translateX(-50%) ;

      // Remove rounding effect
      foreignObject { mask: none }

      // container 2
      > .wrapper-3t9DeA {
        border: none ;
        background: none ;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.75));

        // Image
        img.avatar-VxgULZ { border-radius: 7.5% }
      }

      > .avatarHint-1E3LMl, .avatarHint-2A3RNb {
        top: 0 ;
        left: 0 ;
        border-radius: 7.5% ;
      }
    }

    // Status
    > .activityUserPopout-2yItg2 {
      grid-area: status ;
      padding: 4px 16px 10px 16px;

      &.newPopoutActivityStyles button {
        border: none ;
        color: var(--interactive-normal) ;

        &:hover {
          color: var(--interactive-hover) ;
        }
      }

      .spotifyIcon-2J9kSv {
        display: none ;
      }
    }
  }

  // - body
  > .body-3HBlXn {
    grid-area: body ;
    min-width: 150px ;
    background: none ;
    padding: 16px 8px 8px 16px !important ;
    
    .textarea-2r0oV8 { background: none }
  }

  // - Footer
  > .footer-1N3bR3 {
    grid-area: footer;
    padding: 0 ;
    background-color: var(--background-secondary-alt);

    // Text input
    .inputDefault-_djjkz {
      border-color: transparent ;
      border-radius: 0 ;
      color: var(--text-normal) ;
    }

    // "pro tip" 
    > .protip-2urNh2 { display: none }
  }
  
  // Clyde
  &[data-user-id="1"] {
    display: flex ;
    width: inherit !important ;
    background-color: var(--background-tertiary) ;
    padding: 10px 40px ;
    
    > .headerNormal-1mX3KY { min-width: unset }
  }
}

// Transition effect on Popout 
.layer-v9HyYc > .animatorLeft-1EQxU0.translate-2dAEQ6 { transform: translateZ(0) }


// -- User modal 
.layer-2KE1M9-no {
  
  // header
  [class*="topSection"] {
    background-color: var(--background-tertiary) ;
    border-bottom: 1px solid var(--background-modifier-accent);
    
    // User avatar container
    .wrapper-3t9DeA {
      filter: drop-shadow( 2px 2px 3px black );
      
      // Profile img container
      foreignObject { mask: none }
      
      // Profile img
      img.avatar-VxgULZ { border-radius: 7.5% }
    }
    
    // Status container
    > .headerFill-39azRn {
      background-color: var(--background-tertiary) ;
    }
  }
  
  // replacing Badges with the colored version (some are missing tho)
  .profileBadges-9OJ14v {
    // HypeSquad Brilliance
    .profileBadgeHypeSquadOnlineHouse2-2oU04B {
      background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg)
    }
    // HypeSquad Bravery
    .profileBadgeHypeSquadOnlineHouse1-3rBtjf {
      background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg)
    }
    // HypeSquad Balance
    .profileBadgeHypeSquadOnlineHouse3-1DoJkv {
      background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg)
    }
    // Early Supporter (nitro)
    .profileBadgeEarlySupporter-2ng_jL {
      background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg)
    }
    // Nitro
    .profileBadgePremium-1KDZYC {
      background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg)
    }
    // Discord Partner
    .profileBadgePartner-j6Lwhr {
      background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg)
    }
    // Server boosting lvl 1
    .profileGuildSubscriberlvl1-3oI9tx {
      background-image: url(https://discordapp.com/assets/7dc50a46914f03a1c6698133199ad39c.svg)
    }
    // Server boosting lvl 2
    .profileGuildSubscriberlvl2-r6nJHT {
      background-image: url(https://discord.com/assets/b4b741bef6c3de9b29e2e0653e294620.svg)
    }
    // Server boosting lvl 3
    .profileGuildSubscriberlvl3-38s3Dj {
      background-image: url(https://discord.com/assets/93f5a393e22796a850931483166d7cb9.svg)
    }
    // Server boosting lvl 4
    [class*="profileGuildSubscriberlvl4-"] {
      background-image: url(https://discordapp.com/assets/ac20c019c11f36fb22b4ce13725a1aff.svg)
    }
    // Server boosting lvl 5
    .profileGuildSubscriberlvl5-3XIa2K {
      background-image: url(https://discord.com/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg)
    }
    // Server boosting lvl 8
    .profileGuildSubscriberlvl8-1kXdFr {
      background-image: url(https://discord.com/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg)
    }
    // Server boosting lvl 19
    .profileGuildSubscriberlvl9{
      background-image: url(https://discord.com/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg)
    }
    // Early Verified Bot Developer
    .profileBadgeVerifiedDeveloper-195KfD {
      background-image: url(https://discord.com/assets/45cd06af582dcd3c6b79370b4e3630de.svg)
    }
  }
  
  // body
  .body-r6_QPy {
    background-color: var(--background-tertiary) ;
    
    // Note (idk, I just don't like it)
    .userInfoSection-q_35fn:first-child { display: none }
    
    .userInfoSection-q_35fn { border: none }
    
    // Connected account
    .connectedAccounts-QlRa4m {
      
      .connectedAccount-2Jb-Z0 { 
        color:  var(--channels-default) ;
        border: none ;
      }
    }
  }
}

// -- User modal (ptb)
.layer-2KE1M9 {
  
  // - header
  .topSection-y3p-_D {
    background-color: var(--background-tertiary) ;
    border-bottom: 1px solid var(--background-modifier-accent);
    
    // Profile banner normal
    .profileBanner-33-uE1 { display: none }
    
    // Profile banner normal
    .profileBannerPremium-35utuo {
      position: absolute ;
      height: 208px;
      filter: brightness(0.5) ;
      
      .betaBadge-1Ve-yb { display: none }
      
      // shadows for better readability
      ~ .nameTag-ECvD8P, 
      ~ .customStatusActivity-nmH3DF { @include shadow_effect("drop_1") }
    }
    
    // needed for PTB
    header:not([class]) {
      
      // Top conatiner (avatar, badges, options, ..)
      .header-4zuFdR { height: 152px }

      // Avatar container
      .wrapper-3t9DeA {
        top: 16px ;
        filter: drop-shadow( 2px 2px 3px black );
        background: none ;
        border: none ;

        // Profile img container
        foreignObject { mask: none }

        // Profile img
        img.avatar-VxgULZ { border-radius: 7.5% }
      }

      // Container (badges, options, ..)
      .headerTop-547GTz { padding: 24px 16px 0 180px }

      // Username container
      .nameTag-ECvD8P { margin: 16px 24px }
      
      // Username
      .username-2b1r56 {
        color: var(--header-primary);
        font-weight: 500 ;
        z-index: 1 ;
      }

      // Discriminator
      .discriminator-1swucG {
        margin-left: 2px ;
        color: var(--header-secondary);
        font-size: 17px ;
        font-weight: 500 ;
        z-index: 1 ;
      }

      // Custom status
      .customStatusActivity-nmH3DF {
        position: absolute ;
        top: 92px ;
        left: 180px ;
      }
    }
    
    // nav bar
    .tabBar-3nvOPa {
      
      // nav bar tab
      .tabBarItem-3dfX8P {
        
        &:not(.selected-3s45Ha):hover {
          border-color: transparent ;
        }
      }
    }
  }
  
  // - body
  .body-r6_QPy {
    background-color: var(--background-tertiary) ;
    
    // Note (will move it somewhere else at some point)
    .userInfoSection-q_35fn:first-child { display: none }
    
    .userInfoSection-q_35fn { border: none }
    
    // Connected account
    .connectedAccounts-QlRa4m {
      
      .connectedAccount-2Jb-Z0 { 
        color:  var(--channels-default) ;
        border: none ;
      }
    }
  }
}




