// Chat | Text input

// -> Chatting restrictions notice (e.g. when under timeout)
.spamBanner_a2eac3 {
  background: none ;

  @include divider(top);
}
// <- Chatting restrictions notice


.form_f75fb0 {
  margin-top: 0 !important ;
  padding: 0 3px 0 0 !important ;
  // padding: 0 !important ;

  --channel-text-area-placeholder: var(--text-muted);
  --custom-channel-textarea-text-area-height: 46px ;

  @include divider(top);

  @container style(--highlight-focusedChatInput: 1) {
    &:focus-within {
      border-color: hsla(0,0%,100%,0.3);
    }
  }

  // -> input unavailable
  .wrapper__44df5 {
    border: none ;
    margin-bottom: 0 ;

    .defaultColor__5345c {
      color: var(--text-secondary);
    }

    // "follow" btn
    .button_a22cb0 {
      color: $BtnTextNormal !important ;
      background: $BtnBackgroundNormal !important ;

      &:hover {
        color: $BtnTextHover !important ;
        background: $BtnBackgroundHover !important ;
      }
    }
  }
  // <- input unavailable

  // inner container text available
  .channelTextArea__74017 {
    border: none ;
    margin: 0 ;
  }

  .scrollableContainer__74017 {
    @include scrollbar(none);
  }

  .inner__74017 {
    padding: 0 ;
  }

  .textArea__74017 {
    margin: 0 4px 0 10px ;
  }

  // -> Typing/slow mode indicator
  .typing_b88801 {
    top: -16px !important ;
    padding: 0 !important ;
    height: 15px ;
    right: 16px !important ; // spacing for slow mode icon
  }

  // "user is typing" text
  .text_b88801 {
    margin-left: 10px ;
  }

  // Slow mode icon
  // :is(.cooldownWrapper_b21699, .cooldownTex_b21699) {
  //   display: contents ;
  //   position: absolute ;
  // }

  // .cooldownWrapper_b21699 {
  //   .cooldownText_b21699 {
  //     visibility: hidden ;
  //   }

  //   .slowModeIcon_b21699 {
  //     position: absolute ;
  //     visibility: visible ;
  //     margin: 0 ;
  //     width: 16px ;
  //     height: 16px ;
  //   }
  // }

  .cooldownWrapper_b21699 {
    position: absolute ;
    top: 16px ;
    left: 0px ;
    height: 16px ;
    width: 16px ;
    pointer-events: auto ;
    padding: 0 ;

    .cooldownText_b21699 {
      visibility: hidden ;
    }

    .slowModeIcon_b21699 {
      position: absolute ;
      margin: 0 ;
      visibility: visible ;
      scale: 1.3 ;

      path {
        fill: var(--interactive-normal);
      }
    }
  }
  // <- Typing/slow mode indicator

  // -> Buttons
  // -> Attach btn
  // main container
  .attachWrapper__0923f {
    padding: 0px ;
    height: var(--custom-channel-textarea-text-area-height);
    width: var(--custom-channel-textarea-text-area-height);
    display: flex ;
    justify-content: center ;
    align-items: center ;

    &:after {
      content: "" ;
      position: absolute ;
      top: 5px ;
      bottom: 5px ;
      right: 0px ;
      width: 1px ;
      background-color: var(--background-modifier-accent);
    }
  }

  // pointer events
  .attachButton__74017 {
    margin: 0 ;
  }

  .attachButtonInner__0923f {
    height: auto ;
    width: auto ;
    padding: 2px ;

    &:hover {
      background: none ;
    }
  }
  // <- Attach btn

  // -> Right side btns
  .buttons__74017 {
    gap: 6px ;

    // :is(.button__74017, .buttonContainer_e6e74f) {
    .button__74017, .buttonContainer_e6e74f {
       background: none ;
    }

    // Nitro btn
    @container style(--hide-chatBtn-nitro: 1) {
      .button__74017, .container_c0c49a { // container still needed ?
        &:has([d^=" M7,-6 C7,-7.6570000648498535 5.6570000648498535,-9 4,-9 C4,-9 3.9110000133514404,-9"]) {
          display: none ;
        }
      }
    }

    .expression-picker-chat-input-button {

      // Gifs picker
      @container style(--hide-chatBtn-gif: 1) {
        &:has([d^=" M-7,-10 C-8.656999588012695,-10 -10,-8.656999588012695 -10"]) {
          display: none ;
        }
      }
      // Stickers picker
      @container style(--hide-chatBtn-sticker: 1) {
        &:has([d^=" M-6,-10 C-6,-10 6,-10 6,-10 C8.208999633789062,-10 10"]) {
          display: none ;
        }
      }
      // Emoji picker
      @container style(--hide-chatBtn-emoji: 1) {
        &:has(.emojiButton__04eed) {
          display: none ;
        }
      }
    }


    // Add media btn
    @container style(--hide-chatBtn-media: 1) {
      .button__24af7:has([d^="M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3 3 0 0 1-3"]) {
        display: none ;
      }
    }

    // Emoji icon
    .spriteContainer__04eed {
      --custom-emoji-sprite-size: 19px !important ;
      height: 19px ;
      width: 19px ;
    }

    .spriteGreyscale__04eed {
      background-color: var(--interactive-normal) !important ;
    }

    // Apps & Commands btn
    @container style(--hide-chatBtn-apps: 1) {
      .channelAppLauncher_e6e74f { display: none }
    }

    // Separator
    .spacer__74017 { display: none }
  }
  // <- Right side btns

  // -> activity in dm btn (maybe more?)
  .entryPointButtonContainer_f75fb0 {
    margin: 0 ;
    align-content: center ;
  }
  // <- activity in dm btn
  // <- Buttons

  // -> file/upload attachment
  .channelAttachmentArea_b77158 {
    // Attachment item
    .upload_aa605f {
      background: none ;
      border: none ;

      // Buttons
      .wrapper_f7ecac {
        background: var(--background-floating);

        @include shadowEffect("box_2");
      }
    }
  }
  // <- file/upload attachment

  // post onboarding steps
  .floatingBars__74017 {
    .banner__183e8 {
      padding: 10px 16px ;
      background: none ;

       @include divider(bottom);
    }
  }
}
