// Chat | Voice & Stage channel view

#app-mount {

// -> Voice call view
.cb9592ad77576717-callContainer {
  border: none ;

  // player popped out
  .ccf17423f104902d-root {
    background: none ;
  }

  // empty voice channel, gradient placeholder (e.g. after call)
  ._116642f293ef6ec6-pulseGradient,
  // gradient background for join channel transition
  ._4162607e15fa5328-gradientBackground,
  // artwork when alone in channel
  ._4ad815b9a8eb0838-art { display: none }

  // -> Control buttons
  ._1405b3b8e8eb5fd0-buttonSection {
    background: none ;
    border: none ;
  }

  .f1ceaca61b18918e-attachedCaret {
    background: none ;
    color: var(--interactive-normal);

    &:hover {
      color: var(--interactive-hover);
    }
  }

  @container style(--keep-voiceChannelBtns: 1) {
    .bfe55a0aaaf62375-root {
      padding: 48px 0 50px 0 ;
      box-sizing: border-box ;
    }

    .bfe55a0aaaf62375-videoControls {
      padding: 0 16px ;
    }

    .bfe55a0aaaf62375-controlSection {
      opacity: 1 ;
      transform: none ;
      transition: none ;
    }

    .bfe55a0aaaf62375-gradientContainer { display: none }

    ._1405b3b8e8eb5fd0-buttonSection {
      background: none ;
      border: none ;
    }
  }
  // <- Control buttons

  // -> Item card / Tile
  ._2f4f7eb58b61c328-tile {

    @include shadowEffect("box_2");

    // stream quality / live indicator
    ._2f4f7eb58b61c328-indicators { display: none }

    // Avatar
    .fb62e279d3f0a88a-avatarWrapper {

      foreignObject {
        mask: none ;
        overflow: visible ;
      }

      svg {
        contain: unset ;
        overflow: visible ;
      }

      // Profile image
      ._44b0c28be7879b7b-avatar {
        border-radius: 7.5% ;

        &:not([src*=".gif"]) { @include shadowEffect("drop_1") }
      }
    }
  }

  // "invite people" empty card
  .d6271c8ee3948714-tile ._4ad815b9a8eb0838-root {
    background: none ;
  }
  // <- Item card / Tile

  // -> Grid view
  .a21736575ea33af0-videoGridWrapper {

    .a21736575ea33af0-videoGrid::-webkit-scrollbar { display: none }

    // Cards main container
    .d6271c8ee3948714-tile {
      padding: 8px ;
      box-sizing: border-box ;
    }
  }
  // <- Grid view

  // -> Focus view
  ._6981dc6d72610110-root {
    padding: 0 12px ;
    box-sizing: border-box ;

    // Main frame top
    ._6981dc6d72610110-videoFrame {

      // hide members btn
      ._211d1cc3f7e37d69-participantsButton {
        background: var(--background-floating);
      }
    }

    // Secondary Tiles
    ._6981dc6d72610110-participantsWrapperAnimated {
      overflow: visible ; // for shadow
    }
  }
  // <- Focus view
}

// <- Voice call view


// -> Stage view

// TBD

// <- Stage view

}
