// Chat | Header bar + Search

// -> Channel & DMs header
.f75fb00fb7356cbe-title {

  // -> Left side info
  ._9293f6b2fc12398a-children {

    // "#" / "@", "AKA" icon, separator dot
    :is(._9293f6b2fc12398a-iconWrapper, ._488b1a4248d1b790-akaBadge, ._9293f6b2fc12398a-dot) { display: none }
  }

  // DM group name
  .channelName__754bd {
    margin: 0 3px ;

    ._4f07413b2d47139a-input {
      padding: 0 12px ;
    }

    ._4f07413b2d47139a-container { @include searchbar("._4f07413b2d47139a-input") }
  }

  // Channel description
  ._6ec1a06139ec3b27-topic {
    margin: 0 8px ;
    text-align: center ;
    color: var(--header-secondary);

    // Mentions/Channels, Web links
    :is(.interactive, .edefb8e22d63c542-anchor) {
      pointer-events: none ;
      opacity: .8 ;
    }

    &:hover {
      color: var(--interactive-hover);

      :is(.interactive, .edefb8e22d63c542-anchor) {
        opacity: 1 ;
      }
    }
  }
  // <- Left side info

  // -> Right side btns
  ._9293f6b2fc12398a-toolbar {
    max-width: 100% ;
    justify-content: end ;

    ._9293f6b2fc12398a-iconWrapper {
      // margin: 0 2px ;
    }
  }
  // <- Right side btns
}
// <- Channel & DMs header

// -> Searchbar icon & input
.f75fb00fb7356cbe-title {

  // Searchbar outer
  ._496769951eb140fe-search {
    margin: 0 ;
  }

  // second container
  .c322aadb96ff59c9-search {

    // inner
    .c322aadb96ff59c9-searchBar {
      padding: 0 ;
      height: 28px ;
      width: 28px ;
      cursor: pointer;
      border: none ;
      border-radius: 0 ;
      background: none ;
    }

    &.c322aadb96ff59c9-open {

      .c322aadb96ff59c9-searchBar {
        min-width: 240px ;
        width: min-content ;
        border-bottom: 1px solid var(--header-secondary);
      }

      .DraftEditor-root {
        position: relative ;
      }
    }

    .public-DraftEditorPlaceholder-root {
      display: none ;
    }

    .DraftEditor-root {
      position: absolute ;
      width: 100% ;
      padding: 0 ;
    }

    // Icon container
    .c322aadb96ff59c9-icon {
      height: 28px ;
      width: 28px ;
      pointer-events: none ;
    }
    // icon inner
    ._0c4c409e1915aba4-icon {
      color: $BtnIconNormal ;
    }

    ._0c4c409e1915aba4-pointer {
      pointer-events: auto ;
    }

    &:hover ._0c4c409e1915aba4-icon {
      color: $BtnIconHover ;
    }
  }
}

// discord fix for empty tooltip below search bar
._59d0d7075b521375-clickTrapContainer ._55c999adcf6db265-container:empty { display: none }

// <- Searchbar icon & input