// Chat | highlight.js syntax colors

html.theme-light:root, #app-mount .theme-light {
  --text-code-keyword: #d73a49 ;
  --text-code-title: #6f42c1 ;
  --text-code-variable: #005cc5 ;
  --text-code-strin: #032f62 ;
  --text-code-builtin: #e36209 ;
  --text-code-comment: #6a737d ;
  --text-code-tag:  #22863a ;
  --text-code-default: #24292e ;
  --text-code-section: #005cc5 ;
  --text-code-bullet: #735c0f ;
  --text-code-addition: #22863a ;
  --text-code-deletion: #b31d28 ;

  --background-code-addition: #f0fff4 ;
  --background-code-deletion: #ffeef0 ;
}

html.theme-dark:root, #app-mount .theme-dark {
  --text-code-keyword: #ff7b72 ;
  --text-code-title: #d2a8ff ;
  --text-code-variable: #79c0ff ;
  --text-code-strin: #a5d6ff ;
  --text-code-builtin: #ffa657 ;
  --text-code-comment: #8b949e ;
  --text-code-tag:  #7ee787 ;
  --text-code-default: #c9d1d9 ;
  --text-code-section: #1f6feb ;
  --text-code-bullet: #f2cc60 ;
  --text-code-addition: #aff5b4 ;
  --text-code-deletion: #ffdcd7 ;

  --background-code-addition: #033a16 ;
  --background-code-deletion: #67060c ;
}
