@use '../mixins/_mixins' as * ;

// -- Chat

$BG_MsgHighlight: rgba(255, 255, 255, 0.05);

// Forums & Threads
@import 'chatForums' ;

// Header bar + Search
@import 'chatHeader' ;

// Syntax highlighting
@import 'chatHljs' ;

// Text input
@import 'chatInput' ;

// Messages
@import 'chatMessages' ;

// Voice & Stage channel
@import 'chatVoice' ;


#app-mount {

// -> Chat container
.page_c48ade {
  :is(.scrollerBase__99f8c, .scrollerBase_d125d2) {
    @include scrollerFadeOut();
  }
}
// Page inner container (chat+header)
.chat_f75fb0 {
  border-top: none ;
}

.chatContent_f75fb0 {

  // "#" Icon at the channels very top
  .container__00de6 :is(.emptyChannelIcon__00de6, .iconWrapper__54b20) { display: none }
}
// <- Chat container

// -> Chat bars
.chatContent_f75fb0 .barBase__0f481 {
  // -> general
  right: 5px ;
  left: 5px ;
  min-height: unset ;
  height: 32px ;
  width: auto ;
  padding: 0 6px ;
  margin: 0 ;
  background: var(--background-secondary-alt);
  border-radius: 5px ;
  border: none ;
  cursor: auto ;

  &::before { display: none }

  @include shadowEffect("box_3");

  // Viewing older messages (really just one big button)
  &.jumpToPresentBar__0f481 {
    bottom: 14px ; // space for typing indicator
    cursor: pointer ;

    &:hover {
      background: var(--background-secondary);
    }
  }

  // Mark As Read (two seperate buttons)
  &.newMessagesBar__0f481 {
    top: -4px ;

    button {
      height: 28px ;
      background: none !important;
      color: var(--interactive-hover) !important;
  
      &:hover {
        color: var(--interactive-active) !important;
      }
    }
  
    // text btn left
    .barButtonMain__0f481 {
      flex: 0 1 auto ;
      margin-right: auto ;
    }
  }

  button {
    padding: 0 4px ;
    background: none !important;
    color: var(--interactive-hover) !important;
  }
  // <- general

  // -> Summaries
  :is(.barButtonAlt__0f481, .newTopicsBarTopicSection__0f481) {
    color: var(--interactive-hover);
    background: none ;
    cursor: pointer;

    &:hover {
      color: var(--interactive-active);
    }
  }

  .newTopicsBarText__0f481 {
    color: var(--interactive-hover);
  }

  .newTopicsBarTopicSection__0f481:hover .newTopicsBarText__0f481 {
    color: var(--interactive-active);
  }
  // <- Summaries
}

// "This channel is not on your channel list" bar
.chatHeaderBar_dc83f5 {
  background: none ;
  box-shadow: none ;

  // border-top: 1px solid var(--background-modifier-accent);

  .chatHeaderBarText_dc83f5 {
    font-weight: 600 ;
  }
}
// <- Chat bars

// -> Mentions (Channel, User, Role, Discord cdn File)
.wrapper_f61d60 {
  color: var(--Blurple);
  background: none ;

  // Role, User
  &.roleMention__75297, &.mention:not(:hover) {
    background: none !important ;
  }

  // File link
  &.attachmentLink .icon_a9c2d1 path {
    fill: var(--Blurple);
  }
  
  &:hover {
    background-color: var(--Blurple-light);
    color: var(--Blurple);
  }

}
// <- Mentions

// -> Reactions
// Reaction item chat, foum post
:is(.reaction__23977, .reaction_f8896c) {
  background-color: var(--background-modifier-hover);
  border: none ;
  border-radius:4px ;

  &:hover { 
    background-color: var(--background-modifier-selected);
  }

  // number 
  :is(.reactionCount__23977, .reactionCount_f8896c) {
    font-size: 0.875rem ;
  }

  // image
  .emoji {
    width: 1rem ;
    height: 1rem ;
  }
}

// Active reaction 
:is(.reaction__23977.reactionMe__23977, .reaction_f8896c.reactionMe_f8896c) {
  background-color: var(--Blurple-light);

  &:hover { 
    background-color: var(--Blurple-light-hover);
  }

  :is(.reactionCount__23977, .reactionCount_f8896c) { 
    color: var(--Blurple);
  }
}

// add reaction btn
.reactions__23977 .reactionBtn__23977 {
  border: none ;
  background: none !important;
}
// <- Reactions

// -> Searchbar results popout
.searchResultsWrap_a9e706 {
  border: none ;
  width: 50% ;
  resize: horizontal ;
  direction: rtl;

  @include shadowEffect("box_1");
  
  // -> Header
  .searchHeader_f3b986 {
    direction: ltr ;

    // n of search results
    .text-md\/medium_cf4812 {
      color: var(--text-normal) !important ;
    }

    // Nav bar Tab item
    .item_b3f026 {
      background: none !important ;

      &:hover {
        color: var(--interactive-hover);
      }

      &.selected_b3f026 {
        color: var(--interactive-active);
      }
    }
  }
  // <- Header
  
  // -> Body
  // Content scroller
  .scroller_a9e706 {
    padding: 6px 0 0 0 !important ;
    direction: ltr ;
    
    .searchResultGroup_c68065 {
      margin-bottom: 14px ;
      padding-bottom: 10px ;

      @include divider(bottom);
    }

    // message item
    .searchResult__02a39 {
      border: none ;
      border-radius: 0 ;

      &:hover {
        background: $BG_MsgHighlight ;
      }
    }
  
    // channel name container
    .channelNameContainer_c68065 {
      margin-left: 10px ;
    }

    // channel name & icon
    :is(.channelNameText_c68065, .channelNameIcon_c68065) {
      padding-right: 6px ;
      color: var(--text-normal);
    }

    .button__02a39 {
      @include shadowEffect("box_3");
    }
  }

  // Switch page btns
  .pageButton_c15210 {
    background: none ;
    color: var(--interactive-normal);

    &:hover {
      color: var(--interactive-hover);
    }

    &.activeButton_c15210 {
      color: var(--interactive-active);
    }
  }
  // <- Body
}
// <- Searchbar results popout

}
