// Chat | Messages


// -> Messages separator
._5126c0cd07f243a0-divider {
  align-items: unset ;
  border: none ;
  margin: 20px 10px !important;

  // date
  ._908e20001ad67812-content {
    height: fit-content ;
    transform: translateY(-50%);
    background: none ;
  }

  // separator lines
  &::before, &::after {
    content: "" ;
    height: 1px ;
    width: 100% ;
    background: var(--background-modifier-accent);
  }

  // new messages separator
  &._908e20001ad67812-isUnread {
    &::before, &::after {
      background: var(--red);
      opacity: .7 ;
    }

    ._908e20001ad67812-unreadPill {
      top: 0 ;
      padding: 0 4px ;
      border-radius: 0 0 4px 4px ;
      background: var(--red);

      path { display: none }
    }
  }
}
// <- Messages separator

// -> Messages cozy

.c19a557985eb7793-cozy {
  // -> general msg
  $spacing: 15px ;

  background: none !important ;
  padding: 3px 30px 3px ($spacing * 2 + 40px) !important ;
  border-radius: 0 !important ;

  // Highlight border-left (Mention, Clyde, ..)
  &:before { display: none }

  // profile picture
  .c19a557985eb7793-avatar {
    left: $spacing ;
  }

  // profile decorations
  .c19a557985eb7793-avatarDecoration {
    left: $spacing - 4px ;
  }

  .c19a557985eb7793-header {
    margin-bottom: 2px ;
  }

  .c19a557985eb7793-messageContent {
    margin: 0 ;
    padding: 0 ;
  }
  // <- general msg

  // -> Msg types
  // Mention
  &._5126c0cd07f243a0-mentioned .c19a557985eb7793-contents .c19a557985eb7793-messageContent {
    padding-left: 6px ;
    border-left: solid 2px var(--border-mentioned);
    background: var(--background-mentioned);
  }

  // client-side info/error messages
  &._5126c0cd07f243a0-ephemeral .c19a557985eb7793-contents .c19a557985eb7793-messageContent {
    padding-left: 6px ;
    border-left: solid 2px var(--Blurple);
    background: var(--Blurple-light);
  }

  // selected for reply bg highlight
  &._5126c0cd07f243a0-replying {
    background: $BG_MsgHighlight !important ;

    ._5126c0cd07f243a0-buttons::before {
      background-blend-mode: overlay ;
    }
  }
  // <- Msg types

  // -> Message Buttons

  // -> btn hover and appear behavior
  // reduce btns to menu icon
  @mixin reducedBtns() {
    ._5126c0cd07f243a0-buttonsInner > {
      // sticking with class vs span for performance?
      .f7ecaca5c80dbf3a-button, // for btns added by plugins
      // all items but last two
      .f84418acfdbdfe54-separator,
      :nth-last-child(n+3) .f7ecaca5c80dbf3a-button {
        display: none ;
      }
    }

    .f7ecaca5c80dbf3a-button {
      color: $BtnIconHover !important; // !important bc of general btn design
    }
  }

  // hide emojis until hover
  @container style(--hide-messageBtnEmojis: 1 ) OR style(--hide-messageBtnEmojis: 2 ) {
    // separator unless there are plugin btns
    .f84418acfdbdfe54-separator:not(.f7ecaca5c80dbf3a-button ~ .f84418acfdbdfe54-separator),
    .f7ecaca5c80dbf3a-button:has(.emoji) {
      display: none
    }
  }

  @container style(--reduce-messageBtns: 1 ) {
    @include reducedBtns();
  }

  // hide btns on: concatenating Msg, System msg
  &:is(:not(._5126c0cd07f243a0-groupStart), .c19a557985eb7793-isSystemMessage) {
    @include reducedBtns();
  }

  // hover on btns (is this ideal?)
  &:has(._5126c0cd07f243a0-buttons:hover),
  // extended msg btns on hovered msg
  &:hover:has([d^="M18 17h-1.24a3 3 0 1 1 .26 4.25 1 1 0 1 0-1.33 1.5A4.98 4.98 0 0 0 24 19a5 "]) {
    background: $BG_MsgHighlight !important ;

    ._5126c0cd07f243a0-buttons::before {
      background-blend-mode: overlay ;
    }

    @container style(--hide-messageBtnEmojis: 2 ) {
      .f7ecaca5c80dbf3a-button:not(:has(.emoji)), // don't unhide emojis if hideEmojis is 2
      .f84418acfdbdfe54-separator {
        display: flex ;
      }
    }

    @container NOT style(--hide-messageBtnEmojis: 2 ) {
      :is(.f7ecaca5c80dbf3a-button, .f84418acfdbdfe54-separator) {
        display: flex !important;
      }
    }

    .f7ecaca5c80dbf3a-button:not(:hover) {
      color: $BtnIconNormal !important; // !important bc of general btn design
    }
  }
  // <- btn hover and appear behavior


  // -> Button container
  .c19a557985eb7793-buttonContainer {
    z-index: 9 ; // to not interfere with the hover btns on images and similar
  }

  // to not shift positions (e.g. of plugin btns) when hover (couldn't avoid span or :has i think)
  ._5126c0cd07f243a0-buttonsInner > span:has(._040f07d21e1fb0d6-emoji) {
    order: -1 ;
  }

  ._5126c0cd07f243a0-buttons {
    // opacity: 1 ; // debug

    top: 0 ;
    padding: 1px ;

    &:before {
      content: "";
      position: absolute ;
      height: 100% ;
      width: 100% ;
      inset: 0px ;
      background: var(--background-app) $BG_MsgHighlight ;
      background-position: center ;
      background-size: cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed ;

      border-radius: 0 0 0 8px ;

      $blur-main: blur(calc(var(--backgroundBlur-app) / 100 * 1px));
      $brightness-main: brightness(calc((var(--backgroundBrightness-app) / 100)));

      // --blur: blur(calc(var(--backgroundBlur-app, 0) / 100 * 1px));
      // --brightness: brightness(calc((var(--backgroundBrightness-app, 80) / 100)));

      filter: $blur-main $brightness-main ;
    }

    // (bit of legacy code mixed in)
    // inner container
    ._5126c0cd07f243a0-buttonsInner  {
      margin-top: 2px ;
      padding: 0 ;
      border: none ;
      border-radius: 0 ;
      background: none ;
      box-shadow: none !important ;
    }

    // btn item
    .f84418acfdbdfe54-hoverBarButton {
      background: none ;
      padding: 0 2px ;
    }

    // Inner button icon
    .f84418acfdbdfe54-icon {
      transform: scale(1);
    }

    .f84418acfdbdfe54-separator {
      margin: 0 2px ;
    }

    // quick reaction emoji
    ._040f07d21e1fb0d6-emoji {
      width: 18px ;
      height: 18px ;
    }
  }
  // <- Button container

  // <- Message Buttons

  // -> Unmask links
  @container style(--unmask-links: 1 ) {
    .c19a557985eb7793-messageContent .edefb8e22d63c542-anchor[title$=")"] {
      &::after {
        content: " (" attr(href) ")" ;
        position: relative ;
        display: inline ;
        // height: 100% ;
        // max-height: 22px ;
        // width: 100% ;
        // max-width: max-content ;
        font-size: 0.7rem ;
        font-weight: 400 ;
        font-style: normal ;
        filter: grayscale(1.0) brightness(1.15);
        // overflow: hidden ;
        // white-space: normal ;
      }
      &:hover::after {
        text-decoration: underline ;
      }
    }
  }
  // <- Unmask links

  // -> Message content
  $embedBg: var(--background-modifier-accent);
  $embedBg-hover: var(--background-modifier-selected);

  :is(.c19a557985eb7793-contents, .b7e1cb0370c2dd0e-container) {
    --bg-overlay-floating: #{$embedBg} ;
    --chat-background-default: #{$embedBg} ;
    --background-surface-high: #{$embedBg} ;
    --background-code: #{$embedBg} ;
    --background-secondary: #{$embedBg} ;
    --background-tertiary: #{$embedBg} ;
    --background-mod-subtle: #{$embedBg} ;
    --background-base-lowest: #{$embedBg} ;
    --background-base-lower: #{$embedBg} ;

    // hover
    --background-surface-higher: #{$embedBg-hover} ;

    // removes border
    --border-subtle: transparent ;
    --border-normal: transparent ;
  }

  // server invite (weird overlap design)
  ._083ae98ea5145b08-guildInviteContainer {

    --background-surface-high: #202225 ; // bad
  }

  // code blocks
  ._752971923a1e6683-markup code {
    max-width: unset ;

    background: $embedBg-hover
  }

  // code block in text file wrapper
  ._4d95d73152192cf9-container .hljs {
    background: none ;
  }

  // thread link
  ._9271d23503a01b50-container {
    background: none ;
  }
  // Thread line thing
  &.c19a557985eb7793-hasThread:after {
    left: 28px !important ;
  }

  // spoiler block
  ._299eb87491f4b6d1-spoilerContainer {
    box-shadow: none !important ;
    background: $embedBg;
  }

  // audio file embed
  .cf09d85aafe7e124-audioControls {
    background: var(--background-secondary-alt);
  }

  // image content
  ._06ab41fd2ef7af3f-hoverButtonGroup {
    background: var(--background-floating);

    @include shadowEffect("box_2");
  }

  .bd-addon-store-card {
    transition: none ;
    transform: none !important ;
    box-shadow: none !important ;
    background: $embedBg !important ;

    .bd-addon-store-card-author {
      cursor: pointer ;
    }

    .bd-addon-store-card-author-mask {
      background: var(--background-secondary-alt) !important ;

      &:hover  {
        background: var(--background-floating) !important ;
      }
    }
  }
  // <- Message content
}
// <- Messages cozy
