// Chat | Messages


// -> Messages separator
.divider__5126c {
  align-items: unset ;
  border: none ;
  margin: 20px 10px !important;

  // date
  .content__908e2 {
    height: fit-content ;
    transform: translateY(-50%);
    background: none ;
  }

  // separator lines
  &::before, &::after {
    content: "" ;
    height: 1px ;
    width: 100% ;
    background: var(--background-modifier-accent);
  }

  // new messages separator
  &.isUnread__908e2 {
    &::before, &::after {
      background: var(--red);
      opacity: .7 ;
    }

    .unreadPill__908e2 {
      top: 0 ;
      padding: 0 4px ;
      border-radius: 0 0 4px 4px ;
      background: var(--red);

      path { display: none }
    }
  }
}
// <- Messages separator

// -> Messages cozy

.cozy_c19a55 {
  // -> general msg
  $spacing: 15px ;

  background: none !important ;
  padding: 3px 30px 3px ($spacing * 2 + 40px) !important ;
  border-radius: 0 !important ;

  // Highlight border-left (Mention, Clyde, ..)
  &:before { display: none }

  // profile picture
  .avatar_c19a55 {
    left: $spacing ;
  }

  // profile decorations
  .avatarDecoration_c19a55 {
    left: $spacing - 4px ;
  }

  .header_c19a55 {
    margin-bottom: 2px ;
  }

  .messageContent_c19a55 {
    margin: 0 ;
    padding: 0 ;
  }
  // <- general msg

  // -> Msg types
  // Mention
  &.mentioned__5126c .contents_c19a55 .messageContent_c19a55 {
    padding-left: 6px ;
    border-left: solid 2px var(--border-mentioned);
    background: var(--background-mentioned);
  }

  // client-side info/error messages
  &.ephemeral__5126c .contents_c19a55 .messageContent_c19a55 {
    padding-left: 6px ;
    border-left: solid 2px var(--Blurple);
    background: var(--Blurple-light);
  }

  // selected for reply bg highlight
  &.replying__5126c {
    background: $BG_MsgHighlight !important ;

    .buttons__5126c::before {
      background-blend-mode: overlay ;
    }
  }
  // <- Msg types

  // -> Message Buttons

  // -> btn hover and appear behavior
  // reduce btns to menu icon
  @mixin reducedBtns() {
    .buttonsInner__5126c > {
      // sticking with btns vs span for performance?
      .button_f7ecac, // for btns added by plugins
      // all items but last two
      .separator_f84418,
      :nth-last-child(n+3) .button_f7ecac {
        display: none ;
      }
    }

    .button_f7ecac {
      color: $BtnIconHover !important; // !important bc of general btn design
    }
  }

  // hide emojis until hover
  @container style(--hide-messageBtnEmojis: 1 ) OR style(--hide-messageBtnEmojis: 2 ) {
    // separator unless there are plugin btns
    .separator_f84418:not(.button_f7ecac ~ .separator_f84418),
    .button_f7ecac:has(.emoji) {
      display: none
    }
  }

  @container style(--reduce-messageBtns: 1 ) {
    @include reducedBtns();
  }

  // hide btns on: concatenating Msg, System msg
  &:is(:not(.groupStart__5126c), .isSystemMessage_c19a55) {
    @include reducedBtns();
  }

  // hover on btns (is this ideal?)
  &:has(.buttons__5126c:hover),
  // extended msg btns on hovered msg
  &:hover:has([d^="M18 17h-1.24a3 3 0 1 1 .26 4.25 1 1 0 1 0-1.33 1.5A4.98 4.98 0 0 0 24 19a5 "]) {
    background: $BG_MsgHighlight !important ;

    .buttons__5126c::before {
      background-blend-mode: overlay ;
    }

    @container style(--hide-messageBtnEmojis: 2 ) {
      .button_f7ecac:not(:has(.emoji)), // don't unhide emojis if hideEmojis is 2
      .separator_f84418 {
        display: flex ;
      }
    }

    @container NOT style(--hide-messageBtnEmojis: 2 ) {
      :is(.button_f7ecac, .separator_f84418) {
        display: flex !important;
      }
    }

    .button_f7ecac:not(:hover) {
      color: $BtnIconNormal !important; // !important bc of general btn design
    }
  }
  // <- btn hover and appear behavior


  // -> Button container
  .buttonContainer_c19a55 {
    z-index: 9 ; // to not interfere with the hover btns on images and similar
  }

  .buttons__5126c {
    // opacity: 1 ; // debug

    top: 0 ;
    padding: 1px ;

    &:before {
      content: "";
      position: absolute ;
      height: 100% ;
      width: 100% ;
      inset: 0px ;
      background: var(--background-app) $BG_MsgHighlight ;
      background-position: center ;
      background-size: cover ;
      background-repeat: no-repeat ;
      background-attachment: fixed ;

      border-radius: 0 0 0 8px ;

      $blur-main: blur(calc(var(--backgroundBlur-app) / 100 * 1px));
      $brightness-main: brightness(calc((var(--backgroundBrightness-app) / 100)));

      // --blur: blur(calc(var(--backgroundBlur-app, 0) / 100 * 1px));
      // --brightness: brightness(calc((var(--backgroundBrightness-app, 80) / 100)));

      filter: $blur-main $brightness-main ;
    }

    // (bit of legacy code mixed in)
    // inner container
    .buttonsInner__5126c  {
      margin-top: 2px ;
      padding: 0 ;
      border: none ;
      border-radius: 0 ;
      background: none ;
      box-shadow: none !important ;
    }

    // btn item
    .hoverBarButton_f84418 {
      background: none ;
      padding: 0 2px ;
    }

    // Inner button icon
    .icon_f84418 {
      transform: scale(1);
    }

    .separator_f84418 {
      margin: 0 2px ;
    }

    // quick reaction emoji
    .emoji__040f0 {
      width: 18px ;
      height: 18px ;
    }
  }
  // <- Button container

  // <- Message Buttons

  // -> Unmask links
  @container style(--unmask-links: 1 ) {
    .messageContent_c19a55 .anchor_edefb8[title$=")"] {
      &::after {
        content: " (" attr(href) ")" ;
        position: relative ;
        display: inline-flex ;
        height: 100% ;
        max-height: 22px ;
        width: 100% ;
        max-width: max-content ;
        font-size: 0.7rem ;
        font-weight: 400 ;
        font-style: normal ;
        filter: grayscale(1.0) brightness(1.15);
        overflow: hidden ;
      }
      &:hover::after {
        text-decoration: underline ;
      }
    }
  }
  // <- Unmask links

  // -> Message content
  $embedBg: var(--background-modifier-accent);
  $embedBg-hover: var(--background-modifier-selected);

  :is(.contents_c19a55, .container_b7e1cb) {
    --bg-overlay-floating: #{$embedBg} ;
    --chat-background-default: #{$embedBg} ;
    --background-surface-high: #{$embedBg} ;
    --background-code: #{$embedBg} ;
    --background-secondary: #{$embedBg} ;
    --background-tertiary: #{$embedBg} ;
    --background-mod-subtle: #{$embedBg} ;
    --background-base-lowest: #{$embedBg} ;
    --background-base-lower: #{$embedBg} ;

    // hover
    --background-surface-higher: #{$embedBg-hover} ;

    // removes border
    --border-subtle: transparent ;
    --border-normal: transparent ;
  }

  // e.g. server invite (overlaps with body)
  .gradient__083ae { display: none }

  .footerContent__083ae {
    background: none ;
  }

  // code blocks
  .markup__75297 code {
    max-width: unset ;

    background: $embedBg-hover
  }

  // code block in text file wrapper
  .container__4d95d .hljs {
    background: none ;
  }

  // thread link
  .container__9271d {
    background: none ;
  }
  // Thread line thing
  &.hasThread_c19a55:after {
    left: 28px !important ;
  }

  // spoiler block
  .spoilerContainer__54ab5 {
    box-shadow: none !important ;
    background: $embedBg;
  }

  // audio file embed
  .audioControls_cf09d8 {
    background: var(--background-secondary-alt);
  }

  // image content
  .hoverButtonGroup__06ab4 {
    background: var(--background-floating);

    @include shadowEffect("box_2");
  }

  .bd-addon-store-card {
    transition: none ;
    transform: none !important ;
    box-shadow: none !important ;
    background: $embedBg !important ;

    .bd-addon-store-card-author {
      cursor: pointer ;
    }

    .bd-addon-store-card-author-mask {
      background: var(--background-secondary-alt) !important ;

      &:hover  {
        background: var(--background-floating) !important ;
      }
    }
  }
  // <- Message content
}
// <- Messages cozy
