// Chat | Forums & Threads

#app-mount {

// -> Forum channel
.container_f369db {

  // -> Search/Create Posts header
  .header_f369db {
    background: var(--background-modifier-accent);
    border: none ;

    // search has focus
    &.headerWithMatchingPosts_f369db {
      background: var(--background-modifier-selected);
      border-radius: 0 ;
    }

    // Create new post
    .submitButton_d9be46 {
      background: none  !important ;
    }
  }

  // Search footer when expanded
  .matchingPostsRow_f369db {
    background: var(--background-modifier-selected);
    border: none ;
  }
  // <- Search/Create Posts header

  // -> Post Guidelines
  .container_ca49a1  {
    border: none ;

    .descriptionContainer_ca49a1 {
      background: none ;
    }

    // -> "View All" guideline
    .descriptionContainer_ca49a1:has(.showMore_ca49a1) .guidelines_ca49a1 {
      margin-bottom: 10px ;

      @include scrollerFadeOut($top:0px, $bottom:20px);
    }

    .gradient_ca49a1 { display: none }

    .linkContainer_ca49a1 {
      background: none ;
    }
    .showMoreLink_ca49a1 {
      padding: 4px 16px ;
    }
    // <- "View All" guideline
  }
  // <- Post Guidelines

  // -> Tags filter
  .tagsContainer_f369db {

    // Button, Tags
    .button__201d5, .tag_f369db {
      background: var(--background-modifier-accent);
      border-radius: 24px !important ;

      &:hover {
        background: var(--background-modifier-selected);

        // Sort, Tags, All tags btn text
        .sortDropdownText_f369db, .defaultColor__4bd52, .contents__201d5 {
          color: var(--interactive-active) !important ;
        }
      }
    }

    // Sort, Tags, All tags btn text
    .sortDropdownText_f369db, .defaultColor__4bd52, .contents__201d5 {
      color: var(--text-normal) !important ;
    }
  }
  // <- Tags filter

  // -> Item card list & grid
  :is(.container_faa96b, .container__9a337) {
    border: none ;
    transform: none ;
    box-shadow: none ;
    transition: none ;
    background: var(--background-modifier-accent);

    &:hover {
      background: var(--background-modifier-hover);
      border-radius: 3px ;
    }
  }

  // Tags
  .pill_a2c9e8 {
    background: var(--background-modifier-accent);
    border: none ;
    box-shadow: none ;
  }
  // <- Item card list & grid

  // -> Grid view
  // grid item inner
  .contentPreview__9a337 {
    background: none ;
    border: none ;

    .content__9a337 {
      height: calc(100% - 27px);

      @include scrollerFadeOut(0px, 10px);
    }
  }

  // Pin icon & Tags container on text posts
  .textContentFooter__9a337 {
    background: none ;
    padding: 0 ;
    margin: 0 ;

    .tags__08166 {
      margin-bottom: 0 ;
    }
  }

  // tags footer in image post
  .tagsRow__9a337 .pill_a2c9e8 {
    background: var(--background-tertiary);
  }

  // empty grid
  .icon__93db4 {
    background: none ;
  }
  // <- Grid view
}

// main chat with split view thread
.threadSidebarOpen_f75fb0 {
  // border-radius: 0 ;
  border: none ;
  overflow: visible ;

  &::after {
    content: "";
    position: absolute ;
    top: 0 ;
    right: -5px ;
    bottom: 0 ;
    left: unset;
    background: var(--background-modifier-accent);
    width: 1px ;
    height: 100% ;
  }
}

// <- Forum channel

// -> Forum / Threads chat
// -> main container
.chatLayerWrapper__01ae2  {
  // for floating resize
  width: 100% ;
  pointer-events: none ;

  // resize bar
  .resizeHandle__01ae2 {
    background: none ;
    pointer-events: auto ;
    width: 4px ;
    margin-right: 2px ;

    &:hover {
      background: var(--bg-mod-strong);
    }
  }
}
// <- main container

// -> split and floating chat
.container__01ae2 {
  pointer-events: auto ;
  border: none ;
  border-radius: 0 ;

  // header - separator
  .chat_ee72fa::before {
    display: none ;
  }

  // Forum, Thread Icon, post to comment separator
  :is(.iconWrapper__7e6bb, .iconWrapper__54b20, .divider_ee23ac) {
    display: none ;
  }

  // fixing discord underline color
  .threadCreatorName__54b20 {
    text-decoration: none ;

    &:hover {
      .username__703b9 {
        text-decoration: underline ;
      }
    }
  }

  // -> meta/info bar
  .container__34c2c {
    margin: 12px 0 0 13px ;
    padding: 4px 10px ;
    background: var(--background-modifier-accent) !important;
    border: none ;
    border-radius: 5px ;

    @include shadowEffect("box_2");

    :is(.addReactButton__34c2c, .buttonInner__34c2c) {
      background: none  ;
    }

    // when sticky
    &.header__34c2c {
      background: var(--background-secondary-alt) !important;
      top: 0px ;
    }
  }
  // <- meta/info bar

  // -> floating
  &.floating__01ae2.chatTarget__01ae2 {
    display: none ;
  }
  &.floating__01ae2 {
    resize: horizontal ;
    direction: rtl;
    min-width: 250px ;
    max-width: 100% ;
    border: none ;

    @include shadowEffect("box_1");

    :is(.container__9293f, .container_fb64c9, .chat_ee72fa, .chat_f02135, .chat_a44415) {
      direction: ltr ;
    }
  }
  // <- floating
}
// <- split and floating chat

// <- Forum / Threads chat

}
