// Chat | Text input

// -> Chatting restrictions notice (e.g. when under timeout)
.a2eac324d62a31c3-spamBanner {
  background: none ;

  @include divider(top);
}
// <- Chatting restrictions notice


.f75fb00fb7356cbe-form {
  margin-top: 0 !important ;
  padding: 0 3px 0 0 !important ;
  // padding: 0 !important ;

  --channel-text-area-placeholder: var(--text-muted);
  --custom-channel-textarea-text-area-height: 46px ;

  @include divider(top);

  @container style(--highlight-focusedChatInput: 1) {
    &:focus-within {
      border-color: hsla(0,0%,100%,0.3);
    }
  }

  // -> input unavailable
  ._44df51b030bd5ece-wrapper {
    border: none ;

    ._5345c24c6249bc5b-defaultColor {
      color: var(--text-secondary);
    }

    // "follow" btn
    .a22cb0c66246f5d3-button {
      color: $BtnTextNormal !important ;
      background: $BtnBackgroundNormal !important ;

      &:hover {
        color: $BtnTextHover !important ;
        background: $BtnBackgroundHover !important ;
      }
    }
  }
  // <- input unavailable

  // inner container text available
  ._740174f3d6a2c8fe-channelTextArea {
    border: none ;
    margin: 0 ;
  }

  ._740174f3d6a2c8fe-scrollableContainer {
    @include scrollbar(none);
  }

  ._740174f3d6a2c8fe-inner {
    padding: 0 ;
  }

  ._740174f3d6a2c8fe-textArea {
    margin: 0 4px 0 10px ;
  }

  // -> Typing/slow mode indicator
  .b8880176888cc928-typing {
    top: -16px !important ;
    padding: 0 !important ;
    height: 15px ;
    right: 16px !important ; // spacing for slow mode icon
  }

  // "user is typing" text
  .b8880176888cc928-text {
    margin-left: 10px ;
  }

  // Slow mode icon
  // :is(.b216994de061a9e2-cooldownWrapper, .b216994de061a9e2-cooldownTex) {
  //   display: contents ;
  //   position: absolute ;
  // }

  // .b216994de061a9e2-cooldownWrapper {
  //   .b216994de061a9e2-cooldownText {
  //     visibility: hidden ;
  //   }

  //   .b216994de061a9e2-slowModeIcon {
  //     position: absolute ;
  //     visibility: visible ;
  //     margin: 0 ;
  //     width: 16px ;
  //     height: 16px ;
  //   }
  // }

  .b216994de061a9e2-cooldownWrapper {
    position: absolute ;
    top: 16px ;
    left: 0px ;
    height: 16px ;
    width: 16px ;
    pointer-events: auto ;
    padding: 0 ;

    .b216994de061a9e2-cooldownText {
      visibility: hidden ;
    }

    .b216994de061a9e2-slowModeIcon {
      position: absolute ;
      margin: 0 ;
      visibility: visible ;
      scale: 1.3 ;

      path {
        fill: var(--interactive-normal);
      }
    }
  }
  // <- Typing/slow mode indicator

  // -> Buttons
  // -> Attach btn
  // main container
  ._0923f156a0410684-attachWrapper {
    padding: 0px ;
    height: var(--custom-channel-textarea-text-area-height);
    width: var(--custom-channel-textarea-text-area-height);
    display: flex ;
    justify-content: center ;
    align-items: center ;

    &:after {
      content: "" ;
      position: absolute ;
      top: 5px ;
      bottom: 5px ;
      right: 0px ;
      width: 1px ;
      background-color: var(--background-modifier-accent);
    }
  }

  // pointer events
  ._740174f3d6a2c8fe-attachButton {
    margin: 0 ;
  }

  ._0923f156a0410684-attachButtonInner {
    height: auto ;
    width: auto ;
    padding: 2px ;

    &:hover {
      background: none ;
    }
  }
  // <- Attach btn

  // -> Right side btns
  ._740174f3d6a2c8fe-buttons {
    gap: 6px ;

    :is(._740174f3d6a2c8fe-button, .e6e74fd4d1221f53-buttonContainer) {
       background: none ;
    }

    // Nitro btn
    @container style(--hide-chatBtn-nitro: 1) {
      ._740174f3d6a2c8fe-button:has([d^=" M7,-6 C7,-7.6570000648498535 5.6570000648498535,-9 4,-9 C4,-9 3.9110000133514404,-9"]) {
      // .c0c49a3e5c8626ac-container:has([d^=" M7,-6 C7,-7.6570000648498535 5.6570000648498535,-9 4,-9 C4,-9 3.9110000133514404,-9"]) {
        display: none ;
      }
    }

    .expression-picker-chat-input-button {

      // Gifs picker
      @container style(--hide-chatBtn-gif: 1) {
        &:has([d^=" M-7,-10 C-8.656999588012695,-10 -10,-8.656999588012695 -10"]) {
          display: none ;
        }
      }
      // Stickers picker
      @container style(--hide-chatBtn-sticker: 1) {
        &:has([d^=" M-6,-10 C-6,-10 6,-10 6,-10 C8.208999633789062,-10 10"]) {
          display: none ;
        }
      }
      // Emoji picker
      @container style(--hide-chatBtn-emoji: 1) {
        &:has(._04eede68d145ae81-emojiButton) {
          display: none ;
        }
      }
    }


    // Add media btn
    @container style(--hide-chatBtn-media: 1) {
      ._24af7f4d0326ba4f-button:has([d^="M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3 3 0 0 1-3"]) {
        display: none ;
      }
    }

    // Emoji icon
    ._04eede68d145ae81-spriteContainer {
      --custom-emoji-sprite-size: 19px !important ;
      height: 19px ;
      width: 19px ;
    }

    ._04eede68d145ae81-spriteGreyscale {
      background-color: var(--interactive-normal) !important ;
    }

    // Apps & Commands btn
    @container style(--hide-chatBtn-apps: 1) {
      .channelAppLauncher_e6e74f { display: none }
    }

    // Separator
    ._740174f3d6a2c8fe-spacer { display: none }
  }
  // <- Right side btns

  // -> activity in dm btn (maybe more?)
  .entryPointButtonContainer_f75fb0 {
    margin: 0 ;
    align-content: center ;
  }
  // <- activity in dm btn
  // <- Buttons

  // -> file/upload attachment
  .b77158512e0ab116-channelAttachmentArea {
    // Attachment item
    .aa605f19898fe32e-upload {
      background: none ;
      border: none ;

      // Buttons
      .f7ecaca5c80dbf3a-wrapper {
        background: var(--background-floating);

        @include shadowEffect("box_2");
      }
    }
  }
  // <- file/upload attachment

  // post onboarding steps
  ._740174f3d6a2c8fe-floatingBars {
    ._183e81c0d76dd7cd-banner {
      padding: 10px 16px ;
      background: none ;

       @include divider(bottom);
    }
  }
}
