// Chat | Voice & Stage channel view

#app-mount {

// -> Voicecall view
// .cb9592ad77576717-callContainer .l {
//   --aswc: var(--always-show-voicecontrols);

//   .bfe55a0aaaf62375-root {
//     margin: calc(var(--aswc) * 48px) 0 calc(var(--aswc) * 56px) 0 ;
//     height: calc(100% - (var(--aswc) * (48px + 56px)));
//   }

//   // player popped out
//   .ccf17423f104902d-root {
//     background: none ;
//   }
  
//   // -> Buttons
//   // always show controls/btns 
//   .bfe55a0aaaf62375-idle {
//     :is(.bfe55a0aaaf62375-controlSection, .chatButton_bfe55a) {
//       opacity: var(--aswc) !important ;
//     }
//   }

//   // Gradient effect on hover
//   .bfe55a0aaaf62375-gradientContainer {
//     height: 80px ;
//     background-image: linear-gradient(
//       hsl(0, 0%, 0%) 0%,
//       hsla(0, 0%, 0%, 0.6) 50%,
//       hsla(0, 0%, 0%, 0.1) 70%,
//       hsla(0, 0%, 0%, 0) 100%
//     ); // to much ?

//     opacity: calc(1 - var(--aswc));
//   }
  
//   // Buttons container
//   .bfe55a0aaaf62375-videoControls { 
//     inset: calc(var(--aswc) * -48px) 0 calc(var(--aswc) * -56px) 0 ;
//     padding: 0 16px 0 16px ;
    
//     // Top and bottom section
//     .bfe55a0aaaf62375-controlSection {
//       transform: translateZ(0) !important;
      
//       ._30845ecfafc292c8-streamQualityIndicator { display: none }
//     }

//     // seperator in header toolbar (right side top)
//     ._9293f6b2fc12398a-dot  { display: none }
//   }
//   // <- Buttons

//   // -> Itemcard / Tile
//   // ._2f4f7eb58b61c328-tile {

//   //   @include shadowEffect("box_2");

//   //   // stream quality / live indicator
//   //   ._2f4f7eb58b61c328-indicators { display: none }

//   //   // Avatar
//   //   .fb62e279d3f0a88a-avatarWrapper {
      
//   //     foreignObject {
//   //       mask: none ;
//   //       overflow: visible ;
//   //     }
      
//   //     svg {
//   //       contain: unset ;
//   //       overflow: visible ;
//   //     }
      
//   //     // Profile image
//   //     ._44b0c28be7879b7b-avatar {
//   //       border-radius: 7.5% ;
        
//   //       &:not([src*=".gif"]) { @include shadowEffect("drop_1") }
//   //     }
//   //   }
//   // }
//   // // <- Itemcard / Tile

//   // // "invite people" empty card
//   // .d6271c8ee3948714-tile ._4ad815b9a8eb0838-root {
//   //   background: none ;
//   // }

//   // -> Focus view
//   ._6981dc6d72610110-root {
//     padding: 0 12px ;
//     box-sizing: border-box ;

//     // Main frame top
//     ._6981dc6d72610110-videoFrame {

//       // hide members btn
//       ._211d1cc3f7e37d69-participantsButton {
//         background: var(--background-accent);
//       }
//     }

//     // Secondary Tiles
//     ._6981dc6d72610110-participantsWrapperAnimated {
//       overflow: visible ; // for shadow
//     }
//   }
//   // <- Focus view

//   // -> Grid view
//   .a21736575ea33af0-videoGridWrapper {

//     .a21736575ea33af0-videoGrid::-webkit-scrollbar { display: none }

//     // Cards main container
//     .d6271c8ee3948714-tile {
//       padding: 4px ;
//       box-sizing: border-box ;
//     }
//   }
//   // <- Grid view
// }

.cb9592ad77576717-callContainer {
  border: none ;

  // player popped out
  .ccf17423f104902d-root {
    background: none ;
  }

  // -> Control buttons
  ._1405b3b8e8eb5fd0-buttonSection {
    background: none ;
    border: none ;
  }

  // @container style(--always-show-voicecontrols: 1) {
  @container style(--keep-voiceChannelBtns: 1) {
    .bfe55a0aaaf62375-root {
      padding: 48px 0 50px 0 ;
      box-sizing: border-box ;
    }

    .bfe55a0aaaf62375-videoControls {
      padding: 0 16px ;
    }

    .bfe55a0aaaf62375-controlSection {
      opacity: 1 ;
      transform: none ;
      transition: none ;
    }

    .bfe55a0aaaf62375-gradientContainer { display: none }

    ._1405b3b8e8eb5fd0-buttonSection {
      background: none ;
      border: none ;
    }

    .f1ceaca61b18918e-attachedCaret {
      background: none ;
      color: var(--interactive-normal);

      &:hover {
        color: var(--interactive-hover);
      }
    }
  }
  // <- Control buttons

  // -> Itemcard / Tile
  ._2f4f7eb58b61c328-tile {

    @include shadowEffect("box_2");

    // stream quality / live indicator
    ._2f4f7eb58b61c328-indicators { display: none }

    // Avatar
    .fb62e279d3f0a88a-avatarWrapper {
      
      foreignObject {
        mask: none ;
        overflow: visible ;
      }
      
      svg {
        contain: unset ;
        overflow: visible ;
      }
      
      // Profile image
      ._44b0c28be7879b7b-avatar {
        border-radius: 7.5% ;
        
        &:not([src*=".gif"]) { @include shadowEffect("drop_1") }
      }
    }
  }

  // "invite people" empty card
  .d6271c8ee3948714-tile ._4ad815b9a8eb0838-root {
    background: none ;
  }
  // <- Itemcard / Tile

  // -> Grid view
  .a21736575ea33af0-videoGridWrapper {

    .a21736575ea33af0-videoGrid::-webkit-scrollbar { display: none }

    // Cards main container
    .d6271c8ee3948714-tile {
      padding: 8px ;
      box-sizing: border-box ;
    }
  }
  // <- Grid view

  // -> Focus view
  ._6981dc6d72610110-root {
    padding: 0 12px ;
    box-sizing: border-box ;

    // Main frame top
    ._6981dc6d72610110-videoFrame {

      // hide members btn
      ._211d1cc3f7e37d69-participantsButton {
        background: var(--background-floating);
      }
    }

    // Secondary Tiles
    ._6981dc6d72610110-participantsWrapperAnimated {
      overflow: visible ; // for shadow
    }
  }
  // <- Focus view
}

// <- Voicecall view


// -> Stage view
// ._722ffae0e1be2672-callContainer .l {

//   .gradientBackground__11664 { display: none }

//   .bfe55a0aaaf62375-videoControls {
//     padding: 0 16px 6px ;
//   }

//   // Empty/no stage
//   ._6b38f2a3ad7aaedf-container  {
//     background: var(--background-modifier-hover);

//     &:hover {
//       background: var(--background-modifier-selected);
//     }
//   }

//   // black gradiant effect
//   .bfe55a0aaaf62375-gradientContainer {
//     background: none ;
//   }
  
//   // -> User Tile cards
//   // Speaker
//   .fa73d78b7c24c7ac-tileSizer {
//     overflow: visible;
//   }

//   ._2f4f7eb58b61c328-tile {
//     overflow: visible;

//     @include shadowEffect("box_2");

//     // Avatar
//     .fb62e279d3f0a88a-avatarWrapper {
      
//       foreignObject {
//         mask: none ;
//         overflow: visible ;
//       }
      
//       svg {
//         contain: unset ;
//         overflow: visible ;
//       }
      
//       // Profile image
//       ._44b0c28be7879b7b-avatar {
//         border-radius: 7.5% ;
        
//         &:not([src*=".gif"]) { @include shadowEffect("drop_1") }
//       }
//     }
//   }
  
//   // Audience
//   ._9c309f82892ed3cd-participants {
//     background: none ;
    
//     // User
//     ._71eb2d6ae9535ae3-tileContainer {
//       background: none ;
      
//       &:hover {
//         background: var(--background-modifier-hover);
//       }
      
//       ._71eb2d6ae9535ae3-avatar {
//         background: none ;
//       }
//     }
//   }
//   // <- User Tile cards

//   // -> Buttons
//   .bfe55a0aaaf62375-controlSection {

//     .buttonWithTextButton_fcb27c {
//       color: var(--interactive-normal);
//       background: none !important ;

//       &:hover {
//         color: var(--interactive-active);
//       }
//     }

//     .f1ceaca61b18918e-contextMenuNub {
//       color: white ;
//       background-color: var(--background-secondary);
//     }
//   }
//   // <- Buttons
// }

// // Stage view talk requests sidebar
// ._664ffc673b75c994-container .l {
  
//   ._664ffc673b75c994-headerContainer {
//     box-shadow: none ;
//   }
// }
// <- Stage view

}
