//META{"name":"T1","description":"simple design with focus on improvements, horizontal server bar","author":"Eight_P","version":"0.2.4"}*//{} 

/* Transparency-Theme */
@import url(https://raw.githack.com/Eight-P/BetterDiscord-Stuff/master/Themes/Modules/transparency/transparency.css);

/* horizontal-server-bar */
@import url(https://raw.githack.com/Eight-P/BetterDiscord-Stuff/master/Themes/Modules/horizontal-server-bar/horizontal-server-bar.css);

/* Main-Theme */
@import url(https://raw.githack.com/Eight-P/BetterDiscord-Stuff/master/Themes/T0/main.css);

/* 
- in order to have the theme work properly:
    - turn off "Minimal Mode"
    - use discord's Dark-theme

- "@import" links may not update as intended. if, disable discord cache or add a query string.

*/
:root {
  
/*  Settings  */
  
--Color_1: #ebebeb ;

--Color_2: #8b8a8a ;

--Color_3: #202225 ;

--Color_4: #2f3136 ;

/* Colors may won't affect everything/work properly.
*/


  --brightness: 20 ;
/* darkening the Background (0 - 100) 
*/

  --brightness_Server: 0 ;
/* darkening the Server_Background (0 - 100) 
*/
  
  --Server_shadow: 1 ;
/* Guilds Icon Shadow ( 0=off, 1=on)
*/

  --Background_Main: url(https://rawcdn.githack.com/Eight-P/BetterDiscord-Stuff/1053d726ccc464f127fd67894d4ebd32664c2246/Themes/T0/Main-bg.jpg) ;
  --Background_Server: url(https://rawcdn.githack.com/Eight-P/BetterDiscord-Stuff/1053d726ccc464f127fd67894d4ebd32664c2246/Themes/T0/Server-bg.png) ;
/* Backgrounds (can be image link or color code) " url(<link>) "
*/

/* Main: url(https://i.imgur.com/dUVKxuu.jpg), */
/* Server: url("https://i.imgur.com/a7y0VWO.png") */

  
  --F_V:2 /* don't touch */
}