@use '../mixins/_mixins' as * ;

// -- Settings

$T1_v: null !default ;

// -> User settings
// layer container inner (not an ideal class)
.outerContainer_e44912 {

  // just some more specificity since it's just a modal now
  .container__8a031.modal_e44912 {
    --custom-viewport-padding: 0px ;

    // max-width: unset ;
    // width: 100vw ; // don't now if want to stretch it out
    height: 100% ;
    transform: none !important ; // remove transition effect
    border-radius: 0 ;
    padding-top: var(--custom-app-top-bar-height);

    .scrollerBase_d125d2 {
      @include scrollerFadeOut();
    }

    // bring back title bar separator
    &::after {
      content: "";
      display: block ;
      position: fixed ;
      left: 0 ;
      height: 1px ;
      width: 100vw;
      background: rgb(100, 100, 100) ;
      top: var(--custom-app-top-bar-height);
    }
  }


  // -> sidebar region
  .fixedContent__409aa::after { display: none }

  // log out item
  [data-list-item-id="settings-sidebar___logout_sidebar_item"] {
    color: var(--red) ;
  }

  // T1 version (bd, regular)
  :is(.bd-version-info, .compactInfo__2debe)::before {
    content: "T1 - Theme: \a v#{$T1_v} by Eight_P" !important;
    display: block !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: rgb(114, 118, 125) !important;
    white-space: break-spaces !important;
    margin-bottom: 16px !important;
    text-transform: none !important;
  }
  // <- sidebar region

  // -> content region
  .panel__6131a {
    margin-top: 30px ;
  }

  // -> Client Themes
  .header__67a11 .title__67a11 {
    position: relative ;
    padding-top: 30px ;

    &::before {
      content: "Not compatible with T1 Theme.";
      position: absolute ;
      display: block ;
      top: 0px ;
      color: var(--red);
      font-weight: 600 ;
      width: max-content ;
    }
  }
  // <- Client Themes
  // <- content region
}
// <- User settings



// // -> User settings old
// .layer__960e4:not(.baseLayer__960e4) {
//   margin-top: var(--custom-app-top-bar-height);

//   // -> Left side sidebar
//   .sidebarRegionScroller__23e6b {
//     @include scrollbar(none);
//   }

//   .sidebarRegion__23e6b {
//     flex: 1 0 240px ;

//     .sidebar__23e6b {
//       width: 240px ;
//       padding-top: 20px ;
//     }

//     // -> Category item
//     .item_aa8da2 {
//       transition: none ;
//     }
//     // <- Category item

//     // -> Theme version info
//     .info__2debe:before {
//       content: "T1 - Theme: \a v#{$T1_v} by Eight_P" !important;
//       display: block !important;
//       font-size: 12px !important;
//       font-weight: 600 !important;
//       color: rgb(114, 118, 125) !important;
//       white-space: break-spaces !important;
//       margin-bottom: 8px !important;
//       text-transform: none !important;
//     }
//     // <- Theme version info
//   }
//   // <- Left side

//   // -> Content region
//   .contentRegionScroller__23e6b {
//     margin-top: 60px ;
//   }

//   .contentColumnDefault__23e6b {
//     padding: 20px 10px 100px 20px ;
//   }

//   // -> Close btn
//   .toolsContainer__23e6b {
//     display: contents;

//     .tools__23e6b {
//       position: absolute ;
//       top: 20px ;
//       right: 20px ;
//     }

//     .container_c2b141 {
//       flex-direction: row-reverse ;
//     }

//     .closeButton_c2b141 {
//       width: 32px ;
//       height: 32px ;
//       flex: unset ;
//     }

//     .keybind_c2b141 {
//       margin: 0 6px ;
//      }
//   }
//   // <- Close btn
//   // <- Content region

//   // -> Client Themes
//   .presets__67a11:not(.basicThemeSelectors_fbfab6) {
//     position: relative ;
//     margin-top: 40px ;

//     &:after {
//       content: "Not compatible with T1 Theme.";
//       position: absolute ;
//       display: block ;
//       inset: -30px 0 0 0 ;
//       color: var(--red);
//       font-weight: 600 ;
//     }
//   }
//   // <- Client Themes

//   // -> BD
//   // <- BD

//   // -> Nitro
//   .subscriptionRows_e335a7 .banner__84995 {
//     background: none ;

//     &.canceled__84995 :is(.planInfo__84995, .planName__84995) {
//       color: var(--header-secondary) ;
//     }
//   }
//   .subscriptionRows_e335a7 .banner__84995, .tierCard_a45ed3 {
//     border: none ;
//   }
//   // <- Nitro

//   // Fix bc of background pseudo
//   .header_c6bf1b :is(.titleContainer__81b3e, .warning__35859) {
//     position: relative ;
//   }

//   // Fix for double scrollbar
//   .contentRegionScroller__23e6b:has(> #roles-tab)  {
//     @include scrollbar(none);
//   }
// }
// // <- User settings old


// -> Channel settings
.sidebarRegion__23e6b  {

  // delete channel button
  .tabBarItemContainer_c7e907:has([d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"]) {
    color: var(--red) ;
  }
}
// <- Channel settings


// -> User settings old (thx Vencord)
.layer__960e4:not(.baseLayer__960e4) {
  margin-top: var(--custom-app-top-bar-height);

  // -> Left side sidebar
  .sidebarRegionScroller__23e6b {
    @include scrollbar(none);
  }

  .sidebarRegion__23e6b {
    flex: 1 0 240px ;

    .sidebar__23e6b {
      width: 240px ;
      padding-top: 20px ;
    }

    // -> Category item
    .item_aa8da2 {
      transition: none ;
    }
    // <- Category item

    // -> Theme version info
    .info__2debe:before {
      content: "T1 - Theme: \a v#{$T1_v} by Eight_P" !important;
      display: block !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      color: rgb(114, 118, 125) !important;
      white-space: break-spaces !important;
      margin-bottom: 8px !important;
      text-transform: none !important;
    }
    // <- Theme version info
  }
  // <- Left side

  // -> Content region
  .contentRegionScroller__23e6b {
    margin-top: 60px ;
  }

  .contentColumnDefault__23e6b {
    padding: 20px 10px 100px 20px ;
  }

  // -> Close btn
  .toolsContainer__23e6b {
    display: contents;

    .tools__23e6b {
      position: absolute ;
      top: 20px ;
      right: 20px ;
    }

    .container_c2b141 {
      flex-direction: row-reverse ;
    }

    .closeButton_c2b141 {
      width: 32px ;
      height: 32px ;
      flex: unset ;
    }

    .keybind_c2b141 {
      margin: 0 6px ;
     }
  }
  // <- Close btn
  // <- Content region

  // -> Client Themes
  .header__67a11 .title__67a11 {
    position: relative ;
    padding-top: 30px ;

    &::before {
      content: "Not compatible with T1 Theme.";
      position: absolute ;
      display: block ;
      top: 0px ;
      color: var(--red);
      font-weight: 600 ;
      width: max-content ;
    }
  }
  // <- Client Themes

  // -> BD
  // <- BD

  // -> Nitro
  .subscriptionRows_e335a7 .banner__84995 {
    background: none ;

    &.canceled__84995 :is(.planInfo__84995, .planName__84995) {
      color: var(--header-secondary) ;
    }
  }
  .subscriptionRows_e335a7 .banner__84995, .tierCard_a45ed3 {
    border: none ;
  }
  // <- Nitro

  // Fix bc of background pseudo
  .header_c6bf1b :is(.titleContainer__81b3e, .warning__35859) {
    position: relative ;
  }

  // Fix for double scrollbar
  .contentRegionScroller__23e6b:has(> #roles-tab)  {
    @include scrollbar(none);
  }
}
// <- User settings old