@use '../mixins/_mixins' as * ;

// -- Settings

$T1_v: null !default ;

// -> User settings
.layer__960e4:not(.baseLayer__960e4) {
  margin-top: var(--custom-app-top-bar-height);

  // -> Left side sidebar
  .container_fea832 { @include searchbar(".inner_fea832") }

  .sidebarRegionScroller__23e6b {
    @include scrollbar(none);
  }

  .sidebarRegion__23e6b {
    flex: 1 0 240px ;

    .sidebar__23e6b {
      width: 240px ;
      padding-top: 20px ;
    }

    // -> Category item
    .item_b3f026 {
      transition: none ;
    }
    // <- Category item

    // -> Theme version info
    .info__2debe:before {
      content: "T1 - Theme: \a v#{$T1_v} by Eight_P" !important;
      display: block !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      color: rgb(114, 118, 125) !important;
      white-space: break-spaces !important;
      margin-bottom: 8px !important;
      text-transform: none !important;
    }
    // <- Theme version info
  }
  // <- Left side

  // -> Content region
  .contentRegionScroller__23e6b {
    margin-top: 60px ;
  }

  .contentColumnDefault__23e6b {
    padding: 20px 10px 100px 20px ;
  }

  // -> Close btn
  .toolsContainer__23e6b {
    display: contents;

    .tools__23e6b {
      position: absolute ;
      top: 20px ;
      right: 20px ;
    }

    .container_c2b141 {
      flex-direction: row-reverse ;
    }

    .closeButton_c2b141 {
      width: 32px ;
      height: 32px ;
      flex: unset ;
    }

    .keybind_c2b141 {
      margin: 0 6px ;
     }
  }
  // <- Close btn
  // <- Content region
  
  // -> Client Themes 
  .presets__67a11:not(.basicThemeSelectors_fbfab6) {
    position: relative ;
    margin-top: 40px ;
    
    &:after {
      content: "Not compatible with T1 Theme.";
      position: absolute ;
      display: block ;
      inset: -30px 0 0 0 ;
      color: var(--red);
      font-weight: 600 ;
    }
  }
  // <- Client Themes 

  // -> BD
  .bd-addon-card {

    .bd-links {
      margin-right: 10px ;
      gap: 5px ;
      flex-wrap: wrap ;
    }
  }
  // <- BD

  // -> Nitro
  .subscriptionRows_e335a7 .banner__84995 {
    background: none ;

    &.canceled__84995 :is(.planInfo__84995, .planName__84995) {
      color: var(--header-secondary) ;
    }
  }
  .subscriptionRows_e335a7 .banner__84995, .tierCard_a45ed3 {
    border: none ;
  }
  // <- Nitro

  // Fix bc of background speudo
  .header_c6bf1b :is(.titleContainer__81b3e, .warning__35859) {
    position: relative ;
  }

  // Fix for double scrollbar
  .contentRegionScroller__23e6b:has(> #roles-tab)  {
    @include scrollbar(none);
  }
}
// <- User settings


// -> Channel settings
.sidebarRegion__23e6b  {
 
  // delete channel button
  .tabBarItemContainer_c7e907:has([d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"]) {
    color: var(--red) ;
  }
}
// <-
