@use '../mixins/_mixins' as * ;

// -- Settings

$T1_v: null !default ;

// -> User settings
.layer__960e4:not(.baseLayer__960e4) {
  margin-top: var(--custom-app-top-bar-height);

  // -> Left side sidebar
  .container_fea832 { @include searchbar(".inner_fea832") }

  .sidebarRegionScroller__23e6b {
    @include scrollbar(none);
  }

  .sidebarRegion__23e6b {
    flex: 1 0 240px ;

    .sidebar__23e6b {
      width: 240px ;
      padding-top: 20px ;
    }

    // -> Category item
    .item_b3f026 {
      transition: none ;
    }
    // <- Category item

    // -> Theme version info
    .info__2debe:before {
      content: "T1 - Theme: \a v#{$T1_v} by Eight_P" !important;
      display: block !important;
      font-size: 12px !important;
      font-weight: 600 !important;
      color: rgb(114, 118, 125) !important;
      white-space: break-spaces !important;
      margin-bottom: 8px !important;
      text-transform: none !important;
    }
    // <- Theme version info
  }
  // <- Left side

  // -> Content region
  .contentRegionScroller__23e6b {
    margin-top: 60px ;
  }

  .contentColumnDefault__23e6b {
    padding: 0px 10px 0px 20px ;
  }

  // -> Close btn
  .toolsContainer__23e6b {
    display: contents;

    .tools__23e6b {
      position: absolute ;
      top: 20px ;
      right: 20px ;
    }

    .container_c2b141 {
      flex-direction: row-reverse ;
    }

    .closeButton_c2b141 {
      width: 32px ;
      height: 32px ;
      flex: unset ;
    }

    .keybind_c2b141 {
      margin: 0 6px ;
     }
  }
  // <- Close btn
  // <- Content region
}
// <- User settings


// -> Channel settings
.sidebarRegion__23e6b  {
 
  // delete channel button
  .tabBarItemContainer_c7e907:has([d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"]) {
    color: var(--red) ;
  }
}
// <-