@use "sass:meta";

$T1_version: "0.7.15b" ; // Theme file v0.9

/*! 
  T1 Theme (c) Eight_P <github.com/Eight-P/BD.8P>
  version #{$T1_version} for Fv0.9.0

  You are viewing an outdated version of T1, that will soon be removed.
*/

@include meta.load-css("components_refresh", $with: ( "T1_v": $T1_version ));

.layer__960e4:not(.baseLayer__960e4) {

  &::before {
    content: "Your T1 Theme is outdated. Please get the newest version from: betterdiscord.app/theme/T1";
    display: block ;
    padding: 6px 0 ;
    font-size: 16px ;
    line-height: 20px ;
    line-height: 16px ;
    font-weight: 400 ;
    color: var(--header-primary);
    background: var(--background-primary);
    text-align: center ;
  }

  &::after {
    content: "Yeah I know it can't be clicked, sorry. Link in the theme card";
    display: block ;
    padding-bottom: 2px;
    font-size: 12px ;
    line-height: 16px ;
    font-weight: 400 ;
    color: var(--header-secondary);
    background: var(--background-primary);
    text-align: center ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75) ;
  }

  .standardSidebarView__23e6b {
    top: 16px + 12px + (2* 7px) + 22px ;
  }
}