// -- ServerListIndicator
// -- ReadAllNotificationsButton
// -- UserVoiceShow
// -- BetterFolders


// -> ServerListIndicator (not a fan)
#vc-friendcount, #vc-guildcount {
  white-space: nowrap ;
  height: 60px !important ;
  transform: rotate(90deg) translateY(calc(50% + 2px)) ;

  @include shadowEffect("text_1");
}

#vc-friendcount:not(:has(+ #vc-guildcount)),
#vc-guildcount:not(:has(+ #vc-friendcount)) {
  transform: rotate(90deg) translateY(calc(50% - 6px)) translateX(-5px);
}

// :is(#vc-friendcount, #vc-guildcount) + :is(#vc-friendcount, #vc-guildcount) {
#vc-friendcount, #vc-guildcount {
  & + #vc-friendcount,
  & + #vc-guildcount {
    height: 12px !important ;
    transform: rotate(90deg) translateY(calc(50% - 14px)) translateX(-40px);
  }
}
// <- ServerListIndicator

// -> ReadAllNotificationsButton
.guilds__5e434 .vc-ranb-button {
  color: transparent ;
  width: 18px ;
  height: 18px ;
  margin: 6px auto ;
  overflow: hidden ; // keeps size constrained to height and width

  // not 100% sure why they are positioned they way they are.
  // fake tooltip
  &::before {
    content: "Read All" ;
    display: none ;
    position: absolute ;
    width: auto ;
    padding: 6px 8px ;
    color: var(--text-default);
    font-size: 14px ;
    font-weight: 600 ;
    line-height: 18px ;
    text-align: center ;
    border-radius: 4px ;
    background: var(--background-floating);
    transform: translateY(calc(-100% - 20px)) rotate(90deg); // can't go top and outside guildBar
    z-index: 2 ;

    @include shadowEffect("box_2");
  }

  // "R" Btn
  &::after {
    content: "R" ;
    display: block ;
    position: absolute ;
    height: 18px ;
    width: 18px ;
    color: var(--header-secondary);
    font-size: 23px ;
    font-weight: 700 ;
    line-height: 18px ;
    text-align: center ;
    transform: rotate(90deg);

    @include shadowEffect("text_1");
  }

  &:hover {
    &::before {
      display: block ;
    }
    &::after {
      color: var(--interactive-hover);
    }
  }
}
// <- ReadAllNotificationsButton

// -> UserVoiceShow
.vc-member-list-decorators-wrapper {
  pointer-events: auto ;
}
// <- UserVoiceShow

// -> BetterFolders
.content__5e434:has(.vc-betterFolders-sidebar) {
  margin-bottom: 54px ;
}

.vc-betterFolders-sidebar {
  display: contents ;

  > .guilds__5e434 {
    bottom: 54px ;
  }

  .scroller_ef3116 {
    // display: flex ;
    height: 100vw ;
    margin: 0 ;
    padding: 0 ;

    &::before, &::after { display: none }
  }
  // folders container
  .stack_dbd263 {
    // justify-content: space-around ;
  }
}
// <- BetterFolders
