// -- ServerListIndicator
// -- ReadAllNotificationsButton

// To-Do
// -- BetterFolders

// -> ServerListIndicator (not a fan)
#vc-friendcount, #vc-guildcount {
  white-space: nowrap ;
  height: 60px !important ;
  transform: rotate(90deg) translateY(calc(50% + 2px)) ;

  @include shadowEffect("text_1");
}

#vc-friendcount:not(:has(+ #vc-guildcount)),
#vc-guildcount:not(:has(+ #vc-friendcount)) {
  transform: rotate(90deg) translateY(calc(50% - 6px)) translateX(-5px);
}

:is(#vc-friendcount, #vc-guildcount) + :is(#vc-friendcount, #vc-guildcount) {
  height: 12px !important ;
  transform: rotate(90deg) translateY(calc(50% - 14px)) translateX(-40px);
}
// <- ServerListIndicator

// -> ReadAllNotificationsButton
.guilds_c48ade .vc-ranb-button {
  display: flex ;
  padding: 5px 0 ;
  background: none !important ;
  align-items: center ;

  .contents__201d5 {
    overflow: visible ;
    width: min-content ;
    color: var(--header-secondary);
    transform: rotate(90deg);
    
    @include shadowEffect("text_1");

    &:hover {
      color: var(--interactive-hover);
    }
  }
}
// <- ReadAllNotificationsButton
