// - ReadAllNotificationsButton by DevilBro (v1.8.4)
// - SpotifyControls by DevilBro (v1.5.2)
// - ServerDetails by DevilBro (v1.3.2)
// - ServerFolders by DevilBro (v7.4.3)
// - InvisibleTyping by Strencher (v1.4.4)
// - FriendNotifications by DevilBro (v2.1.4)
// - BetterAnimations by arg0NNY (v2.0.6) (partial)
// - NewOldUserPopouts by KingGamingYT (v1.0.0)

#app-mount {

// -> ReadAllNotificationsButton by DevilBro
// "Read all" btn
.guilds__5e434 .frame_aa90f4 {
  padding: 10px 0px ;

  .innerFrame_aa90f4 {
    transform: rotate(90deg);

    .childWrapper__6e9f8 {
      background: none ;
      color: var(--text-normal);
      font-weight: 500 ;
      font-size: 13px ;
      font-style: normal ;
      transition: none ;

      @include shadowEffect("server_1");

      &:hover {
        color: var(--header-primary);
      }
    }
  }
}
// <- ReadAllNotificationsButton by DevilBro

// -> SpotifyControls by DevilBro
// Sidebar control panel
.panels__5e434 .container_791eb8 {
  display: contents ;

  &.maximized_791eb8 .coverWrapper_791eb8 {
    width: 100% ;
  }

  .timeline_791eb8 {
    margin: 6px ;
  }
}
// <- SpotifyControls by DevilBro

// -> ServerDetails by DevilBro
// make tooltip top center
.detailsTooltip_78f589 {
  transform: translate(-195px, -50px);
}
// <- ServerDetails by DevilBro

// -> ServerFolders by DevilBro
// added content container spacing for folder row
@at-root .folderContentIsOpen_ac0584 .content__5e434 {
  margin-bottom: 54px ;
}

.guilds__5e434 .folderHeader__48112 {
  background: none ;
}

// Folder row closed (not really needed)
.guilds__5e434.closed_ac0584 {
  height: 0px ;
}

// Folder row
.guilds__5e434.content_ac0584 {
  bottom: 54px ;
  transition: none !important ;

  .scroller_ef3116 {
    display: flex ;
    height: 100vw ;
    margin: 0 ;
    padding: 0 ;

    &::before, &::after { display: none }
  }

  // folders container
  .stack_dbd263 {
    justify-content: space-around ;
  }

  // folder icon
  .folder__48112 {
    transform: rotate(90deg);
    background: none ;

    @include shadowEffect("server_1");
  }
}
// <- ServerFolders by DevilBro

// -> InvisibleTyping by Strencher
.invisibleTypingButton {
  // margin-right: var(--space-8);
  transform: scale(.8);
}
// <- InvisibleTyping by Strencher

// -> FriendNotifications by DevilBro
.guilds__5e434 .friendsOnlineWrap_aa9717 {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg);
  top: 60px ;
  left: -19px ;
  z-index: 1 ;

  .friendsOnline_aa9717 {
    color: var(--text-normal);
    font-size: 10px ;

    @include shadowEffect("text_1");
  }
}
// <- FriendNotifications by DevilBro

}

// -> BetterAnimations by arg0NNY
// more of a band aid solution
.BA__module_servers #app-mount {

  .BA__baseEnhancedLayout {

    // inner server view container
    &[data-fullscreen="false"] > .BA__content > .BA__content {
      display: flex !important ;
    }

    // when switching
    .BA__content[data-baa-switch] {

      // server name, quick switch (home)
      .sidebarList__5e434 :is(.container_f37cb1, .searchBar_e6b769) {
        display: none !important ;
      }
    }

    // sidebar
    .container__2637a {
      padding-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) - 16px);
    }

    // -> profile panels
    .panels__5e434 {
      display: block ;
      width: calc(
        var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - var(--space-xs) * 2
      ) !important ;

      @include shadowEffect("box_3");

      $blur-main: blur(calc(var(--backgroundBlur-app) / 100 * 1px));
      $brightness-main: brightness(calc((var(--backgroundBrightness-app) / 100)));

      &::before {
        content: "" ;
        position: absolute ;
        inset: 0px ;
        background: var(--background-app);
        background-position: center ;
        background-size: cover ;
        background-repeat: no-repeat ;
        background-attachment: fixed ;
        filter: $blur-main $brightness-main ;
      }

      // quest thing
      > .mask__0d616 {
        display: block ;

        .wrapper__0d616 {
          margin-right: unset ;
        }
      }

      // profile panel
      .container__37e49 {
        overflow: hidden ;
      }

      // nameplate in profile panel
      .container__4bbc6 {
        left: 0 ;
      }
    }

    &[data-fullscreen="true"] .panels__5e434 {
      display: none !important ;
    }
    // <- profile panels
  }
}
// <- BetterAnimations by arg0NNY

// -> NewOldUserPopouts by KingGamingYT
.user-profile-popout:has(>.userPopout) {
  width: fit-content !important ;
  padding: var(--custom-user-profile-theme-padding) !important;
}

.userPopout :is(.header, .body, .footer) {
  // idk
  --background-tertiary: var(--background-base-lowest);
  --background-secondary: var(--background-base-lower);
}
// <- NewOldUserPopouts by KingGamingYT
