// - ReadAllNotificationsButton by DevilBro (v1.8.4)
// - SpotifyControls by DevilBro (v1.5.2)
// - ServerDetails by DevilBro (v1.3.2)
// - ServerFolders by DevilBro (v7.4.3)
// - InvisibleTyping by Strencher (v1.4.4)
// - FriendNotifications by DevilBro (v2.1.4)
// - BetterAnimations by arg0NNY (v2.0.6) (partial)
// - NewOldUserPopouts by KingGamingYT (v1.0.0)
// - MemberCount by Arashiryuu (v3.0.12)

#app-mount {

// -> ReadAllNotificationsButton by DevilBro
// "Read all" btn
._5e434347c823b592-guilds .frame_aa90f4 {
  padding: 10px 0px ;

  .innerFrame_aa90f4 {
    transform: rotate(90deg);

    ._6e9f8dce4cc18de3-childWrapper {
      background: none ;
      color: var(--text-normal);
      font-weight: 500 ;
      font-size: 13px ;
      font-style: normal ;
      transition: none ;

      @include shadowEffect("server_1");

      &:hover {
        color: var(--header-primary);
      }
    }
  }
}
// <- ReadAllNotificationsButton by DevilBro

// -> SpotifyControls by DevilBro
// Sidebar control panel
._5e434347c823b592-panels .container_791eb8 {
  display: contents ;

  &.maximized_791eb8 .coverWrapper_791eb8 {
    width: 100% ;
  }

  .timeline_791eb8 {
    margin: 6px ;
  }
}
// <- SpotifyControls by DevilBro

// -> ServerDetails by DevilBro
// make tooltip top center
.detailsTooltip_78f589 {
  transform: translate(-195px, -50px);
}
// <- ServerDetails by DevilBro

// -> ServerFolders by DevilBro
// added content container spacing for folder row
@at-root .folderContentIsOpen_ac0584 ._5e434347c823b592-content {
  margin-bottom: 54px ;
}

._5e434347c823b592-guilds ._48112cbe77dc5022-folderHeader {
  background: none ;
}

// Folder row closed (not really needed)
._5e434347c823b592-guilds.closed_ac0584 {
  height: 0px ;
}

// Folder row
._5e434347c823b592-guilds.content_ac0584 {
  bottom: 54px ;
  transition: none !important ;

  .ef3116c2da186559-scroller {
    display: flex ;
    height: 100vw ;
    margin: 0 ;
    padding: 0 ;

    &::before, &::after { display: none }
  }

  // folders container
  .dbd2630aec71879b-stack {
    justify-content: space-around ;
  }

  // folder icon
  .b18fe29d6fe8dd82-hiddenVisually {
    transform: rotate(90deg);
    background: none ;

    @include shadowEffect("server_1");
  }
}
// <- ServerFolders by DevilBro

// -> InvisibleTyping by Strencher
.invisibleTypingButton {
  // margin-right: var(--space-8);
  transform: scale(.8);
}
// <- InvisibleTyping by Strencher

// -> FriendNotifications by DevilBro
._5e434347c823b592-guilds .friendsOnlineWrap_aa9717 {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg);
  top: 60px ;
  left: -19px ;
  z-index: 1 ;

  .friendsOnline_aa9717 {
    color: var(--text-normal);
    font-size: 10px ;

    @include shadowEffect("text_1");
  }
}
// <- FriendNotifications by DevilBro

}

// -> BetterAnimations by arg0NNY
// more of a band aid solution
.BA__module_servers #app-mount {

  .BA__baseEnhancedLayout {

    // inner server view container
    &[data-fullscreen="false"] > .BA__content > .BA__content {
      display: flex !important ;
    }

    // when switching
    .BA__content[data-baa-switch] {

      // server name, quick switch (home)
      ._5e434347c823b592-sidebarList :is(.f37cb1984c371ee5-container, .e6b7699ce8339e1c-searchBar) {
        display: none !important ;
      }
    }

    // sidebar
    ._2637a2609f343032-container {
      padding-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs) - 16px);
    }

    // -> profile panels
    ._5e434347c823b592-panels {
      display: block ;
      width: calc(
        var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - var(--space-xs) * 2
      ) !important ;

      @include shadowEffect("box_3");

      $blur-main: blur(calc(var(--backgroundBlur-app) / 100 * 1px));
      $brightness-main: brightness(calc((var(--backgroundBrightness-app) / 100)));

      &::before {
        content: "" ;
        position: absolute ;
        inset: 0px ;
        background: var(--background-app);
        background-position: center ;
        background-size: cover ;
        background-repeat: no-repeat ;
        background-attachment: fixed ;
        filter: $blur-main $brightness-main ;
      }

      // quest thing
      > ._0d6162a4e6a4b802-mask {
        display: block ;

        ._0d6162a4e6a4b802-wrapper {
          margin-right: unset ;
        }
      }

      // profile panel
      ._37e49614b9f110a9-container {
        overflow: hidden ;
      }

      // nameplate in profile panel
      ._4bbc6dc06e75ad52-container {
        left: 0 ;
      }
    }

    &[data-fullscreen="true"] ._5e434347c823b592-panels {
      display: none !important ;
    }
    // <- profile panels
  }
}
// <- BetterAnimations by arg0NNY

// -> NewOldUserPopouts by KingGamingYT
.user-profile-popout:has(>.userPopout) {
  width: fit-content !important ;
  padding: var(--custom-user-profile-theme-padding) !important;
}

.userPopout :is(.header, .body, .footer) {
  // idk
  --background-tertiary: var(--background-base-lowest);
  --background-secondary: var(--background-base-lower);
}
// <- NewOldUserPopouts by KingGamingYT

// -> MemberCount by Arashiryuu
#MemberCount {
  background: none ;
}
// <- MemberCount by Arashiryuu