// - ReadAllNotificationsButton by DevilBro (v1.8.5)
// - SpotifyControls by DevilBro (v1.5.3)
// - ServerDetails by DevilBro (v1.3.6)
// - ServerFolders by DevilBro (v7.4.9)
// - InvisibleTyping by Strencher (v1.4.7)
// - FriendNotifications by DevilBro (v2.1.6)
// - GameActivityToggle by DevilBro (v1.4.0)
// - MemberCount by Arashiryuu (v3.0.17)

#app-mount {

// -> ReadAllNotificationsButton by DevilBro
// "Read all" btn
.guilds__5e434 .frame_aa90f4 {
  padding: 10px 0px ;

  .innerFrame_aa90f4 {
    transform: rotate(90deg);

    .childWrapper__6e9f8 {
      background: none ;
      color: var(--text-normal);
      font-weight: 500 ;
      font-size: 13px ;
      font-style: normal ;
      transition: none ;

      @include shadowEffect("server_1");

      &:hover {
        color: var(--header-primary);
      }
    }
  }
}
// <- ReadAllNotificationsButton by DevilBro

// -> SpotifyControls by DevilBro
// Sidebar control panel
.panels__5e434 .container_791eb8 {
  display: contents ;

  .inner_791eb8 {
    width: auto ;
    margin: 0 3px 0 6px ;
  }

  .timeline_791eb8 {
    margin: 6px 9px 0 6px ;
  }

  &.maximized_791eb8 {
    .inner_791eb8 {
      margin: 0 3px 0 0 ;
    }
    .coverWrapper_791eb8 {
      width: 100% ;
    }
  }
}
// <- SpotifyControls by DevilBro

// -> ServerDetails by DevilBro
// make tooltip top center
.detailsTooltip_78f589 {
  transform: translate(-195px, -50px);
}
// <- ServerDetails by DevilBro

// -> ServerFolders by DevilBro
// added content container spacing for folder row
@at-root .folderContentIsOpen_ac0584 .content__5e434 {
  margin-bottom: 54px ;
}

.guilds__5e434 .folderHeader__48112 {
  background: none ;
}

// Folder row closed (not really needed)
.guilds__5e434.closed_ac0584 {
  height: 0px ;
}

// Folder row
.guilds__5e434.content_ac0584 {
  bottom: 54px ;
  transition: none !important ;

  .scroller_ef3116 {
    display: flex ;
    height: 100vw ;
    margin: 0 ;
    padding: 0 ;

    &::before, &::after { display: none }
  }

  // folders container
  .stack_dbd263 {
    justify-content: space-around ;
  }

  // folder icon
  .hiddenVisually_b18fe2 {
    transform: rotate(90deg);
    background: none ;

    @include shadowEffect("server_1");
  }
}
// <- ServerFolders by DevilBro

// -> InvisibleTyping by Strencher
.invisibleTypingButton {
  // margin-right: var(--space-8);
  transform: scale(.8);
}
// <- InvisibleTyping by Strencher

// -> FriendNotifications by DevilBro
.guilds__5e434 .friendsOnlineWrap_aa9717 {
  display: flex !important ;
  position: absolute ;
  transform: rotate(90deg);
  top: 60px ;
  left: -19px ;
  z-index: 1 ;

  &::before { display: none }

  .friendsOnline_aa9717 {
    color: var(--text-normal);
    font-size: 10px ;

    @include shadowEffect("text_1");
  }
}
// <- FriendNotifications by DevilBro

// -> GameActivityToggle
.gameActivityToggleAdded_fd3fb5 {
  @container (width < 225px) {

    .nameTag__37e49 { display: none }
  }
}

.gameActivityToggleButton_fd3fb5 {
  display: flex ;
  margin: 0 ;
  min-width: 34px ;
  flex: 0 10000 42px ;
  justify-content: center ;
}
// <- GameActivityToggle
}

// -> MemberCount by Arashiryuu
#MemberCount {
  background: none ;
}
// <- MemberCount by Arashiryuu
