/*! /**
  * @name T1_DEV
  * @description T1 Dev
  * @author Eight_P
  * @version 0.10.0_D
*/

@import '../src/T1.main.scss' ;

// @import url(https://eight-p.github.io/BD.8P/Themes/T1/dist/T1.css);

:root {
  // -> Chat
  --hide-chatBtn-nitro: 1 ;
  --hide-chatBtn-gif: 0 ;
  --hide-chatBtn-sticker: 0 ;
  --hide-chatBtn-emoji: 0 ;
  --hide-chatBtn-apps: 0 ; // remove?
  --hide-chatBtn-media: 0 ;

  --reduce-messageBtns: 0 ;

  --hide-messageBtnEmojis: 1 ;

  --keep-voiceChannelBtns: 0 ;

  --highlight-focusedChatInput: 0 ;

  --unmask-links: 0 ;
  // <- Chat

  // -> Effects & Decorations
  --hide-profileEffects: 0 ;

  --hide-avatarDecorations: 0 ;

  --hide-nameplates: 0 ;

  --hide-clanTags: 0 ;

  --disable-roleGradients: 0 ;

  --hide-reactionAnimations: 0 ;
  // <- Effects & Decorations

  // -> Server bar / Guilds list
  --serverBar-FolderStyle: 1 ;

  --serverBar-Spacing: 17px ;

  --serverBar-IconSize: 100 ;
  // <- Server bar / Guilds list

  // -> Backgrounds
  --background-app: url(https://eight-p.github.io/BD.8P/Themes/T1/assets/Main-bg.jpg);
  --background-server: url(https://eight-p.github.io/BD.8P/Themes/T1/assets/Server-bg.jpg);

  --backgroundBrightness-app: 80 ;
  --backgroundBrightness-server: 100 ;

  --backgroundBlur-app: 0 ;
  --backgroundBlur-server: 0 ;
  // <- Backgrounds

  // -> Misc
  --hide-friendsActivity: 1 ;

  --hide-serverBoostStats: 0 ;

  --show-sidebarScrollbar: 0 ;
  --show-memberListScrollbar: 0 ;

  --font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif ;
  // <- Misc
}

// Dev build indicator
.platform-win .app__160d8::after {
  content: "T1 Dev build" ;
  position: absolute ;
  display: block !important ;
  top: calc(var(--custom-app-top-bar-height) / 2);
  transform: translateY(-50%);
  left: 70px ;
  line-height: 22px ;
  font-size: 13px ;
  font-weight: 600 ;
  color: rgb(114, 118, 125);
  text-transform: none ;
  z-index: 1 ;
}
