[class*="guildsWrapper"] {
  
  ~ div {
    height: calc(100vh - 76px) ; // 76px: bc, gildwrapper + top bar
    
    [class*="chat-"] > [class*="content-"] > [class*="spacer-"] { width: calc(100vw - 480px) }
  }
  
  position: absolute ;
	top: 0 ;
	height: 100vw ;
  width: 54px ;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left ;
  border-radius: 0 ;
  
  [class*="unreadMentionsIndicator"], [class*="guildSeparator-"] { display: none }
  
  [class*="scrollerWrap-"] {
    width: 54px ;
    align-items: center ;
    
    [class*="scroller-"] {
      margin: 120px 0 120px 0 ;
			max-height: calc(100vw - 240px) ;
			padding: 0 ;
      
      &::-webkit-scrollbar {display: none }
      
      &::after, &::before {
				content: "" ;
				position: absolute ;
				bottom: 120px ;
				height: 2px ;
				left: 20% ;
				right: 20% ;
				opacity: 0.8 ;
			}
      
      &::before { top: 120px }
      
      [class*="guild-"] {
        
        &:not([class*="guildsAdd-"]){
					padding: 5px 2px 5px 2px ;
    			margin: 0px ;
				}
        
        [class*="guildInner-"] {
					height: 40px ;
					width: 40px ;
					margin: 5px ;
					background-color: transparent !important ;
          transform: rotate(90deg) ;
          
          a, [class*="guildIcon-"] {
						height: 40px ;
						width: 40px ;
						line-height: 40px;
						background-size: cover !important;
					}
        }
        
        &[class*="selected-"]:not([class*="unread-"]):before {
          margin-top: -18px ;
          height: 36px ;
          width: 10px ;
          animation: selected .3s ease-in-out forwards ;
        }
        
        &[class*="selected-"][class*="unread-"]:before {
          margin-top: -18px ;
          left: -7px ;
          height: 36px ;
        }
        
        &[class*="unread-"]:not([class*="selected-"]):before {
          left: -5px ;
        }
        
        &[class*="audio-"]:after {
          transform: rotate(90deg);
          top: 38px ;
          right: 35px ;
          height: 16px ;
          width: 16px ;
        }
        
        [class*="badge-"] {
          transform: rotate(90deg);
          top: 38px ;
          right: 37px ;
          bottom: auto ;
          padding: 2px 3.5px ;
        }
        
        &:first-child {
					position: absolute ;
    			top: 5px ; 
				}
      }
      
      [class*="friendsOnline-"] {
				position: absolute ;
				top: 70px ; 
				transform: rotate(90deg) translateY(-10px) ;
			}
      
      [class*="guildsAdd-"] {
        position: absolute ;
				top: 80px ;
        border: none ;
        border-radius: 0 ;
        margin: 0 ;
				background: transparent ;
        height: 16px ;
				width: 16px ;
        left: 9px ;
        
        &:hover [class*="guildsAddInner-"] { opacity: 1 }
        
        [class*="guildsAddInner-"] {
          position: absolute ;
					left: 0px ;
					pointer-events: none ;
					line-height: 50% ;
					font-size: 32px ;
          opacity: 0.6 ;
        }
      }
      
      [class*="dms-"] { margin: 0px }
    }
  }
}
@keyframes selected {
    0%   { opacity: 0 ; left: -10px }
    25%  { opacity: 0.25 ; left: -10px }
    50%  { opacity: 0.5 ; left: -9px }
    75%  { opacity: 0.75 ; left: -8px }
    100% { opacity: 1 ; left: -7px }
}

[class*="guildsWrapper"] ~ [class*="flex-"] {
  overflow: visible ;
}

[class*="channels-"] > [class*="flex-"] > [class*="flexChild-"] {
  position: fixed;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  
  [class*="container-"], & [class*="header-"] {
    width: 120px ;
    height: 54px ;
    padding: 0 ;
  }
  [class*="container-"] {
    width: 120px ;
    height: 54px ;
    padding: 0 ;
    
    [class*="header-"] {
      width: 120px ;
      height: 54px ;
      padding: 0 ;
      
      &:hover {background-color: rgba(0, 0, 0, 0.2)}
      
      [class*="name-"] {
        text-align: center ;
        line-height: 1 ;
        white-space: normal ;
        max-height: 32px ;
        font-weight: 400 ;
        padding: 0 5px ;
      }
      [class*="button-"], [class*="verified-"] { display: none }
    }
  }
}

[class*="popouts-"] .popoutInvert-3UdKhn.noArrow-3BYQ0Z.popout-3sVMXz.popoutTop-3uu9vG.arrowAlignmentTop-iGQczz.popouttop:not([class*="popoutBottom-"]):not([class*="popoutTopLeft-"]):not([class*="popoutBottomRight-"]):not([class*="popoutBottomLeft-"]) { left: calc(100vw - 120px) !important }

//to do: guildsError, da-class
//maybe also: creative guild-verified and unread-Mentions Indicator


