//META{"name":"horizontal Server-bar","description":"makes Server-bar horizontal and also better","author":"Eight_P","version":"0.4"}*//{}
@import url(https://eight-p.github.io/BD.8P/Themes/Modules/horizontal-server-bar/horizontal-server-bar.css);

:root { 

  --Server_Brightness: 100 ;   /* darkening the server background */

  --Server_banner: 0 ;   /* show/hide server banner ( 0=off, 1=on) */

  --Server_Background_blur: 0 ;   /* adds a Blur effect to the Server background */

}

.guilds-1SWlCJ:before {
  
  /* 
  -- Server background 

  - can be a color or link to an image. Syntax for links: url( <https-link> ) 

  */
  
  background: url(https://eight-p.github.io/BD.8P/Themes/T1/imports/Server-bg.jpg)
  
  /*  
  Default : url(https://eight-p.github.io/BD.8P/Themes/T1/imports/Server-bg.jpg)
  */
}