$current_version: "0.3.5" ;
// Version
[class*="standardSidebarView-"] [class*="sidebar-"] #bd-settings-sidebar::after {
  content: "ServerBar v#{$current_version} by Eight_P";
  display: block;
  font-size: 12px ;
  font-weight: 600 ;
  color: rgb(114, 118, 125);
  padding: 2px 10px;
}

// -- ServerBar
[class*="wrapper-"][class*="guilds-"] {
  position: absolute ;
	top: 0 ;
	height: 100vw ;
  width: 54px ;
	transform: rotate(-90deg) translateX(calc(-100vh + 22px));
	transform-origin: top left ;
  
  ~ [class*="base-"] {
    height: calc(100vh - 76px) ; // 76px: bc, gildwrapper + top bar
    width: 100vw ;
    left: 0 ;
  }
  
  [class*="unreadMentionsIndicator"], [class*="guildSeparator-"] { display: none }
  
  [class*="scrollerWrap-"] {
    width: 54px ;
    align-items: center ;
    
    [class*="scroller-"] {
      margin: 120px 0 120px 0 ;
			max-height: calc(100vw - 240px) ;
			padding: 0 ;
      
      &::-webkit-scrollbar { display: none }
      &::before { top: 120px }
      &::after, &::before {
				content: "" ;
				position: absolute ; 
        left: 20% ; right: 20% ;
				height: 2px ;
				opacity: 0.6 ;
        bottom: 120px ; 
        background-color: var(--header-secondary) ;
			}
      
      @mixin ServerIcon($main_wrapper) {
      //Icon Obj
        margin: 0px ;
        max-height: 60px ;
        width: 54px ;
        
        //Icon Container
        [class*="#{$main_wrapper}"] {
          padding: 5px 2px 5px 2px ;
          
          > [class*="wrapper-"] {
            margin: 5px ;
            height: 40px ; width: 40px ;
            
            svg {
              height: 40px ; width: 40px ;
              background-color: transparent  ;

              // Icon
              foreignObject [class*="wrapper-"]{
                transform: rotate(90deg) ;

                &:hover img { border-radius: 25% }

                //Image
                img {
                  border-radius: 50% ;
                  transition: .4s ;
                }
                //Text
                [class*="acronym-"] { background-color: transparent }
              }
              //Mask Obj (wich idk how it works)
              mask { display: none }
            }
            // Badges
            [class*="badgeWrapper-"] {
              transform: rotate(90deg) ;

              // unread Mentions
              [class*="lowerBadge-"] {
                right: -5px ; bottom: -5px ;
              }
              // voice Icon
              [class*="upperBadge-"] {
                top: -5px ;

                [class*="iconBadge-"] {
                  height: 18px ; width: 18px ;
                }
              }
            }
          }
        }
        
        // unread messages, Server selected
        [class*="pill-"] {
          height: 40px ;
          top: 10px ;
          
          [class*="item-"] {
            width: 15px ;
            margin-left: -12px ;
            border-radius: 0 12px 12px 0 ;
          }
        }
        &.bd-guild [class*="pill-"] { display: none }
        
        &.bd-guild.bd-unread [class*="pill-"], 
        &.bd-guild.bd-selected [class*="pill-"] { display: flex }
      }
      
      // Server Icons
      > [class*="listItem-"] {
        
        @include ServerIcon ("blobContainer-");
        
        // 10-48-6-20-6-20-10
        // Home Icon
        &:first-child {
          position: absolute ;
          top: 10px ;
          
          [class*="pill-"] { display: none }
          
          mask { display: none }
          
          foreignObject [class*="wrapper-"] {
            transform: rotate(90deg) ;
            
            [class*="childWrapper-"] {
              background: none ;
            }
          }
        }
        
        // guildsAdd, guildsError, Discovereeeeee
        &:last-child,
        &:nth-last-of-type(2) {
          position: absolute ;
          left: 17px ; 
          top: 90px ;
          padding: 0 ;
          height: 20px ; 
          width: 20px ;
          
          [class*="pill-"] { display: none }
          
          [class*="circleButtonMask-"] {
            height: 20px ; 
            width: 20px ;
            
            > [class*="svg-"] {
              height: 20px ; 
              width: 20px ;
            }
          }
          
          [class*="circleIconButton-"] {
            transform: rotate(90deg) ;
            background-color: transparent  ;
            color: var(--text-normal) ;
            opacity: .75 ;
            
            > svg { height: 40px ; width: 40px }
          }
          
          &:hover [class*="circleIconButton-"] { opacity: 1 }
        }
        &:nth-last-of-type(2) { top: 64px }
        
        // not a great solution
        &:nth-last-of-type(3) [class*="listItemWrapper-"] [class*="circleIconButton-"] {
          transform: rotate(90deg) ;
          background-color: transparent  ;
        }

        [class*="guildsError-"] {
          height: 20px ; 
          width: 20px ;
          transform: rotate(90deg) ;
          background: transparent ;
          border: none ;
          padding: 0 ;
          
          span {
            font-size: 85% ;
            color: #f04747 ;
          }
        }
        
        // BD's Public Server List
        &#bd-pub-li {
          height: 60px;
          width: 54px ;
          margin: 0 ;
          
          [class*="wrapper-"] {
            transform: rotate(90deg) ;
            margin: auto ;
            font-weight: 500 ;
            line-height: 40px ;
            font-size: 80% ;
            height: 40px ;
            width: 40px ;
            border-radius: 50% ;
            transition: .4s ;
            color: var(--text-normal);
            
            &:hover { border-radius: 25% }
          }
        }
      }
      
      // Server Folders
      > [class*="wrapper-"] {
        width: 54px ;
        
        [class*="FolderBackground-"] { display: none }
        
        // Foler Icon
        > [class*="listItem-"] {
          margin: 0px ;
          height: 60px ;
          width: 54px ;
          
          //Icon Container
          > div > [class*="wrapper-"] {
            margin: 10px 7px ;
            height: 40px ; width: 40px ;
            
            > svg {
              height: 40px ; width: 40px ;
              transform: rotate(90deg);
              
              foreignObject > [class*="folder-"] {
                background: transparent ;
                
                [class*="folderIconWrapper-"] {
                  border-radius: 50% ;
                  transition: .4s ;
                  
                  &:hover { border-radius: 25% }
                }
                
                // folder open
                [class*="expandedFolderIconWrapper-"] svg { 
                  height: 40px ; 
                  width: 40px ;
                  
                  
                }
                
                // folder closed
                [class*="closedFolderIconWrapper-"] { padding: 0 }
              }
            }
            [class*="badgeWrapper-"] {
              transform: rotate(90deg);
            }
          }
          
          [class*="pill-"] {
            height: 40px ;
            top: 10px ;

            [class*="item-"] {
              width: 15px ;
              margin-left: -12px ;
              border-radius: 0 12px 12px 0 ;
            }
          }
        }
        
        // Server Icons in folder
        [class*="expandedGuilds-"] {
          height: auto !important ;
          
          &::after {
            content: "" ;
            position: absolute ; 
            left: 20% ; right: 20% ;
            height: 2px ;
            opacity: 0.6 ;
            bottom: 0 ;
            background-color: var(--header-secondary) ;
          }
          
          [class*="listItem-"] { @include ServerIcon ("blobContainer-") }
        }
      }
      
      // DMs
      > div:not([class*="listItem-"]):not([class*="wrapper-"]) > [class*="listItem-"] { @include ServerIcon ("listItemWrapper-") }
    }
  }
}

// -- Server Button
// visibility fix
[class*="guilds-"] ~ [class*="base-"] {
  overflow: visible ;
  contain: size layout;
  
  > [class*="content-"], [class*="sidebar-"], [class*="sidebar-"] > [class*="container-"] { contain: layout }
}

[class*="sidebar-"] > [class*="container-"] > [class*="container-"]:nth-of-type(1) {
  position: absolute ;
  width: 120px ;
  height: 54px ;
  left: calc(100vw - 120px);
  top: calc(100vh - 76px - 48px);
    
  [class*="header-"] {
    width: 120px ;
    height: 54px ;
    padding: 0 ;
    color: var(--text-normal);

    &:hover { background-color: rgba(0, 0, 0, 0.2) }

    [class*="guildIconContainer-"] { display: none }

    [class*="name-"] {
      text-align: center ;
      line-height: 1 ;
      white-space: normal ;
      max-height: 32px ;
      font-weight: 400 ;
      padding: 0 5px ;
    }

    [class*="button-"], [class*="verified-"] { display: none }
  }
  
  [class*="animatedContainer-"] {
    overflow: visible ;
    contain: size layout;
    background: none ;
    
    // Server-Banner
    [class*="bannerImage-"] { 
      position: absolute ;
      top: calc(-100vh + 54px + 22px) ;
      left: calc(-100vw + 120px) ;
      opacity: calc(var(--Server_banner,0) - .2) ;
      border-bottom-right-radius: 10% ;
    }
  }
}

// Search Button (home)
[class*="privateChannels-"] > [class*="searchBar-"] {
  position: fixed;
  width: 120px ;
  height: 54px ;
  right: 0 ;
  bottom: 0 ;
  padding: 0 ;

  &:hover { background-color: rgba(0, 0, 0, 0.2) }

  > [class*="searchBarComponent-"] {
    width: 120px ;
    height: 54px ;
    background: transparent ;
    
    [class*="inner-"] {
      width: 120px ;
      height: 54px ;
      
      input {
        cursor: pointer ;
        height: 100px ;
        margin-top: -34px ;
        
        &::placeholder {
          color: var(--text-normal);
          white-space: normal ;
          text-align: center ;
        }
      }
    }
  }
}